[2021-08-17 16:44] kliegeois commented on #732
Oh those should be fine now.
I was wrong, it is not due to my commit of yesterday; the commit of yesterday solved that actually.
The NB used the commit 5a3949ca20991abacb69b192e06feee9816e3a00 and not e6b6f0994180211009a7b856e71bcc295a6b24f3 .

If it is fine with you, let's wait for the results of tonight.

[2021-08-17 17:39] ikalash commented on #732
No problem - thanks for looking at it @kliegeois .  I'll close this issue tomorrow if it is indeed resolved.

[2021-08-17 17:40] kliegeois commented on #732
Perfect! Thanks.

[2021-08-18 16:12] kliegeois commented on #732
It seems to be fine :smile:

[2021-08-18 16:39] ikalash commented on #732
Yes, thank you!  Closing now.

[2021-08-18 16:39] #732 closed

[2021-08-18 21:04] tjfulle commented on #708
@bartgol - sorry the notification for you last comment got lost in a sea of email.

Yes, please open an issue on GitHub.com/trilinos/Trilinos and we can see about making those modifications

[2021-08-19 18:16] ikalash commented on #731
Looks like this issue has been fixed.  Closing.

[2021-08-19 18:16] #731 closed

[2021-08-24 02:55] ikalash opened #737 "Fad-related errors in Albany spack build"
The nightly Albany spack build is failing now with the following error:

[code]
I know @jewatkins you made some Fad-related changes - is this related?  Do I need to add/change a compilation option now to avoid the error?

[2021-08-24 14:03] jewatkins commented on #737
Thanks for the heads up, yes that's related to my push. It looks like your build is using the old sacado structs. If I remember correctly, this should be pulling the latest trilinos, correct? The new sacado structs are on by default so you may be explicitly turning it off: `SACADO_NEW_FAD_DESIGN_IS_DEFAULT=OFF`

[2021-08-24 16:12] ikalash commented on #737
Yes, it's develop VOTD.  Last night's build had this sha for Trilinos: 353c286554055695c8a306ffc999288a7e562e9a .  Hmmm, I don't think I'd be explicitly turning it off, as I had never heard of this option, but let me investigate.

[2021-08-24 16:56] jewatkins commented on #737
If you point me to the trilinos config, I could investigate too. It could be some other option that might be turning it off.

[2021-08-24 17:40] ikalash commented on #737
Turns out the build had ```SACADO_NEW_FAD_DESIGN_IS_DEFAULT=OFF'''.  Setting it to ON fixed the problem.  Thanks for letting me know about this, @jewatkins !

[2021-08-24 17:40] #737 closed

[2021-09-11 00:35] ikalash opened #741 "Failing SHMIP test on mockba"
It appears this SHMIP test began failing on one of my machines, mockba, a few days ago:

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1502785&build=22303

Looks like it's timing out.  I'm not familiar with this test.  Anyone have any idea on what might be going on?

[2021-09-13 15:33] bartgol commented on #741
Suite A1 is the hardest to converge, due to the input data. The log seems cropped, so maybe it is a timeout. I have been struggling to make this test faster, but the SHMIP specs are what they are, and I can't change them. Perhaps we could disable the test by default, or move the SHMIP suite to the `tests/large` folder altogether?

[2021-09-13 20:36] ikalash commented on #741
Thanks for the info @bartgol .  It looks like the test is passing now again (it was timing out before), so I'll close the issue.  Not sure what was going on earlier...

[2021-09-13 20:36] #741 closed

[2021-09-13 21:32] bartgol commented on #741
It might be that they are close to the timeout limit in starndard conditions, and that day somehow, the workstation was doing some routine update, or had the filesystem slower, or simply was not in the mood, and it slowed down a bit.

[2021-09-17 17:06] ikalash opened #742 "Numerous failing tests due to deprecation of status test parameter in NOX"
I will fix.  Here is the error.

[code]

[2021-09-17 17:34] mperego commented on #742
Thanks @ikalash. Finally Roger added the parameter list validation for the `Status Tests` and there might be some places in our tests where that sublist does not have the correct parameters or is not well formed.

[2021-09-17 17:46] ikalash commented on #742
There are numerous tests with this error too:

[code]
What's bizarre is if I remove 'tolerance' from Test 0, the error persists.  Are we injecting the 'tolerance' variable somewhere in Albany or Piro, @mperego ?  This error happens for a lot of the land ice tests, e.g.,

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1526885&build=22646

[2021-09-17 18:21] mperego commented on #742
I don't undestand. Here is the corresponding parameter list, right?:
[code]
The tolerance is not the `1e08`, so that tolerance is not set in the input file, but must be set somewhere else, either in Albany or Trilinos (Piro?)

[2021-09-17 18:22] ikalash commented on #742
Yes, exactly!  I can't seem to find where it's set.  Was wondering if you know.

[2021-09-17 18:23] mperego commented on #742
No.. I would guess Piro, but it could be in other places. Does it depend on the linear solver Belos/AztecOO?

[2021-09-17 18:26] ikalash commented on #742
I grepped Piro but didn't see it.  Anyway, I need to finish up some stuff for the ISML book chapter today before I take off for my trip to move Philip...  will look at this more when I'm done.

[2021-09-17 18:29] mperego commented on #742
https://github.com/SNLComputation/Albany/blob/master/src/Albany_SolverFactory.cpp#L305

[2021-09-17 18:30] ikalash commented on #742
Ah I see, that would do it.  The problem was much closer to home than I had though (was sure it was in Piro).

[2021-09-17 18:36] mperego commented on #742
It was Albany after all. So we cannot set default tests easily as done in the SolverFactory, because if then it's get overwritten by the input file it might change the test from `NormF` to, e.g. `Combo`, and the accepted parameter lists are different.
Default:
[code]
Input file:
[code]
result:
[code]

I hope there are not many tests relying on the default settings..

[2021-09-17 18:39] ikalash commented on #742
Right...  this potentially will be a mess.  When I signed up for fixing the tests, I thought it would be trivial!

[2021-09-20 16:42] jewatkins commented on #742
Has anyone tried removing the default status test values and checking to see if tests fail? Not sure if it really makes sense to have default values for that.

[2021-09-20 16:47] ikalash commented on #742
I plan to but am out for a couple days so haven’t had a chance.  If you have time you’re welcome to give it a shot since I’m pretty swamped.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jerry Watkins ***@***.***>
Sent: Monday, September 20, 2021 9:42:55 AM
To: SNLComputation/Albany ***@***.***>
Cc: Tezaur, Irina ***@***.***>; Mention ***@***.***>
Subject: [EXT

[2021-09-20 16:50] jewatkins commented on #742
no problem, yeah I just try it - see what happens

[2021-09-20 17:01] ikalash commented on #742
Thanks Jerry, really appreciate it!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jerry Watkins ***@***.***>
Sent: Monday, September 20, 2021 9:50:17 AM
To: SNLComputation/Albany ***@***.***>
Cc: Tezaur, Irina ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [SNLComputation/Albany] Numerous failing tests due to deprecation of status test parameter in

[2021-09-22 16:57] ikalash commented on #742
Thanks for fixing this, @jewatkins !

[2021-09-22 16:57] #742 closed

[2021-09-22 17:03] jewatkins commented on #742
FYI LandIce_CismAlbany is still failing on camobap. I guess 1d00ef0486effd662c9a608f976a538be132f776 didn't help. I think I forgot an input file.

[2021-09-22 17:26] ikalash commented on #742
I just verified and your commit fixed the test.  Thanks again!

[2021-09-27 16:07] ikalash opened #744 "PyAlbany extreme event tests failing"
I noticed that the PyAlbany extreme event tests have started failing:

[code]

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=23165

I believe the test is new and has been failing since it was created.  I assume @kliegeois this is your test?

[2021-09-27 19:51] kliegeois commented on #744
Yes, it is my test @ikalash. It is strange that it is behaving like that.
I am curious to know what the computed `F_star` values are and if they are very different from the expected ones.

Would it be fine if I add a commit that print the computes values? This will obviously not resolve the issue for the next nightly test but this will help to understand the issue and whether the tolerance is too

[2021-09-28 05:30] ikalash commented on #744
@kliegeois : sorry for the delay in my response.  Yes, please add a commit that prints the values, in case that helps with the debugging.

[2021-09-28 17:18] ikalash opened #746 "Failing tests with sensitivities (Advection1D, Thermal1D)"
I'll fix these.

[2021-09-28 20:44] ikalash opened #747 "Albany repo has moved to sandialabs project space!"
Please clone Albany from: git@github.com:sandialabs/Albany in the future.  If you already have an Albany clone on your machine, you can change the origin using the following command:

[code]

[2021-09-30 17:31] kliegeois commented on #744
It should be resolved now. Let's wait for tomorrow results.

[2021-09-30 23:36] ikalash commented on #744
Thanks @kliegeois !  I'll check the nightlies today and close the issue if things are good.

[2021-10-01 16:15] ikalash commented on #744
I can confirm that this issue is resolved.  Thanks @kliegeois !

[2021-10-01 16:15] #744 closed

[2021-10-01 16:16] ikalash opened #748 "Tests timing out"
Several tests (e.g., Thermal1D, Thermal3D) started failing in some of the nightlies.  This is due to recent changes in Tempus and is being looked at in the following Trilinos issue: https://github.com/trilinos/Trilinos/issues/9767 .

[2021-10-01 16:20] kliegeois commented on #744
@ikalash perfect! Thanks!

[2021-10-01 16:59] ikalash commented on #746
I have some additional information.

These tests fail with one of two errors (symptoms of the same problem most likely):

1. FPEs encountered as soon as the adjoint sensitivity calculation starts:
[code]

2. NaNs being encountered in Belos:
[code]
(https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1575076&build=23356)

There are several really bizarre things.  First, the issue does not

[2021-10-01 17:23] etphipp commented on #746
Looking at the stack trace, it looks like it is failing in the orthogonalization step of GMRES.  My guess is the adjoint matrix has garbage values in it.  Is this using the 2nd adjoint ME that explicitly transposes the matrix?  If so, it is possible something is going wrong with the matrix transpose operation.  Or is it possible something is going wrong with how Piro/Albany implements the 2nd ME (

[2021-10-01 19:27] ikalash commented on #746
Thanks @etphipp .  The problem is in the all-debug builds, when I run gdb, the test runs clean - so it's not possible to get any useful information about where things are failing.  Yes, all these tests are using the 2nd adjoint ME.  I will have a look at the adjoint Jacobian to see if it has any issues.  The other weird thing I forgot to mention is the solution looks reasonable for these problems

[2021-10-01 19:37] etphipp commented on #746
OK.  I guess my first suggestion would be to write out the linear system for the adjoint solve that is failing.  Is this explicit or implicit time integration?

[2021-10-01 19:44] ikalash commented on #746
@etphipp : yeah, I plan to dump the Jacobian/residuals from the code and go from there.  It happens with both explicit and implicit, depending on the platform.  It also happens for a scalar parameter case - that's the easiest one and the one I plan to start with.

[2021-10-01 19:49] etphipp commented on #746
For explicit then, is it still failing inside a solve?  If so that must be for inverting the mass matrix for the initial conditions.  That doesn't even use the adjoint, so something more fundamental must be going wrong.

[2021-10-01 19:54] ikalash commented on #746
@etphipp : this is w/o mass lumping and I am passing in the 2nd ME - in this case would the issue still be with initial conditions?  It does look like the code dies before it does anything, so I would not be surprised that it's choking on the initial solve.  I'm not familiar at all with how you initialize the adjoint solve.  Would you be willing to work with me to try to figure out what is going o

[2021-10-01 20:00] etphipp commented on #746
For explicit, it must be for the initial conditions because that is the only place a linear solve happens.  I'm happy to help out however I can (although I have to sign-off for the rest of today).  To me, this feels like an object is being used uninitialized, or used after it has been destroyed.

[2021-10-01 21:45] ikalash commented on #746
Thanks @etphipp .  Maybe we can touch base next week.  I can try running through valgrind to see if that produces anything meaningful having to do with memory mismanagement.  I guess the error is likely on the Albany or Piro side, not on the Tempus side.

[2021-10-04 18:21] #748 closed

[2021-10-04 20:51] ikalash commented on #746
@etphipp : so I was able to find a test case / build that lets me do a backtrace, at least for the implicit case.  The backtrace points to [this line](https://github.com/trilinos/Trilinos/blob/master/packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp#L201):

[code]
I put a bunch of print statements above this line to print ```adjoint_init_mv```, ```dgdx``` and ```W``` and it appears

[2021-10-04 21:49] ikalash commented on #746
@etphipp : I've verified that if I put
[code]
after this line https://github.com/trilinos/Trilinos/blob/master/packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp#L145, the FPEs/seg faults go away and all my tests pass;  however, from the commenting, I think initial conditions are supposed to be being calculated here, so perhaps my fix is not appropriate?  In this case, I'd like to tr

[2021-10-04 22:53] etphipp commented on #746
@ikalash When 'Mass Matrix Is Identity = false', `adjoint_init_mv` is initialized [here](https://github.com/trilinos/Trilinos/blob/de9ed42395f97941f90aeedd847e3e9a187455aa/packages/tempus/src/Tempus_IntegratorAdjointSensitivity_impl.hpp#L201) as the solution to the linear system 'M*x_dot = dg/dx'.  In a debug build, Thyra initializes vectors/multivectors with NaNs to catch uninitialized reads.  So

[2021-10-04 23:04] etphipp commented on #746
Oh, and the reason they are product vectors is because they are in the same space as the solution vector, which is a nesting of two product vectors:  the outer one is to handle the auxiliary equation that is necessary for this form of observation function, and the inner one is to handle the case when dg/dx has more than one column, i.e., when you have multiple scalar-valued observation functions.

[2021-10-04 23:05] etphipp commented on #746
I'll go ahead and put in a PR to initialize `adoint_init_mv` as above.

[2021-10-04 23:09] ikalash commented on #746
Thanks @etphipp !  I'll keep an eye out for the PR.

Thanks also for the explanations, they make sense.

[2021-10-05 16:36] ikalash commented on #746
I believe this is fixed, but this PR did not make it into the nightlies last night, so I wasn't able to verify there across all platforms. I'll close this issue tomorrow if the nightlies are clean.

[2021-10-06 17:04] ikalash opened #750 "Configure error due to missing ALI yaml file"
It looks like there's a missing yaml file causing a broken build on cee-compute020:

[code]
https://sems-cdash-son.sandia.gov/cdash/viewConfigure.php?buildid=23633

@mperego I'm guessing this got broken yesterday w/ your PR getting merged in?

[2021-10-06 17:20] mperego commented on #750
Argh! Sorry, I  committed and pushed the missing file.

[2021-10-07 15:55] ikalash opened #751 "Broken gcc warning-free build"
It appears the gcc warning-free build on Blake got broken by changes to ALI

[code]
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=23665

@mperego , I'm guessing this is based to your recently-merged PR?

[2021-10-07 15:56] #750 closed, assigned to nobody

[2021-10-07 15:58] ikalash opened #752 "FPEs in CEE clang dbg build"
We have a lot of test failures in our Clang debug build on the CEE due to FPEs:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=23682

It started on yesterday on 10/6.  Do folks have any idea what might have caused this?  Could it be your PR getting merged in @mperego?  If not, I'm thinking it was some change in Trilinos.

[2021-10-07 17:09] ikalash commented on #752
Hmmm, ok.  Let me see if I can figure out which Trilinos commit broke things.

[2021-10-07 17:10] ikalash commented on #751
Great, thanks @mperego .  I'd like the warning-free build back up so I can verify that the FPEs in the transient adjoint sensitvities are fixed.  That build had the most failures.

[2021-10-07 18:03] ikalash commented on #751
Thanks, I verified that this is fixed.

[2021-10-07 18:03] #751 closed

[2021-10-07 21:35] ikalash commented on #752
It was indeed Trilinos that caused these errors, in particular this commit by @csiefer2 :

[code]
Here is a backtrace on the error from GDB:
[code]
It looks like the code is dying on this ```fillComplete()``` in Albany: https://github.com/sandialabs/Albany/blob/master/src/disc/stk/Albany_STKDiscretization.cpp#L1382 .  I'm not sure if the problem is on the Trilinos or Albany side.  Any thoughts @cs

[2021-10-09 16:37] ikalash opened #754 "Failing blake performance tests"
A number of blake performance tests began failing on 10/8:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=23752

Is this related to any of the recently-merged PRs?

[2021-10-22 18:12] #752 closed, assigned to nobody

[2021-11-03 03:22] ikalash opened #758 "FroSch / boost-related errors in Albany nightly tests"
There are FroSch / boost-related errors in the Albany nightly tests:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=24752

[code]
[code]
The CDash site was down for maintenance starting last Thursday or so, and I was on vacation earlier this week, so I'm not 100% sure when it started.  Anyone know what happened?

[2021-11-03 13:21] mperego commented on #758
Not a nice welcome back from vacation!
@jewatkins and I were looking into that yesterday.
The boost issue is due to a snapshot of STK into Trilinos. They removed some deprecated functions that used boost and now we need to modify Albany code to comply with it. I spent an hour yesterday trying to fix this but it turned out to be a bit more involved than I expected.

The second issue is likely relat

[2021-11-03 14:31] mperego commented on #758
update: FROSch team is working on it. We might have a fix soon.

[2021-11-03 14:50] jfike commented on #758
We are seeing the Vector is ambiguous error in another application code.  I was able to resolve this by making a few minor changes in kokkos-kernels.  I have a ticket in to kokkos https://github.com/kokkos/kokkos/issues/4497

[2021-11-03 16:04] mperego commented on #758
Thanks @jfike. My understanding is that @iyamazaki  was able to fix the problem in FROSch specifying the namespace Xpetra, but what you propose might fix FROSch as well.

[2021-11-04 01:56] ikalash opened #759 "CDash site issues"
Due to a change in the SEMS-supported CDash sites, Skybridge, CEE and Cori can no longer post to the site due to firewall issues.  So one will not see these builds on the CDash site for now.  The Cori nightly build has been moved to the Kitware site: https://my.cdash.org/index.php?project=Albany for now.

A consequence of the change is that the post-processing script for querying the SON CDash sit

[2021-11-04 01:59] ikalash commented on #758
@mperego : happens every time.  Everything broke in the 2 days I was out, and I mean everything.... :(

[2021-11-05 22:50] mperego commented on #758
The FROSch error should be fixed by PR  trilinos/Trilinos#9903 and the STK error by PR #760.

[2021-11-06 23:42] #758 closed

[2021-11-10 17:55] ikalash commented on #759
The SEMS team has resolved the CDash site problems.

[2021-11-10 17:55] #759 closed

[2021-11-13 01:45] ikalash opened #761 "Fix up FO_AIS tests and get them to run with IOPX"
Request by @rstumin .  Was hoping to get help from @mperego and @bartgol to fix the input options so these tests run again.  Code complains about ```Field Origin: Output``` field.

[2021-11-13 23:46] mperego commented on #761
I think I fixed the tests.
However, I'm wondering if requiring Iopx library for using serial mesh is the right thing to do. On my workstation I don't have Iopx but "Use Serial Mesh: true" works fine. @bartgol @jewatkins

@ikalash courios about the ProSPect$ label... we haven't used it in years...

[2021-11-14 00:06] ikalash commented on #761
Thanks @mperego I'll close.  No idea where the ProSPect$ label came from.  I was curious about the $ symbol, but maybe it means "prospect money" (things funded by prospect)?

[2021-11-15 05:18] ikalash commented on #761
@mperego : do you know why tests that don't use FRoSch but have it in the input file are failing?

https://testing.sandia.gov/cdash/viewBuildError.php?buildid=10240241

[2021-11-15 15:03] mperego commented on #761
@jewatkins do you understand what's the issue here"
https://sems-cdash-son.sandia.gov/cdash/test/1844066

[2021-11-15 15:51] mperego commented on #761
OK, so I "should" have fixed all the issues now, except the Cuda one.

[2021-11-15 17:07] bartgol commented on #761
Isn't Iopx used to run decomp and/or to load a partitioned mesh? I wonder if it's not necessary for serial mesh which are partitioned at runtime...

[2021-11-15 17:20] mperego commented on #761
right, so what's the requirement for "Use Serial Mesh" to work? Based on the dashboard, it seems that the build on Camobap
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=25282
cannot handle "Use Serial Mesh". (In this test "Use Serial Mesh" was wrongly set to true independently of the check on Seacas and Iopx).

[2021-11-15 17:24] jewatkins commented on #761
Doesn't seacas do the decomp at runtime?

[2021-11-15 17:28] mperego commented on #761
Isn't Seacas required for the "decomp" function? Decomp works on Camobap, so if that's the case, checking for Seacas is not enough for guarantiing that "Use Serial Mesh" works

[2021-11-15 17:32] jewatkins commented on #761
okay, what about Ioss? I know that's needed.

[2021-11-15 17:34] mperego commented on #761
Maybe we need to check if NetCDF library is built with PNetCDF support:

This is the error on Camobap
[code]

[2021-11-15 17:42] jewatkins commented on #761
maybe in cmake, check if something like this gets pulled: `TPL_Netcdf_Enables_PNetcdf`

[2021-11-15 17:44] mperego commented on #761
B.t.w. @jewatkins have you seen this. This is different from the exodus issue.

[2021-11-15 17:44] ikalash commented on #761
I don't have PNetCDF on camobap.  I build my own libs there and there are some problems with building netcdf with pnetcdf.  I would say the code should not barf even if the user does not have pnetcdf - I'm not sure why it does.

[2021-11-15 17:51] jewatkins commented on #761
I have not seen that. There's probably a compatibility issue now when using Kokkos::Cuda + MueLu without kokkos refactor on. The performance tests use kokkos so that's why they're working still. It's worth discussing with other muelu folks to see if that's the desired behavior.

[2021-11-15 17:53] jewatkins commented on #761
If it is the desired behavior, will have to create a second test with the kokkos syntax and turn off this test with cuda builds.

[2021-11-15 19:48] ikalash commented on #761
I don't understand why "Use Serial Mesh" would not work on camobap whereas it would on other platforms...  maybe a special configuration of netcdf is needed?  I can try to look into this but it will not be immediately.  I'm curious also if this problem happens on @lxmota 's machines, which are identical to camobap in terms of OS.  I can try building Albany there to check.

[2021-11-15 21:35] mperego commented on #761
@ikalash It does not work there because you don't have parallel netcdf or hdf5 such that exodus can import a file in parallel. I'm working on a fix.

[2021-11-15 23:04] mperego commented on #761
@jewatkins Would you be willing of bringing this up with the MueLu folks?

[2021-11-16 15:16] mperego commented on #761
@jewatkins Now that we fixed the issue with exodus, the MueLu tests seem to fail  also on OpenMP builds.

[code]

[2021-11-16 15:48] mperego opened #763 "Fix calls to deprecated Tpetra functions."
We need to fix calls to Tpetra deprecated functions before they are removed.
We expect to have a minor version of Trilinos in mid December. After that, Tpetra will start removing the deprecated code, so, to be on the safe side, we should fix this issue before the winter break.

Below are a few some errors that occurs when Trilinos is built with
[code]
Is anybody volunteering for working on this?
@

[2021-11-17 16:41] bartgol commented on #763
I am a bit swamped, so I don't think I can get to this until mid December (maybe a bit earlier). From what you say, it seems we should be able to wait till then, no?

[2021-11-17 17:33] jewatkins commented on #761
That looks like the same issue. Yes, I can post the issue.

[2021-11-17 17:54] jewatkins commented on #761
Done. https://github.com/trilinos/Trilinos/issues/9943

Now that I have thought about this some more, I think I do remember that error message. Even if muelu were to work for openmp/cuda, it would probably try to do everything in serial. So we would need to create a new test for openmp/cuda builds anyways (or just modify the test so that it uses kokkos for everything).

[2021-11-17 19:13] jewatkins commented on #761
I'll check tomorrow to see if turning off kokkos refactor fixes the issue for openmp/cuda.

[2021-11-18 02:44] mperego commented on #763
@bartgol Yes, I think it's fine to wait until mid december. Thanks!

[2021-11-18 18:04] mperego commented on #761
@jewatkins thanks for fixing this!

[2021-11-21 20:40] jewatkins commented on #712
I was going to change the value but realized that would break the GPU tests because they're still showing up as `-7.005509894459e+00`. The old blake tests would give `-7.005509894460e+00` so this seems like something we will have to spend more time on. Maybe some inconsistency between gcc and intel.

[2021-11-21 20:48] jewatkins commented on #754
This is fixed except for issue #712

[2021-11-21 20:48] #754 closed

[2021-11-30 18:25] mperego commented on #763
This could be useful
https://raw.githubusercontent.com/wiki/trilinos/Trilinos/Tpetra_Multivector_NoUVM.pdf

[2021-12-01 17:59] ikalash opened #765 "pyAlbany build error"
Looks like there are issues with some of the newly defined macros:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=26035

[code]
[code]
@bartgol , @kliegeois : could one of you please have a look / fix this?

[2021-12-01 18:05] bartgol commented on #765
Ah, my bad, I did not fix PyAlbany. I'll push a quick fix now.

[2021-12-01 18:06] bartgol commented on #765
0236196 should fix the error.

[2021-12-01 18:07] kliegeois commented on #765
Thanks @bartgol !

[2021-12-01 18:10] ikalash commented on #765
Thanks @bartgol  - I'll close this issue tomorrow provided the CDash is clean.

[2021-12-02 16:29] ikalash commented on #765
It looks like now the PyAlbany tests are failing: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=26080

It says:
[code]
Or would this be a configuration issue on the machine the test is run?  It appears these tests are new and never ran correctly on the test machine in the past.

[2021-12-07 15:14] kliegeois commented on #765
@ikalash I think that the issue now is that scipy is not installed on the test machine. It seems that only the extreme event tests (which do require scipy) are failing.

[2021-12-07 16:48] ikalash commented on #765
Ah yes, I see.  I think what happened is somehow my python package installs went away when I upgraded my workstation a week and a half ago.  I've reinstalled scipy and the tests pass.

[2021-12-09 18:31] jewatkins opened #767 "Performance regression on blake"
I noticed a performance regression on blake that seems to be pretty significant (somewhere around 20% slowdown depending on the case). Unfortunately, I don't have a lot of data because the performance tests were down during that period but it happened between Oct. 26th and Nov. 6th and it seems to be related to the boundary conditions and the assembly:
Oct. 26th Run:
[code]
Nov. 6th Run:
[code]
Th

[2021-12-09 18:41] bartgol commented on #767
For the LateralResid ev, it seems it might just be a worse distribution (max and min are roughly the same, but std dev increased). I don't think we did anything that could have deteriorated the balancing though.

I have no ideas regarding the other two. The residual scatter might have something to do with Tpetra maybe? I guess our logs don't show Tpetra timers, so we can't tell But the fact that t

[2021-12-09 18:58] jewatkins commented on #767
Hmm I think one thing that all these have in common is that they all have a Kokkos atomic and there was a Kokkos promotion to 3.5.00 during that time:
https://github.com/trilinos/Trilinos/commit/91e55fa9a3861042fb3f07fc63bb9129289129f4
Maybe there's something there.

[2021-12-09 19:05] bartgol commented on #767
IIRC, there should be a Kokkos briefing seminar next week, and the atomic thing was on the menu. Perhaps we should plan to have one of us attending.

[2021-12-09 19:07] jewatkins commented on #767
Could you forward the invite?

[2021-12-09 19:08] jewatkins commented on #767
I'll try testing a build without the atomic and see what happens. If that's the issue, I'll create a wrapper for it for serial builds.

[2021-12-09 20:26] jewatkins commented on #767
Okay, that was indeed the issue. There must be some overhead cost (or less compiler optimizations) with the new kokkos atomic. Maybe if I update the compiler, this issue will go away? Either way, it's probably best to just wrap the atomic ops so that we don't use it for serial builds.

[2021-12-10 17:28] jewatkins opened #768 "Nightly tests failing due to "Random Parameters""
@kliegeois @mperego @bartgol
It looks like the tests are failing due to a recent PR https://github.com/sandialabs/Albany/pull/766.

Was the intention to make "Random Parameters" a requirement in the LandIce StokesFO problem? If not, then the sublist needs to be checked for existence otherwise it will get created.

[2021-12-10 17:29] jewatkins commented on #768
Failure example:
[code]

[2021-12-11 03:08] #768 closed

[2021-12-11 05:34] kliegeois commented on #768
Thanks @mperego !

[2021-12-13 16:06] kliegeois commented on #765
The tests fail again:

[code]

I am not able to reproduce the error on my machine. The issue might be related to the lines from Distributions.py:
[code]

@ikalash could you check if those lines throw an error when doing the following?

[code]

[2021-12-13 23:11] #767 closed

[2021-12-13 23:31] ikalash commented on #765
@kliegeois : I just checked and there is no error

[code]
We may want to hold off on trouble shooting this further, however, as the workstation where this happens will be reformatted tomorrow to have RHEL8 instead of Fedora.  After 7 or so years of fighting the battle that allowed me to maintain a non-COE OS, I have been forced to surrender...  we can see if this problem persists with the new OS,

[2021-12-19 18:37] ikalash commented on #765
I'm still getting this issue after the OS change on camobap.

[2021-12-22 18:24] ikalash opened #771 "Failing nightly tests due to Sacado errors"
It looks like a bunch of Albany tests started failing due to some Sacado parameter library errors:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=26938

[code]
Is this due to changes in Trilinos?  Or some of the recent work in Albany?

[2021-12-22 18:29] mperego commented on #771
@bartgol is this related to PR #770 that got merged yesterday?

[2021-12-22 18:36] ikalash opened #772 "Broken warning free build"
The blake warning free build got broken with the PR merged in yesterday:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=26939

I started trying to fix the unused variables, but there are other errors having to do with -Werror=reorder.  @bartgol can you please fix those?

[2021-12-22 18:37] ikalash opened #773 "Blake warnings as error build broken"
The blake warnings as errors build got broken with the PR merged in yesterday:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=26939

I started trying to fix the unused variables, but there are other errors having to do with -Werror=reorder.  @bartgol can you please fix those?

[2021-12-22 18:37] #772 closed

[2021-12-22 18:45] bartgol commented on #771
Yes, it is. My bad. Fix coming.

[2021-12-22 19:10] bartgol commented on #771
9d2930a57 should fix the problem

[2021-12-22 19:25] bartgol commented on #773
88e8ce6dc should fix a couple of warnings, but what I see at the page you linked is weird. I don't have the same things at the locations pointed by the compiler. More thoughts:

- start/nunk error: I don't see why they'd be unused. Unless static fads trigger some code to be compiled away?
- there are errors of the form "no rule to make target X needed by Y": I usually get those when the bld dir is

[2021-12-22 19:50] mperego commented on #771
Thanks @bartgol !

[2021-12-22 21:52] ikalash commented on #773
@bartgol : so I fixed some of the errors already - this is why the line numbers did not match.  Now there are new errors.  I think one will have to build the code to see what they are in order to fix them...  maybe I will try to do this later today using the nightly build if I have time.  I started but then it was looking involved and I had to go to some meetings, so I opened the issue.

[2021-12-23 18:41] #773 closed

[2021-12-24 18:49] #771 closed

[2021-12-24 18:52] ikalash opened #774 "PARALLEL_EXODUS_SUPPORTED directive appears to not work all the time"
It looks like the PARALLEL_EXODUS_SUPPORTED directive is not always working as expected.  On one of my machines, the Ioss test are failing due to not having a parallel netcdf, even though they are ifdef'ed against this:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=27043

@mperego  - I think you are the one who put the ifdef guards in.  Can you please have a look when yo

[2022-01-04 15:01] kliegeois commented on #765
I am back at work; I will look into that.

BTW, Happy New year!

[2022-01-04 16:58] bartgol commented on #774
The configure log shows
[code]
The check for parallel support is done by trying to compile
[code]
Which can compile provided that `NC_HAS_PARALLEL` is defined. However, inside `ex_open_par.h`, exodus checks that `NC_HAS_PNETCDF` is defined. `NC_HAS_PARALLEL` is on if netcdf has "parallel IO support via HDF5 and/or PnetCDF" (greeping NC_HAS_PARLLEL inside netcdf source folder).

As the netcdf sourc

[2022-01-04 16:59] mperego commented on #774
@ikalash I can reproduce this, and I don't understand why the FO tests work fine (when Use Serial Mesh is set to true, as in your case) whereas this IOSS test fails. @bartgol any clue?

[2022-01-04 23:54] #747 closed

[2022-01-05 17:20] kliegeois commented on #765
It seems that it can be closed! Thanks @ikalash !

[2022-01-05 17:58] ikalash commented on #765
Indeed.  Thanks for your help @kliegeois !

[2022-01-05 17:58] #765 closed

[2022-01-05 20:32] ikalash opened #775 "DAG-related error"
I thought we had an issue on this already but I'm not finding it.  There is a DAG-related error in the FO_Hydrology_Steady_Dome_Tpetra tests:

https://sems-cdash-son.sandia.gov/cdash/test/2020364

[code]

I think we had said at our meeting yesterday that @bartgol would look into this.

[2022-01-05 21:46] bartgol commented on #775
Yes, I was able to reproduce the fail, with ENABLE_MESH_DEPENDS_ON_SOLUTION=ON (as in the cdash build).

[2022-01-05 21:53] ikalash commented on #775
@bartgol : great!

[2022-01-06 22:10] bartgol commented on #775
@ikalash After discussing with Mauro, I turned off the FO_Hydro tests if either one of ENABLE_MESH_DEPENDS_ON_BLAH is ON.

It turned out that fixing the test with those configs required a cascade of changes to our evaluators. Nothing "huge", but somewhat annoying, and increasing compilation times. Since those options are used mainly with thickness as an unknown or a parameter, and since we current

[2022-01-06 22:10] #775 closed

[2022-01-12 17:59] bartgol opened #777 "Add processor and processor_affinity property to tests"
Without these properties, when running multiple tests at once, all ranks collapse on the same cores (MPI does not check if other MPI jobs are running, so it usually takes cores 0-N). With the properties set, however, ctest ensures tests are run on different cores and don't overload cores.

NOTE: `PROCESSOR_AFFINITY TRUE` ensures no 2 tests can share cores, while `PROCESSORS XYZ` ensures that, when

[2022-01-12 19:46] bartgol commented on #774
I had a quick discussion with SEACAS folks on the trilinos github page, and it helped to clarify things.

So, I think some of our files (like quadQuad.exo in the test linked at the top) are not in netCDF-4 and not in HDF5 format, that is, classic netCDF files. For these files, we _need_ PnetCDF in order to open the file in parallel.

See #trilinos/trilinos10059 for more details.

I see two options

[2022-01-12 19:52] mperego commented on #774
thanks @bartgol! It seems that there are really few tests that fails, so are those the only files that are not in CDF4 or HDF5 format? How could we convert them?

[2022-01-12 19:59] mperego commented on #774
I guess I could easily use `AsciiSTKMaes2D` to re-create those 2d meshes in the right format.

[2022-01-12 20:37] bartgol commented on #774
I am not sure. I have no idea where those files were generated. I tried to run decomp+conjoin, but that only turned the file type from 1 to 2 (in exodus codes, those are "classsic netcdf" and "64-bit offset netcdf"), which are both handled with the pnetcdf reader.

I did
[code]
The xxd command shows the content in binary form. The first 3 entries are just the string CDF, the next number is the "fi

[2022-01-12 20:41] mperego commented on #774
OK, let me try the `AsciiSTKMesh2D` path, unless you think it's best to check that exodus is built with PNetcdf

[2022-01-12 20:45] bartgol commented on #774
I mean, how many times is this going to happen again, for other files? Besides, I just did a check on mappy: I have pnetcdf built in trilinos, so the test works for me, but the output exo files generated by the test (quadOut_tpetra.4.[0-3]) are still of type 2 (64-bit offset). That means that our output files are not readable in parallel (unless already partitioned). Perhaps there is some option w

[2022-01-12 20:50] mperego commented on #774
How do you check the type of the exo files?

[2022-01-12 21:13] bartgol commented on #774
[code]
CDF file output:
[code]
HDF file output:
[code]
The latter means HDF5 format. The former can be classic netcdf (1), 64-bit netcdf (2), or netcdf CDF5 (4), depending on the number at the 4th place in the row (00000001, in this case)

[2022-01-13 17:06] #763 closed

[2022-01-16 23:30] ikalash commented on #774
It looks like this issue has resolved itself / been resolved - closing.

[2022-01-16 23:30] #774 closed

[2022-01-17 17:32] mperego commented on #763
@jewatkins @ikalash I think we are good with this. In order to test the changes in the nightly builds, it might be good if you turned off the Tpetra and Xpetra deprecated code in a few nightlybuilds:
[code]
Thanks!

[2022-01-17 20:09] jewatkins commented on #763
Do we know if it works with frosch now? I can turn it off on blake/weaver.

[2022-01-17 20:10] mperego commented on #763
Yes it should work with FROSch.

[2022-01-17 23:45] kliegeois opened #780 "Fix evaluateResponse_HessVecProd_pp for non-contiguous map"
Related to https://github.com/trilinos/Trilinos/issues/9500 .

There is one known occurrence of a reconstructed Hessian which is not symmetrical for non-contiguous map of the distributed parameter.
It can be deduced from previous investigation that the issue is related to `evaluateResponse_HessVecProd_pp`.

[2022-01-25 17:02] ikalash opened #781 "Blake warning-free build broken"
It looks like the blake warning-free build got broken recently: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=28500 .  Could someone please have a look?  Seems it has to do with ROL tests.  Maybe we can just turn them off?

@mperego

[2022-01-25 18:59] mperego commented on #781
@ikalash we talked about that at the last Albany meeting. ROL has to fix this in a few weeks. It's up to you, if you prefer you can disable ROL tests or just wait until it gets fixed in ROL.

[2022-01-25 19:00] ikalash commented on #781
Yes I remember, I just didn't want to forget about this, so I opened the issue.  I think I'll just disable the tests, if there are no objections.

[2022-01-25 19:04] mperego commented on #781
Actually, why don't we simply remove the Tpetra and Xpetra Deprecated code lines?

[2022-01-25 19:16] ikalash commented on #781
Yes I can do that.

[2022-01-25 22:46] mperego commented on #781
Thanks!

[2022-01-26 17:22] #781 closed

[2022-01-27 21:49] #780 closed

[2022-01-27 22:46] ikalash opened #783 "TriKota in Albany?"
I received an email today from @ccober6 discussing plans to deprecate TriKota and asking if we are using it.  We have not used it in years and I am not aware of any plans to use it in the future - @kliegeois , @mperego , @bartgol : can you please confirm?

[2022-01-27 22:50] kliegeois commented on #783
I am not using it and I have no plan to do so.

[2022-01-27 23:06] mperego commented on #783
Yes. Even if in the future we wanted to use Dakota, we won't probably due it through Trikota.

[2022-01-27 23:55] bartgol commented on #783
I've never used it.

[2022-02-02 18:12] ikalash opened #785 "Broken warning-free build"
The warning-free build on blake got broken: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=28866 .  @mperego I think this is due to your PR.  Could you please fix it?

[2022-02-02 18:14] mperego commented on #785
I think I already did that as I mentioned in the PR.

[2022-02-02 18:14] #785 closed

[2022-02-05 20:15] ikalash opened #788 "Failing clang builds"
The clang builds on CEE are failing due to some template issue:

[code]
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=29020
Is this due to recent Albany changes, or Trilinos, does anyone know?

[2022-02-05 21:00] kliegeois commented on #788
I am pretty sure that it is related to my last PR.

[2022-02-05 21:18] ikalash commented on #788
Thanks @kliegeois .  Would you mind having a look and trying to fix it when you get the chance?

[2022-02-05 21:25] kliegeois commented on #788
Yes, I will look into that early next week.

[2022-02-07 15:24] kliegeois commented on #788
@ikalash I think that I have fixed it except that I did not try it with clang yet.
I do not have a clang build of Trilinos and Albany available yet; it will take me a couple of hours to have them (mostly compilation time).
I can either push the fix (which works with Intel compilers and gcc) today so that the failing build is potentially gone tonight but without testing clang before pushing the fix

[2022-02-07 16:17] bartgol commented on #788
Imho, you can push the fix, and we can wait till tomorrow. So long as intel/gcc are working, we can wait a day and check the nightlies.

[2022-02-07 17:50] mperego commented on #788
yeah, @ikalash no need to test with clang. we'll know tomorrow.

[2022-02-07 17:55] ikalash commented on #788
Ok fair enough.

[2022-02-07 18:11] kliegeois commented on #788
Yes, let's just wait for tomorrow results; thanks though!

[2022-02-09 19:08] #788 closed

[2022-02-11 16:48] kliegeois opened #792 "Errors when make install"
@bartgol since you have removed some files in #791, the CMakeLists.txt should have been updated accordingly to remove the deleted files.

[2022-02-11 17:01] bartgol commented on #792
ah, my bad. fix coming

[2022-02-11 17:08] #792 closed

[2022-02-11 17:09] kliegeois commented on #792
Thanks! I was going to fix it but I have connection issue.

[2022-02-11 17:11] ikalash commented on #792
Was this the same error as this: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=29302 ?

[2022-02-11 17:12] bartgol commented on #792
Nope, that's a build error. Another fix coming. :)

[2022-02-11 17:15] bartgol commented on #792
CISM driver fixed in cb5ee8370

[2022-02-11 17:17] ikalash commented on #792
Ok.  Could you please open an issue on these problems?

[2022-02-11 17:58] bartgol commented on #792
Well, this was the issue, but it got fixed.

[2022-02-23 18:09] ikalash opened #796 "ROL errors in blake build"
It looks like there are ROL errors (not just in the tests) in the nightly blake builds:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=29826

I believe this is with the deprecated Tpetra code turned off.

[2022-02-24 17:20] jewatkins commented on #796
It looks like it is just from building tests? Although the error would probably come in anyways through the Albany build.

[2022-02-24 17:29] jewatkins commented on #796
Should I try turning the tests off?

[2022-02-24 17:31] mperego commented on #796
This is not new right? I think we discussed this before and we decided to wait until ROL fixes this (they are aware of it). Alternatively, we can use the default settings for the tpetra deprecated codes.

[2022-02-24 17:37] jewatkins commented on #796
Ah okay, I see what happened. So the configure script on blake had deprecated code on:
https://sems-cdash-son.sandia.gov/cdash/build/29495
but the script in the Albany repo was set to off (which I then turned on then back off):
https://github.com/sandialabs/Albany/commit/5c2ad77b5dc9603249e8626e8cfac29bd2c2af9c
https://github.com/sandialabs/Albany/commit/77983a7fdfcd5318e4e67f39fa5b393abb53f470

I

[2022-02-24 17:39] mperego commented on #796
Yeah.. or simply remove the cmake option and use the defaults

[2022-02-24 17:41] jewatkins commented on #796
Should we start using the defaults for everything? Or just this build?

[2022-02-24 17:43] bartgol commented on #796
So these errors are still related to ROL unit tests, right? Can't we disable all tests in Trilinos? What's the point of building them?

[2022-02-24 19:24] ikalash commented on #796
You're right, but I thought we had turned off the tests.  @jewatkins would you be able to do this?

[2022-02-24 19:31] jewatkins commented on #796
Yeah I can try turning the tests off first and check back tomorrow.

[2022-03-02 17:16] jewatkins commented on #796
I forgot to check this Friday but this was fixed based on the dashboard results from that day.
https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany&date=2022-02-25

[2022-03-08 00:46] #783 closed

[2022-03-25 18:43] ikalash opened #799 "PyAlbany broken due to issue in PyTrilinos"
It looks like Trilinos broke PyAlbany.  In my nightly build that builds PyAlbany, I'm seeing the following error (unfortunately, this build does not push to the CDash site):

[code]

Normally, I'd open a Trilinos issue, but I don't think anyone is supporting PyTrilinos, so I'm opening it here (please correct me if I'm wrong about PyTrilinos support).  Perhaps @kliegeois , as the PyAlbany developer

[2022-03-28 23:05] mperego commented on #799
@thartland submitted an issue and [PR 10367](https://github.com/trilinos/Trilinos/pull/10367) got merged into Trilinos just now. Hopefully it fixes this issue. @ikalash can you please let us know tomorrow if this worked? Thanks!

[2022-03-28 23:09] ikalash commented on #799
Thanks @thartland and @mperego !  Yes, will comment here tomorrow regarding the status of the nightlies.

[2022-03-29 16:31] ikalash commented on #799
This has been resolved - thanks!

[2022-03-29 16:31] #799 closed

[2022-04-28 18:35] ikalash opened #804 "Performance tests broken due to Kokkos changes"
It looks like the same configuration error we had yesterday in Albany is present now in the performance tests: https://sems-cdash-son.sandia.gov/cdash/build/32806/configure.  I think a similar change to this one needs to be made to fix the problem: https://github.com/sandialabs/Albany/pull/803 .  @jewatkins could you please do this?

[2022-04-28 18:40] ikalash opened #805 "Broken PyAlbany build"
It looks like the nightly PyAlbany build is broken.  Here is the error:

[code]

https://sems-cdash-son.sandia.gov/cdash/build/32800/configure

Could you please look into this @kliegeois ?

[2022-04-28 18:41] kliegeois commented on #805
@ikalash @mperego already fixed the issue. It should be good tomorrow.

[2022-04-28 18:44] ikalash commented on #805
Ah ok, great.  I will close this tomorrow if the nightlies are good.

[2022-04-28 18:48] jewatkins commented on #804
Yes, I pushed a fix this morning: https://github.com/sandialabs/ali-perf-tests/commit/71a6cfe8845040bca49e4a64b401809be9ecd257. It worked when I tested it so it should work tonight.

[2022-04-28 18:49] ikalash commented on #804
Great!  Sorry, I've been in meetings all morning and am just now trying to get caught up.  Will close tomorrow if the build is clean.

[2022-04-29 15:48] #804 closed

[2022-04-29 15:49] #805 closed

[2022-05-05 18:20] ikalash opened #806 "PyAlbany compilation error"
It looks like PyAlbany failed to compile last night due to a missing include:

[code]
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=33107

My guess is the file included either got removed or renamed in Trilinos.  Do we really need the include?  Would be great if you could have a look @kliegeois .

[2022-05-05 18:22] kliegeois commented on #806
I will look at this.

[2022-05-05 18:24] kliegeois commented on #806
The file is still there.
We need it for that function so I guess that I should guard that file/function with some macro that check if the used Trilinos build supports/enables Stokhos.

[2022-05-05 18:28] ikalash commented on #806
Ah ok.  Could you please add the macro in this case?

[2022-05-06 22:36] #806 closed

[2022-05-20 18:47] ikalash opened #809 "Broken blake warnings-as-errors build"
It looks like recent changes to Albany broke the warnings-as-errors build on Blake: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=33769.  Could someone please have a look?  @mperego

[2022-05-20 19:27] mperego commented on #809
@ikalash thanks. I'll take care of it.

[2022-05-20 20:04] ikalash commented on #809
Thanks @mperego !

[2022-05-22 18:48] ikalash commented on #809
Looks like this is fixed - thanks @mperego !

[2022-05-22 18:48] #809 closed

[2022-06-08 17:03] ikalash opened #813 "Failing Albany build on Cori due to missing Stratimikos header"
The Cori nightly build failed last night due to a missing Stratimimkos header: https://my.cdash.org/viewBuildError.php?buildid=2175679 .

[code]
I'm guessing the file got removed/renamed in Trilinos.  Could someone please look at this and fix the issue?  I'm on foreign travel.  I am guessing this will show up in the other nightlies, but I don't have access from abroad to that CDash site.

@mperego

[2022-06-08 17:45] jewatkins commented on #813
Yeah the other builds are failing too. I'll take a look.

[2022-06-08 19:30] mperego commented on #813
I guess this is related to https://github.com/trilinos/Trilinos/commit/e08b53677de4ac72b9e060001dd5e63b6c2b167f
@cgcgcg

[2022-06-08 19:33] mperego commented on #813
https://github.com/trilinos/Trilinos/pull/10507

[2022-06-08 19:42] jewatkins commented on #813
Right, this PR will fix it once its pushed: https://github.com/trilinos/Trilinos/pull/10605

[2022-06-14 11:54] ikalash commented on #813
Seems this has been resolved at least judging from the Cori job - closing.

[2022-06-14 11:54] #813 closed

[2022-06-25 15:33] ikalash opened #814 "Failing nightlies due to STK changes"
Looks like we're getting failed Albany builds due to STK: https://my.cdash.org/viewBuildError.php?buildid=2181971 .

[code]
Is this due to changes in STK / removal of deprecations, which were discussed by email a few weeks ago?  Tagging @alanw0 .

[2022-06-26 03:41] alanw0 commented on #814
@ikalash Hi Irina! Yes this method was deprecated. There is now a similar method called 'meta_data_ptr' which you can use instead, however it returns std::shared_ptr instead of Teuchos::RCP.
In stk our procedure is to delete deprecated methods after they have been marked deprecated for approx 6 weeks.

[2022-06-30 16:24] ikalash commented on #814
It looks like there is still a problem in one of the builds:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=35604

``
/.../repos/Albany/src/disc/stk/Albany_STKDiscretization.cpp(2312): error: no instance of overloaded function "stk::io::StkMeshIoBroker::set_bulk_data" matches the argument list
``

[2022-06-30 16:50] mperego commented on #814
@ikalash, it seems it's building an older version of Albany (c08885d7cd76cdbbb0016d62bfd411df3e81c2a1).

[2022-06-30 21:44] #814 closed

[2022-07-01 18:05] ikalash opened #818 "Failing nightly build with PyTrilinos"
The nightly build with PyTrilinos is failing with the following error:
[code]
@kliegeois , have you encountered this?

[2022-07-01 18:09] kliegeois commented on #818
No but this error will be gone with the merge of #816.

[2022-07-01 18:11] ikalash commented on #818
Ok great.

[2022-07-01 19:16] mperego commented on #818
@ikalash as a consequence of #816, we will need to modify this build. PyTrilinos and swig are no longer needed but pybind is required instead. I think it make sense to turn off this build off until #816 is merged and the build is updated.

[2022-07-01 19:17] ikalash commented on #818
What's the timeline for merging in the PR?  I think I will keep the build but just turn off PyAlbany in it.  It is one of the few Debug builds of ALbany.

[2022-07-01 19:20] mperego commented on #818
That's a good idea. I think it could be merge early next week, if @kliegeois has time to work on it.

[2022-07-01 19:22] kliegeois commented on #818
The timeline will mostly depend on the review(s). I can resolve Mauro's comments today but I don't know if there will be any other reviews.

[2022-07-01 19:26] mperego commented on #818
Great! It's probably good if @mcarlson801 tries it out, since he is the one that has been using PyAlbany recently, besides Kim.

[2022-07-01 19:49] mcarlson801 commented on #818
Looks like I missed the ping requesting a review for me, my bad. I'll take a look and try it out asap.

[2022-07-08 16:06] mcarlson801 opened #819 "Broken Perlmutter GPU build possibly due to STK changes in Trilinos"
Albany is failing on my Perlmutter CUDA build (A100 GPUs) with the following error:

[code]

I can't pinpoint the exact Trilinos/Albany commit for which this started appearing but it was after I pulled the changes that fixed Issue https://github.com/sandialabs/Albany/issues/814. After some debugging, it appears to be an issue related to STK.

After taking a look in the debugger, it seems to be tha

[2022-07-08 17:36] alanw0 commented on #819
We did recently start using the MPI_CXX_BOOL type in a couple of cases in stk. I'll refer this to our MPI guru and see what he thinks. I wonder if there's a macro that indicates whether MPI_CXX_BOOL is or is not available...

[2022-07-08 18:14] JaredCrean2 commented on #819
Yes, that stacktrace points directly to the change I made.  `MPI_CXX_BOOL` is required to exist by the standard as long as the MPI library is compiled with C++ support.

A few things to look at:
  * find `mpi.h`.  Usually can be found by
    *  `cd` into the directory returned by `which mpicxx`,
    *  then do `cd ../include`
  * in `mpi.h`, search for `MPI_VERSION` and `MPI_SUBVERSION`
  * in `mp

[2022-07-08 18:29] mcarlson801 commented on #819
The version of MPI is 3.1 but when I searched for `MPI_CXX_BOOL` I found

[code]

All of the C++ types are equivalent to `MPI_DATATYPE_NULL`. Looks like I'll need to reach out to Perlmutter support on this one. Thanks!

[2022-07-08 21:44] kliegeois commented on #818
@ikalash Can we close this issue or do you prefer to wait for the next nightly build to pass?

[2022-07-08 21:45] ikalash commented on #818
We can close.  The nightlies were good yesterday with the changes.

[2022-07-08 21:45] #818 closed

[2022-07-19 16:47] ikalash opened #822 "Broken tests on Weaver"
A bunch of the nightly tests on Weaver started failing:

https://sems-cdash-son.sandia.gov/cdash/test/2685897

[code]
@jewatkins , @mcarlson801 : could one of you please have a look?

[2022-07-19 19:27] mcarlson801 commented on #822
I'll take a look at this when I have a chance and see what I can find.

[2022-07-19 19:28] ikalash commented on #822
Excellent, thanks, @mcarlson801 !

[2022-07-20 21:02] mcarlson801 commented on #822
I've confirmed that this issue comes from the recent Trilinos changes on July 18th related to Tribits. The failing tests seem to be fixed after updating `cmake` to version >=3.23. This is failing on Weaver since the newest version of `cmake` available through modules is 3.21 (and I think currently the module file loads 3.19).

[2022-07-20 21:14] jewatkins commented on #822
Could you send weaver-help an email letting them know we need a newer version of cmake? We can then start loading the newer version.

[2022-07-20 21:21] mcarlson801 commented on #822
Yep, just sent it out.

[2022-07-29 17:49] ikalash opened #823 "Broken PyAlbany build"
The PyAlbany build on camobap started failing a few days ago due to a pybind11 version problem:

[code]
https://sems-cdash-son.sandia.gov/cdash/build/36965/configure

@kliegeois , I am guessing this is due to the recent changes in your PR?  Do I need to make some changes to the Albany configuration?

[2022-07-29 18:11] mcarlson801 commented on #822
Weaver now has cmake 3.23 and I've updated the weaver_cuda_modules.sh file in docs/dashboards to load it. I assume it needs to be updated somewhere else as well since it hasn't yet reflected in the nightly tests. Can anyone point me to the modules file that still needs to be updated?

[2022-07-29 18:15] ikalash commented on #822
Thanks @mcarlson801 !  I just updated the modules used in the nightlies on the machine.  Will see what happens with them tomorrow.

[2022-07-29 18:34] kliegeois commented on #823
Yes, it is related to my PR. It means that pybind11 was not found by the used python.
What is the camobap machine? Can you connect to it and reproduce the issue?
It looks like a PYTHONPATH issue or that pybind11 was not installed.
Was PyAlbany working on that machine before?

[2022-07-29 18:41] ikalash commented on #823
The machine has pybind11 installed.  Yes, the build was working until Wednesday.  What should PYTHONPATH be?  When I echo it, it is empty.  I am not sure what you would like me to reproduce - the output will be the same as the output linked above that shows up in the nightly.

[2022-07-29 18:44] kliegeois commented on #823
Could you try this?

[code]

[2022-07-29 18:52] ikalash commented on #823
It's not found.

[code]
It's weird b/c if I try to install pybind11, it says it's already installed:
[code]
And also I know it's there b/c the build worked before.

[2022-07-29 19:21] kliegeois commented on #823
Can you try to add `/root/.local/lib/python3.6/site-packages` to your PYTHONPATH and retry?

[2022-07-31 00:19] ikalash commented on #822
@mcarlson801 : were the changes in modules supposed to fix the broken tests?  It doesn't look like they did.

[2022-07-31 01:45] mcarlson801 commented on #822
Hmmm, that fixed it for my build. I'll take another look to see what I missed.

[2022-07-31 02:00] ikalash commented on #822
The nightlies occur here: /home/projects/albany/nightlyCDashWeaver. You should be able to check the log files there.

[2022-07-31 02:18] ikalash commented on #822
Also, this is the cronjob that runs on weaver: https://github.com/sandialabs/Albany/blob/master/doc/dashboards/weaver.sandia.gov/cronjob .

[2022-07-31 21:16] ikalash commented on #823
FWIW, I changed the blake warning free build to enable Albany and am getting the same error as on camobap: https://sems-cdash-son.sandia.gov/cdash/build/37028/configure .

[2022-08-01 13:56] kliegeois commented on #823
@ikalash I disabled the check that throws the error on those 2 builds.

[2022-08-01 17:54] mcarlson801 commented on #822
I followed the procedure outlined in https://github.com/trilinos/Trilinos/issues/10774#issuecomment-1189644050 for the Weaver build with CMake 3.23 and got the following error. @bartlettroscoe Any suggestions for fixing this?

[code]

[2022-08-01 18:02] bartlettroscoe commented on #822
@mcarlson801, can you please attach the Trilinos configure script, the cmake STDOUT&STDERR, and the CMakeCache.txt file and I will take a look?  Otherwise, where is `mpi_usempif08` coming from?

[2022-08-01 18:25] mcarlson801 commented on #822
@bartlettroscoe Here's everything for Trilinos and Albany:
[Albany_CMakeCache.txt](https://github.com/sandialabs/Albany/files/9236375/Albany_CMakeCache.txt)
[albany_configure_output.txt](https://github.com/sandialabs/Albany/files/9236376/albany_configure_output.txt)
[do-cmake-albany.txt](https://github.com/sandialabs/Albany/files/9236377/do-cmake-albany.txt)
[do-cmake-weaver-trilinos.txt](https://

[2022-08-01 20:14] kliegeois commented on #823
@ikalash yes. I think that the cmake check that I introduced is too strict; I think that it is a sufficient but not necessary requirement.

[2022-08-02 16:12] kliegeois commented on #823
It seems that it passed on camobap but it failed on [blake-serial-Albany-gcc-no-warn](https://sems-cdash-son.sandia.gov/cdash/build/37122):

[code]

This means that `${PYTHON_EXECUTABLE} -c "import mpi4py; print(mpi4py.__version__)"` failed.
Is mpi4py installed and accessible?

[2022-08-02 16:18] bartgol commented on #822
Is Trilinos policy now to use "raw" compilers (e.g., g++, or icpc) and _link_ against MPI libraries (properly wrapped in imported/interface targets)? If so, that might hint to to us still using mpicxx and the likes, rather than g++/icpc. Perhaps we need to switch to g++/icpc, and link against MPI (which might be superfluous, since Trilinos already links against it, so we should get that PUBLIC lib

[2022-08-02 16:58] bartgol commented on #823
We can pip install it locally (in the home of whomever is the user launching the testing, I'm guessing Irina?).

[2022-08-02 18:09] kliegeois commented on #823
@bartgol yes, that's what should be done but it is strange that it actually worked before.

[2022-08-02 18:09] ikalash commented on #823
@jewatkins owns the nightlies on blake now not me. I am guessing he will need to install mpi4py locally:

[code]
Could you please do this Jerry when you are back?

[2022-08-03 00:26] bartlettroscoe commented on #822
@bartgol, absolutely not.  The Trilinos policy is to, by default, use the MPI compiler wrappers provided by the MPI installation as per section **a. Configuring build using MPI compiler wrappers** at:

* https://docs.trilinos.org/files/TrilinosBuildReference.html#configuring-with-mpi-support

However, it is possible to use the raw compilers but then you are on your own to figure out the various co

[2022-08-03 01:13] bartgol commented on #822
Ok, thanks!

[2022-08-03 04:40] jewatkins commented on #823
Done. But will probably have to wait until tomorrow to see if it works.

[2022-08-03 04:47] ikalash commented on #823
Thanks, Jerry!  No problem, I'll monitor this for the next couple of days.

[2022-08-04 15:17] kliegeois commented on #823
It seems that it worked, thanks @jewatkins  and @ikalash !

[2022-08-04 16:22] kliegeois commented on #823
Can we close the issue?

[2022-08-04 17:24] ikalash commented on #823
Yes.

[2022-08-04 17:24] #823 closed

[2022-08-21 01:16] ikalash opened #824 "PyAlbany tests failing due to missing exomerge module"
It looks like some PyAlbany tests are failing again with an exomerge not found error: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=38001 .  @kliegeois we had this some time ago and I thought you had made exomerge optional?

[2022-08-21 21:53] kliegeois commented on #824
That's right. Those tests should not run if exomerge is not available. I will look into this early next week.

[2022-08-21 22:18] ikalash commented on #824
Thank you, @kliegeois !

[2022-08-23 18:44] #822 closed

[2022-08-24 19:52] #824 closed

[2022-08-24 20:00] kliegeois commented on #824
The issue has been automatically closed but it should work fine now.

[2022-08-25 03:12] bartlettroscoe commented on #822
How did this get fixed?

[2022-08-25 03:43] ikalash commented on #822
Quite honestly, I have no idea...

[2022-08-25 12:33] bartlettroscoe commented on #822
Okay, as shown in [this query](https://sems-cdash-son.sandia.gov/cdash/queryTests.php?project=Albany&begin=2022-07-19&end=2022-08-25&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=61&value1=weaver-CUDA-Albany&field2=testname&compare2=61&value2=Advection1D_Scalar_Param_Adjoint_Sens_Explicit) the test started passing on testing day 2022-08-13. There was a TriBITS-related Tri

[2022-08-26 05:52] yurivict opened #826 "configure recommends to look into the trilinos-cmake script but there is no such file"

[2022-08-31 14:41] ikalash opened #827 "Broken Albany build due to changes to Trilinos (Phalanx)"
The Albany builds are broken, due to a missing land ice routine:

[code]

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=38525

@mperego , @bartgol , @kliegeois , @jewatkins : could one of you please have a look?

[2022-08-31 14:43] ikalash commented on #827
Actually is this a Trilinos thing?  I am seeing similar errors in LCM: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=38525 .

Tagging @lxmota to keep him in the loop on LCM.

[2022-08-31 14:48] mperego commented on #827
It probably has to do with this,
https://github.com/trilinos/Trilinos/commit/43d80c9555de0007d0cd8b8bb09089a2e07659ce
so, it should be an easy fix.

[2022-08-31 15:01] ikalash commented on #827
Could someone please do this in Albany master today?  I am in an all-day meeting.  I can do it for LCM later.

[2022-08-31 15:05] mperego commented on #827
We need to be careful though, and use the nonconst function one only where needed.

[2022-08-31 15:39] bartgol commented on #827
Yes, I remember asking Roger to introduce this change, so we could be explicit about our intent, and avoid the warnings. I will fix this.

[2022-08-31 15:45] ikalash commented on #827
Thanks @bartgol !

[2022-09-04 20:58] ikalash commented on #827
I can actually probably fix this.  I just fixed it in LCM.  Question: it seems the main change is addDependentField was changed to addNonConstDependentField - is there a const version of this function too?  Or is the fix to just replace all instances of addDependentField with addNonConstDependentField?  The latter is what I did in LCM.  @rppawlo

[2022-09-05 13:42] mperego commented on #827
@ikalash we have to revert the commit. We only need to replace the nonconst instances of `addDependentField` with `addNonConstDependentField`. For all the other instances we should continue using the (const)  `addDependentField `.

[2022-09-05 20:10] ikalash commented on #827
Yes, I figured out that what I did was not correct.  There is actually a very easy fix as it turns out, which I just pushed.  Hopefully the nightlies will be clean tomorrow.

[2022-09-06 12:59] rppawlo commented on #827
The const version of addDepedentField is the preferred method. We have come across some difficult use cases when attempting to deprecate the non-const version in applications, so just renamed it for the 14.0 release.

[2022-09-06 14:26] ikalash commented on #827
Thanks @rppawlo I figured it out over the weekend.

[2022-09-06 14:26] #827 closed

[2022-09-12 16:01] bartgol opened #832 "Test on blake failed for a long time"
Following up on Irina's email, I noticed that some blake tests have failed for ages. [This one](https://sems-cdash-son.sandia.gov/cdash//test/2866979?graph=status), for instance, started failing on June 8th, and has failed ever since.

I looked at our PR history, but no PR was merged around that day. However, I _think_ we can push to master, so someone might have pushed something straight to maste

[2022-09-12 19:33] ikalash commented on #832
Are those the performance tests (I can't see CDash while overseas)?  I believe @jewatkins was monitoring these for some time but I'm not sure what happened.  I agree about changing / deactivating the tests if they are going to fail.

[2022-09-12 19:55] jewatkins commented on #832
These are the same failing tests discussed in #712 and I think the same issue remains. We'd probably have to increase the tolerance to 1e-2 because the GPU tests might still give the same result.

[2022-09-12 20:15] bartgol commented on #832
To be more general, I suspect at some point we should use test values that are mach-specific. In general, we can't expect solution to be the same across archs. Yes, we are using some tolerance, but unless nonlinear tolerances are ridicolously low, tiny residual might still mean not-so-tiny solution diffs (depending on pb conditioning).

OTOH, a mach-specific baseline/test-value is supposed to give

[2022-09-12 20:28] jewatkins commented on #832
In this particular case, it's odd to me that the result was the same on both blake and weaver and then suddenly differed on blake-only. But I'd be okay with machine specific tests since that is what E3SM does. At which point, we could tighten tolerances. We should decide what we would like to do for E3SM integration and follow suit.

[2022-09-12 20:29] bartgol commented on #832
Right, with mach-specific expected values, we can be more strict, and be more robust against asnwer-changing mods.

[2022-09-22 18:42] ikalash opened #835 "Fix export.in issue preventing Ninja builds from completing"
The error looks like this:

[code]

[2022-09-26 18:26] ikalash commented on #835
@bartgol : when do you think you will fix this?  I do not want the CEE nightlies down for a prolonged period of time, as things could slip through the cracks in the testing.

[2022-09-26 18:44] bartgol commented on #835
I do not have a timeline yet. Maybe sometimes this week?

[2022-09-26 21:34] ikalash opened #837 "Weaver nightlies not pushing to CDash site"
This started a couple weeks ago while I am on foreign travel.  The error looks like this when you log on to the machine, yet curl appears just fine when you check it:

[code]
@ikalash is working with the sems team and weaver admins to get the issue resolved.

[2022-09-27 04:31] adityaIyerramesh98 opened #838 "Fix webpage breakdown"
Hello contributors,

Albany's webpage: https://snlcomputation.github.io/Albany
keeps breaking down and is just not viewable. Can someone shed light on this and provide with a modified link/URL to get readthedocs for Albany or anyother workaround?
Am trying to comprehend Albany's environment along with some tutorial cases to start with.

Thank you!

[2022-09-27 04:34] ikalash commented on #838
@adityaIyerramesh98 : thank you for your interest in Albany.  The correct webpage is this one: https://sandialabs.github.io/Albany/, as Albany is now in the sandialabs space on github.  Please let us know if you have any more questions.

[2022-09-27 04:38] adityaIyerramesh98 commented on #838
Thank you for a very prompt response, @ikalash !
I'll check out the modified URL.

[2022-09-27 04:38] #838 closed

[2022-09-27 16:56] mcarlson801 commented on #819
@mperego This is the issue mentioned in the Albany meeting

[2022-09-27 17:05] alanw0 commented on #819
Sorry for not following up on this. This issue was fixed by this stk update: https://github.com/trilinos/Trilinos/pull/10914

[2022-09-27 17:15] mcarlson801 commented on #819
Awesome, thanks! That's great to hear. When I have a moment I'll update my Perlmutter build and close this issue.

[2022-09-27 18:29] ikalash opened #839 "Rework nightly test names to get compiler and CUDA version by default and have consistent naming convention"
To start with, the names will have the following:

- compiler name (obtained on the fly)
- CUDA compiler name (obtained on the fly) - for CUDA build only
- Kokkos node name (hard-coded)
- whether build is debug or release (hard-coded)
- Fad type / length (hard-coded)

In the future, may want to add options like whether mesh depends on params, etc.

[2022-09-27 18:30] ikalash opened #840 "Clean up Albany nightly tests"
Remove irrelevant tests, e.g., Epetra ones.

[2022-09-27 18:31] ikalash opened #841 "Scope out things with rhel8 on Weaver"
@ikalash  will reactivate nightly and report what happens, since it is not pushed to CDash site.

@jewatkins  will scope things out depending on results of above.

[2022-09-27 18:32] ikalash opened #842 "Scope out whether Albany works with C++17"
Once we get a working build, will want to have a C++17 nightly build, probably.

[2022-09-27 18:47] ikalash commented on #837
So when I switch to "-q rhel7W", the nightlies are back up, including tests running / passing (except the performance tests) except there is an error reported upon building the code (even though the build completes): ```/usr/bin/env: python3: No such file or directory```

https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany&date=2022-09-27&filtercount=1&showfilters=1&field1=groupname&c

[2022-09-27 18:54] kliegeois commented on #837
Is PyAlbany enabled?
It is strange that this happens during the build yes.

[2022-09-27 18:56] ikalash commented on #837
No it's not.  That is what I don't understand...

[2022-09-27 19:01] kliegeois commented on #837
There is one Hessian test that uses python (regardless of PyAlbany) but it should be disabled if python is not available.

[2022-09-27 19:08] ikalash opened #843 "Rework Albany nightlies so that Albany configure options are obtained from do-cmake configure script for each build"

[2022-09-27 22:47] bartgol commented on #839
By "CUDA compiler name" you mean the cuda version I guess? So the build name would look something like `gcc9-cuda10-cuda-debug-dfad`? I think the kokkos node name would be a bit redundant for cuda builds (and probably for HIP builds too, once we get them). I think we could assume that
- if `cudaX` or `hipY` is present, then the kokkos node is cuda or HIP respectively
- if no cuda/hip string is pre

[2022-09-28 01:15] ikalash commented on #837
I think this can be fixed by loading the python3 module.  I will see tomorrow if it fixes the problem and report back.  Still no idea why python is required given the configuration...

[2022-09-28 02:17] kliegeois commented on #837
Looks like we can't live without Python anymore 😀

[2022-09-28 16:53] mcarlson801 commented on #819
Confirmed this fixed our Perlmutter issue, thanks again!

[2022-09-28 16:53] #819 closed

[2022-09-28 16:54] mperego commented on #819
thanks @alanw0 and @mcarlson801!

[2022-09-28 17:34] ikalash commented on #835
It looks like you fixed this @bartgol  - can you please confirm?  If so, I'll reenable the ninja builds.

[2022-09-28 17:37] bartgol commented on #835
Well, it works on my machine. We can try to merge, and see what the nightlies do...

[2022-09-29 04:31] ikalash commented on #841
I did this today, and can confirm that Albany builds and runs with RHEL8.  The modules and configure scripts to use are here:

https://github.com/sandialabs/Albany/blob/master/doc/dashboards/weaver.sandia.gov/do-cmake-albany-rhel8
https://github.com/sandialabs/Albany/blob/master/doc/dashboards/weaver.sandia.gov/do-cmake-weaver-trilinos-rhel8
https://github.com/sandialabs/Albany/blob/master/doc/das

[2022-09-29 16:28] jewatkins commented on #841
I also got this working last night with the rhel8 modules. I had to update the trilinos configure script but the only issue I saw was that you have to configure/build on a rhel8 node. The login node is supposed to be updated soon.

[2022-09-29 18:40] jewatkins commented on #842
This works fine on my `sems-gcc/8.3.0` build but my clang build fails. I think because it was built with an old gcc. We can try turning it on in our nightly trilinos builds and see what happens?
[code]

[2022-09-29 19:47] #835 closed

[2022-09-29 22:55] jewatkins commented on #842
Maybe mockba or camobap since they have newer compilers? There might be issues with blake/weaver since the compilers are older. I could debug those next week if so.

[2022-09-30 01:32] ikalash commented on #841
@jewatkins : I am testing your PR right now.  I don't think it's a problem that the builds need to happen on the compute node b/c the way the weaver nightlies are set up, that happens anyway.  What is a problem is not being able to push to the CDash site from the rhel8 compute nodes.  Kevin, a weaver sysadmin, sent me a proposed fix which I need to test.  If it works, we can change the nightlies a

[2022-09-30 01:33] ikalash commented on #842
I can do that.  I assume this option goes in Trilinos, and then Albany will inherit it?

[2022-09-30 01:45] jewatkins commented on #841
Sounds good, thanks.

[2022-09-30 01:47] jewatkins commented on #842
Yes, you can add it to Trilinos and Albany will inherit it. Also you can remove: `-D Trilinos_ENABLE_CXX11:BOOL=ON \`

[2022-09-30 20:36] ikalash commented on #842
I updated camobap.  I'll do the same for mockba if there are no issues with the camobap nightlies.

[2022-10-04 16:05] jewatkins commented on #841
@ikalash It looks like we're close, the weaver builds are back up but the performance tests are failing:
[code]
It looks like it's loading the wrong modules. I'll try updating those files and we can see what happens tomorrow.

[2022-10-04 20:21] ikalash commented on #841
I have updated the modules in the appropriate directory.  Hopefully things will be clean tomorrow.

[2022-10-05 17:26] #837 closed

[2022-10-05 17:27] ikalash commented on #841
It seems some of the performance tests are failing  due to too many procs being required.

[code]
@jewatkins , is this due to a difference b/w the rhel7 and rhel8 queues?

[2022-10-05 17:29] jewatkins commented on #841
It's possible. I might have to change the run line a bit. I'll look into it today.

[2022-10-05 17:41] ikalash commented on #841
Thanks @jewatkins !

[2022-10-06 18:49] jewatkins commented on #841
It worked the day before so I'm not sure why that happened. I tried to configure this morning and everything still works.

[2022-10-06 18:50] jewatkins commented on #841
Also, there's some issue with running on multiple nodes, that's why the performance tests fail. Have to wait for weaver admins to respond.

[2022-10-06 18:51] ikalash commented on #841
Hmmm, weird.  We can see what happens tomorrow.  Yes, I saw your issue about the multiple nodes.

[2022-10-06 20:09] ikalash commented on #839
I haven't decided yet.  It depends on what cuda info I can get from cmake.

Also worth including is the OS (e.g., rhel7 vs. rhel8).

[2022-10-06 22:55] ikalash opened #848 "spack build error for Albany"
It looks like starting yesterday, the nightly spack Albany build stopped working.  Here is the error:

[code]

This appears related to recent changes to how Albany details get exported - @mperego , @bartgol , can you please confirm?  What puzzles me is why this started yesterday and not earlier, since I think all the changes related to the exporting were made earlier.  Thoughts?

The spack build i

[2022-10-06 23:29] mperego commented on #848
It is indeed weird that it started yesterday. Is this run daily? I know Xylar made changes to the Spack build recently. Is it possible that made other changes yesterday?

[2022-10-06 23:33] ikalash commented on #848
Yes, it's run daily.  I checked my emails and the build was successful on Tuesday and broke Wednesday for the first time.  @xylar: have you made changes to the E3SM spack ( git clone git@github.com:E3SM-Project/spack.git)  recently that may cause this error?  I could check out the spack code from Tues and try building again as a sanity check.

[2022-10-07 00:05] jewatkins commented on #841
We need them to install cmake 3.22 on weaver-rhel8 too: https://github.com/trilinos/Trilinos/issues/10355

[2022-10-07 03:36] xylar commented on #848
@ikalash , Yes, I rebased onto the latest spack release. I needed to do that for an E3SM-Unified release. I pinged you and @mperego on Slack about it but I guess you don't really check that. I forgot.

[2022-10-07 03:39] ikalash commented on #848
@xylar .  I am really bad at slack, sorry.  Email is the best way to reach me, or github issues.  Hmmm, I'm puzzled as to why that would cause this error.  Is spack now pulling an older version of Albany rather than VOTD?  I can check this.

[2022-10-07 03:58] xylar commented on #848
@ikalash, I'm bad about email so GitHub it must be...

[2022-10-07 04:03] ikalash commented on #848
So when I diff package.py for albany in spack VOTD vs. spack 18f66ff409eff777e2a77a4799e6d6ed243939d2, there are a lot of differences.  It seems the file got overwritten with what was in the main spack, maybe?  I would think you would keep the changes to the E3SM spack version for packages like Albany when you do the rebaselines/merges.

[2022-10-07 04:25] xylar commented on #848
@ikalash, I certainly meant to. I was surprised how clean the rebase came out. I took out some changes to the main trilinos because they got reverted. That just makes the rebase easier. But I didn't deliberately alter Albany. But there were a handful of conflicts to resolve. I tried to always favor the changes over the upstream package. The best bet would be to look at one of the older spack_for_m

[2022-10-07 04:30] xylar commented on #848
I don't see any appreciable differences between `spack_for_mache_1.4.1`, which was essentially before the rebase and `develop`:
[code]
Are you talking about a different package besides albany?

[2022-10-07 04:32] xylar commented on #848
Also, the rebase happened on Sunday so it wouldn't explain differences between Tuesday and Wednesday.

[2022-10-07 04:48] ikalash commented on #848
Shoot, I diff'ed the wrong files.  There are no diffs then.  Hmmm, this is very puzzling, especially given the timeline.

[2022-10-07 13:16] bartgol commented on #839
Imho, we don't need to include the Linux distro. Win vs Apple vs Linux is important, but linux distros not so much. And we're not trying to support Apple or Win builds, I assume.

[2022-10-07 19:20] ikalash commented on #848
@bartgol : can you please help me troubleshoot this error?  When I look more closely at the output, I see this:

could not locate lib: /scratch/albany/nightlySpackBuild/spack-stage/ikalash/spack-stage-albany-develop-sprfcg4bl7u2oiqauqqpuazgi2ovxndv/spack-build-sprfcg4/dummy/-L/projects/sems/install/rhel7-x86_64/sems/compiler/gcc/9.2.0/base/lib64
cwd: /scratch/albany/nightlySpackBuild/spack-stage/i

[2022-10-07 23:58] ikalash commented on #848
I have some more information:

(1) This is not due to changes to spack.  I verified I pulled an older version of spack, I get the same error.  No idea why it did not show up earlier...
(2) I've verified that this issue is due to changes recently made by @bartgol relating to the exporting of Albany information.  If I checkout 7300b0ca5bd6e71cd4d61edd30b21a5417953a84 of Albany and cherry-pick some r

[2022-10-10 04:14] ikalash commented on #848
So this issue has gone away as mysteriously as it started over the weekend...  it is truly bizarre since I reproduced the issue on 3 machines on Friday.  In any case, closing - hopefully the issue will not start up again.

[2022-10-10 04:14] #848 closed

[2022-10-11 23:29] jewatkins commented on #842
c++17 works on the weaver build

[2022-10-11 23:29] jewatkins commented on #841
The "old" cmake builds work on rhel8

[2022-10-13 00:48] ikalash commented on #842
@jewatkins : do you want me to enable it in the weaver nightlies?  Or, maybe wait for all the other weaver issues to be fixed first?

[2022-10-13 01:03] jewatkins commented on #842
Yes, I think I copied it over to the right directory but maybe I missed something.

[2022-10-13 01:37] ikalash commented on #842
Great!  I checked the nightlies and I see that the weaver one is using the C++17 flags, so I think we are good on weaver.

[2022-10-13 15:27] jewatkins opened #852 "Blake gcc-no-warn build broken"
@bartgol Looks like there were some sign/unsigned comparison issues from your changes to `GatherSolution` yesterday:
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=40432

[2022-10-13 15:29] bartgol commented on #852
Ah, I did those changes to fix some warning, but I guess I ended up creating more. I'll fix them.

[2022-10-14 21:30] bartgol commented on #852
6b6eb0f29 should fix the warnings. We'll see tomorrow (more likely Monday).

[2022-10-17 16:09] ikalash commented on #852
FYI, the warning free build is still broken.  @bartgol can you please have a look?

[2022-10-17 16:50] bartgol commented on #852
Done. 82f3253bb

[2022-10-19 19:54] bartgol opened #853 "Recent refactor of GatherSolution introduced usage of `this` inside KOKKOS_LAMBDA, and yet tests pass"
All the calls to `get_ref`, `get_ref_dot`, and `get_ref_dotdot` are implicitly using `this`. This was not allowed by C++14, but I think CUDA 11 is supporting C++17, including the capture of `*this` in a lambda.

I know Trilinos is about to require C++17 via kokkos, but is that already the case? @jewatkins @mperego @kliegeois do you know?

Using lambdas is much easier to read: no need for declaring

[2022-10-19 20:12] kliegeois commented on #853
@bartgol Kokkos requires c++ 17 to build the develop branch. If I recall correctly, Kokkos 4.0 will require c++ 17 and that will propagate the requirement to Trilinos (and us).

I would say go for it.

[2022-10-19 20:13] bartgol commented on #853
So it's safe to use KOKKOS_LAMBDA that capture `*this`?

[2022-10-19 20:20] jewatkins commented on #853
You need the class one: `KOKKOS_CLASS_LAMBDA`. I tried it a long time ago and it works: https://gitlab-ex.sandia.gov/jwatkin/albany-land-ice-kernel-testing/-/blob/noTrilinos/src/StokesFOResid.cpp#L201
We're still trying to require c++17 in albany testing. We should have it done soon: https://github.com/sandialabs/Albany/issues/842

[2022-10-19 20:26] jewatkins commented on #853
i.e. as soon as all albany nightlies have c++17, you'll be able to push

[2022-10-19 20:33] bartgol commented on #853
Interesting. Well, the thing is, that stuff is already in master. So I wonder how come our tests pass given that I am using a simple `KOKKOS_LAMBDA` macro in `GatherSolution`...

[2022-10-19 20:42] jewatkins commented on #853
Ah okay interesting... not sure why the class one isn't required, maybe they removed the need for it? The c++17 requirement might only be a cuda thing which we already added for our GPU tests: https://github.com/sandialabs/Albany/blob/master/doc/dashboards/weaver.sandia.gov/do-cmake-weaver-trilinos#L128

[2022-10-19 21:32] bartgol commented on #853
I suspect the CUDA version we use is actually already allowing implicit capture of `*this`. That said, in E3SM kokkos ports, I've seen lots of cases where the code "works", but cuda-memcheck complains. I'm gonna switch to KOKKOS_CLASS_LAMBDA in my current branch. Thanks!

[2022-10-19 21:32] #853 closed

[2022-10-20 17:04] mperego commented on #840
We will prune problems/tests according to
https://acme-climate.atlassian.net/wiki/spaces/FAN/pages/3539469051/Albany+tests+and+problems+re-organization

[2022-10-25 17:23] bartgol opened #855 "FieldUtils class purpose?"
What's the point of this class? I see it used in a few places in LandIce, but it appears we can allocate some MDFields, but never use them? Can we purge it?

@jewatkins I saw your name with git blame, so hopefully you know more. Maybe it's a leftover from when you were experimenting strategies for memoization?

[2022-10-25 18:36] jewatkins commented on #855
This is used to allocate/manage MDFields in Albany instead of phalanx to reduce memory. Basically, if we allocate the fields starting on line https://github.com/sandialabs/Albany/blob/master/src/problems/Albany_FieldUtils.cpp#L27 ourselves, phalanx won't create these fields for each evaluation type. For example, without this, `wGradBF` would be allocated more than twice for the residual, Jacobian

[2022-10-25 21:40] bartgol commented on #855
I now see how the fields end up being used. I don't see how it manages to reduce the memory usage (which I suppose came from multiple field managers), but I trust you, so I can close this.

[2022-10-25 21:40] #855 closed

[2022-10-27 04:51] #852 closed

[2022-10-28 00:43] ikalash commented on #842
I created a google sheet that summarizes the nightly builds, so that we can keep track of what has C++17 enabled and what doesn't: https://docs.google.com/spreadsheets/d/1MO6huLBmZr3VKbo27_iQ6F8VYqmItxy0PdbByoub1Nc/edit?usp=sharing .  @jewatkins can you please check that it's accurate?  I think only blake, weaver and some of the camobap builds have C++17 enabled.  I can start working on propagatin

[2022-10-28 00:51] jewatkins commented on #842
I don't think blake-gcc has it yet so I removed those. The rest look good.

[2022-10-28 01:32] ikalash commented on #842
Yes you are right.  Can we activate it in that build, or there is a reason not to?  Also, were you able to get things to work with clang?  One of the CEE builds is clang, so if that one doens't work with C++17, we may want to defer changing it over.

[2022-10-28 16:40] jewatkins commented on #842
Maybe we can try turning it on all runs for one nightly and see how it goes? Then revert if things fail? I haven't tested the blake-gcc build. I think we'll have to upgrade that build too since it's gcc 7.2

[2022-10-28 19:18] ikalash commented on #839
How about something like this for the initial version of names?  The name has the type of OS, the compiler, whether there is a release/debug build and what KokkosNode is used.  I will add the cuda version for cuda builds.  We can add the sfad stuff for cases where a non-default (DFad) fad type is used.

https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany&date=2022-10-28&filtercount=2&

[2022-10-28 19:56] bartgol commented on #839
Imho the OS name is not that important (we're always on Linux anyways), and it is kind of long. Also `Albany` in the name seems a bit redundant. I would keep names short, and add optional build specs at the end (so that the first N are _always_ the same). Something like `${compiler_id_and_version}_${deb_or_release}_${kokkos_node}`, and any additional specifier after that. So I would vote for
[code

[2022-10-28 19:59] ikalash commented on #839
Thanks for the input, Luca.  I kind of like knowing what OS is being run on the machine, but I could cut it.  I would like to include the full version of the compiler not just the integer b/c I think it is useful and b/c it is actually easier for me to do it this (the way I extract the compiler version gives the whole version).

[2022-10-28 19:59] ikalash commented on #839
Also, we need to have either Albany or Trilinos in the name, to distinguish the builds.

[2022-10-28 20:05] bartgol commented on #839
Full compiler version is fine. I think Albany and Trilinos entries should end in separate tabs of the cdash ([e3sm](https://my.cdash.org/index.php?project=E3SM) does that).

If you really want to put info on the OS, I would prob ask to cut some info. I don't think the Linux kernel version is _that_ important (we don't deal with such low level details in our code). Perhaps the architecture, and OS

[2022-10-28 20:24] mperego commented on #839
I vote for adding the OS version only, like `rhel8.x86_64`.

[2022-10-28 20:54] bartgol commented on #839
It's hard to get `rhel8` using bash commands. The best you can do is `lsb_release -rsi` which returns `RedHatEnterprise 8.6`, and then replace spaces with dots. `uname -r` returns the kernels version, which _does_ include `el8_6.x86_64` at the end, but I'm not sure how portable it is to use it do detect distro name. E.g., on rhel8 I get
[code]
but on my personal ArchLinux desktop I get
[code]

[2022-10-28 21:03] ikalash commented on #839
@bartgol , you hit the nail on the head - a lot of these things are hard to get.  I could probably have it put "el8_6.x86_64" with relative ease, from which you can infer the RHEL version.

As a separate note, there is one non-ideal thing that I am doing now but that I cannot figure out how to circumvent, namely I have to pass the path to the mpicc to a function I wrote to get the information (rat

[2022-10-28 21:15] bartgol commented on #839
I'm looking at [this](https://github.com/sandialabs/Albany/blob/master/doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albany.cmake) script assuming that's roughly what you are using (if not the exact same script). Since you have access to `TRILINSTALLDIR`, perhaps you can cat the file `${TRILINSTALLDIR}/lib/cmake/Trilinos/TrilinosConfig.cmake` and grep for `Trilinos_CXX_COMPILER`.

[2022-10-28 21:29] ikalash commented on #839
@bartgol : this would be for the Albany build.  We couldn't do it for the Trilinos build, however, which would be the first one to get posted to CDash in most cases.

[2022-10-28 21:45] bartgol commented on #839
Ah, I see. Can you point me to the ctest cmake script as well as the bash script used to invoke it?

[2022-10-28 21:47] ikalash commented on #839
What do you mean by 'ctest cmake script as well as bash script used to invoke it'?  Are you talking about new stuff I'm working on for how to extract the compiler name, OS, etc.?

[2022-10-28 21:59] bartgol commented on #839
By "ctest cmake script" I mean a script like the one I linked earlier, but for trilinos. But then, that script needs to be invoked from a bash script, with a line that looks something like `ctest -S /path/to/ctestscript.cmake -DCMAKE_COMMAND="<cmake-options>"`. I just wanted to see how we invoke ctest, and the script we feed to it.

[2022-10-28 22:00] ikalash commented on #839
Here is one of the cmake files I updated: https://github.com/sandialabs/Albany/blob/master/doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albany.cmake .  See in particular:  https://github.com/sandialabs/Albany/blob/master/doc/dashboards/camobap.ca.sandia.gov/ctest_nightly_albany.cmake#L56-L89 .  I wrote some helper shell scripts for now to extract / parse the compiler names since I could not

[2022-10-28 22:37] bartgol commented on #839
So, that script is for albany, and for Albany we can just get mpicc from the Trilinos install files (which we can probe from inside the ctest script). As you pointed out, that's not the case for Trilinos.

For trilinos, you must have acces to the `CMAKE_CXX_COMPILER` var, but I suspect it's buried inside `CONFIGURE_OPTIONS`. I got a bit lost in the hops of files that the script create and modify v

[2022-10-30 00:46] ikalash commented on #842
So I tried changing the Trilinos (intel) and CEE intel + clang builds to turn on C++17, and it did not work.  Errors look as follows:

[2022-10-31 14:56] bartgol commented on #842
I've had similar issues with clang inside vim (using it as a background compiler to spot compile-time errors as I write).  Usually, this points to the incorrect libstdc++ headers being used by the compiler. Since clang relies on gcc headers, this might be an issue of clang-gcc compatibility.

One thing that might help with our cdash builds debugging is if we used `-DCMAKE_VERBOSE_MAKEFILE=ON`, so

[2022-10-31 17:04] jewatkins commented on #842
I suspect all of them are due to old gcc compilers since the clang/intel compilers seem new enough. Those things should exist in std if the compiler supports c++17. The intel build seems to use gcc/6.1.0? We'll have to go through each one and update the build. Perhaps we can discuss which builds we want to maintain at the next meeting so we're not reviving builds that we end up removing?

[2022-10-31 18:24] ikalash commented on #842
I will put this on the agenda for the next meeting (although we may not get to it due to the spack discussion that is planned).

It would be great if someone (@jewatkins ?) could volunteer to figure out a new set of modules / build scripts that work with intel and clang on CEE and intel on skybridge.  The skybridge build is particularly out of date, I think - it is using a set of modules, cmake sc

[2022-11-03 16:10] bartgol opened #856 "Perform pre-evaluation on all FM, to complete initialization of disc-dependent structures"
This may become more of an issue with panzer's DOF manager. Right now, some disc-related info is computed on the fly during evaluateFields (possibly cached, if its calculation is non trivial). It might be cleaner to do things in either preEvaluate or, even better, in postRegistrationSetup. Currently, we don't do it pretty much ever, but this PHX phase should be exploited more.

For instance, with

[2022-11-07 19:24] ikalash opened #857 "Timing out SHMIP test in CEE nightly"
The SHMIP_suite_A1 test has been timing out in the CEE gcc nightly for a few days: https://sems-cdash-son.sandia.gov/cdash/test/3035824 .  Can this test be shortened?  It times out after 10 mins in the release build and takes 26 mins (!!!) in the debug build.  This is too long for a regular test in Albany I think...

[2022-11-07 19:50] ikalash commented on #857
I see.  I can just increase the timeout time for now, if the tests are important.

[2022-11-07 19:54] bartgol commented on #857
I think 26m are way too many. Tests should run in less than 5m in DEBUG, and less than 1m in RELEASE, imho. I will work on this hopefully today, if not, tomorrow.

[2022-11-07 20:01] ikalash commented on #857
To be fair, the 26 mins is in the debug build.  I agree with you, but I'm OK with keeping these on the longer side for now until you've had a chance to add additional configure options.

[2022-11-07 20:20] bartgol commented on #857
Ok, that will make my life easier. I will try to get to this in the short term anyways though.

[2022-11-10 19:03] ikalash commented on #842
FYI, I have converted all the nightlies to use C++17 except the ones where it does not work, which is CEE clang, CEE intel and Skybridge intel.  I am pretty sure the problem with these is that the modules / compilers are too old.  I actually tried using newer ones but ran into issues.  We will need to have some volunteer to rework these nightlies so that they can work with C++17.  We can discuss t

[2022-11-15 21:52] mperego opened #862 "Seg Fault when trying to use new MueLu preconditioners for Enthalpy problems"
I get a segmentation fault when using the new MueLu settings provided by Ray Tuminaro for the Humboldt problem.
I tried different settings, below is the error for `P1semR1transP2const`:
[code]
I didn't get much info running dbg.
To reproduce the error, build branch https://github.com/sandialabs/Albany/tree/enthalpy_muelu and run the Enthalpy tests:
`ctest -R Enthalpy_Humboldt_MueLu`

[2022-11-15 22:34] jhux2 commented on #862
@mperego I have an Albany executable on Perlmutter, but that's probably not the easiest platform to debug on.  Is there another machine you'd suggest I build on?

[2022-11-15 23:37] jewatkins commented on #862
blake is probably the best option right now. The gcc build is a debug build so it will run slow but it might give you more information. You can use the binary directly: `/home/projects/albany/nightlyCDashAlbanyBlake/build-gcc/AlbBuildSerialGccNoWarn/src/Albany` or use the trilinos install `/home/projects/albany/nightlyCDashTrilinosBlake/build-gcc/TrilinosSerialInstallGccNoWarn/`

[2022-11-16 00:32] jhux2 commented on #862
I've run the Humboldt test that's on the main branch, just as a sanity check.  This uses the executable that @jewatkins pointed to.  Right after the stacked timer output, which I assume comes the end of the simulation, there are a few errors.  Are these to be expected?
[code]

[2022-11-16 00:35] jewatkins commented on #862
Yes looks like it: https://sems-cdash-son.sandia.gov/cdash/test/3060119 We should probably look into why that's happening. The final result looks correct though.

[2022-11-23 18:28] jewatkins commented on #842
@ikalash I just added cee-clang, cee-gcc configurations here: https://github.com/sandialabs/Albany/tree/master/doc/LandIce/cee
skybridge/attaway are here: https://github.com/sandialabs/Albany/tree/master/doc/LandIce/skybridge
All tests pass with the configuration I have in those directories. Some of the skybridge/attaway tests were a little slow so maybe these could be tuned.

**We should also hav

[2022-11-23 18:48] jewatkins commented on #842
Also on cee, you might need to change `Kokkos_ARCH_SKX` depending on which compute node you're using.

[2022-11-23 18:55] ikalash commented on #842
Thanks @jewatkins !  Did we want to update the CEE gcc build then?  I can do this but wanted to double check.  The current CEE gcc build is working with C++17.

On what cee-compute nodes does ``Kokkos_ARCH_SKX``  need to change, and to what?  Currently the CEE gcc builds run on cee-compute007 and cee-compute025, and the clang one is on cee-compute010 and cee-compute024 (there are 2 of each b/c one

[2022-11-23 19:09] jewatkins commented on #842
Yeah, I was thinking it might be best to update the gcc build so that it's similar to the clang build.

cee-compute007: broadwell -> Kokkos_ARCH_BDW
cee-compute010: haswell -> Kokkos_ARCH_HSW
cee-compute024, 025: Ivy Bridge -> Kokkos_ARCH_SNB
Though these might change? They may have swapped cpus in the past. It might be safer to remove the "ARCH" option. It should still run fine.

[2022-11-24 06:47] ikalash commented on #842
@jewatkins : does the Albany built with your clang run for you?  It doesn't for me - here is the error: https://sems-cdash-son.sandia.gov/cdash/test/3084809 .  It happens when I build the usual way not just with the CDash scripts.

[2022-11-26 01:16] ikalash commented on #842
Also, we should probably add the option to use C++17 in the spack build, right?

[2022-11-26 20:17] ikalash opened #864 "Tests in new clang build on CEE do not run"
See https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=42446 .  I verified that this happens when building the code from scratch using cmake rather than using the nightly cdash scripts.  @jewatkins , can you please have a look?

[2022-11-28 19:54] ikalash commented on #842
Thanks @jewatkins , that would be great.  The clang nightlies run on cee-compute024 and cee-compute010.  You can see the errors on the CDash site.

I have updated spack with the change, am doing some testing before I merge it.

[2022-11-28 20:39] jewatkins commented on #842
I tested cee-compute024 w/ and w/o `Kokkos_ARCH_SNB` and it works. Maybe you forgot to remove `Kokkos_ARCH_SKX`?

[2022-11-28 20:41] ikalash commented on #842
I did indeed forget to remove ```Kokkos_ARCH_SKX``` in the clang build (I did it in the gcc).  I'll make the change and hopefully the issue will go away tomorrow.  Thanks!

[2022-11-28 21:23] bartgol commented on #842
Imho, we should keep the arch option. In kokkos, it should trigger the correct AVX flags as well as other (potentially) relevant optimization flags. In production runs, we likely _do_ want those flags on, so we should test the code with the correct arch enabled.

[2022-11-28 21:50] jewatkins commented on #842
My preference is to include the arch option but since these are dev builds (who knows what type of cpu folks run on while developing, especially if they're running on cee-compute), I think it's okay to have it off. The production builds have the arch flag (skybridge/attaway/blake/weaver/cori/perlmutter/etc).

The current cee-compute cpus being used are not really relevant for production. Maybe bro

[2022-11-28 21:58] bartgol commented on #842
Ah, I understand. I am a bit puzzled on why we need those builds then, to be honest. What's the difference between a dev build and a production build?

[2022-11-28 22:03] jewatkins commented on #842
I think just to have a clang/gcc build. Irina has some preferences too. I think it would be nice to have a single/consistent clang build we could all use for clang-tidy and other features in the future but maybe that's just me hoping for the best :)

[2022-11-28 22:10] ikalash commented on #842
I think a "production" build is one where performance is of interest or doing science runs; dev builds are those that verify that bugs haven't been introduced into the code through Trilinos/Albany changes.  I don't see the CEE builds as production builds.  The confusing thing about having the ARCH options in the CEE scripts is that a user will not know that it matters, will attempt to run the code

[2022-11-28 22:32] bartgol commented on #842
I think I'm missing something then. Since we're running the same tests in all builds, why do we need the CEE builds? Aren't the prod builds already checking for bugs? Or are the prod builds only running with RELEASE build type?

If prod builds are only running RELEASE build type, perhaps we should simply run them twice (DEBUG and RELEASE) on those machines. It might be easier to maintain 2 builds

[2022-11-28 22:37] ikalash commented on #842
I also like having the builds so that I can go and develop on CEE using scripts I know work.  I do that a lot.

[2022-11-29 19:58] ikalash commented on #864
I have verified that removing the "Kokkos_ARCH" option fixes the problem.  Thanks @jewatkins !

[2022-11-29 19:58] #864 closed