[2020-02-05 19:59] ndellingwood commented on #555
@bartgol thank you for the added info. I haven't reproduced in Trilinos and will give you an update what I tried so far and some comments regarding the failure messages and how they may relate to the information you've provided. Could I also get a Trilinos configuration used in this build?

Based on the output of the failing Albany test, I took a guess at a few packages to enable in hopes of getti

[2020-02-05 20:40] bartgol commented on #555
@ndellingwood Mmm, given that your ThyraTpetraAdapters tests passed, I'm leaning towards the "it's our fault" diagnosis.

Could you please comment on my last post? Basically, are un-initialized Tpetra (multi)vectors a potential source of these errors? Do we need to explicitly initialize them before we do an import/export operation?

[2020-02-05 21:55] ndellingwood commented on #555
@bartgol

I'm not certain on the Tpetra side if this is a source of error, and would have to look at the code in more detail (a Tpetra developer may be able to answer more quickly), in particular I need to understand how the MVs (which use dual views) are constructed without initialization.
With dual views, it is possible to construct a dual view from uninitialized views which will be marked as ha

[2020-02-05 22:43] bartgol commented on #555
@ndellingwood I think the relevant piece of code for those mv construction is this (from Tpetra_MultiVector_def.hpp):

[code]

If this is how the dual view is created, could there be issues? It looks like the device view is marked modified, and the comment there seems to be related to the fact that the views are out of sync. Now, what would happen if this multivector was fed as the destination vec

[2020-02-05 22:46] bartgol commented on #555
Actually, I'm going to try to hack the ImportExport_UnitTests.cpp in Tpetra, to verify my conjecture. I'll post here the result.

[2020-02-05 23:46] ikalash commented on #555
Thanks for looking into this @ndellingwood .  If you'd like to try to reproduce this, the configure options used in the nightlies for Trilinos can be found here: they are the union of https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/ctest_nightly.cmake#L441-L573 and https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/cee-compute011.sandi

[2020-02-06 00:01] bartgol commented on #555
No. The fact that either src or dst were not initialized does not seem to affect import/export operations.

[2020-02-06 00:21] ndellingwood commented on #555
@bartgol Just finished up a couple meetings, I spoke with Karen about the vector ctor and she shared essentially what you posted above, that there is an option to set `zeroOut=false` which hits the code path you have posted, where an uninitialized device view is created, then its host mirror, and then the device view is marked modified (so the flags are out of sync at this point).

The question se

[2020-02-06 00:43] ndellingwood commented on #555
@bartgol just to check, you had `-DKokkos_ENABLE_DEBUG_DUALVIEW_MODIFY_CHECK=ON` in your configure?

[2020-02-06 01:20] ndellingwood commented on #555
@bartgol I have this reproduced in Trilinos, will work on it and keep you updated.

[2020-02-06 03:17] mperego commented on #555
@ndellingwood  that's great! Thanks for working on it!

[2020-02-06 06:46] ndellingwood commented on #555
So far I've chased down where the `modify_device` call happens in Tpetra that triggers the DualView error, but it's not clear to me if it is due to some misuse elsewhere in Trilinos.

Error is triggered in `tpetra/core/src/Tpetra_MultiVector_def.hpp` in the `packAndPrepare` routine after a check if a realloc is necessary by `reallocDualViewIfNeeded` - in the error-triggering case `packOnHost` is f

[2020-02-06 07:42] ndellingwood commented on #555
Follow on to previous message:

There is a comment prior to setting the `exports` modify flags (host vs device is determined earlier, the flags are being set in anticipation of computation later in the routine), the comment mentions that the `exports` flags will be cleared after resizing, but the `reallocDualViewIfNeeded` only calls resizes if the sizes differ else it simply returns without doing

[2020-02-06 17:03] ndellingwood commented on #555
@bartgol @mperego @ikalash I put in a PR to Trilinos with a potential fix, trilinos/Trilinos#6768

[2020-02-06 20:14] ndellingwood commented on #555
@bartgol @mperego @ikalash PR  trilinos/Trilinos#6768 just merged into Trilinos develop branch, hopefully this resolves the problems you are seeing.

[2020-02-07 18:25] ikalash commented on #555
Seems this has fixed most of the test failures, with the exception of the RigidBody tests: http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=5368064&build=92956 .  Any thoughts on why that test might still be having the issue given the Trilinos PR that was merged in?

[2020-02-07 18:50] ikalash opened #556 "Slowdowns in all tests on Mayer"
Looks like the Albany tests all got much slower a couple days ago on Mayer (an ARM machine) - see attached plot for example for total run time of one of the LandIce GIS problems (https://my.cdash.org/testDetails.php?test=54096128&build=1770920).

![timings](https://user-images.githubusercontent.com/7018124/74072436-abe75d00-49bb-11ea-860f-7bf2bde5c8db.png)

Could it be due to some of the Kokkos ch

[2020-02-07 21:55] ndellingwood commented on #555
@ikalash I just put in a PR trilinos/Trilinos#6782 to fix an occurrence of this issue in Panzer, hopefully that is the final fix needed for the test failures.

[2020-02-07 22:32] mperego commented on #555
@ndellingwood I doubt that PR trilinos/Trilinos#6782 will fix the issue. We do not use Panzer Dof Manager in Albany. Anyway thanks for looking into this so quickly.

[2020-02-10 04:52] lxmota opened #557 "TEUCHOS_TEST_FOR_EXCEPTION macro allows silent syntax errors"
While working on a separate fork of LCM, I discovered that there are syntax errors that are silenced by the TEUCHOS_TEST_FOR_EXCEPTION macro. See for instance:

https://github.com/SNLComputation/Albany/blob/master/src/LCM/utils/dtk_interp_and_error/dtk_interp_and_error.cpp#L267

https://github.com/SNLComputation/Albany/blob/master/src/LCM/utils/dtk_interp_and_error/dtk_interp_and_error.cpp#L329

W

[2020-02-10 15:37] bartgol commented on #555
@ndellingwood Thanks for taking the time to track it down!

[2020-02-10 16:15] bartgol commented on #555
@ikalash I think the RigidBody test may have other issues. The initial condition passed to NOX has zero-residual, which is very suspicious at best. I'm not excluding the presence of a DV sync bug still, somewhere in Albany or Trilinos, but it may be worth finding out why f=0 at iter 0 first; might be the crash will disappear when that's fixed.

[2020-02-10 17:27] bartgol commented on #555
Btw, I think we do have an issue in dual view handling, specifically when it comes to using  `getLocalDiagCopy` from Tpetra_CrsMatrix. I think we need to init the vector to 0, or, better, to use the trick used in the fix by @ndellingwood to _ignore_ modified flags, since getLocalDiagCopy overwrites everything anyways (the issue is that it starts by marking it modified on host before launching the

[2020-02-10 20:37] jewatkins commented on #556
It looks like the kokkos configuration options changed so that's probably what's affecting performance (probably on all archs too). Let me see if I can change all the config files.

[2020-02-11 00:14] ikalash commented on #556
Thanks Jerry!  I thought it might be some issue like this.  We can see tomorrow if your changes had an impact.

[2020-02-11 20:47] ikalash commented on #557
Seems that this is a bug in the Teuchos macro.  We should talk to the Trilinos team.  I'm not sure who is the POC for Teuchos - @bartlettroscoe , are you the POC?  If not, perhaps you can point us to the right person to contact.  Should we open a Trilinos issue on this?

@trilinos/teuchos

[2020-02-11 20:53] bartlettroscoe commented on #19
The bottom line is that if your code can't provide the "basic guarantee", it needs to abort and not thrown an exception.  But if you do abort, it is still nice to produce a nice error message.  assert() does not produce a nice error message.

[2020-02-11 20:54] bartlettroscoe commented on #557
@ikalash, yes I wrote all of that stuff about 15 years ago.

Not sure what to do about situations like this:

[code]

when you mean to write this:

[code]

Note that you need to write unit tests that trigger exceptions like this so any syntax errors will be caught by your test suite when you don't generate the error message that you expect.

[2020-02-11 22:41] ikalash commented on #555
It seems we're getting NaNs now in an Aeras test:

Aeras_TC5_explicitHV_nu8e15_vort_BackwardEuler

http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=5381032&build=93063

[code]
@bartgol: could this be due to your changes?

[2020-02-11 22:50] ikalash commented on #556
Seems the changes by @jewatkins did not fix the problem.  Per the discussion at the Albany meeting today, the next steps I think are as follows:

1.) Look at Trilinos config settings before/after the slowdown started (@jewatkins )
2.) Build Trilinos from before slowdown started and run it to check if slowdown is due to environment change on mayer (likely it is not)
3.) Build Trilinos with some tes

[2020-02-11 22:51] bartgol commented on #555
I doubt it.

[2020-02-11 22:53] ikalash commented on #555
How about some of these ```zeroOut=true``` options discussed above?

[2020-02-11 23:00] bartgol commented on #555
The way vectors are init-ed is still the same: no zero-out by default on the ThyraTpetraAdapters side. Nothing in terms of vector content should have changed, I think. The only difference is how we handled the DV syncronization, but that should not generate nans where there were none before.

[2020-02-11 23:02] mhoemmen commented on #555
In debug mode with `zeroOut=true`, Tpetra::MultiVector prefills with NaNs to help debugging.

[2020-02-11 23:04] bartgol commented on #555
@mhoemmen so in debug mode Tpetra does not actually zeroOut the vector? Or is it that it does two passes, one filling with NaNs, and one filling with 0's? Also, are NaNs FPE safe (meaning quiet_NaN)?

[2020-02-11 23:25] ikalash commented on #555
@mhoemmen : thanks for the tip - I was guessing something like this might have started happening.  One somewhat puzzling this is the NaNs show up in non-debug builds...

[2020-02-12 04:34] mhoemmen commented on #555
@bartgol wrote:

`zeroOut=true` _always_ means "fill the entries with zeros."  In debug mode, `zeroOut=false` means ["fill the entries with quiet NaNs"](https://github.com/trilinos/Trilinos/blob/master/packages/tpetra/core/src/Tpetra_MultiVector_def.hpp#L203).

[2020-02-12 04:35] mhoemmen commented on #555
@ikalash wrote:

Tpetra has been doing that for years, though.

[2020-02-12 04:35] ikalash commented on #555
I don't get why we get NaNs now w/ a non-debug build...

[2020-02-14 16:06] ikalash commented on #554
Here are links to some documentation written by folks at RPI (from @RuixiongHu):

- This is relatively an old one last updated Dec 2018:

https://docs.google.com/document/d/13ykygkFa8IIl9SlEsvbTTzLsQUSrHwqR9kRMX8iaMPI/edit?usp=sharing

- This is a new one that Jacob is working on:

https://docs.google.com/document/d/1-467C6fdJTE3rjg_GlbedfBfwepd9LSa-eI5qyH74AQ/edit?usp=sharing

[2020-02-14 16:08] ikalash opened #558 "Failing Aeras test due to NaN residual norms"
This is a spin-off from issue #555 .  The Aeras_TC5_explicitHV_nu8e15_vort_BackwardEuler test is failing due to NaN residual norms:

[code]
In the builds on my workstation.  Curiously, the error occurs in the non-debug builds, which seems to contradict the discussion in issue #555 .

[2020-02-14 16:09] ikalash commented on #555
The lingering issue with the one Aeras test has been moved to issue #558.

[2020-02-14 16:09] #555 closed

[2020-02-14 16:12] ikalash opened #559 "Seg fault in SteadyHeat2D_Dakota_uniform in debug build on camobap"
http://cdash.sandia.gov/CDash-2-3-0/viewTest.php?onlyfailed&buildid=93156

[code]

[2020-02-14 19:29] ikalash opened #560 "LCM/ACE: Neumann BCs are not set correctly for 'T' and 'all' variables for ThermoMechanics problems"
When attempting to set Neumann BCs for temperature, Neumann BCs are actually set for the 2nd component of the displacement.

Something wonky is happening also when setting a Neumann BC for 'all' the variables.  Lets say we want to set a Neumann BC of [a, b, c, d] for [sig_x, sig_y, sig_z, T] using the 'all' string.  What will happen in the code is the following Neumann BC will be set: [sig_x, sig_

[2020-02-14 19:42] ikalash commented on #560
Correction: I misunderstood what the string 'all' is intended for.  It is intended to set only the tractions ([sigma_x, sigma_y, sigma_z] vector, 3D), not any additional variables (e.g. temperature).  An error should be thrown if attempting to use the 'all' NBC and giving it an array having length > number of spatial dimensions.  The wonky behavior is still present even when using the 'all' NBC ca

[2020-02-16 17:08] ikalash commented on #558
Closing - seems this issue has gone away on its own.

[2020-02-17 01:48] ikalash commented on #560
Should be resolved in master as well as @lxmota 's ACE fork.

[2020-02-17 01:48] #560 closed

[2020-02-19 05:35] ikalash commented on #559
I have looked into this and this is a symptom of a larger potential problem.  Basically for 3 of the Dakota tests:
[code]
when we try to get the final solution following a Dakota run, we are getting a vector of length 0.  Sometimes that causes a seg fault when trying to write out the said vector.  The specific line in the code I am referring to: https://github.com/SNLComputation/Albany/blob/master

[2020-02-19 05:36] ikalash commented on #559
Excerpt from an email exchange I had with @briadam on what could be happening:

"I’d guess either the optimizer in use isn’t properly publishing its optimal solution, or the Dakota Environment isn’t properly forwarding the accessor to the underlying Dakota method. Either way, that would be a regression due to lack of test coverage on our side, I’d guess. I’ll try to look a bit deeper to see what m

[2020-02-19 13:37] briadam commented on #559
Thanks for narrowing down a pattern in the failing cases. I'm surprised these only recently caused a problem. Dakota parameter studies only return a "best" set of variables/responses, when the response type is `objective_functions` (for optimization). It would be nice if Dakota's API politely communicated this.

For now, I suspect that changing `num_response_functions = 1` to `num_objective_functi

[2020-02-19 15:50] jewatkins commented on #556
FYI, still haven't gotten around to this yet

[2020-02-19 15:50] ikalash commented on #559
Thanks for looking at this @briadam .  Your suggestion fixes the problem!

[2020-02-19 15:51] ikalash commented on #556
I'm pretty sure the problem is that I am running the tests on the head node.  I should have a fix soon.

[2020-02-19 15:53] jewatkins commented on #556
Okay great thanks

[2020-02-19 16:59] JustinClough opened #562 "How to see which elements are on which processors?"
Is it possible to see which elements or degrees of freedom were handled by which mpi ranks after a parallel solve in Albany? Possibly just an element coloring in paraview?

If it matters, I'm using gmsh 4.1 meshes which are built into the STK reader and then writing the results as exodus files.

[2020-02-19 18:05] ikalash commented on #559
I take it back - seems there's an issue for one of the tests that uses sampling.  The test dies almost right away with an MPI error.  Then when I look at dakota.res, it says ```Error: random_sampling requires active variables.```  Does the .in file need to change, @briadam ?  It is here: https://github.com/SNLComputation/Albany/blob/master/tests/small/SteadyHeat2D/dakota_uniform.in .

[2020-02-19 18:05] bartgol commented on #562
The stk mesh should save a `GlobalNodeId` field, as well as a `GlobalElementId`. With N ranks, if you open only the `mesh.exo.N.0` file, you can see the ids of the entities processed by rank 0, and so on.

[2020-02-19 18:09] bartgol commented on #562
[](
![stk_id](https://user-images.githubusercontent.com/3226046/74861880-4cb51100-5308-11ea-9e0e-60ff5211af68.png)
)

[2020-02-19 18:16] bartgol commented on #562
![stk_id](https://user-images.githubusercontent.com/3226046/74862349-39ef0c00-5309-11ea-9ba3-c097e56c1e54.png)

[2020-02-19 18:26] bartgol commented on #562
Uhm, I can't get paraview to open a _single_ exodus file (it always displays the whole mesh), maybe I'm doing something wrong. Anyhow, stk meshes should also export a `proc_rank` field. Unfortunately, it's marked as a `MESH` field, rather than `TRANSIENT`, which I _think_ prevents the field from being displayed in paraview. You can try and hack the `OrdinarySTKFieldContainer` (or the Multi one) to

[2020-02-19 18:46] ikalash commented on #562
I typically display the decomposed files in CUBIT.  I could never figure out how to do it in Paraview.  In CUBIT, you go to File -> Import, I believe, and import your *.g or *.exo (or other) files.  If there is a set of decomposed ones, they will show in different colors by proc.

[2020-02-19 19:32] JustinClough commented on #562
Okay, I got the element and node id numbers to show in Paraview like in Luca's picture.

After some playing around, I found the way to open only the N'th part in paraview; you have to either move it (the rank's result file) to its own directory or change the file name. It looks like paraview will always open all `results.exo.N.*` files even if you only specify one of them so long as they share the

[2020-02-19 19:32] #562 closed

[2020-02-19 19:45] ikalash commented on #562
Do you have CUBIT, Justin?  You should be able to do what you want in CUBIT.  If this is just for a visualization to put in a talk/paper, I can send you the picture from CUBIT if you send me the *.exo files.

[2020-02-19 20:26] briadam commented on #559
Sigh, I caused you a different problem by fixing that one. Changing to `objective_functions` caused the default variables view to change to design variables instead of all (https://dakota.sandia.gov//sites/default/files/docs/6.11/html-ref/variables-active.html). You should be able to add `active uncertain` (or `active all` to be more aggressive) to the variables block, e.g.,

[code]

[2020-02-19 22:10] ikalash commented on #559
That did the trick - thanks @briadam !

[2020-02-19 23:18] JustinClough commented on #562
I don't have CUBIT; I have looked at installing it but I'm not eligible to get a license.

I originally asked just out of curiosity. I would like (eventually) to show the partition of some mesh in a talk or paper; I'll take you up on the offer then! Thanks for offering!

[2020-02-19 23:32] ikalash commented on #559
Oh, right, seems you can only download it if you're at Sandia or a related project: https://cubit.sandia.gov/downloads.html .  That's annoying.  Feel free to ping me when you need the picture.  It would look something like this:

![gis_partition](https://user-images.githubusercontent.com/7018124/74886451-11790900-532d-11ea-8317-7647a1ac615f.jpg)

[2020-02-20 15:47] ikalash commented on #556
My theory was correct.  Issue has been resolved by switching to compute node for running tests.  This should have been done awhile ago but I never got around to it...

Attached is a picture showing that the test times have gone back down.

![Screenshot_2020-02-20 CDash Albany](https://user-images.githubusercontent.com/7018124/74952552-44ff7600-53b5-11ea-9a6a-bab6f228aa2b.png)

[2020-02-20 15:47] #556 closed

[2020-02-20 15:49] ikalash commented on #562
Oh, right, seems you can only download it if you're at Sandia or a related project: https://cubit.sandia.gov/downloads.html . That's annoying. Feel free to ping me when you need the picture. It would look something like this:

![gis_partition](https://user-images.githubusercontent.com/7018124/74952746-8c860200-53b5-11ea-87df-6e81c1d0f87f.jpg)

(I originally commented on the wrong issue...  sigh...

[2020-02-20 15:50] ikalash commented on #559
Nightlies are clean again.

[2020-02-20 15:50] #559 closed

[2020-02-20 15:58] ikalash commented on #558
Seems this is still happening on Mayer...

https://my.cdash.org/testDetails.php?test=54549937&build=1777685

[2020-02-21 18:30] #558 closed

[2020-02-25 17:04] ikalash opened #565 "test"
test

[2020-02-25 17:04] #565 closed

[2020-02-26 18:34] ikalash opened #566 "TDM: failures in Clang build on CEE"
It looks like the new TDM tests fail on CEE with a Clang compiler due to NaNs getting into Belos:

[code]
http://cdash.sandia.gov/CDash-2-3-0/viewTest.php?onlyfailed&buildid=93465

This is similar to #558, and I think it has to do with uninitialized fields being set to NaNs.  I'm somewhat stumped by this issue in general.  It's bizarre to me in particular that it does not happen in the debug build

[2020-02-26 19:52] RuixiongHu commented on #566
Hello, I've never seen similar issues on Linux machines I used previously.
My macbook do use Clang but I don't know if that CEE is a Sandia specific
tool, I could build it on my mac and reproduce the problem, if you think
this is doable.

What's more, someday I'm going to build it on a Power9 machine which is
similar to Summit, and if this is a related issue then I guess I would have
to fix it any

[2020-02-28 18:22] ikalash commented on #566
Thanks for offering to look at it @RuixiongHu .  Let me spend a little bit of time looking at it myself first.  Seems this issue crops up sporadically as a Heisen-bug in some other tests on certain platforms, e.g. mayer: https://my.cdash.org/testDetails.php?test=54825944&build=1781775.
 Hopefully in the next couple of days... stay tuned!

[2020-02-29 05:18] ikalash commented on #566
@RuixiongHu : I just fixed this.  The issue was you had a duplicate uninitialized local variable, initial_porosity, that conflicted with the member variable porosity.  With clang, the initialized variables seem to be set to nan.

I have a feature request for TDM.  I noticed you are using tabs in the source code for each line.  Can you please use spaces instead?  Each for loop should have two space

[2020-03-01 18:42] #566 closed

[2020-03-05 17:23] ikalash commented on #553
I set up some nightly spack builds earlier in the week on my 2 linux workstations.  @mperego: is there any interest in having a spack build somewhere like cori (I'm thinking for Matt, Steve, et al.)?  If they just use our executables there, maybe this is not needed.

[2020-03-05 17:35] mperego commented on #553
@ikalash Thanks. Probably it's not needed at the moment, but I'll keep in mind that we have that option!

[2020-03-05 18:06] ikalash commented on #553
Thanks @mperego , I figured.

[2020-03-05 18:06] #553 closed

[2020-03-19 22:34] ikalash opened #568 "Migrate Albany to new sems-supported CDash site"
Also change format of tests such that they are compatible with scripts written by Ross Bartlett for easy summary of passes/fails/diffs, etc. (single email summarizes entire dashboard compared to dozens of emails).

[2020-03-19 22:36] ikalash commented on #568
After almost 6 months, the site finally has been set up and I am able to push to it from SRN machines (some work is required for SON machines)!  Here is the site: https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany .  I will gradually migrate all the nightlies from our SRN site ( http://cdash.sandia.gov/CDash-2-3-0/index.php?project=Albany ) and ultimately SON site (https://my.cdash.o

[2020-03-19 22:39] lxmota commented on #568
@ikalash Do we need to just point to the new CDash URL, or is there anything else that we need to do to use the new dashboard?

[2020-03-19 22:46] ikalash commented on #568
@lxmota : good question.  The scripts will have to be modified for the new CDash.  One of the things that will need to change is to eliminate the use of subprojects.  The way we are using it currently is wrong apparently (according to Ross) and I actually agree with this.  It doesn't make sense for each build to be its own subproject.  Anyway, I don't intend to take down the old site or anything s

[2020-03-19 23:26] lxmota commented on #568
@ikalash Ok, that sounds good. I don't want to pile on more work on you, so when you have an example that does no use subprojects, I can give it a try. All that needs to be changed is in the Albany/doc/LCM/build/*.cmake files.

[2020-03-20 03:05] ikalash commented on #568
@lxmota OK sounds good.  I will be modifying similar scripts in the LCM_and_LandIce directory in the master branch for the skybridge nightly.  The changes should be pretty much the same for your builds.

[2020-03-22 18:36] ikalash commented on #568
@lxmota: I've switched over the skybridge build to push to the new CDash.  To change the proxima/algol builds, the same changes done here need to happen in the LCM directory: https://github.com/SNLComputation/Albany/commit/54a8e98fe93bb9e6f51a84b5b24c74ff55f498a8 .  Are you OK with me making the changes?  It should not take me very long since I know what they are, having just done this for skybrid

[2020-03-22 20:15] lxmota commented on #568
Hi Irina,

Yes, that would be totally fine. Thanks for doing this!

Alejandro

Sent from my iPhone

On Mar 22, 2020, at 11:37, Irina K. Tezaur <notifications@github.com> wrote:

﻿

@lxmota<https://github.com/lxmota>: I've switched over the skybridge build to push to the new CDash. To change the proxima/algol builds, the same changes done here need to happen in the LCM directory: 54a8e98<https://gi

[2020-03-22 23:56] ikalash commented on #568
Sure!  I've made the changes and will push them tomorrow.  I'd like to check that the existing builds post correctly before I push new ones.

[2020-03-23 17:11] ikalash commented on #568
@lxmota : I just made the chance (in your fork).  I will check tomorrow that things are posting correctly to the new site.

[2020-04-06 20:56] ikalash opened #569 "Changes to Albany master"
As I mentioned at the Albany weekly telecon a couple weeks ago, we are planning to make some changes to Albany master to make it easier to develop and support the code for the Land Ice application, the primary funding source for Albany currently within Sandia.  We are envisioning three "branches" of Albany going forward:

1. Albany LCM - this is in the following fork created by @lxmota : https://g

[2020-04-06 22:04] bartgol commented on #569
Note: if something has a decent change of being useful in the future (even if not necessarily to LandIce) and requires little maintenance, it will *not* be pruned.

As Irina pointed out, our pruning is driven by the fact that LandIce is paying most of the albany core development, and the upcoming block discretizations have the potential to break a lot of code.

If you are an Albany developer, and

[2020-04-09 16:14] ikalash opened #572 "Timeouts in ALI tests in CUDA builds"
It looks like a couple days ago, the following LandIce tests began timing out in our CUDA builds (ride, waterman):

[code]
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=561
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=545

I believe @jewatkins is looking at this already.  Creating the issue to document.

[2020-04-09 16:34] jewatkins commented on #572
Those actually might be separate issues. Two of those are out of memory errors similar to the error I always get when I try to use muelu on gpus. It'd be interesting know what caused this test to start failing since it probably should have been caught sooner.

The first one might be related to the performance issue we're having on blake but I'm not sure.

[2020-04-09 16:46] ikalash commented on #572
Maybe I should open a Trilinos issue.  It looks like the issues started on waterman on 4/8 (ride was down at the time but I'm sure it would have happened there).  I don't think we made any changes to Albany on 4/7 that would have broken things on the Albany side.

[2020-04-10 16:59] ikalash commented on #572
This issue was resolved by adding the appropriate option under MueLu (see https://github.com/trilinos/Trilinos/issues/7149 for more info).

[2020-04-10 16:59] #572 closed

[2020-04-21 11:07] JustinClough opened #574 "Row of Zeros in Jacobian for MechanicsWithTemperature Problem"
I'm trying to add temperature as a DOF to the same panel-problem I've been working on. (Same as what I presented on back at the user's meeting.) I tried to follow [this example](tests/small/LCM/MechanicsWithTemperature/LinearThermalExpansion.yaml) but I'm getting an error that reads:
[code]
I take this to mean there's a row of all zeros in my Jacobian; is that correct? My first thought was to chec

[2020-04-21 20:42] JustinClough commented on #574
Related, what does the `Thermal Transient Coefficient` represent/do?

I've found that it's assigned in the MechanicsWithTemperature module as a material parameter (examples [here](https://github.com/SNLComputation/Albany/blob/e50c9f099962cf3a0ca5475e3bedfb31fd5206cd/tests/small/LCM/MechanicsWithTemperature/MechanicsWithTemperatureMaterials.yaml#L36), [here](https://github.com/SNLComputation/Albany

[2020-04-21 21:14] lxmota commented on #574
@JustinClough The thermal transient coefficient is just a switch to turn on or off terms that depend on the time derivative of the variable in question. In your case, tdot. If these transient terms are significant in your simulation, the transient coefficient should be 1.0.

As for the Jacobian being potentially singular, I see that you are using very different settings for the solver to those I n

[2020-04-21 21:16] ikalash commented on #574
@lxmota : thanks for helping Justin!  Justin needs SCOREC, so I am afraid he cannot use your fork.

[2020-04-21 21:19] lxmota commented on #574
@ikalash As far as I know, he is using Gmesh, as I remember when I worked with him in ABQ, and from the input files above.

But you are right, if @JustinClough requires SCOREC, I removed that from my fork.

[2020-04-21 22:17] ikalash opened #575 "Create tag for current master of Albany"
I plan to do this tomorrow, 4/22/2020.  If anyone has concerns/objections, please voice them here.

[2020-04-22 11:23] JustinClough commented on #574
@lxmota Thanks for explaining the thermal transient coefficient variable. I swapped out the solver in my input for yours and (after some more tweaking) it seems to be working!

Yes, I am using Gmsh for geometry and meshing. I'm planning on sharing a fork soon with the group from RPI and they'll need SCOREC compatibility. I will keep your fork in mind.

I'll leave this issue open for now and update

[2020-04-22 16:15] ikalash commented on #574
Glad to hear it's working @JustinClough !  Regarding SCOREC: I think RPI is moving away from SCOREC as well, at least this is what Antoinette said a few weeks ago.  Perhaps given this situation it makes sense for USC and RPI to work in @lxmota 's branch?  @RuixiongHu can probably weigh in.

[2020-04-22 17:18] ikalash commented on #575
I just created the tag.  It can be found here: https://github.com/SNLComputation/Albany/releases/tag/Old_master_support_end .

[2020-04-22 17:18] #575 closed

[2020-04-22 17:18] ikalash commented on #569
Since we have discussed this and made a decision to move the current master of Albany to a tag (https://github.com/SNLComputation/Albany/releases/tag/Old_master_support_end), I will go ahead and close this issue.

[2020-04-22 18:10] ibaned commented on #569
Has this been discussed with people from RPI?

[2020-04-22 18:15] lxmota commented on #569
@ibaned @ikalash I believe yes, and that RPI is also moving away from SCOREC. Not sure if they are going their own way or using my fork going forward:

https://github.com/SNLComputation/Albany/issues/574#issuecomment-617879162

[2020-04-22 18:24] ibaned commented on #569
you mean moving away from Albany?
Well, as long as they know, that's fine.

[2020-04-22 18:24] #569 closed

[2020-04-22 18:27] lxmota commented on #569
@ibaned Sorry, I meant moving away from SCOREC, as per @ikalash comment. Based on that comment, it appears they are aware, but I haven't attended the Albany meetings for a while, so I can't confirm first hand.

[2020-04-22 18:29] ibaned commented on #569
We're in some confusion here of our own creation: SCOREC is the name of the center within RPI where the people we collaborate with work. It was probably a bad idea to name any directory or code component after an institution (which is not going away), but there it is.

[2020-04-22 18:32] lxmota commented on #569
Right. Then it's PUMI or whatever name that mesh database has nowadays.

[2020-04-23 01:53] gahansen commented on #450
Sorry for missing out on this issue @ikalash and @bartgol - the discussion above is mostly correct. MultiSTKFieldContainer was created to break out components of the solution vector, and I intended to get rid of the Ordinary one when the opportunity presented itself - I never tackled the final step. Given today's prune perhaps I should finish this. On the other hand, perhaps I should replace both

[2020-04-23 02:24] ikalash commented on #450
That's a good question about DTK.  I did have a utility in LCM that allowed one to compute relative errors of a solution w.r.t. a solution on a reference (fine) mesh.  I think it was useful.  Probably it got removed.  That's the only thing I can think of right now that uses DTK that might be useful to LandIce.

[2020-04-23 03:05] bartgol commented on #450
We don't support multiple grids in LandIce for now, so perhaps we don't need DTK.

As for the field container, I vote to keep them both there for a few weeks. When we are done with the block discretization, we might create a new field container, and prune all the other ones.

[2020-04-23 03:16] ikalash commented on #450
The utility I was talking about doesn't require multiple grids in the code.  It would be a post-processing for error analysis.

[2020-04-24 10:52] JustinClough commented on #574
Sorry for the late reply. I tried using the solver parameters that you gave above, @lxmota. It was able to take a few time steps but only by reducing the step size ridiculously small. I found a step size of 0.1s to work for just the mechanics problem but this was reducing it to 10^-7.

Is there any reason why the issue I was having with the direct solver wouldn't also come up with the iterative so

[2020-04-24 12:49] maxrpi commented on #574
Is that a cut and paste from your input file? Because you've mistyped
|MatrixMarket.|

On 4/24/20 6:52 AM, Justin Clough wrote:

[2020-04-24 15:17] JustinClough commented on #574
No, not a cut and paste but thanks for catching the typo. It is spelled correctly in the input file, I just mis-typed when I wrote that comment.

[2020-04-24 15:31] ikalash commented on #574
Try setting it to -1.  That will dump all the Jacobians.

[2020-04-24 22:14] JustinClough commented on #574
Now that I have the Jacobians from my problem, it looks like the very first one Albany constructs has all zeros in every 4th row. Any Jacobian after that (either in the same time step but a different Newton solve, or in another time step) looks fine. I didn't check any values by hand, just going by the magnitude of the non-zeros and where they are in the matrix.

I did some digging and found that

[2020-04-27 04:13] ikalash commented on #574
The issue is what I hypothesized when you first mentioned this issue.  The temperature gets evaluated here: https://github.com/lxmota/Albany/blob/master/src/LCM/evaluators/transport/TransportResidual_Def.hpp.  You will see there is a lot of logic there to add to the evaluator only if delta_time_(0.0) > 0, e.g. https://github.com/lxmota/Albany/blob/master/src/LCM/evaluators/transport/TransportResid

[2020-04-27 16:11] ikalash opened #578 "Unit test exe not found"
I'm seeing that the new unit tests
[code]
are failing in the nightlies.  It looks like it's due to the executable tests/unit/evaluators/evaluator_unit_tester not being found.  @gahansen , do I need to enable something for the executable to build?

[2020-04-27 20:05] bartgol opened #579 "Small refactor to remove inverted dependencies in Albany"
I thought about the issue of circular dependencies in Albany. The main issue is with the various factories (or factory-like) classes in Albany, which require knowledge about the subpackages.

After thinking about it, I think we should do something like this:

1. For each factory type XYZ (e.g., ProblemFactory), create a base abstract class (e.g. ProblemFactoryBase), and have only the "generic" Alb

[2020-04-27 20:41] jewatkins commented on #579
This sounds good to me.

[2020-04-27 20:50] bartgol opened #580 "Remove xml2yaml and yaml2xml"
Do we still need these targets? It seems to me that we quite firmly switched to yaml for input files...

[2020-04-27 20:55] ikalash commented on #580
I find these useful.  Sometimes one does have old xml files that need to be easily converted to yaml.  I'd keep these - they are lightweight and shouldn't be hard to keep around.

[2020-04-27 21:01] #580 closed

[2020-04-27 21:01] mperego commented on #579
Yes, it would be nice to have the Package (even if now it's only one) separated from the core files.. if it doesn't take long.

[2020-04-27 21:30] ikalash commented on #578
Update on this: it looks like there is a link error in building Albany that causes this issue:  https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=1131.  It's curious that the other tests just fine.  This happens in the skybridge build and the spack build.  At first I thought my changes to the skybridge scripts yesterday may have caused this issue, so I spent a bunch of time trying

[2020-04-27 21:47] bartgol commented on #578
The link error is because the unit test only links albanyLib, and not LandIce. That's fine if LandIce is not enabled, but if it is, all the landice references in the various factories are broken.

This should be fixed together with #579.

[2020-04-27 21:47] bartgol commented on #578
Note: a quick fix would be to link `$ALBANY_LIBRARIES`, which in LandIce builds includes also LandIce.

[2020-04-27 21:55] ikalash commented on #578
Thanks @bartgol .  I'm confused as to why the issue only showed up in the spack and skybridge nightlies for now, not the others.  I thought the unit tests are on by default for now.  I can wait for the fix to #579.  Maybe I'd turn off the unit tests in the problematic builds for now to avoid the problem.

[2020-04-27 22:09] bartgol commented on #578
I'm not sure why it doesn't show up in all builds that include LandIce. I only know that if you don't enable LandIce, the error is quickly explained.

[2020-04-27 22:15] ikalash commented on #578
The builds where the problem shows up definitely have LandIce enabled.  I don't get this...

[2020-04-27 22:18] bartgol commented on #578
Sorry, it's the other way around. If LandIce _is_ enabled, you should expect the link error. If it's not enabled, then I have no answer.

[2020-04-27 22:19] bartgol commented on #578
Nvm, I fixed the undef ref to LandIce stuff, and now it complains about stk stuff undef refs.

Again, this is due to albanyLib depending on albanySTK (ugh), so it will be fixed when circular deps are eliminated. For now, we should simply link all albany libs, as we do for the other executables.

[2020-04-27 22:23] bartgol commented on #578
Ah, wait, `$ALBANY_LIBRARIES` is defined only inside the `src` subdirectory. We need to list the libs manually (with proper switch on config options), or simply wait till inverse deps are removed...

[2020-04-27 23:10] ikalash commented on #579
I'm ok with these changes.

[2020-04-28 01:28] lxmota commented on #574
@ikalash @JustinClough Coleman put that in there because he was having trouble getting negative values for delta_time. That is a huge problem for rate dependent materials such as the Crystal Plasticity model. Things have changed so much since that code was first introduced, that I don't know if it's needed anymore. Yes, you could try just removing that logic.

[2020-04-28 05:38] bartgol commented on #448
I stumbled on this issue. Now that pruning of non-LandIce related stuff is happening, this might be relevant.

In particular, I would like to ask you guys what's the plan with Rythmos. Are we ok supporting just tempus? I assume the answer is yes, but I wanted to double check.

[2020-04-28 11:49] JustinClough commented on #574
I think the negative delta_time bug did get sorted out a few months ago (https://github.com/SNLComputation/Albany/issues/517) so I think it'd be safe to pull the logic check in the evaluator.

I need to wrap up a few thing before the semester ends so I probably won't be able to make the edit any time soon. Once I do get around to it, I'll make the changes in the RPI-USC fork. Thanks for the help!

[2020-04-28 14:03] mperego commented on #448
I think the plan is to support only Tempus, but we first need to convert all the tests using Rythmos to Tempus. Probably we don't have to keep all the tests using Rythmos, but some might be useful. Anyway, it's not urgent, I think.

[2020-04-28 15:57] gahansen commented on #579
I'm also OK with this - sounds like the right way to go.

[2020-04-28 16:04] gahansen commented on #578
I'd suggest we wait for the inverse deps to be removed, we are working on that now so that is probably the best course of action.

Another question along these lines. Any reason that we want to keep the percept code down in STK? There is another library created in there that I do not think is strategic for us after the prune. I can remove that if we do not need it. This code is not maintained, it

[2020-04-28 16:17] bartgol commented on #578
@gahansen I'm currently working on a cyclic removal branch. I also would like to remove all the percept stuff. If there's no objection, I will prune it as part of the branch.

[2020-04-28 16:26] bartgol commented on #579
Can we make STK a required dependency of Albany? Now that SCOREC is out of the picture, STK meshes are the only option...

[2020-04-28 16:30] ikalash commented on #448
Right, there's no need to keep using Rythmos.  I agree with what Mauro said, namely that we should switch the existing Rythmos tests to Tempus.  I could do this.  How many Rythmos tests are there in the current master?

[2020-04-28 16:32] gahansen commented on #578
I have no objections :-)

[2020-04-28 16:45] gahansen commented on #579
I vote yes.

[2020-04-28 16:50] jewatkins commented on #579
Seems okay to me. It shouldn't be too hard to make it optional again if we decide to introduce some other discretization down the line. Or were you thinking of getting rid of the entire discretization abstraction?

[2020-04-28 17:12] bartgol commented on #448
I haven't counted them. I'm guessing about 10 or so, mostly in the basic and demo tests. But it's ok, we can wait.

[2020-04-28 19:04] ikalash opened #582 "Bring DTKInterp utils back to Albany master"

[2020-04-28 19:06] ikalash commented on #448
Now that the VPN is back up, I am able to check myself.  It's more like 15.  I can go ahead and convert these to Tempus sometime in the near future.  I'll open a separate issue.

[2020-04-28 19:07] ikalash opened #583 "Convert Rythmos tests to Tempus"
To remove dependency on Rythmos.

[2020-04-28 21:23] ikalash commented on #582
Just did this.

[2020-04-28 21:23] #582 closed

[2020-04-28 23:00] bartgol commented on #579
No, I'll leave the abstraction, with the factory and everything. But since we only have STK, it seemed silly to make it 'optional'.

[2020-04-29 17:20] gahansen commented on #7
@lxmota @jtostie - I was going to go through the outstanding issues on the Albany issue board and triage them - probably closing any stale issues. There are quite a few issues involving LCM, that has now moved to its own location in the SNLComputation organization. What would you prefer that I do with the LCM-related issues? Do you want to move any over that you want to retain, or would you prefer

[2020-04-29 17:35] gahansen commented on #117
Stale issue. Closing

[2020-04-29 17:35] #117 closed

[2020-04-29 17:37] lxmota commented on #7
@gahansen Let me go through the LCM issues. I'll transfer those that are still relevant. When I'm done, I'll let you know and then all the LCM issues here can just be closed.

[2020-04-29 17:40] gahansen commented on #3
I am going to close this issue as we are addressing Albany's circular dependency concerns in the new issue #579 .

[2020-04-29 17:40] #3 closed

[2020-04-29 17:45] #557 closed

[2020-04-29 17:46] gahansen commented on #579
In conversations with @bartgol, we decided to remove STK Adapt, Rebalance, and Percept as part of this small refactor. As such, this issue replaces and supercedes issue #37 - I am closing the earlier issue.

[2020-04-29 17:49] gahansen commented on #37
Closing issue, referencing issue #579 that will address this issue.

[2020-04-29 18:13] bartgol commented on #579
@gahansen I ended up pruning the stk_adapt stuff, but kept the stk rebalance stuff. I believe we are using it together with zoltan when we need to redistribute the mesh, which, I _think_ happens for instance when we load a stk mesh serially, and distribute it among ranks on the fly.

In #37 Dan said the rebalance stuff is supported directly in SEACAS. I think for now we can keep the snapshot of th

[2020-04-29 18:13] gahansen opened #585 "Implement prototype block discretization class and tests"
I am starting to implement a prototype block discretization class in Albany. I am following the path suggested in the wiki:

https://github.com/SNLComputation/Albany/wiki/Blocked-linear-system

specifically the first bullet under the 11/14/18 Updates section. I plan to also leverage some of the points, ideas, and discussion from issues #357, #16, #83, #327, and #198.

I am starting this issue to g

[2020-04-29 18:25] gahansen commented on #579
@bartgol sounds great to me. I'm familiar with the stk rebalance logic, I'll volunteer to do what @ibaned suggests - I'll open a new issue to replace the current approach with Ioss. I want to look around in Ioss again anyway to see what I can use for block data support these days.

[2020-04-29 19:24] lxmota commented on #120
@mperego With the forking of LCM and removal of other packages, MiniTensor is no longer needed. I can be safely removed, I think.

[2020-04-29 19:24] #120 closed

[2020-04-29 19:28] lxmota commented on #113
Changed a long time ago, and also irrelevant now because of LCM fork.

[2020-04-29 19:28] #113 closed

[2020-04-29 20:08] bartgol commented on #579
To be clear, I think this is not a priority for now. We should probably focus on the block discretization stuff first.

[2020-04-29 20:11] bartgol commented on #585
@gahansen I am quite confident #584 will go in soon. Could you wait to branch off master, so you can benefit from that mini-refactor too?

[2020-04-29 20:18] bartgol opened #586 "Switch to FE Crs matrices"
Now that the FE Crs matrix in Tpetra is relatively reliable, it's worth it for us to switch to that, and save quite a bit of storage. I think we should also switch MultiVector to FEMultiVector too, for the same reason.

This issue is for tracking purposes. I'm starting to work on it today.

[2020-04-29 20:47] gahansen commented on #585
Will do Luca! Thanks for the heads up.

[2020-04-29 23:31] bartgol opened #587 "Can we remove (full) Stokes and L1L2 evaluators and problems?"
I don't think we test these problems/evaluators, and I'm not sure whether they would work correctly.

Is it ok to completely remove them? If that's too much, we should at the very least disable them by default, and force the user to manually enable them.

It's not a ton of files, but given even if we can remove 30s of compilation, I'd take it!

@mperego @ikalash

[2020-04-29 23:40] mperego commented on #587
I'm fine with removing them. At some point we'll implement a low-order model, but it won't be the l1l2 and it will be likely based on StokesFO problem that now is significantly different from other problems.
@bartgol don't get addicted to cleaning.. haha.

[2020-04-30 01:49] ikalash commented on #587
I'm ok with removing these too.  I created those files some 9 years ago, and did not get very far with them, since Albany lacked (lacks) the infrastructure to do vertically integrated models like L1L2.  So I don't think we'd be losing much by removing these even if we plan to implement a low-order model later.

[2020-04-30 18:00] jewatkins opened #589 "Bad merge in Application::computeGlobalJacobianImpl()"
I can't really track down what happened but it looks like a bad merge to me:
https://github.com/SNLComputation/Albany/blob/0327f52dc2215e517fafddf0ec634c4ee193f1ca/src/Albany_Application.cpp#L1600
It looks like some code spilled over to Albany namespace and it's been there for a while. Also because the namespace closes, there's a hanging bracket at the end of the file (not sure how that compiles).

[2020-04-30 19:13] mperego commented on #589
@jewatkins I think we need to remove this `}`
https://github.com/SNLComputation/Albany/blob/master/src/Albany_Application.cpp#L1589
(and fix indentation)

[2020-04-30 19:16] jewatkins commented on #589
Ah okay that makes me feel better. I'll go ahead and fix that.

[2020-04-30 19:25] #589 closed

[2020-04-30 21:06] bartgol commented on #587
The L1L2 tests are not run, but the full Stokes tests are technically still running. Is there any value in keeping them? I guess not having developed anything in the full Stokes model for a while, it might be quite a bit behind in terms of capabilities...

[2020-05-01 03:18] ikalash commented on #587
I see some value in keeping Stokes.  There is linear as well as nonlinear Stokes, including MMS problems.  There is also pressure stabilization to deal with the fact that we don't have mixed elements.  I think these are good examples to have in the code.  And they are tested, as you pointed out.

[2020-05-01 17:29] bartgol commented on #587
We already have a Navier Stokes test in the demo PDE library. Is this similar (except for the nonlinear diffusion)? If the overlap is large, then we don't really need this. If it's small, and we want it as an example, maybe it should be moved in the demo PDEs, so we don't build it when developing landice.

[2020-05-01 18:01] ikalash commented on #568
All the nightlies have been moved to the new CDash site https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany, including Cori.

[2020-05-01 18:01] #568 closed

[2020-05-03 20:26] ikalash commented on #587
Yes, they are similar except the nonlinear diffusion.  IMO, the way the Navier-Stokes problem is structured is somewhat confusing - there are a lot of evaluators and it takes some time to figure out how they work together.  Also there are MMS cases for the nonlinear Stokes coded up which I think can be useful if we ever want to put in full Stokes.  So I guess the question is: are we interested in

[2020-05-04 20:53] mperego opened #590 "Rebalance Logic"
Rebalance is always turned on when `Use Serial Mesh` is `true`.
[code]
https://github.com/SNLComputation/Albany/blob/master/src/disc/stk/Albany_GenericSTKMeshStruct.cpp#L639

In fact rebalance can change the number of worksets  per process. Even if `Workset Size` is set ot `-1`, one could have multiple workset per process. I encountered this with extruded meshes using `ExtrudedSTKMeshStruct`. This

[2020-05-04 21:05] bartgol commented on #590
If you have 'Use Serial Mesh' and you don't rebalance, don't you end up with the mesh only on one processor? That was my understanding: rebalance cause the (serial) mesh is all on rank 0.

[2020-05-04 21:52] #578 closed

[2020-05-04 21:52] #579 closed

[2020-05-04 22:03] mperego commented on #590
No.. not sure how it works but turning off re-balancing doesn't make the run serial.

[2020-05-04 22:19] bartgol commented on #590
So even with rebalancing off, dofs are divided among ranks?

[2020-05-04 22:46] mperego commented on #590
Yes.. unless I'm going crazy (which is always a possibility)

[2020-05-04 23:06] bartgol commented on #586
Some updates:

- FE vectors might prove more complicated than the FE matrices, due to the fact that they are usually created within Thyra framework (the VectorSpace createMember(s) methods). FE Vectors require an import/export input, and that's only available when both owned and owned+shared maps are available.

- FE matrices are not so easy either, due to the thyra layer mechanism. In particular,

[2020-05-04 23:12] bartgol commented on #586
Update: right after commenting, I realized that the jacobian wasn't open for filling when DBCs were applied, which caused all the calls to `replaceLocalValues` to have no effect. Unfortunately, we did not raise any error (Tpetra returned an error code which we ignored), so it went under the radar. This will be fixed.

[2020-05-05 14:15] bartgol commented on #590
Well, if that's the case, then, as you said, we should change the code, and only do rebalance if explicitly requested.

[2020-05-05 16:18] gahansen commented on #590
I think @agsalin converted Albany from an approach that I wrote long ago, where we used rebalance to "spread" the mesh across multiple processors after we input the serial mesh on PE 0. It looks like Andy converted the code to use Ioss's parallel I/O capabilities to do this instead, I suspect that we do not need or want to have the rebalance word in there any longer. Indeed, I suspect rebalance is

[2020-05-05 16:41] bartgol commented on #590
I would keep the rebalance cabability. It seems the only modification to do is a one line change in the GenericSTKMeshStruct, removing ` || (...)` from the if statement.

[2020-05-05 17:19] bartgol commented on #586
Update:

I think Tpetra's FECrsGraph (and maybe also Epetra's, I haven't checked) needs the owned gids to come first in the overlapped map. That's not necessarily the case given how we build the vector spaces. This is "easy" to fix, we just have to reorder the gids when we create the maps in the discretization.

[2020-05-05 21:32] ikalash commented on #583
I have pretty much finished this.  There is only one issue, which I mentioned at the Albany meeting.  For the NSRayleighBernard2D test case, tempus and rythmos compute slightly different results. The differences start off immediately.  @gahansen , could you please have a look at this, as we discussed at the meeting?  I'm ok with rebaselining the test, but I'd like for someone to look at the differ

[2020-05-11 20:09] bartgol commented on #586
Update: there are a few things in the FE structures in both Epetra and Tpetra that may end up in bugs. I opened an issue on both packages, and see if they can fix it (fixes are quick, I could even do it myself).

That said, even with the fixes added, I get wrong results in parallel, for both Epetra and Tpetra. I am switching to a manual inspection of the Jacobian on a 1x1 grid problem, to see the

[2020-05-11 21:16] mperego commented on #590
@bartgol I tried to remove the `|| (...)` from the if statement. The tests work except from yours on Hydrology ones. I get this error:
[code]
I noticed that these are the only tests using Gmsh. Any clue? You should be able to reproduce the error adding to the discretization list
[code]

[2020-05-11 21:23] bartgol commented on #590
Uhm, right off the bat I have no clue. I will dig a bit. Thanks.

[2020-05-11 23:25] mperego commented on #586
I'm sorry this is turning out to be a pain.

[2020-05-11 23:54] bartgol commented on #586
Well, as long as it pays out... ;)

[2020-05-12 00:29] bartgol commented on #586
I am a bit stuck. I get the same Jacobian in serial and parallel (I printed it), but the iterations are insanely different. I converge to 1e-15 in 5 iterations in serial, while in parallel I'm still at 1e-3 after 10 iterations.

I'm using MueLu with 1 level, with KLU2 on coarse (so basically a direct solver). The muelu output is also the same (setup and stuff). After 1 NOX iteration:

serial:
[cod

[2020-05-12 01:45] mperego commented on #586
@bartgol wild guess.. Did you check that the maps of the matrix are compatible with the right hand side one?

[2020-05-12 15:55] bartgol commented on #586
I haven't, but it's worth a shot.

[2020-05-14 22:31] gahansen commented on #583
I took a good look at the differences between the Rythmos and Tempus versions of this test. I feel that it is perfectly fine to re-baseline this test and proceed with only the Tempus version. I conclude that, due to implementation differences between Tempus and Rythmos - specifically the initialization of each - that we should expect the different behavior that we are seeing.

The physics behind t

[2020-05-14 22:34] bartgol commented on #583
Thanks for the in-depth analysis Glen! I'll let Irina close since she's owning the time integration stuff.

[2020-05-19 20:33] ikalash commented on #583
Yes, thanks for looking at this, Glen!  I'll go ahead and rebaseline, as well as remove the Rythmos dependency.

I am a little bit confused as to why Tempus saves the initial solution at time 1, unlike Rythmos.  Is that a bug in your view?

[2020-05-20 17:56] ikalash opened #593 "Seg fault for some LandIce tests"
A seg fault has cropped up for 3 LandIce tests has cropped up in our clang-debug build on cee-compute012:

[code]

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=1920

The seg fault happens after the simulation has completed, curiously enough.  The issue started today.  Just to make it clear, I have not switched the clang compiler from the one used up until now - it's stil

[2020-05-22 19:26] ikalash commented on #593
Closing - this problem seems to have gone away.

[2020-05-22 19:26] #593 closed

[2020-05-22 19:26] #583 closed

[2020-05-25 18:46] ikalash opened #594 "Sensitivity comparisons do nothing"
It appears the sensitivity comparisons do nothing in Albany.  When one sets 'Sensitivity Comparisons' to be > 1, the test is marked as passed regardless of whether the sensitivity computed matches the test value.  @mperego, are you aware of this?

[2020-05-25 18:58] mperego commented on #594
Um, here is how sensitivities check should be set.
[code]
This works. But I agree it's misleading, and we should at least throw an error when the parameters are not set correctly. It's very bad that one thinks the sensitivity is checked and correct while in reality it is not checked.

[2020-05-25 19:37] mperego commented on #594
I edited the post above because there was an error.
Sensitivity Comparisons "i" referes to parameter "i" (counting both scalar and distributed parameters).
If you have multiple responses than you'd have (for two responses)
`Sensitivity Test Values 0: [1.86580896757000014e+07, 1.3856]`

My understanding is that you would have `Number of Sensitivity Comparisons` > 1 depending on the layout of dgdp.

[2020-05-25 20:14] ikalash commented on #594
Ah I see, my syntax wasn't quite right.  We should definitely add the error throwing if there is a syntax error in how the sensitivities are specified.

[2020-05-25 21:28] ikalash commented on #594
It looks like for scalar parameters and a scalar response, here is the syntax for checking the comparisons:
[code]

[2020-05-25 22:16] mperego commented on #594
It makes sense to me because the scalar parameters are usually lumped in one vector parameter. How the `Parameters` sublist looks like in this case?

[2020-05-25 22:28] ikalash commented on #594
Here's the input file: https://github.com/SNLComputation/Albany/blob/master/tests/small/Thermal2D/input_with_source.yaml .  Anyway, I'll close this issue and open a new one regarding throwing errors when specifying incorrect syntax for sensitivity comparisons.

[2020-05-25 22:28] #594 closed

[2020-05-25 22:30] ikalash opened #595 "Add logic to throw error when attempting sensitivity comparisons using incorrect syntax"
This is a spinoff from #594.  Currently, if incorrect syntax is used for sensitivity comparisons, this is ignored in the yaml file, and can cause people to think the test is performing sensitivity comparisons when it is not.  We should put in error throwing if using incorrect syntax for sensitivity comparisons to prevent this problem.

[2020-05-26 15:49] bartgol commented on #594
@mperego what you said seems correct to me.

[2020-05-29 16:56] ikalash opened #597 "New LandIce failures in nightlies"
Looks like starting yesterday a bunch of the LandIce FO_GIS nightlies began failing with this error in the CEE gcc builds:

[code]

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=197674&build=2218
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2218

Does the number of layers in the temperature file need to be specified?  It's curious that this is only happeni

[2020-05-29 17:17] bartgol commented on #597
The fact that it says the expected number of layers is 0 suggests the temperature file is ok, but something is wrong with the state registration.

In particular, the normalized layers coordinates are not correctly sized in the stk field container. That's odd cause
- the size is taken as the last dimension in the StateInfoStruct dim member
- that dimension is read straight from file, without provid

[2020-05-31 19:28] ikalash commented on #597
@gahansen : could I ask you to have a look at this issue?  It only happens on cee with the new gcc compiler you built.  I checked some older versions of the code and the issue still shows up, which is somewhat puzzling.   Maybe it's due to some of the settings in that build which we were tweaking (changing lib paths for instance)?

[2020-05-31 22:56] gahansen commented on #597
Glad to Irina! I'll start on this tomorrow and post an update once I have some info.

[2020-05-31 23:10] ikalash commented on #597
That's great, thanks a lot, Glen!  Sounds like a plan!

[2020-06-04 12:42] gahansen commented on #597
@ikalash, I was able to duplicate this error. I'm also thinking it is something with the build or a TPL version change. I'll do a process of elimination and figure out what is awry here. I agree, it is interesting that it only happens with the gcc build and not the two clang builds we have access to.

[2020-06-04 14:10] ikalash commented on #597
Thanks Glen!  Please keep me posted.

[2020-06-04 16:25] ikalash opened #599 "New failures in clang debug build"
We have a bunch of new failures in the clang debug build:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2409

Here is how the error looks like:

[code]
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=208383&build=2409

I'm thinking it's due to Trilinos changes, but I can double check if it's my PR that got merged in yesterday.

[2020-06-04 18:04] ikalash commented on #599
I fixed it.  It did have to do with my PR.

[2020-06-04 18:04] #599 closed

[2020-06-07 18:43] gahansen commented on #597
Hi Irina, I have some results on this issue. It appears that gcc-9.1.0 is not generating the correct code for this operation that Luca describes above. I also tried the new gcc-10.1.0, and then fell back to gcc-7.0.2. The two newer compilers both show this failure, but the older one does not. I am going to look at that section of the code and try and figure out what is happening and how to avoid i

[2020-06-08 01:26] ikalash commented on #597
Thanks for looking into this @gahansen !  It's curious that the issue doesn't show up in some of the other nightlies - my camobap and mockba nightlies use gcc 9 for instance.  Please keep me posted - I am interested in what you learn as you dig in more.

[2020-06-08 15:21] gahansen commented on #597
That is interesting information - I might look at the install a little more then. What version of MPI do you use on camobap and mockba?

[2020-06-08 18:15] ikalash commented on #597
@gahansen : camobap is down right now getting its hard drivers replaced and its OS upgraded, so I cannot check.  mockba uses gcc/9.2.0 and openmpi/1.10.1 .  I can tell you camobap was using gcc/9.3.0 before it went down.  I guess one difference is you use 9.1.0, but I'd be surprised that it is the cause.  This is why I thought the TPLs may be the problem.

[2020-06-08 18:18] ikalash commented on #597
Also, the gcc failures started on 5/27, if you look at the CDash site.  The last successful  built was already using gcc/9.1.0 which makes this more puzzling: https://sems-cdash-son.sandia.gov/cdash/viewConfigure.php?buildid=2108 .  So what happened on 5/27?  I tried pulling Trilinos and Albany from before 5/27 and got the same error so I don't think it's a code change, but may be worth double che

[2020-06-13 21:10] gahansen commented on #597
@ikalash - I just put in a commit that should resolve this issue. There is a lengthy commit message that sums the issue and commit up, so I won't repeat it here other than note that the GCC issue boiled down to inconsistencies between shared libraries in the GCC TPLs on CEE. I made some changes to my example builds that you will want to capture in the nightlies, but that - along with cleanup I did

[2020-06-13 21:47] ikalash commented on #597
Thanks @gahansen !  That's very interesting about the TPL inconsistencies.  I'll close this issue tomorrow once the nightlies run clean.

[2020-06-13 22:43] mperego commented on #597
@gahansen thanks for figuring this out.
I think we should rely on sems modules though for "official" Albany Land Ice nightlies, and stick as much as possible to compilers/environment tested by Trilinos.

[2020-06-14 17:34] ikalash commented on #597
@gahansen : I'm still seeing failures in the nightlies

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2757
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=2758

Do any changes need to be made to the nightly test scripts?  I was under the impression all the changes were to the TPLs.

[2020-06-14 17:37] ikalash commented on #597
@mperego : we could switch to the sems modules - at least for gcc, it would be easy, as I have a gcc build using the sems modules on my machines camobap.  I inherited the CEE builds from Glen, so Glen would be the best one to speak about why sems modules were not used in the first place.  It could be that they weren't around at the time the nightlies were set up.  I did not switch them initially f

[2020-06-14 17:42] ikalash commented on #597
I should add, I don't think it matters much whether sems modules are used, or not, as long as we have compilers that are tested by Trilinos.  Of course if we choose to build all the TPLs, there may be issues on our side (as in this case).

Also, with regard to using newer compilers, I can tell you from recent experience with upgrading my Fedora workstation (and Alejandro's Fedora machines) to v32,

[2020-06-15 13:33] gahansen commented on #597
Wow, this is a crazy problem. I'd have no reservations in switching to the sems scripts, but after battling this challenge for a while I'm not sure that we would not see the problem there also on this combination of hardware and software. We did our own builds back in the days before SEMS existed, that is the main reason things are currently the way they are. However, due to our unique use of STK,

[2020-06-15 17:12] ikalash commented on #597
@gahansen : so when you updated the TPLs , I presume you created your own build on top of them of Albany and tested it.  Did the tests pass?  If they did, there is something wrong - the nightlies should reproduce the same behavior as an analogous built done from scratch using regular configure scripts.

I don't think the SEMS modules will have this problem, since I use them on my RHEL7 machine w/o

[2020-06-15 17:22] gahansen commented on #597
@ikalash This sounds like a plan. I suspect the nightly is also picking up some older library from somewhere like my builds were. I didn't isolate which one it was - my current theory was that there was some change in the pnetcdf, netcdf, hdf5 group that caused this - but I'm still not sure why it only shows up with newer gcc compiles and not newer clang builds. It might even be some old RHEL6 sys

[2020-06-15 17:45] mperego commented on #597
I agree that there are some advantages in having our own libraries or using compilers that are different form those used by Trilinos for testing, and I understand the historical reasons why we are doing that. However, I think it is more sustainable, for the levels of funding we have, that we rely as much as possible on sems modules and to use Trilinos compilers. Using sems modules would save us so

[2020-06-15 18:14] ikalash commented on #597
@gahansen : can you please clarify one thing - are the tests failing in your build of Albany?

[2020-06-15 20:21] gahansen commented on #597
I have two failing tests on the release build:

43:Thermal1D_with_Source
45:Thermal2D_with_Source
168:LANDICE_FO_MMS_perf
169:LANDICE_FO_MMS_perf_2

Tests 43 and 45 are failing with a seg fault right after creating the stepper and integrator in Tempus. 168 and 169 did not run as I've not put cee-compute024 in the file.

On the debug build I see:

137:FO_GIS_Gis20km_Tpetra
168:LANDICE_FO_MMS_perf
1

[2020-06-17 16:09] ikalash commented on #597
I switched the nightlies to use the sems gcc 9.2.0 compiler, and the issue went away.  Closing.

[2020-06-17 16:09] #597 closed

[2020-06-17 16:14] #595 closed

[2020-06-17 18:12] ikalash commented on #597
@mperego : there actually is already a build like this, namely the Cori build.  However, Albany tests are turned off in that build, which I think is why that Thermal issue slipped through the cracks.  I could make one of the other existing builds an ALI-only build that runs tests, sure.  I think I will do that on my RHEL7 workstation, mockba.

[2020-06-18 01:25] jewatkins commented on #590
I just noticed this issue. This might have affected my results in #540 so mentioning it for future reference.

[2020-06-18 03:34] bartgol commented on #590
Whoops, I forgot to follow up on this. Sorry. I will (try to) get to this tomorrow.

[2020-06-18 16:55] mperego commented on #597
Thanks! Yes, it was in fact a run-time error.

[2020-06-20 18:53] ikalash commented on #599
@mperego : I'm a little bit confused about the behavior of DEMO_PDES.  I turned off DEMO_PDEs in my nightly on mockba, which you can verify here: https://sems-cdash-son.sandia.gov/cdash/viewConfigure.php?buildid=3026 .  However, it appears the DEMO_PDEs still get built/run: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlypassed&buildid=3026 .  About 31 tests got turned off when I turned o

[2020-06-20 20:12] mperego commented on #599
Yeah, my understanding is that there are some "basic" problems that are always run. We should probably revisit this at some point and decide whether we should move all those tests into the DEMO_PDEs group, or have another group, e.g. called "BASIC_PDEs" or similar.

[2020-06-20 20:30] ikalash commented on #599
I see.  I was thinking all these tests would be classified as demo pdes.

[2020-06-22 15:51] bartgol commented on #599
Yes, that's correct. I think the idea (at least when Albany was a large project, with many physics packages) was to make sure some basic tests were always run, no matter what. Whether that's desirable or not, it is debatable. Ideally, the basic Albany should run some _unit_ tests, rather than only system tests, so that detecting bugs becomes easier.

I have no strong feeling either way (meaning pu

[2020-06-22 15:54] bartgol commented on #599
@mperego Are you suggesting to simply create a new Label to group certain tests or to actually put some cmake logic to disable building certain files? The former is obviously ok regardless of how we feel about those tests. The latter seems poinless, since we already have a DEMO library, so we could stuff everything in there.

I'm assuming you meant the former. I'm ok with that. But at this point,

[2020-06-22 16:35] mperego commented on #599
@bartgol I guess that having labels that are not consistent with the cmake logic is even more confusing. I think we first should decide if we want two sets of tests, one with more basic tests (possibly always run) and one with more exotic tests (the DEMO_PDEs), or only one set of tests.

[2020-06-22 16:48] bartgol commented on #599
True.

To be fair, I'm fine keeping 1 (or maybe 2, one steady, one unsteady) problems always run even when ALBANY_DEMO_PDES is OFF. It helps debugging, and gives a ready-to-go example for someone who might download the software and try to run something (without knowing much about all the cmake options).

[2020-06-27 18:47] ikalash opened #603 "MALI build broken"
@gahansen , your commits yesterday broke the CALI and MALI builds (ALI interfaced to CISM and MPAS).  I fixed most of them except a logic error in Interface.cpp for MALI (see attached log file).  Could you or @mperego please look at it and fix it?  You can reproduce the error by setting -DENABLE_MPAS_INTERFACE=ON.
[out.txt](https://github.com/SNLComputation/Albany/files/4841075/out.txt)

[2020-06-28 19:54] mperego commented on #603
It should be fixed now.

[2020-06-28 20:03] ikalash commented on #603
Thanks @mperego !  I’ll close the issue once the nightlies run clean.

[2020-06-29 15:35] gahansen commented on #603
Sorry about that. I had not enabled -DENABLE_MPAS_INTERFACE=ON in my testing builds - I'll turn this on from now on.

[2020-06-29 18:33] ikalash commented on #603
No problem @gahansen .  Seems Mauro's fix fixed the problem (though a lot of the nightlies are still broken due to other issues...).

[2020-06-29 18:33] #603 closed

[2020-06-30 19:07] ikalash opened #604 "Failing LandIce Enthalpy Humboldt tests"
There are 2 tests failing in the nightlies: Enthalpy_Humbodt and FO_Thermo_Humboldt_fluxDiv (sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3393 ).  Or has this been resolved already in some of the discussion by email this morning?  Tagging @mperego.

[2020-06-30 20:13] ikalash commented on #604
Looks like the issue is trying to run the tests w/ the FROSch but FROSch is off.  Ifdef guards need to be added.

[2020-06-30 21:22] mperego commented on #604
@ikalash It should be fixes now.

[2020-06-30 21:23] ikalash commented on #604
Thanks @mperego .  I believe you so I will close the issue.

[2020-06-30 21:23] #604 closed

[2020-07-01 06:11] bartgol commented on #586
Update: Most of the work is done. All basic tests pass. There's one DEMO PDE test that fails (NSVortexShedding2D_Steady_Blocked), and plenty of LandIce tests failing (all MMS for GLF and SMB, all ISMIP and FO_Test, and roughly half of the FO_GIS ones).

[2020-07-01 23:13] bartgol opened #605 "Link error related to BlockDiscretization"
Is anybody else seeing this?

[code]

Obviously, I can fix the problem, but I was wondering why this hasn't showed up in the nightlies yet.

[2020-07-01 23:16] ikalash commented on #605
No, nightlies last night were clean: https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany .  I will check again tomorrow.

[2020-07-01 23:21] bartgol commented on #605
I mean, the error _should_ be there, cause there's no definition of some methods.

Are all our nightlies with clang/intel on CPU? Maybe it's gcc that is picking it up...

[2020-07-01 23:26] ikalash commented on #605
Oh, I see.  It hasn't shown up.  There are many gcc builds - most of them are gcc builds actually.  No CUDA build now as waterman is down / weaver is not yet fully operational.

[2020-07-01 23:30] bartgol commented on #605
Ah, I was only displaying the first 10 items. :D

[2020-07-02 16:13] mperego commented on #586
@bartgol Any luck with that? I cannot really see why those tests would fail.. or whether those tests share a common pattern.

[2020-07-02 16:49] jewatkins commented on #605
Showing up now: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=3456

@gahansen it might be related to your push

[2020-07-02 17:04] ikalash commented on #605
A bunch of the nightlies are indeed broken as a result of this issue: https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany .

[2020-07-02 17:54] bartgol commented on #586
I worked on the NSVortexShedding2D test so far. I found a bug, but the jacobian is still singular in that test. I think I will move to LandIce tests now, though, as some of them are smaller and easier to debug. Hopefully fixing those will also fix the NS one.

[2020-07-02 18:08] jewatkins opened #606 "Make it easier to use/update nightly configure scripts"
@ikalash Could we collapse the nightly configure scripts and the manual configure scripts into one file (i.e. ctest_nightly_\*.cmake and do-cmake-\*)? I'm sure there's a way to do this but I don't think I know enough about ctest. For example, maybe we can store the configure line for cmake in an environment variable in one file and then just call that file in do-cmake, ctest_nightly.

[2020-07-02 18:10] ikalash commented on #606
I'm sure one can, but I don't have the time to figure it out now.  You are welcome to give it a try.

[2020-07-02 18:12] jewatkins commented on #606
Would you be okay with the solution above if it works with your ctest script? It would mean you would have to go to another file to update the configure line.

[2020-07-02 19:41] ikalash commented on #606
I'm not sure I understand what you are proposing.  If you create scripts and want me to test them, I'm happy to do so.

[2020-07-02 19:50] jewatkins commented on #606
I'll test it out when it becomes relevant again. We can talk about it later, it's not a huge priority.

[2020-07-02 20:01] ikalash commented on #606
Ok sounds good.  I think what you are proposing would be a great change to the nightly testing workflow - would certainly simplify creating builds analogous to the nightly test ones using straight-up cmake.

[2020-07-02 20:20] gahansen commented on #605
It was me. I'll fix the issue and commit the repair.

[2020-07-02 20:21] ikalash commented on #605
Thanks Glen!

[2020-07-02 22:06] gahansen commented on #605
I wanted to add a link flag to my test builds to catch issues like this. I added "-Wl,--no-undefined -Wl,--no-allow-shlib-undefined" to the build, which (on my reading of the ld man page) should give a link error if an undefined symbol is present. However, this does not work in my build - I link and run successfully.

Does anyone know how to force ld to catch undefined externals in all cases?

[2020-07-02 22:18] bartgol commented on #605
I'm not sure. I do get the link error, and this is my link line (stripped of all trilinos and its tpl libs otherwise it'd be too long to parse):

[code]

You might try comparing it with yours and see if you find the flag that triggers it.

[2020-07-02 23:19] gahansen commented on #605
Hi Luca - could you please post the output of what you see for:

/home/luca/workdir/compilers/openmpi/openmpi-install/bin/mpicxx -print-prog-name=ld

[2020-07-03 01:53] bartgol commented on #605
It simply returns `ld`.

[2020-07-03 06:12] bartgol commented on #586
@mperego

So, I'm down to 3 tests failing: NSVortexShedding2D and FO_GIS_CoupledThickness (Tpetra and Epetra). For the former, I still don't know what the deal is. For the latter, I do know it, and it is complicated.

In order to use Tpetra's FECrsGraph/Matrix, the overlap map _must_ contain the owned map "at the beginning" (locally fitted, in Tpetra lingo). That means that if process N owns gids

[2020-07-03 13:17] mperego commented on #586
Good that you are down to only 3 tests failing.

I'm not sure I understand. I thought that the local ordering was set in the extruded mesh, when you create the node map.
Also, you would have more tests failing if there was an issue with the (local) LayeredMeshOrdering. FluxDivergenceResidual is only used in a FO_Thermo test, not in the FO_GIS_CoupledThickness one.

Are you working today? If so I c

[2020-07-03 17:40] gahansen commented on #605
Could you now please do "ld -V"?

It looks like the nightlies are passing so my commit appears to have fixed the error I introduced. I'll wait for Irina to confirm and close this issue if she agrees.

[2020-07-06 15:22] ikalash opened #608 "Failures in OpenMP build on camobap"
Over the weekend, most of the tests in the OpenMP build on my workstation camobap began failing.  Here is the error:

[code]
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=281935&build=3605

Curiously, it doesn't happen in the blake OpenMP build.  It seems like a machine-specific thing, except I'm a bit stumped as to why this would start now, given that no changes have been made to c

[2020-07-06 15:33] bartgol commented on #605
[code]

I also tried the current master, and things are now ok.

[2020-07-06 15:52] bartgol commented on #608
Sounds like a glitch in the MPI framework. I would give it another day to see if it happens again.

[2020-07-06 16:06] jewatkins commented on #608
What version of openmpi is this? You could try `export PMIX_MCA_gds=hash`, that came up as a solution for this issue for version 4+

[2020-07-06 16:07] bartgol commented on #586
Hi Mauro, as you probably figured out, no I wasn't working. =)

Jokes aside, you raise a good point about other tests that should fail if the LMO was the issue. However, I think LMO is an issue, and should be changed. And it might be that for some cases, it still gives the correct result. For instance, with column ordering, the stride is numLayers, which is correct. If one only wants to retrieve t

[2020-07-06 16:49] mperego commented on #586
yeah, let's chat over the phone

[2020-07-06 17:37] ikalash commented on #608
@bartgol I don't think it's a glitch, been happening for a few days over the weekend.

@jewatkins : I don't get the error when I add ``export PMIX_MCA_gds=hash" but it seems to hang.  I played around with some things and it seems passing mpiexec '--map-by core' is causing the problem - when I take this out, it goes away.  I think I will go ahead and take this option out for the OpenMP nightly on c

[2020-07-06 17:49] jewatkins commented on #608
yeah go ahead and use that if you're setting omp num threads to 2. that should bind those threads to the core. This should do the same if you're not setting these already: `export OMP_PLACES=threads; export OMP_PROC_BIND=spread`.

[2020-07-06 18:06] bartgol commented on #608
Ah, I didn't read your message carefully. I thought it was just a one-time thing.

I think the solution you propose (the ppr one) sounds good. I always use `--bind-to core`, but I also always have `OMP_PLACES=threads` and `OMP_PROC_BIND=spread` in my envoronment. Maybe, without those, binding to  core with `OMP_NUM_THREADS=2` might cause issues?

Although, to be fair, the error is caused during MP

[2020-07-06 18:51] jewatkins commented on #608
I think openmpi might have its own threaded code and that's why an issue like this might come up. Not sure though.

[2020-07-07 17:21] #608 closed

[2020-07-07 21:49] ikalash commented on #605
I think this has been resolved - it has in all my nightlies.  Therefore closing.  @bartgol if you are still experiencing issues, please feel free to reopen.

[2020-07-07 21:49] #605 closed

[2020-07-07 21:50] ikalash commented on #493
No longer relevant since SCOREC is gone - closing.

[2020-07-07 21:50] #493 closed

[2020-07-07 21:57] ikalash opened #609 "Failing LandIce tests in nightlies due to NullSpace utils refactor"
The PR that went in yesterday on the Albany NullSpace utils refactor is causing 3 land ice tests to fail in some of the nightlies:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3637

The tests are FO_GIS_AdjointSensitivity_StiffeningBasalFriction__Epetra, FO_Test_ConfinedShelf_DepthIntBC_Epetra and FO_Test_ConfinedShelf_Epetra.  Note that they are all Epetra tests.  One

[2020-07-07 22:44] ikalash commented on #536
This is no longer relevant to master, therefore closing.  @JustinClough , feel free to reopen in the SCOREC fork if it's still relevant there.

[2020-07-07 22:44] #536 closed

[2020-07-07 22:45] #486 closed

[2020-07-07 22:49] #122 closed

[2020-07-07 22:51] #38 closed

[2020-07-07 22:51] #37 closed

[2020-07-07 22:51] #8 closed

[2020-07-07 22:52] #49 closed

[2020-07-07 23:22] mperego commented on #609
@ikalash I pushed a possible fix. It's a wild guess..

[2020-07-07 23:26] ikalash commented on #609
I will test it...  stay tuned.

[2020-07-08 00:21] ikalash commented on #609
Unfortunately it doesn't fix the issue.  In an effort to debug this, I put print statements in ML to figure out where the code dies.  It dies in ml_aggregate.c, around the "IKT here 4.11" and "IKT here 4.12" print statements in the attached file.  Maybe we should ask for Ray to weigh in?  @rstumin, Mauro recently refactored the way the RBMs are created in Albany which led to failures for some of t

[2020-07-08 00:43] mperego commented on #609
I tried printing out null.0.txt, as you did. But they look perfectly fine with my compiler.  It could be that the null space data are overwritten in your case. Trying a couple more things.

[2020-07-08 14:47] rstumin commented on #609
I looked at the code, output, and null file.  It is not totally clear what is going on  ... but it does look like the null space is corrupted. I remember we had some issues with the null space in the past but these were connected to its reuse (over multiple solves) ... and this seems to happen on the very first solve ... so I don't think that is the problem either.

It really looks like the nullsp

[2020-07-08 15:44] ikalash commented on #609
@rstumin : thanks for the reply.  Mauro pushed a patch last night that fixed the issue on my workstation camobap.  It looks like the confined shelf test, Epetra version, is now failing in a couple other nightlies: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3689 .  @mperego I'm not sure if this is related to your patch.  The fails weren't there yesterday.

[2020-07-08 22:37] mperego commented on #609
I think I found the real issue..  I was passing a vector by value instead of by reference!

[2020-07-09 20:42] ikalash commented on #609
This has been resolved, it looks like.  Thanks @mperego!

[2020-07-09 20:42] #609 closed

[2020-07-14 16:38] gahansen commented on #585
@bartgol @ikalash @mperego - What should we do with block discretization dependencies and the feature build? I am working on adding the Panzer DOF manager - this will create a required dependency on panzer for this feature. Should I add a build option that defaults to OFF to hide this dependency and the block capability itself in the build as to not disrupt others that do not care about it? Or sho

[2020-07-14 16:41] bartgol commented on #585
I was thinking that once the block discretization would be well oiled, we would switch to that altogether, with the DofManager from Panzer being our main way of numbering dofs and handling connectivity.

So, to answer your question, I would make it a required dependency. The DofManager pkg in panzer is not a big one, after all. If one can handle MueLu building, then building DofManager should be a

[2020-07-14 16:45] gahansen commented on #585
I am thinking the same on this Luca. There is very little overhead added and propagating the DOF manager and the interface everywhere will let us simplify things (and make the code more robust) over time. I'll do this of no one has objections or concerns.

[2020-07-14 16:45] mperego commented on #585
Hi Geln. Thanks for working on that. I'm fine with having Panzer Dof Manager as a require dependency.  Before you merge this change make sure to let us , and in particular Irina, know so that we can modify all the trilinos installs for the nightly builds. Also, we should be able to detect if the Panzer Dof manager is not present when we configure Albany.

[2020-07-14 17:01] gahansen commented on #585
I have the detection logic already in my local work version. Irina, perhaps we should add the option " -DTrilinos_ENABLE_Panzer:BOOL=ON" to the nightlies now in prep for my next push and make sure there are no issues with that step before I do the push later?

[2020-07-14 17:07] mperego commented on #585
Thanks @gahansen! When do you plan to have this merged? Irina is on vacation, and also we have a couple of PRs, with significant infrastructure changes, being merged in these days.

[2020-07-14 17:09] ikalash commented on #585
Yes, I can add the new enable in the nightlies.  I'm on vacation this week but can do it this evening perhaps.  I will comment here once I've had a chance to do so.

[2020-07-14 17:10] gahansen commented on #585
It will be a little while still. probably a couple more weeks. I will wait until the PRs go in and that all stabilizes before I push. My next push will probably only be discretization stuff so it should not have much impact elsewhere.

[2020-07-14 17:15] mperego commented on #585
OK, perfect! Thanks.

[2020-07-14 17:16] ikalash commented on #585
I see.  I'll do it sooner rather than later so as not to forget.  It should not hurt anything to have Panzer on in Trilinos, right?  Or will it increase the build times substantially?

[2020-07-14 17:18] gahansen commented on #585
It built very quickly for me - I did not notice any issues or differences. No hurry though Irina - please enjoy your time away!

[2020-07-14 17:24] mperego commented on #585
You shoun't  have to build all Panzer. Only the Dof Manager, and it builds very quickly:
`-D Trilinos_ENABLE_PanzerDofMgr:BOOL=ON \`

@gahansen can you check if this is enough? If you use only the Dof manager it should.

[2020-07-14 17:31] gahansen commented on #585
I'm not quite at the point of making sure that this is enough. I guess we should wait until right before I push and then I can try to build with just that option and see if it works.

[2020-07-14 17:48] mperego commented on #585
sounds good. So @ikalash don't modify the nightly builds for now. It would be great if we only relied on the DOF Manager.

[2020-07-15 15:37] #586 closed

[2020-07-16 15:45] jewatkins opened #611 "undefined reference to PHAL::ScatterSideEqnResidualBase and a few test failures on debug builds"
It looks like there's some linking errors on skybridge and blake:
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=3939
and some test failures on some debug builds:
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=3951

@bartgol this probably has to do with the PR you pushed yesterday, correct?

[2020-07-16 15:51] bartgol commented on #611
Yes, it is definitely that. I'll push some quick fix straight to master, if that's ok.

[2020-07-16 15:53] mperego commented on #611
Thanks @bartgol . Is the error in debug mode easy to fix? it seems it has to do with how the mesh is decomposed..

[2020-07-16 16:35] bartgol commented on #611
I haven't looked at the debug error (and I had to disconnect from vpn for a telecon, so I can't look at it now). Will check that in a few minutes.

[2020-07-16 22:10] bartgol commented on #611
The debug error is strange. It is basically saying that there is a node in the owned map that is not coupled with any other node in the owned map. That is bizarre to say the least. Obviously, something must be going wrong when retrieving gids, either when building the maps, or when creating the graph. It will take some time to debug, I'm afraid. I'll try to fix it, but since I'm off tomorrow, it m

[2020-07-16 23:06] mperego commented on #611
Are we sure that seacas decomp tool prevent that from happening? (it was happening with MPAS mehses.. and I had to fix that).

[2020-07-17 03:02] bartgol commented on #611
What do you mean? I am able to reproduce the error (for some of those tests) on blake, and I have decomp tools compiled in trilinos on both blake and my laptop (where no errors happen).

[2020-07-17 03:09] mperego commented on #611
I can reproduce that on my workstation  in debug as well.
I'm wondering whether that's a real bug, or simply a "weird" decomposition where there's triangle  owned by a proc but none of  the triangle's vertices is owned by that proc.

[2020-07-17 03:14] bartgol commented on #611
Uhm, if that's the case, maybe we should build our nodal maps not by asking the node buckets to stk, but asking for the element buckets, then loop over all of them and extract the nodes (which is what we do when we do assembly).

[2020-07-17 06:06] bartgol opened #612 "GPU build failures on ride"
There are some GPU build failures on ride, which are due to type mismatch for two size_type template arguments (size_t on one side, and unsigned int (the size type for cuda) on the other), during a view copy constructor.

I am not sure why these are showing up now. I don't recall any code in the FECrs PR that might have changed our types. Additionally, I _think_ our `DeviceLocalMatrix` type should

[2020-07-20 17:35] ikalash commented on #612
Were you planning to look at this, Luca?  If so, I'll assign the issue to you.  Perhaps @jewatkins has some ideas on what is the problem?

[2020-07-20 17:37] jewatkins commented on #612
Max is checking to see if this is an issue that came in from trilinos or Luca's PR. He should have some more info soon.

[2020-07-20 17:40] mcarlson801 commented on #612
I'm getting this build error when I try to build on Vortex. The error shows up in my volume refactor branch (which doesn't have Luca's Albany changes yet) as well as the master branch so it looks like whatever issue is coming from the Trilinos side.

`error: no instance of constructor "Kokkos::View<DataType, Properties...>::View [with DataType=const Kokkos::CudaUVMSpace::size_type *, Properties=<K

[2020-07-20 17:47] jewatkins commented on #612
It looks like it might have happened on 7/16. Could it be this one? https://github.com/trilinos/Trilinos/commit/0aee9563f5a1247a02ef70fc5e326a9bda0ce0cf

[2020-07-20 18:08] ikalash commented on #612
Thanks @mcarlson801 and @jewatkins for looking at this!

[2020-07-20 18:09] ikalash commented on #611
Any update on this issue @bartgol ?

[2020-07-20 19:36] bartgol commented on #611
Not yet. I had other stuff to do in the morning, and I'm currently working on it now.

[2020-07-20 19:37] ikalash commented on #611
No worries - thanks, Luca!

[2020-07-20 20:00] bartgol commented on #612
@jewatkins Good catch! However, why are we getting these errors in our nightlies? Aren't the nightlies supposed to clone a fresh copy of trilinos develop?

[2020-07-20 20:04] jewatkins commented on #612
It should, I guess I was saying that trilinos PR might have introduced an error? Not sure, Max is currently trying to build at a point right before this PR.

[2020-07-20 20:21] bartgol commented on #612
Yeah, I think you're right. And coming to think of it, the fault might be on Albany. In Albany_KokkosTypes.hpp we define the local graph/matrix types _just_ based on Kokkos stuff (I wanted to avoid to pull in Tpetra types in that file, since it would create a cyclic dependency between that header and `Albany_TpetraTypes.hpp`, and also because I didn't want our kokkos types to depend on tpetra).

I

[2020-07-20 22:39] bartgol commented on #611
Ok, I was able to reproduce on my workstation with intel compilers. I have to debug over vpn, so it is a bit slow (it lags a bit), but hopefully can find out something by the end of the day.

[2020-07-20 23:56] bartgol commented on #611
Ok, I printed what is going on, and I think I found the culprit. Tpetra checks that each element in the column map is a column index of at least one row (meaning that if it is in your column map, you must need it). However it checks only the rows of the owned graph, which is not the right thing.

I'm going to open an issue in Trilinos.

[2020-07-21 00:08] mperego commented on #611
@bartgol this is a good story on how we help maturing Trilinos!

[2020-07-21 03:41] bartgol commented on #611
I'm actually having second thoughts. I _do_ believe something is wrong in Trilinos, but I am not 100% sure, nor I can fully explain why. I need to get more clarity before I can open an issue in Trilinos and/or fix it.

[2020-07-21 06:18] bartgol commented on #611
So I concluded that the problem is not with Tpetra, but more likely, as Mauro foresaw, in how we partition the mesh.

Turns out that there is a cell where ALL the nodes are NOT in the owned map. Some of them also appear in other cells, where at least one node is _owned_, so for those nodes the Tpetra test passes (those nodes are col indices of at least one row that is owned). However, there is one

[2020-07-21 06:36] bartgol commented on #611
Coming to think of it, what we're observing should be quite common: if you have an unstructured triangular mesh, positioning it would likely yield a zigzagged edge. Having a triangle with all nodes ghosted is then not unlikely.

This brings me back to my original thought: trilinos should not perform this check.

[2020-07-21 14:57] jewatkins commented on #612
I confirmed the issue was introduced with https://github.com/trilinos/Trilinos/commit/0aee9563f5a1247a02ef70fc5e326a9bda0ce0cf , master builds fine on ride with https://github.com/trilinos/Trilinos/commit/4209d0dd46e86c40d32d878b844ab86978c9280b but not with https://github.com/trilinos/Trilinos/commit/0aee9563f5a1247a02ef70fc5e326a9bda0ce0cf

[2020-07-21 15:13] bartgol commented on #612
@jewatkins Great! Let me put up a quick PR with a fix.

[2020-07-21 15:33] mperego commented on #611
@bartgol the  zigzagged partitioning happend in MPAS. Worse than that we had a situation were a proc would own only one triangle but no nodes at all. MueLu didn't like that and I had to fix the way we partioned the mesh in the MPAS interface. It' wuld be a pain to do the same in Albany.
Solvers seem to do fine with standalone Albany, so maybe the check done in FE Crs Matrix is too strict?

Anyway,

[2020-07-21 15:36] bartgol commented on #611
Correct. I changed the way we "order" the GIDs in our overlap map (not the owned), but not how the entities are distributed among ranks.

I can open an issue in Trilinos, since what the check is actually doing is not what the error message says anyways. We can then take it from there.

[2020-07-22 21:17] mperego commented on #611
@ikalash there are a few PRs lininig up, and it's a bit of a problem that the debug build fails because of the Tpetra FE matrix check.  Would it be possible to temperarily freeze the version of Trilinos we use for the debug builds and fix it to disable the Tpetra FE Matrix check? In this way we can keep checking Albany code in debug mode.

[2020-07-22 21:57] bartgol commented on #611
@mperego , we would need to clone a different trilinos branch in all of our nightlies.

Maybe a proposal: should Albany keep a fork of Trilinos, and use this fork for testing? We can put this kind of hot fixes relatively quickly in our fork. We could even add some jenkins job that automatically perform a merge of Trilinos develop into our fork every night, to make sure we're always caught up.

[2020-07-22 22:08] mperego commented on #611
Well, that's what Ross Bartlett would recommend, and it's what ATDM does, but it is extra work.. not sure it's worth for a relatively small application like Albany.

[2020-07-22 23:47] bartgol commented on #611
Well, how often do we wait for fixes/branches to get into trilinos? Setting up a jenkins job that simply does an upstream merge, should not be that hard.

[2020-07-23 00:05] mperego commented on #611
Before an upstream merge you would have to check whether the merge breaks any Albany build/tests. That's not that easy to automatize and it's enough to have one failing test (not due to Trilinos) in Albany to hold the merge. ATDM is a larger projects and it has way more nightly builds than we do but it takes half of Ross time to keep the merging process flowing and tomonitor/triage the nightly bui

[2020-07-23 00:23] ikalash commented on #611
Yes, I can do this.  Would you like me to?  What is a good tag to use from Trilinos develop branch?

My two cents: I have also talked with Ross about having a special fork of Trilinos for Albany and my opinion is that this is not worth the effort...  but there are certainly arguments for doing it, as you guys discuss above.

[2020-07-23 00:34] mperego commented on #611
That be great, at least for one of the debug builds. I think you can use the Trilinos develop head, and then you have to comment out these lines
https://github.com/trilinos/Trilinos/blob/develop/packages/tpetra/core/src/Tpetra_FECrsGraph_def.hpp#L273-L292
to disable the check.

[2020-07-24 17:34] ikalash opened #616 "A couple new failing AIS performance tests"
Looks like we have a couple new failing performance tests on blake:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4250

[code]
Could you please have a look @jewatkins ?

[2020-07-24 17:37] jewatkins commented on #616
I hopefully fixed these this morning, we'll see tomorrow. Basically, I ran out of memory when I added the surface velocity mismatch response so I had to reduce the workset size.

[2020-07-24 17:38] ikalash commented on #616
Ah ok great.  I will check tomorrow and close the issue if it is indeed resolved.

[2020-07-25 17:19] #616 closed

[2020-07-27 17:06] ikalash opened #617 "Build failure in CEE intel nightly"
The CEE intel nightly build failed with a cryptic error:

[code]

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=4333

I had to change one of the modules over the weekend to use intel-19.0.1 instead of intel-18.0.3, as the latter module went away, apparently.  @gahansen do you think this error could be due to the intel TPLs needing to be rebuilt with the new intel compiler?

[2020-07-27 17:13] gahansen commented on #617
Yes, that would be my first thought also. It looks like the CEE folks dropped all the version 18 Intel compilers; we should rebuild those TPLs. I am hesitant to say that given the struggle that we had with gcc - but I'd be glad to give it a shot and document it like I did the others. We might also want to upgrade to the newer mkl while we are at it. I have done that everywhere I am working and it

[2020-07-27 17:36] ikalash commented on #617
Maybe this is a good time to try to switch the intel nightlies to use sems modules.  I will scope this out.

[2020-07-27 17:36] gahansen commented on #617
I did some searching on that error and there have been a few others that have encountered it elsewhere. Is Trilinos testing with that version (19.1-2020.1.217)? We might want to try the previous compiler 19.0-2019.5.281 and see if we get a similar failure. It is still probably a good idea to rebuild those TPLs in any event.

[2020-07-27 17:38] ikalash commented on #617
Oh, interesting.  I could switch to the other compiler to see what happens.

I agree with what Mauro was saying earlier that maybe it's best to not build any TPLs and just try to use the sems modules if possible.  I think this may be a good time to scope that out.

[2020-07-27 17:42] gahansen commented on #617
Yes - it is probably better to switch to sems if we can. I don't use the intel tools, so I don't have a personal/"other project" reason to keep them current like I did with clang and gcc.

[2020-07-27 17:49] ikalash commented on #617
So actually we are using 19.0 already -  module load sierra-devel/intel-19.0.1-intelmpi-5.1 is the module I am loading.  So I don't think switching the compiler will help.

[2020-07-27 18:14] bartgol commented on #617
+1 on using sems modules anywhere they are available.

[2020-07-28 15:45] ikalash commented on #611
@mperego: I finally have this patch up on the CEE debug nightlies.  Sorry about the delay.  I wrote the patch at the beginning of last week but due to some CEE nightly testing idiosyncrasies, the patch didn't start getting applied correctly until today.

There are still 3 failures in these builds:

[code]

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=4355
https://sems-cd

[2020-07-28 15:51] mperego commented on #611
Great, Thanks! I'll have a look at them.
Yeah, Luca is trying to convince Chris Siefert to modify that check.. but Chris is not very responsive... I'll ping him again today.

[2020-07-28 15:53] ikalash commented on #611
Thanks, Mauro!  That's good that you guys are making strides to get the fix in master.  It's OK as is for some time; I just don't want to forget about it.

[2020-07-28 16:42] bartgol commented on #611
He replied today. But I'm leaving for vacation in 3...2...1... So I can only work on it on Monday. Feel free to take a stab at it however... ;)

[2020-07-28 16:54] mperego commented on #611
@bartgol enjoy your vacation... we'll be good until next week.. and I don't want to deprive you of the honor of fixing that debug check! :-)

[2020-07-29 19:24] ikalash opened #619 "Change clang and intel nightlies on CEE to use sems modules"
Spin-off from issue #617 .

[2020-07-29 19:25] ikalash commented on #617
Closing in favor of spin-up issue #619 .

[2020-07-29 19:25] #617 closed

[2020-07-30 02:36] ikalash commented on #606
I came up with a solution to this, which I have implemented so far for the CEE intel build I created with sems modules.  A regular configure script (https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/do-cmake-trilinos-mpi-sems-intel ) lives in the repo.  As part of the nightly testing, I run a script that converts this file into one that is CDash friendly

[2020-07-30 15:20] jewatkins commented on #606
That's great, that should save me a lot of time trying to make sure I have the correct configuration. I agree, I don't think it's needed for the albany script.

[2020-07-30 17:38] ikalash commented on #606
Agreed, it should save all of us time.  I will gradually work on transitioning the other nightlies to this approach.  I was able to get a clang build working with the sems modules so that will be the next step.  The nightlies last night confirmed that  the new scripts I wrote are working correctly.

[2020-07-30 17:49] mperego commented on #587
L1L2 is gone.
Not sure about full Stokes. There is no plan at the moment to use it, but things might change.
We could add an option: -D ENABLE_LANDICE_STOKES  which is off by default, so that we do not need to run the tests all the time.

[2020-07-30 19:51] ikalash commented on #587
I'd keep full Stokes.  I have found myself looking at it several times in recent months to refresh my memory on the kinds of stabilizations we used, based on questions I have been asked by other ice sheet modelers.

[2020-08-02 19:52] ikalash commented on #606
I am going to close this, since I implemented my above fix for the CEE, ride, blake and cori nightlies.  I will do it for mayer and weaver once those get re-set up.  The other nightlies do not use the usual CDash scripts so the fix is not relevant.

[2020-08-02 19:52] #606 closed

[2020-08-03 02:52] mperego commented on #606
Hi Irina, this is great. So, if I want to reproduce the issue with the Hessian AD on the cee clang debug built what cmake script should I use? Can I use this
https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/do-cmake-trilinos-mpi-sems-clang
and switch the BTYPE to DEBUG>?

[2020-08-03 02:59] ikalash commented on #606
Exactly!  But please source the relevant modules file first.  Note that for most builds if you want to make a change to the configure script in the nightlies changing it in the repo is not enough - I have to update it on the machine too.   This is for security reasons mostly - so people can't directly control the nightlies just by modifying files in the repo.

[2020-08-03 04:48] #619 closed

[2020-08-03 04:50] ikalash opened #620 "Trilinos/Albany clang build issue on CEE"
It looks like there is a build issue having to do with Teuchos in our Clang CEE build.  I did switch our clang compiler over the weekend, so it could be due to that, rather than due to a change in Trilinos.  I'd like to open a Trilinos issue, but maybe someone could look at the issue in addition to me as a sanity check?  Here is the Trilinos build error: https://sems-cdash-son.sandia.gov/cdash/vie

[2020-08-03 04:53] ikalash commented on #620
I should add, I am using clang 10.0.0 now compared to clang 9.0.1 before.  @gahansen didn't we have this same discussion once when you were rebuilding TPLs actually, not long ago?  Maybe the thing to do is to go to clang 9 - I think it's what we did before.  It is sad that already I don't remember the details...  getting old I guess... :(

[2020-08-03 15:10] mperego commented on #620
Why did we switch to Clang 10? I thought we agreed that it would be better to stick with Trilinos compilers as much as possible. That's why we (@ikalash in particular) pushed trilinos to have a Clang build for PR testing.

[2020-08-03 15:13] ikalash commented on #620
I forgot what we decided and when I switched to sems modules, I just picked the most recent one.  I will try going back to 9.  Hopefully that will fix it.

Sorry, guys, too many builds / compilers to keep track of, sigh...

[2020-08-03 15:26] gahansen commented on #620
I think that your Trilinos build completed fine. I am using my own version of Clang 10 and the TPLs that I built, and I usually see warnings that look like these. The clang compilers are chatty and warn about things that gcc does not; I don't see anything in my current warning set (or yours posted) that is of concern.

I think your Albany build is linking to the wrong library somewhere. As I read

[2020-08-03 15:39] ikalash commented on #620
Thanks @gahansen for the diagnosis - that makes sense that it's a TPL / linker error, and it's all coming back to me now from before.  I wonder if for whatever reason the nightly build is finding some of the old pre-built TPLs instead of the sems ones?  I think you had a way to ensure that right TPLs were used by setting a Trilinos option - can you please remind me what it is?  Was it something wi

[2020-08-03 16:00] gahansen commented on #620
Our nightlies that start with 'cron' will start with a clean environment. I'd suggest that we 'include' a file, right at the beginning, that sets up all the 'test specific' variables - compilers, libraries, TPL paths - everything needs to be explicitly set instead of loaded in externally from modules, PATHs, or LD_LIBRARY_PATHs.

We need to have TPLs built with the same compiler and MPI version we

[2020-08-03 16:23] gahansen commented on #620
I did not completely answer your question. In my build scripts, say:

Albany/doc/cee/do-cmake-trilinos-cee-clang10

I have lines like:

    -D Netcdf_INCLUDE_DIRS:PATH=$NETCDF/include \
    -D Netcdf_LIBRARY_DIRS:PATH=$NETCDF/lib \

I hardcode the locations for $NETCDF above this. However, you also need to carefully look at the CMake configure output and make sure that it finds this correctly and

[2020-08-03 16:27] gahansen commented on #620
In the above ${LIB_DIR} is a superset of ${GCC_LIB_DIR} as the TPL libraries are not always contained in ${GCC_LIB_DIR} (SUPERLU for example). But maybe they should be?

[2020-08-03 16:41] ikalash commented on #620
Thanks, Glen, i remember now.  The weird thing is I am not setting any of the lib dirs anymore, like you were before, to any pre-built TPLs, since I am using the sems modules for those.  I also don't have any FIND_PACKAGE() lines anywhere.  I am wondering if it's somehow picking them up in a different way, though I'm not sure how.  I am going to check what happens if I build from scratch using cma

[2020-08-03 16:52] gahansen commented on #620
You can probably deduce what is happening by looking at the Trilinos configure output. Modules are a nice convenience feature, but if, say the TPLs in that module are compiled using a different compiler module than you want to use - everything falls apart. There should probably be only a single module for everything - that has it in the compilers used to build the dependencies (the TPLs) within th

[2020-08-03 17:07] gahansen commented on #620
If you do a stand along build, please look at the filesystem under:

/projects/albany/clang-10.0.0

Everything under there is built and compiled with the same compiler and mpi (clang-10.0.0 and Open MPI 4.0.1 I think). Boost, all the include files, and all the TPL libraries are in there. If you link to that, you only need one include dir for the whole system and one LIB dir for the whole system. I

[2020-08-03 17:18] ikalash commented on #620
Thanks, Glen.  It looks like this was due to a really silly error I made while refactoring the nightly scripts over the weekend.  I was having all the builds point to the same gcc Trilinos install, hence the mismatch b/w compilers.  The upshot with using the sems modules is that one should need to set the extra link flags and RPATH.  Anyway, I will close the issue.  Hopefully everything will be cl

[2020-08-03 17:18] #620 closed

[2020-08-03 17:23] bartgol commented on #587
Can we at least make the compilation of stokes stuff conditional to some cmake var (e.g., LANDICE_ENABLE_LEGACY_CODE)?

[2020-08-03 17:28] mperego commented on #587
Yes, that was also what I had in mind.

[2020-08-03 17:55] bartgol commented on #611
@mperego How nice of you! =D

[2020-08-05 00:28] mperego commented on #590
@bartgol sorry for bugging you again today.. do  you have a chance to look at this issue?    :-)

[2020-08-05 15:49] bartgol commented on #590
...and I forgot again. Sorry. Yes, I'll look into it today.

[2020-08-05 23:23] bartgol commented on #590
You're right. With `Use Serial Mesh: true`, the mesh  is still repartitioned among ranks, even if I comment out the second half of the if statement. Not just that, but if I do run the rebalance, the code crashes during the call to `buildCellSideNodeNumerationMap` (I don't think I'm shuffling around the numeration maps in case of rebalancing, which is wrong).

I think Mauro's solution of enabling r

[2020-08-05 23:37] mperego commented on #590
But what about the failure wiht the hydrology test I mentioned above?

[2020-08-05 23:40] bartgol commented on #590
Ah, sorry, I missed that. Let me check.

[2020-08-06 17:08] ikalash opened #623 "Albany build error due to Hessian changes on skybridge"
Looks like the Skybridge build failed due to the Hessian stuff:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=4704

[code]
@mperego , @kliegeois : could you please have a look?

[2020-08-06 17:35] kliegeois commented on #623
Thanks for reporting the error.
Line 586 of src/Albany_ModelEvaluator.cpp should have been removed from my PR, sorry about that. Nevertheless, this compilation error is strange. Which version of Trilinos is used for this build?

[2020-08-06 17:39] mperego commented on #623
@ikalash Any clue of why it started failing today?

[2020-08-06 17:44] ikalash commented on #623
No, that is a mystery...  I noticed that I had to change the Trilinos required version in Albany's CMakeLists.txt from 12.13 to 13.1 - most of the nightlies failed b/c of the version mismatch.  I'm not sure why the skybridge one did not, but perhaps this is somehow related to that version number?  Not sure....

This is Trilinos develop branch.  The Trilinos sha used in the nightlies on skybridge i

[2020-08-06 17:46] mperego commented on #623
OK, thanks. I'll try t have a look at it today.

[2020-08-07 16:28] ikalash commented on #623
Seems this issue has gone away - closing.

[2020-08-07 16:28] #623 closed

[2020-08-07 16:28] ikalash opened #624 "Create nightly build on weaver"
For regression and performance Albany tests.

[2020-08-07 21:15] mperego commented on #623
O great! Sometime being less responsive does pay off! It's still a bit mysterious.. if it happens again we'll dig into it.

[2020-08-12 17:01] ikalash opened #625 "Enthalpy_Humboldt test failing on Ride"
Looks like the PR that was merged in yesterday broke the Enthalpy_Humboldt test on Ride:

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=373094&build=4903

[code]
@mcarlson801 @jewatkins : can you please look into this?

[2020-08-12 17:12] jewatkins commented on #625
Max is looking at it now

[2020-08-12 17:37] ikalash commented on #625
It looks like there are also now 2 performance test timeouts on weaver:

[code]
These are not pushed to the CDash site, but the output can be found here on weaver: /home/projects/albany/nightlyCDashWeaver/aliPerfTests/nightly_log_weaverAliPerfTests.txt

[2020-08-12 18:39] jewatkins commented on #625
Are you using `#BSUB -x` on weaver? I don't think that's on by default which could lead to multiple apps running on the same GPUs and timeouts.

[2020-08-12 19:40] mcarlson801 commented on #625
I rolled my Albany build back to commit ff94638 and the Weaver performance tests are still hanging so at the very least it wasn't caused by the boundary conditions PR.

[2020-08-12 20:08] jewatkins commented on #625
Hmm let's give the weaver performance tests another day and see what happens.

[2020-08-13 13:54] mperego commented on #590
Hi Luca, sorry for pinging you again on this. Did you find out if it is safe for the hydrology test to disable the default Rebalance for `Use Serial Mesh: true` ?

[2020-08-13 17:24] bartgol commented on #590
I removed the `|| (...)` in GenericSTKMeshStruct, and Hydrology works on my laptop, with or without the `Rebalance Mesh: false` option in the input file.

Additionally, I noticed that the `Use Serial Mesh` is present in a few STK mesh structs, but if we remove the `|| (...)` part from the if statmentit, then it only makes sense for Ioss meshes. So we should probably purge it from the others...

[2020-08-14 03:27] mperego commented on #590
@bartgol I opened PR #626. As you can see I had to turn on Rebalance for the Hydology tests. If I don't I get these errors:
[code]

[2020-08-14 03:54] mperego commented on #590
Here is debug output:
[code]

[2020-08-14 03:56] mperego commented on #590
Here's line 1420:
[code]

[2020-08-14 05:16] bartgol commented on #590
Interesting. I wonder why I don't get the error on my laptop. I will double check. (next week, I'm off tomorrow).

[2020-08-17 22:04] #624 closed

[2020-08-18 00:27] ikalash opened #627 "LandIce test failures on weaver"
I've gotten the weaver nightlies posting to the CDash site, finally.  It looks like there are a handful of LandIce failures:

[code]
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=5112

@jewatkins , @mcarlson801 , @bartgol : can you please have a look?  This could be related to #625 .

[2020-08-18 00:36] jewatkins commented on #627
I'm seeing the same thing on ride. I think this is related to 99e4c630ad0f7dfb7595b0f0eb33e22694f605fb but I'm not sure what's causing it. We'll have to investigate this further.

[2020-08-18 15:25] mcarlson801 commented on #627
I pushed some changes to fix the performance timeouts on Weaver but it looks like it exacerbated the test failures. I'm going to do some digging, I assume there is a bug in the boundary condition PR causing memory corruption.

[2020-08-18 18:00] ikalash commented on #627
Are you referring to the new failures that started today (the "18" in the dashboard for a bunch of builds: https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany&date=2020-08-18&filtercount=1&showfilters=1&field1=groupname&compare1=61&value1=Nightly )?

[2020-08-18 18:03] mcarlson801 commented on #627
Yes, the new failures today were due to the fix I pushed yesterday for the Weaver issues. I've reverted the fix and now the tests are passing. Now I'm digging into why yesterday's fix caused these problems and I'm hoping it sheds some light on the Ride test failure.

[2020-08-18 18:10] jewatkins commented on #627
Weaver issues - referring to the stokesfo finite element assembly performance tests that have been failing on weaver. That is still an issue but this one should be fixed now with the revert (just checked and tests are clean). Let's make a new issue for the performance tests and close this tomorrow when the nightlies come back clean.

[2020-08-18 18:11] ikalash commented on #627
@mcarlson801 : ok, great, thank you for looking at it!

[2020-08-18 18:21] jewatkins opened #628 "LandIce StokesFO assembly timeout on weaver (GPU) performance tests"
This was discussed briefly in #625 and #627:
[code]
There are multiple issues here.
1. The BC PR #622 added kernels for the old BC layout which is still being used by StokesFO. It seems the kernels, at scale and on GPUs, are not as performant as the host code. 99e4c63 fixed this issue by reverting to the host code but introduced more issues (see #627). Max is looking at this.
2. Weaver is having s

[2020-08-18 18:36] jewatkins commented on #625
I'm pretty sure this issue is caused by running out of dynamic memory. There may still be some lingering memory leaks caused by  #622 which Max is looking into.

@ikalash @mperego There's a couple solutions to this but it'd be good to get your input:
1. We can try harder to limit our allocations of sacado data types. Max and I already tried this and failed but we might be able to be more aggressiv

[2020-08-18 18:43] bartgol commented on #625
Do we have any check in the problem or application, to make sure that the SFad or SLFad size is large enough for the current problem?

If we don't, and we decide to add it, we might also print a warning if the size required by the problem is much smaller (25+%) than the allocated size, so the user knows it might get some benefit by changing the config options.

[2020-08-18 18:48] jewatkins commented on #625
We don't and we should definitely add some messages like that. I think it would be really useful. I also want to change the definitions a bit since the current version leads to user error sometimes.

The default for CPU builds can remain DFad. I'm proposing we stop supporting DFad for GPU builds. I think we could throw an error if we try to allocate a derivative size larger than SLFad size.

[2020-08-18 18:53] bartgol commented on #625
So if `KOKKOS_ENABLE_CUDA` is defined, error out if the fad type is DFad? I guess it's fine. New user won't probably bother with GPU, and if they do, they are probably good enough developers to quickly figure out what the fad machinery is.

No further objections on my end.

[2020-08-18 18:55] jewatkins commented on #625
Yeah that's the idea or maybe even not have the option for `KOKKOS_ENABLE_CUDA`.

In regards to the error message for SLFad, SFad, I have run into a weird issue in the coupled land ice problem where we do need a size large than I expected. I could try to track that down though.

[2020-08-18 18:56] jewatkins commented on #625
Actually, now that I think about it. I think SLFad will throw but SFad does not. Either way, I could look into it.

[2020-08-19 15:55] jewatkins commented on #628
(1) was pushed but we still have issue (2). The timeouts are gone though so I'll close this issue for now.

[2020-08-19 15:55] #628 closed

[2020-08-19 15:56] jewatkins commented on #627
This looks fixed.

[2020-08-19 15:56] #627 closed

[2020-08-24 20:17] Tread84 opened #629 "Trouble finding/linking KokkosCore"
I am trying to install Albany and while doing so I received the following error about liking KokkosCore. I know that I install Kokkos in Trilinos, but it is one of the few libraries that I never really use. Looking on guidance to solve the problem. Any help would be appreciated.

cmake       -D ALBANY_TRILINOS_DIR:FILEPATH=/home/tad/trash/Trilinos/build ..
CMake Warning at /home/tad/trash/Trilinos

[2020-08-25 17:00] bartgol commented on #629
The error message makes it seem as there is an empty CMake variable. More precisely (checking the offending CMake line), it appears that `Trilinos_INCLUDE_DIRS` is empty or not defined. Since that's a variable shipped by Trilinos CMake machinery, the only explanation is that your `Trilinos_DIR` is not properly set. This is also confirmed by the fact that the stuff printed after `Found Trilinos! He

[2020-08-25 19:29] jewatkins commented on #629
`-D ALBANY_TRILINOS_DIR:FILEPATH=` needs to point to your trilinos install directory. It looks like that might be `/home/tad/trash/Trilinos` if that's where you have `lib`.

[2020-08-26 17:01] Tread84 commented on #629
@bartgol @jewatkins  It was a mental error on my part, that problem is current fixed. However, I did notice that I get some interesting warnings when I try and make Albany about linkage to header files within Trilinos. The make goes past these warnings and crashes trying to create an output. I have attached the screen outputs. Thank you in advance for any help that you can provide!
[Albany Make Sc

[2020-08-26 17:27] jewatkins commented on #629
Hmm I haven't seen those errors before so I'm not sure. You could try comparing your trilinos configuration with our nightly configure script to see if there's anything you might be missing:
https://github.com/SNLComputation/Albany/blob/master/doc/dashboards/cee-compute011.sandia.gov/do-cmake-trilinos-mpi-sems-gcc

[2020-09-07 13:07] hillyuan opened #631 "Question about performance of MPI parallel calculation"
I've just tested performance of MPI parallel calculation of Albany by using test case in /tests/small/HeatQuadTri. I know those test cases are too small to test MPI but the results is awfully bad.

Below I attached the output of these two calculation. Do I do anything wrong?

[mpi.txt](https://github.com/SNLComputation/Albany/files/5183221/mpi.txt)
[serial.txt](https://github.com/SNLComputation/Al

[2020-09-08 17:19] bartgol commented on #631
Something that looks funky to me is the workset size: it is 921 in serial, and 660 in parallel. With 4 ranks, that 660 seems like an odd number to me.

That said, my first guess is that your mpi ranks are not pinned to a core. I usually add this line to my config script:

[code]
If the ranks are not pinned to a core, they end up all floating to the same core, and that cause a ton of cache trashing

[2020-09-09 13:38] hillyuan commented on #631
Thanks @bartgol . It seems that IT IS the problem. If I call mpirun like
--------
mpirun -np 4 --bind-to none -x OMP_NUM_THREADS=1
--------
Albany Total Time becomes 0.250631, I think it is reasonable considering the problem's scale.

By the way, I did nothing about workset size. 660 seems like the elements number on process, which  was set automatically by Albany.

[2020-09-09 15:26] bartgol commented on #631
I'm glad that fixed it. WIth MPI and OpenMP, I found that often times the environment and launch flags are as important (if not more) as the code optimizations.

Ok, thanks for the clarification.

I'm closing, since this seems to be solved.

[2020-09-09 15:26] #631 closed

[2020-09-13 05:42] ikalash commented on #585
I am getting errors when I try to build this branch.  Here is how they look like:

[code]
I added `` -D Trilinos_ENABLE_PanzerDofMgr:BOOL=ON \`` to my Trilinos configuration.  Perhaps something else needs to be added?

[2020-09-14 17:21] gahansen commented on #585
Sorry Irina, I was working on the next step in the tester right before I pushed this and I forgot to flip back an #if to false. I'll finish this thought up and force push the next increment and let you know.

[2020-09-14 19:57] ikalash commented on #585
@gahansen : ok no problem.  Just let me know when for me to test.

[2020-09-16 17:18] Tread84 opened #633 "Make error with Albany Solver"
I was in the process of making Albany when this morning, when it generated an error at Albany_SolverFactory.cpp,o process. It says that it is due to an unfinished job, which in my experience with Trilinos and other numerical libraries most likely there is a linkage error to somewhere. I noticed that there are some "errors" coming out trying to link with Tpetra.

I have attached both the configure

[2020-09-16 21:43] bartgol commented on #633
We ran into this issue in the past, where the template arguments were not correct. In that case, it boiled down to some issue with Tpetra having changed the static graph template arguments, but we were still using the old ones.

Just to be sure, how old is your trilinos installation? And if it's not old, did you purge the install folder before the last install?

[2020-09-17 00:15] #625 closed

[2020-10-01 18:07] ikalash opened #635 "PR merged in caused CISM-Albany tests to all fail"
Looks like the PR that was merged in yesterday caused all the CISM-Albany tests to fail with FPEs (e.g., https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=6918 ).  @mperego , is MPAS-Albany OK according to those nightlies?  I will try to triage this later today.

[2020-10-02 17:26] #635 closed

[2020-10-02 18:26] mperego commented on #635
@ikalash Thanks! MALI failed but because I forgot to enable Panzer Dof Manager.

[2020-10-11 21:09] mperego opened #636 "Issue with Ascii2D Discretization Method after changes to Block Discretization"
As @ikalash pointed out at the Albany meeting there has been a problem w/ Ascii2D method after the merge of PR #632 that was showing up in one of the CALI tests.
To make it easier to debug, and improve test coverage, I added test `FO_GIS_Import2DAsciiMesh_Serial` which is now failing in the nightlies

https://sems-cdash-son.sandia.gov/cdash//queryTests.php?project=Albany&date=2020-10-11&filtercoun

[2020-10-12 16:06] gahansen commented on #636
Sounds great Mauro. I'll take a look and report back soon.

[2020-10-12 19:14] gahansen commented on #636
Hi Mauro. I just pushed a fix for this that should take care of it. I wrote the details in the commit message, but the new stk declare_part_with_topology() call that I used required a different description for a 2D Tri 3 than the previous call needed.

We can close this issue I think if everyone's tests clean up with this commit.

[2020-10-12 19:35] ikalash commented on #636
Thanks for doing that so fast, @gahansen !  I will test it now and report back the results.

[2020-10-12 19:49] mperego commented on #636
@gahansen yeah, thanks for the quick fix!

@ikalash I pushed a quick commit to change the test build type from Epetra to Tpetra, otherwise you might see errors in Tpetra only builds.

[2020-10-12 21:53] ikalash commented on #636
I verified that the tests Mauro added pass now, but the CismAlbany test that uses the Ascii2D mesh struct that actually uncovered this issue is still failing on the mesh creation step.  I am attaching the relevant input files and output for this run.  @gahansen could you please have a look?  I had to add the *.txt to the files to upload them here.  Please remove it to run.

[greenland_2d.quad.msh.

[2020-10-12 23:35] mperego commented on #636
@ikalash what error you see? I just tried with those file and it worked fine on my Workstation.

[2020-10-13 01:43] gahansen commented on #636
@ikalash - I also tried these and the problem looks like it ran OK

[2020-10-13 15:44] gahansen commented on #636
@ikalash I just saw the CISM test error come through on the "camobap" 2020-10-13 nightly. That nightly appears to have tested ALBANY_GIT_COMMIT_ID = d5dce34a4, my fix is one commit more recent than that one (69984a372). Not sure if something like that might be at play, but I thought I would note it.

[2020-10-13 17:37] ikalash commented on #636
@gahansen : I think you maybe were looking at the nightly from 2 nights ago?  Last night's has: ```-- ALBANY_GIT_COMMIT_ID = 90509fa36 ``` (https://sems-cdash-son.sandia.gov/cdash/buildSummary.php?buildid=7386).  Let me have a closer look at what is going on there.  It's strange that the error happens on camobap but it does not seem to happen for @gahansen or @mperego with the same build of the co

[2020-10-13 17:55] ikalash commented on #636
I figured out the problem.  The issue happens only in parallel.  @gahansen if you run the input files from the CismAlbany test that I posted yesterday in parallel, does it run correctly, or does it die with an ``INVALID_TOPOLOGY'' error?

[2020-10-14 02:59] gahansen commented on #636
Sorry folks. I needed to broadcast the element topology as this is only read in on rank 0. This commit should have this new logic working in both series and parallel.

[2020-10-14 13:05] mperego commented on #636
Thanks, Glen!

[2020-10-14 16:43] ikalash commented on #636
Looks like this has been resolved - thanks!

[2020-10-14 16:43] #636 closed

[2020-10-16 08:30] kliegeois opened #638 "Issue with Aggregate Responses"
There is an issue with Aggregate Responses. If I understand the `AggregateScalarResponseFunction` correctly, its purpose is to have several responses without coupling them by summing them together for instance.

In Thyra, there are capabilities to support multiple response functions.
For instance, it is possible to access the g space of the j-th response: `get_g_space(j)`.

Finally, in `Piro_Perfo

[2020-10-16 16:25] bartgol commented on #638
@kliegeois I think you raise a good question: what's the point of disguising N responses as a single response?

[2020-10-16 17:10] kliegeois commented on #638
@bartgol You summarized the issue in one sentence!

[2020-10-16 19:32] mperego commented on #638
This is something that has been there before I started using Albany. My understanding is that it was used for grouping responses the same way you group scalar parameters.. so instead of having separate responses you have a vector of responses.. but it might not be needed any longer.

[2020-10-16 20:07] bartgol commented on #638
If Albany stored a single response, then this would make sense. But since albany stores a vector of responses, then I guess the grouping can already be done in the vector.

I'm ok with purging this class. Of course, adding proper code in the response factory that creates a vector of responses.

[2020-10-16 23:57] ikalash commented on #638
I echo this statement.  I am not sure what was the reason for this design.  I am the one who converted the response processing in Main_Solve.cpp to Thyra while ago.  I vaguely remember some issue with > 1 responses, perhaps b/c there was something missing in ME with > 1 response?  I think this is the comment: https://github.com/SNLComputation/Albany/blob/master/src/Main_Solve.cpp#L282-L288 .  It m

[2020-10-18 14:49] kliegeois commented on #638
I am currently trying to push back each response individually.
I will let you know how it goes.

[2020-10-18 15:10] mperego commented on #638
@kliegeois , I've been looking into that. Please wait. The issue is that we need to change all the Regression in all input files to do that. I'll add a more detailed message later.

[2020-10-18 15:15] kliegeois commented on #638
@mperego, thanks for looking into that! That is exactly what I was currently modifying; I was trying something such as:

[code]
I will wait.

[2020-10-18 15:26] mperego commented on #638
Right, exactly. Sorry I was not expecting you to look into it, otherwise I could have save you (or myself, hehe) some time. I think we should discuss this within the Albany team. I'm fine changing the input file, but while we are doing that I will advocate for a cleaning of the way responses, parameters and regression results are handled. There are typically two choices for each of them, often lab

[2020-10-19 07:04] kliegeois commented on #638
Sorry, I was not expecting you to look into it this weekend either. Otherwise, I would have shared my findings.

Yes, I think that this issue is a good opportunity if we want to revisit the format supported.

I will stop working on this issue until a new format has been decided.

[2020-10-19 15:21] bartgol commented on #638
I agree that it's time to fully commit to the "new" way of prescribing parameters/responses. Legacy code is ok while people transition to the new standard, but then it ought to be purged.

[2020-10-22 11:21] kliegeois commented on #638
I am currently working on it.
I will create a PR in which I will only modify some of the .yaml files to discuss the modifications.
When everything is fine, the other tests will be updated.

[2020-10-22 13:57] kliegeois commented on #638
The PR #640 has just been created.
Please, let me know if you have any concerns.

[2020-11-07 16:38] kliegeois commented on #638
This issue can be closed as #640  has been merged.

[2020-11-07 16:38] #638 closed

[2020-11-18 20:35] ikalash opened #644 "Annoucement: change to Tempus syntax"
I just wanted to give everyone  a heads up about a change to Trilinos that got merged in today that affects Albany.  The ‘Initial Order’ option has been removed from the list of valid options in Tempus.  I have updated Albany to reflect the change, but if you have your own input files that you are working with, you’ll have to make the change on your own.  This is of course if/when you pull / rebui

[2020-12-07 16:33] jewatkins opened #646 "Various failures on dashboard"
https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany
I think the GPU failures are caused by the required dependency on ROL (we don't build with ROL). See https://github.com/trilinos/Trilinos/issues/8431

The analysis performance tests on blake seem to be timeout issues:
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=9595
Maybe these just need to be adjusted bas

[2020-12-07 17:23] kliegeois commented on #646
Thanks @jewatkins  for pointing to that. I will correct that asap.

[2020-12-07 17:29] mperego commented on #646
@jewatkins @ikalash I think we should add the dependency on ROL, because we are swithching to that for sensitivities. Sorry I forgot to anticipate that.

[2020-12-07 17:47] jewatkins commented on #646
I think it's just the GPU build that doesn't build with ROL. I'm assuming it builds okay? It's probably good to start testing at least.

[2020-12-07 19:45] mperego commented on #646
B.t.w this https://github.com/trilinos/Trilinos/pull/8432 should fix the issue with ROL.
It is still OK not to add ROL as a dependency, and it will be for a long while, so no rush with that. My message above was not quite right. That been said it would probably be nice to start solving analysis problems on GPUs

[2020-12-07 19:59] jewatkins commented on #646
@mperego Any ideas as to why this case is timing out?

Before 50s: https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=682568&build=9481
After >10min: https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=689456&build=9595
Input file: https://github.com/ikalash/ali-perf-tests/blob/master/perf_tests/green-3-20km/input_albany_BasalFrictionInit_SingleWorkset.yaml

The convergence look

[2020-12-07 20:15] mperego commented on #646
@jewatkins No, apparently something in the algorithm changed, but I don't think this was expected, so it's good to have this failure. Not sure I have time to look into it today, though.

[2020-12-07 20:30] kliegeois commented on #646
@mperego do you think that it could be related to the reduced Hessian PR? If yes, I can look into that. At first sight, it does not seem to be the case to me.

[2020-12-07 20:37] jewatkins commented on #646
Okay no problem, the Trilinos git commit ids are there too. It happened sometime between 12/4 and 12/6 I think.

[2020-12-07 20:45] mperego commented on #646
@kliegeois I also don't understand how it happened, but given that the failure happend after the merge of that PR, I  think it is likely related to that.

[2020-12-07 21:10] kliegeois commented on #646
I will look into that tomorrow. It is strange that there are more `ThyraProductME_Constraint_SimOpt` and `ThyraProductME_Objective_SimOpt` operations.

[2020-12-08 11:34] kliegeois commented on #646
@jewatkins I tried to reproduce the test on my Blake account and my computer; however, Albany cannot find some of the input data files and I ran into errors such as:
[code]

Where can I find the required files to reproduce the performance issue?

[2020-12-08 15:20] jewatkins commented on #646
The populated meshes need to be constructed from the 2D meshes which you may not have access to. They're here: `/home/projects/albany/ali-perf-tests-meshes/`. @ikalash could you add `knliege` to `wg-albany`?

Once you have access, the easiest way is to use the configuration file: `ali-perf-tests/doc/do-configure-blake` to construct the distributed 2D mesh, then run `ali-perf-tests/perf_tests/green

[2020-12-08 15:26] jewatkins commented on #646
I put the meshes here: `/home/projects/albany/ali-perf-tests-meshes/mesh-vel-tet` in case you already have access. It's already decomposed so it will only run on 8 blake nodes.

[2020-12-16 04:54] mperego commented on #646
Commit  https://github.com/ikalash/ali-perf-tests/commit/874cf9ba370119c02e000d2d218a81c4c3232aa0 should fix the time outs.

[2020-12-16 08:20] kliegeois commented on #646
Thanks @mperego !

[2020-12-16 16:59] jewatkins commented on #646
Results look great now, thanks! There's also this test case that seems to be failing:
https://github.com/SNLComputation/Albany/blob/master/tests/small/LandIce/FO_GIS/input_fo_gis_analysis_stiffening_memT.yaml

Some of the other ones might be timing out too.

[2020-12-16 22:45] mperego commented on #646
@jewatkins Just pushed a fix for that as well.

[2020-12-16 23:31] jewatkins commented on #646
Great thanks, will close if I see all tests pass tomorrow.

[2020-12-17 15:17] jewatkins commented on #646
Looks like everything passes now. I looked at the test time over time for a few tests and the performance looks better than before too so I'm going to close this. Thanks all!

[2020-12-17 15:17] #646 closed

[2020-12-17 15:20] mperego commented on #646
Great, thanks. Sorry it took me a while to fix this. I'm not sure why the last test I fixed was not timing out before.. it had a crazy small tolerance for the nonlinear constraint solved by ROL. The  rest of the fixes made sense to me, given the changes in Piro/ROL.

[2021-01-07 22:13] bartgol opened #649 "Basis functions layout perf question."
I am wondering whether we could squeeze a tiny bit of perf out by swapping the BF layout, from (cell,node,qp) to (cell,qp,node).

The reason is that our for loops structure is like
[code]
So it might be best for caching purposes to make node striding faster. That is, assuming our layout is LayoutRight (at least on host). I guess on GPU the current layout is fine, since I'm assuming PHX uses Layout

[2021-01-07 22:36] jewatkins commented on #649
I haven't really looked at changing the layout or inner loops. Having the nodes contiguous on host (no openmp) would help the loop you mentioned because of caching. In general, there should be a trade off between the two layouts depending on the contraction. For interpolation where we contract on nodes, it's better to have (qp, node) but for integration where we contract on qp, (node, qp) is bette

[2021-01-07 22:50] bartgol commented on #649
Ah, I had the impression BF were always having node loop being the inner one, but I was wrong.

Ok, I'll close this then.

[2021-01-07 22:50] #649 closed

[2021-01-18 16:31] jewatkins opened #652 "Dashboard failures"
Anyone know why everything is failing on the nightly dashboard? It seems to be related to panzer or phalanx. @mperego @ikalash

[2021-01-18 17:14] mperego commented on #652
@ikalash opened an issue and this PR should fix that
https://github.com/trilinos/Trilinos/pull/8590#issuecomment-762353302

[2021-01-18 17:28] jewatkins commented on #652
okay thanks

[2021-01-19 16:43] #652 closed

[2021-01-28 16:55] jewatkins opened #656 "CUDA build errors in nightly"
It looks like the cuda builds are down:
[code]
@mperego @kliegeois
It looks like a std::sort is used which can't be used on device. If you want that bit of code on device, I think you can try using Kokkos::sort.

[2021-01-28 17:04] kliegeois commented on #656
Sorry @jewatkins, I did not try it with Cuda. This is definitely an error.

[2021-01-28 18:08] kliegeois commented on #656
Should I create a PR with just this modification?

[2021-01-28 18:13] jewatkins commented on #656
Go ahead and push directly to master, assuming your local build/tests pass.

[2021-02-02 16:36] #656 closed

[2021-02-05 17:28] jewatkins opened #661 "Nightly performance tests failing on GPU"
A couple of performance tests are failing on GPU:
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=12122

Here is the error message:
[code]
The last time this passed was on 1/27 with https://github.com/trilinos/Trilinos/commit/2e2b449f517489f39102b16da97d1a1603b04341 and Albany commit id https://github.com/SNLComputation/Albany/commit/54524b5ac3ec55fd16989d617ac5c572521dddf4

[2021-02-05 17:38] bartgol commented on #661
I've seen that error in the past in Homme. It happened only with debug builds, where Kokkos does some checks on the team size.
The fact that it happened only in debug builds was good, cause it meant that it was due to the functor size and or register pressure being too large in debug mode (due to lack of compiler optimizations).

We bypassed the kokkos check (in debug mode only) by specifying the

[2021-02-05 17:42] bartgol commented on #661
Note that the template args of LaunchBounds are MaxThreadsPerBlock and MaxBlocksPerSM, so their product should not exceed 1024 (the limit for a V100). Asking for 512 and 1 clearly keeps us under that limit, and unless there's an insane usage of registers, it should work. If 512 is too large, one can ask for 256 or even 128.

[2021-02-06 01:00] jewatkins commented on #661
Thanks Luca, I confirmed the latest version of Albany works with trilinos/Trilinos@2e2b449 so it must be something in trilinos. I'll try digging a little deeper next week.

[2021-02-16 16:39] ikalash opened #662 "Error having to do with Albany_Hessian.cpp in GCC warning-free build on Blake"
It looks like there is an error in the GCC warning-free build on Blake:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=12476

``
Albany/src/utility/Albany_Hessian.cpp:36:29: error: comparison between signed and unsigned integer expressions [-Werror=sign-compare]
[code]

[2021-02-16 16:59] mperego commented on #662
@ikalash  Commit f41be292a755ab7a69f5fa16eb8d7fa5d29818da should fix that.

[2021-02-16 21:34] ikalash commented on #662
Thanks @mperego !  I will check tomorrow that things are good and if they are will close the issue.

[2021-02-17 17:41] #662 closed

[2021-02-17 17:43] ikalash opened #663 "SteadyHeatConstrainedOpt2D_Scalar_And_Dist_Param_Tpetra failing on Blake in GCC Warning-free build"
With this nightly test harness being back up, it appears the  SteadyHeatConstrainedOpt2D_Scalar_And_Dist_Param_Tpetra  test is failing in the Blake GCC warning-free build:

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=878186&build=12561

The error is a bit cryptic:

[code]

@mperego, @kliegeois : any idea on what might be going on?  It could conceivably be a fluke, in which case we

[2021-02-17 17:58] mperego commented on #663
@ikalash I'm not sure. @kliegeois found out that it failed when Sacado is built with debug checks. Anyway, @kliegeois is going to modify the implementation using `SharedParameter`,  so instead of looking into fixing this, I think it's best to wait for the new implementation that should happen next week at the latest.

[2021-02-17 18:22] kliegeois commented on #663
@ikalash this looks very similar to the issues that I faced. As proposed by @mperego , it is better to wait for the use of SharedParameter as this might solve the issue.

[2021-02-18 02:26] ikalash commented on #663
Thanks @kliegeois .  Do you know what is the approximate timeline for the SharedParameter fix?

[2021-02-18 10:11] kliegeois commented on #663
@ikalash, I do not know yet. I am on it but it requires some refactoring. Hopefully, I should be able to estimate the timeline soon.

[2021-02-19 08:43] kliegeois commented on #663
@ikalash the issue is resolved on my branch.

Before creating the PR (which includes the Hess-vec computation with scalar parameters), I still need a bit of time to:
- fix 3 tests that failed,
- build with warnings as errors,
- finalize the dox.

The PR should be created early next week at the latest.

[2021-02-19 17:05] kliegeois commented on #663
@ikalash quick update: the PR should be ready on Monday!

[2021-02-20 01:45] ikalash commented on #663
Great thanks @kliegeois !  I will keep an eye out for it next week.

[2021-02-25 08:56] kliegeois commented on #663
@ikalash is the issue fixed?

[2021-02-25 16:52] ikalash commented on #663
Yes it was - sorry, I forgot to close the issue earlier.

[2021-02-25 16:52] #663 closed

[2021-02-25 16:57] kliegeois commented on #663
@ikalash great, thanks a lot!

[2021-02-26 04:39] JustinClough opened #665 "How to assign Spatially Dependent Material Property?"
I'm trying to assign a temperature field that depends on both time and position. So far I followed [these lines](https://github.com/SNLComputation/Albany/blob/f751dc66a94129ea5d4b8ad27bab3cbfda45fb82/src/evaluators/pde/PHAL_NSMaterialProperty_Def.hpp#L225-L248) as an example to get a time dependence but have not been able to get the physical x,y,z values of the quadrature point.

I tried using `co

[2021-02-26 16:20] bartgol commented on #665
It seems to me that `coordVec` is never created (and added as dependent field) in NSMaterialProperty_Def.hpp. You could try to create and add it in the ctor; you should then be able to use it in the evaluation phase.

[2021-02-26 18:38] JustinClough commented on #665
Thanks @bartgol, I was able to solve my problem and get my space-dependent field set up.

I'll close this issue now and post a link to  the working code once I push it to SCOREC's fork in case anyone need it in the future.

[2021-02-26 18:38] #665 closed

[2021-02-27 01:11] JustinClough commented on #665
Here is a link to the commit: f6b4a8de7f4ce40d6ed43429a0d64ea53f072e45

[2021-03-04 23:12] #661 closed

[2021-03-08 23:19] bartgol opened #669 "SteadyHeatConstrainedOpt2D_Dirichlet_Mixed_Params_Analysis_Tpetra fails on master"
I was testing my branch after rebasing on master, and found this test failing. Since I didn't recall touching anything that could affect a single test like that, I tested master, and notices it fails.

Is this known? @kliegeois does one of your recent PRs require an update in my trilinos version?

[2021-03-08 23:27] kliegeois commented on #669
@bartgol Can you include the output of the failing test?
How old is your Trilinos branch?

[2021-03-08 23:58] bartgol commented on #669
It's failing in the final comparison. Here's ctest output for the results part:

[code]

I'm using trilinos from about 1 month ago:
[code]

[2021-03-09 00:04] kliegeois commented on #669
@bartgol yes, you need to update your Trilinos branch. You need, at least, this [PR 8692](https://github.com/trilinos/Trilinos/pull/8692).

[2021-03-09 00:10] bartgol commented on #669
Ok, great. Thanks!

[2021-03-09 00:10] #669 closed

[2021-03-09 06:27] kliegeois commented on #669
No problem!

[2021-03-10 18:48] ikalash opened #670 "Compilation error due to missing FROSch header"
A bunch of my nightlies on my machine camobap failed last night with a missing FROSch header error:

``
/nightlyCDash/repos/Albany/src/Albany_SolverFactory.cpp:32:10: fatal error: Stratimikos_FROSchXpetra.hpp: No such file or directory
``
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=13416

I thought there were missing ifdef guards, but they are there, and FROSch is on in my T

[2021-03-10 21:09] mperego commented on #670
@ikalash Thanks for pointing this out. It should be fixed now.

[2021-03-11 18:26] bartgol commented on #495
I think the removal of all but LandIce has pretty much solved this.

[2021-03-11 18:26] #495 closed

[2021-03-11 18:29] bartgol commented on #590
@mperego I think we fixed this, right?

[2021-03-11 18:32] bartgol commented on #368
I think this is done. There still is a `PNP_` evaluator, but it is in `evaluators/pde`, but it is used by `Albany_PNPProblem.hpp`, and pde is a more 'relaxed' folder. Closing.

[2021-03-11 18:32] #368 closed

[2021-03-11 18:33] bartgol commented on #362
Closing since this was forever ago, and I don't even know if this is relevant anymore.

[2021-03-11 18:33] #362 closed

[2021-03-11 18:33] mperego commented on #590
@bartgol yes. thanks for pointing this out. Closing.

[2021-03-11 18:33] #590 closed

[2021-03-11 18:36] mperego commented on #669
@bartgol b.t.w. you'll have to update Trilinos again, when you rebase. There were two changes that got merged in, (in Piro and FROSch) that required changes in Albany.

[2021-03-11 18:38] bartgol commented on #540
I think our testing focused on the approach DecomposeOffline+RunOnDecomposedMesh, so I'm gonna close this for now. @jewatkins feel free to reopen if this is still a topic of discussion.

[2021-03-11 18:38] #540 closed

[2021-03-11 18:38] bartgol commented on #633
Closing for lack of response.

[2021-03-11 18:38] #633 closed

[2021-03-11 18:39] bartgol commented on #629
Closing for lack of response.

[2021-03-11 18:39] #629 closed

[2021-03-11 18:41] ikalash commented on #670
Thanks @mperego .

[2021-03-11 18:41] #670 closed

[2021-03-11 18:46] bartgol commented on #611
The link error was fixed, and IIRC the bug with the node ownership was fixed when we added a ctor to Tpetra::FECrsGraph in trilinos. Closing.

[2021-03-11 18:46] #611 closed

[2021-03-11 18:47] bartgol commented on #585
Closing, since the prototype has been implemented.

[2021-03-11 18:47] #585 closed

[2021-03-11 18:53] bartgol commented on #299
Closing for lack of response.

[2021-03-11 18:53] #299 closed

[2021-03-11 18:55] bartgol commented on #85
Closing since LCM got purged from Albany.

[2021-03-11 18:55] #85 closed

[2021-03-11 18:57] bartgol commented on #40
I think this got fixed at some point, cause it seems much cleaner now.

[2021-03-11 18:57] #40 closed

[2021-03-11 18:59] bartgol commented on #39
This has been done. Closing.

[2021-03-11 18:59] #39 closed

[2021-03-11 19:00] bartgol commented on #17
I think this has been done.

[2021-03-11 19:00] #17 closed

[2021-03-22 17:14] bartgol opened #674 "Can we clean up (and maybe get rid of some of) the Nodal data structures?"
As part of the block refactor, I wonder if some structures can be cleaned/purged. E.g, I've always been confused by the NodeFieldContainer, and why there is a need for having that container (as opposed to just using the field container in the stk mesh).

Another confusing thing is the NodalDataBase. If I understand correctly, the nodal database is just a way to access nodal fields without going th

[2021-03-23 17:01] bartgol opened #675 "Add PROCESSORS specification when creating tests"
When using `add_test`, if we set the `PROCESSORS` property, we can more efficiently use the parallel execution of ctest.

To run multiple tests concurrently, one should do `CTEST_PARALLEL_LEVEL=N ctest`. However, without setting the `PROCESSOR` property, cmake/ctest thinks that each test uses 1 processor, so with N=2 you'd be running two tests concurrently, even if they are MPI tests, using severa

[2021-03-24 15:22] ikalash opened #676 "Build failures in warning-free build"
The warning-free build on branch began failing to build due to some of the recent PRs merged in:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=14019

I'm not sure who is the culprit here, I suspect @bartgol.  Could you please fix the errors?

[2021-03-24 15:25] bartgol commented on #676
It's possible. I'll hop on vpn and take a look at the logs.

[2021-03-24 15:26] ikalash commented on #676
Thanks @bartgol .

[2021-03-24 15:50] ikalash opened #677 "Question about possible changes t o FECrsMatrix in Trilinos"
I received a notification today from Tim Fuller (Tpetra developer) that they are thinking of changing the interface to FECrsMatrix a bit.  After the change, the usage of the matrix object would be like:

FECrsMatrix matrix(graph);

matrix.beginAssembly();
// do assembly
matrix.endAssembly();

matrix.beginModify();
// apply boundary conditions locally
matrix.endModify();

The previous beginFill, re

[2021-03-24 15:51] ikalash commented on #677
Tagging @tjfulle as an interested party.

[2021-03-24 16:46] tjfulle commented on #677
Thanks @ikalash!

The changes we are working on are to better support insertion of boundary conditions after assembly is complete.  The idiom pasted above is not set in stone and we are open to making other changes to make the FE assembly and bc insertion process easier.

[2021-03-24 18:57] bartgol commented on #677
@tjfulle what's the distinguishing factor between assembly and modify? I thought maybe Assembly adds entries, while Modify changes the values, but Crs graphs are static, so all entries are already there. Could you help us understand the underlying difference?

[2021-03-24 21:06] bartgol commented on #676
c513241d0 should take care of those errors. We'll see tomorrow, and if no errors show up, we'll close this.

[2021-03-24 21:39] ikalash commented on #676
Sounds good thanks @bartgol !

[2021-03-26 19:41] ikalash opened #678 "Failing FO_GIS_CoupledThickness tests in nightlies due to FPEs"
It appears a couple days ago the FO_GIS_CoupledThickness tests began failing on several platforms in the nightlies due to FPEs, e.g.

[code]
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=978566&build=14125

It happens for both the epetra and tpetra version of the test.  Not sure who is the culprit here...  @mperego and @bartgol , I'm guessing you might know?

[2021-03-27 19:35] #676 closed

[2021-03-29 14:34] mcarlson801 commented on #678
Sorry about the late response on this, it looks like this one is on me. These two tests were ones Jerry and I were concerned about failing with my sideset memory changes. I checked to make sure they were working before and after I pushed those changes but I guess something changed with recent PRs that uncovered a sneaky bug.

I reverted the sideset memory change and these tests are passing now. I'

[2021-03-29 17:57] ikalash commented on #678
Thanks, @mcarlson801 !

[2021-03-29 20:35] bartgol opened #679 "cudaCheckError macro"
This macro seems to be pointless. See its declaration [here](https://github.com/SNLComputation/Albany/blob/d05fa059e07e40b66b7d3aa1e371fae82170f2f3/src/Albany_Macros.hpp#L14).

@jewatkins @mcarlson801 do you guys hack this line to define it to something meaningfull in nvcc whenever you need to check things on gpu? If you do, we could probably add an `#ifdef KOKKOS_ENABLE_CUDA`, and make this macro

[2021-03-29 21:27] bartgol opened #680 "Block Discretization coordination and action items"
This "issue" is to coordinate work on Block Discretization related stuff. We'll use it to address needs, and identify action items.

[2021-03-29 21:28] bartgol commented on #357
Closing, and moving discussion on action items to #680.

[2021-03-30 15:20] jewatkins commented on #679
I put that macro in along with the push/pop ones a long time ago for debugging before kokkos-tools was a thing. Irina removed part of it by accident here: https://github.com/SNLComputation/Albany/commit/ce03d5ee04b7e73240d3f53bcd52feb01381ed78#diff-e6e93c5a507713ec4df47ca3786b49f5cdda9fa37dbdf47e425ff2807ae5ec7d

I think I was supposed to add it back in but it must have slipped my mind. I think it

[2021-03-30 15:44] ikalash commented on #678
Unfortunately these are still failing.

[2021-03-31 17:38] ikalash opened #681 "SideSetLaplacian_3D failure on skybridge"
Looks like we have a new failure on skybridge, SideSetLaplacian_3D.  The error seems to have to do with the memory space:

[code]

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=988646&build=14312

@mcarlson801 I am guessing this is related to your changes?

[2021-03-31 18:29] mcarlson801 commented on #681
The issue here seems to be that the "diff_1" view in PHAL_ResponseSquaredL2DifferenceSide is allocated to be of length dims[3] where dims is the vector of dimensions for the field layout. However, for this test, field rank is set to be scalar which means the field layout is "qp_scalar" which doesn't have 4 fields. It seems to me that this should be failing as a segmentation fault but instead is ge

[2021-03-31 18:58] ikalash commented on #681
@bartgol is likely the most familiar with the Squared L2 Difference Side response - he might be able to provide more info.

[2021-03-31 19:05] mcarlson801 commented on #681
Thanks, I actually found a bug and it was my changes after all. My bad. I'll test and push the fix shortly.

[2021-04-01 17:21] #681 closed

[2021-04-01 17:31] bartgol commented on #678
Is this passing now? I still get an FPE on my workstation...

[2021-04-01 17:32] ikalash commented on #678
Yes, the nightlies were clean.

[2021-04-01 19:29] bartgol commented on #678
Interesting. I did ran valgrind, and no error came up, so if it fails once, it should always fail. I'll run again, and make sure my master is up to date.

[2021-04-02 15:09] jewatkins commented on #678
These are failing again

[2021-04-02 15:42] bartgol commented on #678
I am puzzled on why they sometimes fail and sometimes don't.

[2021-04-02 19:06] jewatkins commented on #678
@mcarlson801 is going to investigate to see if it has to do with the collapsed sidesets. We noticed that it started failing (on/off) after they were turned on for the CoupledThickness problem so it's possible there may be some correlation.

[2021-04-05 19:09] mperego opened #682 "Albany Tempus logic"
Tempus is required for some tests, but we do not enforce its presence at configuration time. We should either throw an error at configuration time if it is not enabled in Trilinos, or alternatively disable the tests that  needs it.
@ikalash

[2021-04-05 19:33] bartgol commented on #682
I think we should move Tempus to the list of Albany's _required_ packages. I believe it's not in there, cause we used to support Rythmos as primary time-stepping package. It's time to update cmake logic, I think.

[2021-04-12 16:38] ikalash commented on #682
Sorry, I missed this issue earlier.  I agree @mperego .  I will try to get to this soon.

[2021-04-12 16:39] ikalash commented on #678
These tests are still failing and it has been awhile.  Any update on the status and how long it will take to fix the tests?

[2021-04-12 16:45] mcarlson801 commented on #678
Now that my university deadline has passed, I have time to look at this on my end. I'm still not sure what the cause is and I'm having trouble replicating the error in a situation where I can run it through a debugger. I'll update later today when I've tried a few more things.

@bartgol Any ideas? The bug didn't go away when I reverted my memory changes so I assume it has to be an interaction betw

[2021-04-12 16:49] bartgol commented on #678
Not off the top of my head. I will try to run and see what the culprit is.

Sorry, I forgot about this issue.

[2021-04-12 20:33] mcarlson801 commented on #678
It looks like my change to GenericMeshSTKStruct to get the workset size max from the discretization parameters if it was missing from the side set discretization was the culprit. I'm not exactly sure why it was causing it to fail so I'm going to look into it. I pushed a change that should fix the nightlies in the meantime.

[2021-04-12 20:38] ikalash commented on #678
Thanks for tracking this down, Max!  I'll have a look at the nightlies tomorrow to see if the issue is fixed.

[2021-04-13 16:10] #678 closed

[2021-04-13 16:23] mcarlson801 commented on #678
The issue was being caused by this block of code in GenericMeshStruct.cpp (removed in my most recent commit from line 517)

`if (!params_ss->isParameter("Workset Size")) {
  int worksetSizeMax = params->get<int>("Workset Size", DEFAULT_WORKSET_SIZE);
  params_ss->set("Workset Size", worksetSizeMax);
}`

The purpose was to use the maximum workset size from the discretization parameters if the side

[2021-04-13 16:39] mperego commented on #678
@mcarlson801 thanks. I'll try to have a look into it at some point.

[2021-04-14 21:52] ikalash opened #683 "Merge of block discretization PR broke MALI and CALI"
Both codes are experiencing seg faults when running problems.  Needs to be debugged.  Please see discussion of #673 for more info.

[2021-04-14 23:40] ikalash commented on #683
I just did a backtrace for a CALI problem in gdb and here is it is:

[code]
This appears to be the problematic line:
[code]
I grepped the code and ``getSolutionField()`` is only called by the MPAS and CISM interfaces (Mauro, could you verify that that line is what triggers the MALI seg fault too?), so I'm guessing something got changed/broken with that routine?  @kliegeois , @bartgol : any thought

[2021-04-14 23:44] ikalash commented on #683
I just verified that neither ``meshStruct`` nor ``meshStruct->getFieldContainer()`` are null, so I think the ``getSolutionField()`` routine is definitely the problem.

[2021-04-14 23:57] mperego commented on #683
@ikalash yes, same for MPAS . I'm working on it, I should have a fix soon.

[2021-04-15 00:04] mperego commented on #683
Here is a patch that you can apply with `git apply patch.txt`
[patch.txt](https://github.com/SNLComputation/Albany/files/6314354/patch.txt)

Let me know if it fixes it.

[2021-04-15 01:16] ikalash commented on #682
I will add logic to require Tempus for Albany.  I think this is not unreasonable and Tempus is not huge to build.  If anyone disagrees, please voice your objection here.

[2021-04-15 01:23] ikalash commented on #683
This fixes them!  Please go ahead and push.  Thanks again Mauro!

[2021-04-15 01:36] #682 closed

[2021-04-15 01:40] mperego commented on #682
Thanks @ikalash !

[2021-04-15 01:42] ikalash commented on #682
Sure - sorry a bout the delay.  Really swamped right now with all the proposals...

[2021-04-15 23:10] #683 closed

[2021-04-21 15:30] ikalash opened #684 "Failing Tempus GERK test in nightlies"
The TransientHeat2D_Tempus_GERK test in Albany started failing due to diffs:

https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1052328&build=15326

This is due to changes in Tempus.  I was hoping to understand how these changes affected this test before the relevant PR was merged in, but did not have time to do this, so it will have to be looked into after the fact.

[2021-04-25 05:24] ikalash opened #686 "Broken warning-free build"
Looks like merging of the most recent PR broke the warning-free Albany build on Blake:

https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=15501

[2021-04-25 05:28] mcarlson801 commented on #686
I'll fix it first thing in the morning. I forgot to check for warnings, sorry.

[2021-04-25 05:57] ikalash commented on #686
Thanks @mcarlson801 !

[2021-04-26 17:09] ikalash commented on #686
Thanks for fixing this Max!

[2021-04-26 17:09] #686 closed

[2021-04-27 16:24] tjfulle opened #687 "Breaking change to Tpetra::FE*"
`Tpetra::FE*` objects are being modified to remove the `beginFill`, `endFill`, and `resumeFill` methods.  They are being replaced with `beginAssembly`, `endAssembly`, `beginModify`, and `endModify`.  An open PR is tracking the progress: https://github.com/trilinos/Trilinos/pull/9000.

Additionally, all of the methods for modifying a `FE` entity have been modified as follows:

- Insert, sum, replac

[2021-04-27 17:00] bartgol commented on #687
@tjfulle I read one of your comment on the PR:

Does this mean that endModify will not ship the shared rows to the correct processor (the doOwnedPlusSharedToOwned)? So in your example,  with 'Apply BCs' you meant "local" bcs (like Dirichlet), right?

So is calling begin/end Modify equivalent to call CrsMatrix::resumeFill?

[2021-04-27 22:43] ikalash commented on #687
@bartgol : would you be willing/able to make changes to Albany to go hand-in-hand with this Tpetra PR, so that we have a PR ready to go once the changes in Trilinos are merged in?  I am really swamped right now with several proposals, and I think you likely are in the best position to make the changes given some of your recent work pertaining to restructuring the code for block data structures.

[2021-04-27 22:45] bartgol commented on #687
Yeah, I can try to do that. Heads up though: I'm off all next week, so if that PR goes in then, I won't be able to merge the PR (and check nightlies) till May 10th.

[2021-04-27 22:46] ikalash commented on #687
@tjfulle : any way we can hold off merging the Tpetra changes until after May 10?

[2021-05-11 16:54] bartgol commented on #687
Hi all, I'm finally back from vacation. I'm working on an Albany branch for this today.

[2021-05-11 18:18] jewatkins opened #688 "Inconsistent results when using different numbers of MPI ranks in ALI"
I ran into an interesting result when comparing linear convergence and solution average for different numbers of MPI ranks in Albany Land Ice:
[code]
The difference in linear convergence and solution average seems pretty large. My nonlinear tolerance is set to 1.0e-6 and my linear tolerance is set to 1.0e-8. I didn't see much of a difference when reducing these numbers. I also didn't see much of a

[2021-05-11 20:43] ikalash commented on #687
Thanks great, thanks @bartgol !

[2021-05-11 20:59] jewatkins commented on #688
I checked the difference between the Jacobian in the 2 rank case vs. the 20 rank case:
[code]
The results are similar if I use homogeneous DBC on the basalside with no BC on lateral: 3.7253e-09 and 1.6862e-08

[2021-05-11 21:16] bartgol commented on #688
Is this an absolute difference or a relative one?

[2021-05-11 21:24] jewatkins commented on #688
absolute

[2021-05-11 22:59] bartgol commented on #688
Ok. It might be pointing to a wrongly assembled jacobian.

Meanwhile, I double checked a basic pb (SteadyHeat2D), running it with 1 and 32 ranks: the NOX residuals start to be different (1e-3 relative diff) only at the 3rd nonlinear iteration. *HOWEVER*, the linear solver history is _quite different_ already with the 1st jacobian: 16 (serial) vs 43 (32 ranks) iterations.

[2021-05-11 23:06] bartgol commented on #688
However, J_serial-J_parallel ~ 1e-16.

So this is interesting: the jacobian is basically the same, and yet we get very different convergence histories...

[2021-05-11 23:13] bartgol commented on #688
Using MueLu (instead of Ifpack2) gives _the same_ linear iterations (serial vs 32-ranks). Like

serial:
[code]

vs 32 ranks:
[code]

This does not explain the ALI tests failures, where the prec was ML or MueLu. But at least confirms that the _core_ part of Albany is not buggy. It also suggests that the choice of the preconditioner type might be affecting convergence in some cases.

[2021-05-11 23:25] bartgol commented on #688
1e-13 is not quite machine precision, but it might be due to some carries, so it might still be a roundoff diff. This is good, since it suggests that we're not messing up the assembly (phew).

My best guess is that we need to be careful with our prec specifications. I just tried `input_fo_gis_unstructT.yaml`, and I also get same linear conv history for serial and 32 ranks. That test uses Ifpack2,

[2021-05-11 23:52] jewatkins commented on #688
I'm using a modified version of https://github.com/ikalash/ali-perf-tests/blob/master/perf_tests/humboldt-3-20km/input_albany_Velocity_MueLu_Wedge.yaml where I switch to "Use Serial Mesh: true" and Epetra/AztecOO/ML. Mesh files are here: https://github.com/ikalash/ali-perf-tests/tree/master/meshes/humboldt-3-20km

I could add the exact input file I'm using if you want to try running it.

[2021-05-12 04:02] bartgol commented on #688
Thanks! No need to add the exact input file.

[2021-05-12 04:33] bartgol commented on #688
So, I tried that input file, with the meshes in `/home/projects/albany/ali-perf-tests-meshes`. `Use Serial Mesh` causes little change in the convergence history (serial mesh gives 1 less linear solver iteration at each solve, but the residuals look fairly similar). Furthermore, serial vs 32 ranks is fairly similar. I get about 2-3 more iterations with 32 ranks for each linear solve, compared to th

[2021-05-12 13:32] mperego commented on #688
OK, so we don't get significant changes on the Humbolt mesh.
@jewatkins what solver are you using on the Greenland mesh? Belos or AztecOO? Does the choice of the solver make a difference?
Have you tried the Thwaites mesh? Maybe there is something wrong with the Greenland meshes.

[2021-05-12 15:23] jewatkins commented on #688
Yes, that sounds about right. I used 2 and 20 ranks and these are the results I got:
[code]

On the Greenland mesh, I've tried Belos/AztecOO, muelu/ml and it didn't make a difference (I still had an inconsistency).

I tried 8 ranks and 80 ranks with Thwaites and **did not** see a large discrepancy (linear iterations: 95/96, solution average: -162.729919149/-162.729919148). I've only seen a large d

[2021-05-12 15:27] mperego commented on #688
Uhm, Thwaites is a reasonably sized ice sheet and with non trivial dynamics. So, I suspect there's something wrong with those meshes that makes the problem very ill conditioned.
Can you put this on hold for a week or so? I'm now working on a new Greenland initialization and we can target that when it's ready.

[2021-05-12 15:28] jewatkins commented on #688
Another interesting bit of information. For the Humboldt case, if I use similar boundary conditions and ML settings to the nightly test (must be both), I get the exact number of iterations and solution average. I.e. if I add this:
[code]
I get this for both:
[code]

[2021-05-12 15:35] mperego commented on #688
What BC where you using before for Humboldt? (B.t.w. when I was telling you not to prescribe any Dirichlet BC on the laterla boundary I was referring to Greenland, not to Humboldt).

[2021-05-12 15:35] bartgol commented on #688
It might be that some ranks pick up a high-speed region, while others pick up slow-speed ones. This is especially possible for highly non-uniform meshes.

[2021-05-12 15:37] jewatkins commented on #688
I'm okay with this. Since there's cases where I'm able to get the same number of iterations/average solution between a low/high rank case, I'll assume that this is some sort of issue with the mesh and continue trying improve the GPU runs (working on cases that work like thwaites). I recall seeing the same issue there but maybe not because I can't find the runs.

[2021-05-12 15:42] jewatkins commented on #688
I was using this:
[code]
Something similar is done in the nightly input file too but it has that extra term on `extruded_boundary_node_set_3 `. What's the difference between extruded_boundary_node_set_1 and extruded_boundary_node_set_3?

[2021-05-12 15:47] mperego commented on #688
Humboldt mesh is obtained cutting out a piece of Greenland ice sheet. On the internal (artificial) boundary (node_set_3) we prescribe the velocity obtained from a full Greenland simulation. On the real ice margin (side_set_1) we prescribe the usual lateral condition, which account for ocean backpressure if the ice is partially submerged in ocean.

[2021-05-12 15:48] mperego commented on #688
Yeah, I think it's probably the best course of action.

[2021-05-12 15:56] jewatkins commented on #688
Ah okay, thanks for the info. I should update my Humboldt cases.

[2021-05-19 15:34] bartgol commented on #687
Update: I have a branch where all tests pass, except for FO_GIS_CoupledThickness (both Tpetra and Epetra, which is weird), which fail due to a floating point exception. This is without funky scalar type cmake options.

I'm tracking it down, and hopefully get it done by COB today.

[2021-05-19 15:51] mperego commented on #687
Thanks @bartgol! Is your branch up to date with master? I think that test used to fail at some point becasue of the issue with the collapsed side-set storage.

[2021-05-19 16:02] bartgol commented on #687
Ah, good call. Let me check.

[2021-05-19 17:18] bartgol commented on #687
That fixed it!

Thanks @mperego ! As a token of my gratitude, I'll add you as a reviewer for the PR. :)

[2021-05-24 20:39] ikalash opened #692 "Rebuild TPLs on Skybridge to fix Skybridge nightlies"
It looks like we were relying on TPLs in Dan Ibanez's home directory on skybridge.  These recently got deleted and the TPLs need to be rebuilt to get the skybridge nightlies b ack up.

[2021-05-24 21:47] bartgol commented on #692
Ugh, that's annoying. Thanks for taking care of this. Hopefully by now most of the TPLs are available via modules...

[2021-05-24 21:48] ikalash commented on #692
Yeah, I can't remember the rationale for not using modules anymore.  @ibaned , do you remember?  Were they just not available at the time, or there was something the modules were missing?  Or maybe not all users had access to all modules, so we built our own?

[2021-05-25 16:09] ibaned commented on #692
I would try using SEMS modules. They've improved significantly in the past year and there is a system for submitting support tickets to them. They really care about supporting these modules so that would be the right way to go.

[2021-05-25 16:44] ikalash commented on #692
Thanks @ibaned - that was my plan.

[2021-05-26 18:02] #692 closed

[2021-06-08 15:52] ikalash opened #697 "Failing CALI tests"
It looks like the CALI tests are failing starting today with the following error:

[code]
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1191806&build=17517

It appears the syntax for the PL list has changed and needs to be propagated into the CALI tests.

[2021-06-08 15:57] mperego commented on #697
Oh.. right, sorry I had in mind to fix the cism interface and then I forgot. I'll push a fix today

[2021-06-09 22:12] ikalash commented on #697
@mperego : thanks for fixing the CALI tests.  There is one more that was broken (the CISM vs. Albany comparison one).  It appears Effective Pressure Type and Effective Pressure are now required inputs to the land-ice BCs.  I put the following in my input file and it appears to work

[code]

Is it indeed the right thing to use?

[2021-06-09 22:31] mperego commented on #697
@ikalash that works, or instead of
[code]
you can simply have
[code]

[2021-06-09 23:15] ikalash commented on #697
@mperego : ah ok, I see.  I will simplify it per your suggestion.

[2021-06-10 17:14] #697 closed

[2021-06-24 16:51] ikalash opened #700 "Cism-Albany interface is broken"
It looks like the recent merge into Albany broke the Cism-Albany interface.  Here is the error:

[code]
https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=18283
@bartgol , I'm guessing you likely have a quick fix?

[2021-06-24 16:53] ikalash opened #701 "Warning-free blake build broke"
It looks like the recent PR also broke the warning-free build on blake: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=18275 .  @bartgol could you please look at this as well?

[2021-06-24 23:07] bartgol commented on #700
I think so. I pushed 835803d6e, which should take care of this compilation error. Sorry about that.

[2021-06-24 23:12] #701 closed

[2021-06-24 23:13] bartgol commented on #701
Sorry about that. I pushed a commit that should take care of the two warnings on that build.

[2021-06-25 01:13] ikalash commented on #701
Thank you @bartgol !  I'll verify tomorrow that things are fixed.

[2021-07-07 17:18] ikalash opened #703 "BlockDiscretization_Jacobian_Unit_Test failing on machines w/o numpy/scipy"
It looks like the recently-added BlockDiscretization_Jacobian_Unit_Test is failing on machines w/o numpy/scipy (blake, skybridge, mockba): https://sems-cdash-son.sandia.gov/cdash/index.php?project=Albany .   One fix is to disable the test if numpy/scipy are not found.  @kliegeois is looking into this.

Question for @jewatkins : is there a way to get numpy/scipy through modules on blake (and simila

[2021-07-07 17:46] jewatkins commented on #703
`module load python/3.7.3` seems to already have numpy, scipy on blake but I might have installed it locally. You could try:
[code]
I'm not sure about the other clusters. It sometimes won't work (even locally) due to permissions depending on the package. @mcarlson801 is going to look into getting blake/weaver working with other python packages for autotuning so he may already have more information

[2021-07-07 17:58] kliegeois commented on #703
I just finished the modification. I am testing in on Blake and I create the PR.

[2021-07-07 18:41] kliegeois commented on #703
@jewatkins I just verified, it comes with numpy but not scipy (which can be installed locally either with pip as you said or with  easy_instal).

[2021-07-07 18:59] jewatkins commented on #703
okay, @ikalash you could probably add something like what's suggested [here ](https://askubuntu.com/a/1211956) to the blake module file to ensure these packages are always installed.

[2021-07-07 20:07] ikalash commented on #703
@jewatkins : thanks, your suggestion worked!

[2021-07-07 20:43] ikalash commented on #703
Just for documentation (i.e., so I don't forget), to install libs using pip on some of the SRN machines and bypass proxies/SSL certificates, one needs to execute the following command:

```pip3 install numpy --trusted-host=pypi.org --trusted-host=files.pythonhosted.org --user```

[2021-07-07 20:50] kliegeois commented on #703
If I may add, on IBM machines (at least weaver), you need to specify a bit older numpy (such as 1.19.2) otherwise, when building up to date numpy, it fails to compile.

[2021-07-07 20:53] jewatkins commented on #703
Thanks for the suggestions. It should help for future python workflow.

[2021-07-08 20:35] #703 closed

[2021-07-08 20:36] ikalash opened #706 "Discretization_Parallel_Unit_Test timing out in Blake gcc warning-free build"
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1279413&build=18992

@kliegeois is looking into it.

[2021-07-09 15:37] ikalash opened #708 "Lots of failing tests in Blake GCC warning-free build"
It looks like after the FECrsMatrix PR went in yesterday, there are a bunch of tests failing on Blake in the GCC warning-free build:

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=19046

The error looks like this:

[code]
Just to be clear, I don't think this has anything to do with the build being warning free.  One thing that is unique about it relative to the other buil

[2021-07-09 15:45] tjfulle commented on #708
Huh.  The Tpetra changes were really just to change `(begin|end)Fill` to `(begin|end)Assembly` and add the `(begin|end)Modify`.  Otherwise, the internals remained largely unchanged.

were there any other new commits besides the Tpetra commits?

[2021-07-09 15:46] ikalash commented on #708
Good question.  Well, we had an MR go into Albany that went hand-in-hand with the Tpetra changes.  I am thinking that might be the cause of the issues.

[2021-07-09 15:48] ikalash commented on #708
It looks like the residual f and the Jacobian W_op have different sizes - that is bizarre!

[2021-07-09 16:09] mperego commented on #708
Um.. unfortunately Luca, who worked on the PR, is on vacation until July 23rd.

[2021-07-09 16:27] ikalash commented on #708
Right...  we might have to wait for him to return.

[2021-07-12 16:21] jewatkins opened #710 "An error occurred in MPI_Allreduce"
This started happening in the nightly performance tests starting 7/8:
** Trilinos git commit id - 6ebdaf5
** Albany git commit id --- a0e65cf
...
*** An error occurred in MPI_Allreduce

It seems to happen on blake with green-1-10km_vel_muk_tet_np384 and blake/weaver with green-1-7km_muk_ls_mem_np384. Previous passing commits:
** Trilinos git commit id - e06fadb
** Albany git commit id --- 65ca5d6

[2021-07-12 16:47] jewatkins opened #711 "[ERROR] FROSch::Amesos2SolverTpetra: mode!=NO_TRANS on weaver"
FO_Thermo_Wet_Bed_FROSch GPU test failing on weaver:
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1291684&build=19200
with the following error:
[ERROR] FROSch::Amesos2SolverTpetra: mode!=NO_TRANS

This started happening starting 7/9:
** Trilinos git commit id - 505f6e1
** Albany git commit id --- 18c8cd6

And passed on 7/8 (I can't see the commit ids but I'm assuming it's similar t

[2021-07-12 16:57] mperego commented on #711
@jewatkins I don't understand why this is failing only on GPU. FROSch is complaning that it's asked to solve a transposed system but it shouldn't be the case. It might be some subtle issue w/ RCP of references not correclty handled.
Do you have a chance to test if this https://github.com/trilinos/Trilinos/pull/9415  fixes it? Alternatively we can wait for tonight nightly tests, after the PR is mer

[2021-07-12 17:08] jewatkins opened #712 "green-3-20km first-order stokes performance test failing on blake failed comparison"
Failed comparison:
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1293180&build=19222
-6.995108075090e+00 != -7.005509894455e+00

This started happening 6/8:
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1193162&build=17539
** Trilinos git commit id - 17eccd2
** Albany git commit id --- 00b139c

And passed on 6/7:
https://sems-cdash-son.sandia.gov/cdash/testDetails.php

[2021-07-12 17:12] jewatkins commented on #711
Yes, we can wait to see if the PR fixes it. If not, we can look more into it tomorrow.

[2021-07-13 13:30] mperego commented on #711
I think I understand what's going on. ROL is not enabled in this build. We now rely on ROL for sensitivities as well but we left the non-ROL code for backward compatibility. I need to update the non-ROL code in Piro.

After this is fixed, I think we should enable ROL in the CUDA build as well.

[2021-07-13 15:49] jewatkins commented on #711
Okay sounds good, I can do that once it's fixed.

[2021-07-13 18:42] kliegeois commented on #706
Quick update: I found the issue but not yet how to solve it:

[code]

It seems that `constantNumPackets==0` at line 1222 of Tpetra_DistObject_def.hpp.

[2021-07-15 13:07] mperego commented on #711
@jewatkins  this has been fixed. It's probably good to have at least one cuda build that enables ROL.

[2021-07-15 15:46] jewatkins commented on #711
Great thanks! I'll try adding ROL to weaver. We have still have ride, we can leave it off there if you want to continue testing without it. I can turn FROSch on there too so that it hits this case.

[2021-07-15 15:50] mperego commented on #711
Yeah, that's probably a better solution, that is, having FROSch enabled on both and ROL only on one of the builds.

[2021-07-15 15:57] mperego commented on #712
@jewatkins I'm not convinced it has to with tolerances, but it could if for some reason this peoblem is very ill-posed.
I tried running this w/ gcc and I get consistent results using before and after Trilinos and Albany commits. However, gcc result is different than the Blake's ones.
I tightening the tolerances (which are already rathar tight) doesn't modify the result, then we'll have to find wha

[2021-07-15 18:13] kliegeois commented on #703
Just for documentation, on Weaver, to install matplotlib we need to install pillow as follows:
`pip install --user pillow --global-option="build_ext" --global-option="--disable-jpeg"`

[2021-07-15 19:31] kliegeois commented on #703
(We probably need to start compiling those lines of code into a wiki at some point)

[2021-07-15 19:37] jewatkins commented on #703
Feel free to start compiling a list on a "Python on Blake/Weaver" wiki page and post the link on this issue

[2021-07-15 20:43] kliegeois commented on #703
Done: https://github.com/SNLComputation/Albany/wiki/PyAlbany

It can be accessed from the Sidebar under "Python and Albany".

[2021-07-16 00:30] jewatkins commented on #712
Okay, I can look at this more later.

[2021-07-19 15:34] #711 closed

[2021-07-20 15:54] ikalash opened #717 "Improve Albany debug output?"
This was an email chain b/w Albany developers a few weeks ago.  Opening an issue so we don't forget about it.  Here is the gist of the discussion, from @bartgol .

[code]

[2021-07-20 15:54] ikalash commented on #717
Lets talk about this at one of the Albany meetings after @bartgol returns from vacation.

[2021-07-21 15:48] jewatkins commented on #710
I think https://github.com/trilinos/Trilinos/pull/9458 fixed this issue. Discussion here: https://github.com/trilinos/Trilinos/issues/9455 although the error was not the same.

This also fixed my issue at scale. Logging the error I saw for reference:
[code]

[2021-07-21 15:48] #710 closed

[2021-07-21 15:55] mperego commented on #710
@jewatkins great!

[2021-07-23 04:24] ikalash opened #721 "Errors in Blake gcc warning-free build"
It looks like the blake warning-free build got broken: https://sems-cdash-son.sandia.gov/cdash/viewBuildError.php?buildid=19703 .  Could someone please have a look and fix it?

[2021-07-23 05:29] mperego commented on #721
@ikalash It seems that the warnings were introduced in your PR #718

[2021-07-23 05:34] ikalash commented on #721
Oh...  well that's embarrassing!  This is what I get for pushing changes right before a vacation!  I will fix it as soon as I can.

[2021-07-23 05:40] mperego commented on #721
No worries, they seem easy to fix, I'll take a stab at them.

[2021-07-24 16:30] mperego commented on #721
OK, these warning are fixed. There is a separate warning that crept in yesterday but I just pushed a fix for that as well.

[2021-07-25 20:46] ikalash commented on #721
Thank you @mperego!

[2021-07-26 16:51] bartgol commented on #708
I'm back. Let's catch up during the telecon tomorrow.

[2021-07-26 18:42] jewatkins opened #722 "Tempus error: "Predictor Name" not found"
There's two tests failing (Thermal1D_with_Source, Thermal2D_BackwardEuler_with_Source), I think due to input parameter changes in Tempus?
https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=19893
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1337757&build=19893

@ikalash Did you want to take a look since you're most familiar with Tempus?

[2021-07-26 23:03] kliegeois commented on #706
@ikalash I just pushed a commit to master to disable the use of serial mesh for that unit test. I tested it on Blake, it worked fine.

[2021-07-27 14:01] mperego commented on #708
@bartgol welcome back Luca!
We saved ths issue for you, so that you don't feel replaceable ;-)

[2021-07-27 16:21] #706 closed

[2021-07-27 18:27] ikalash commented on #722
This was due to a change in Tempus.  I have fixed the issue - thank you for calling it to my attention.

[2021-07-27 18:27] #722 closed

[2021-07-27 18:27] #700 closed

[2021-07-27 18:28] ikalash commented on #687
I think we can close this.  If I'm mistaken, please reopen.

[2021-07-27 18:28] #687 closed

[2021-07-27 18:28] #677 closed

[2021-08-03 17:29] jewatkins opened #727 "Enforcing code style"
@ikalash @mperego @bartgol @kliegeois @mcarlson801

It looks like clang-format does require clang. It probably needs to be a specific version of clang too in order to be consistent (I've seen some issues with using different versions).

Also, it looks like creating a git hook to enforce formatting would require everyone to have to install the git hook locally. So something like:
[code]
so it would

[2021-08-03 17:34] jewatkins commented on #727
Alternatively, if we do add a CI build for PRs (let's say with blake-serial-Albany-gcc-no-warn), we could check formatting too. That might be the easier approach.

[2021-08-03 17:42] bartgol commented on #727
I'm all for enforcing code style. I think clang-format is a fairly common approach, and even if it requires a tiny bit of effort to install the compiler, it's probably worth it.

I suspect the clang version is somewhat irrelevant (so long as it can parse the code, meaning it must support the same c++ std that Albany uses).

The easiest way to do this could be to: 1) disable push to master (i.e., f

[2021-08-03 18:02] jewatkins commented on #727
Hmm that actually does sound much easier to implement quickly than the previous suggestions. But disabling push to master might be too restrictive (I'm thinking all the dashboard/test fixes). Even having a standard format script and being able to use it after a PR is finished would be a huge step forward.

[2021-08-03 18:06] kliegeois commented on #727
I am currently looking into the CI workflow templates of GitHub if I can find anything that could help us.

[2021-08-03 19:26] bartgol commented on #727
Yeah, the protection of master is not really necessary. I was thinking that someone might push straight to master with bad formatting, but since we're a small group (and outsiders don't have the right to push, I think), then it's fine to leave master open.

[2021-08-03 19:29] kliegeois commented on #727
I confirm for the outsiders.

[2021-08-03 19:36] ikalash commented on #727
@lxmota : do you use a clang format script to format Albany LCM source code?  Is it the generic one available online, or you modified it somehow?  Also, I assume a clang compiler is required to use the script?

[2021-08-03 19:58] lxmota commented on #727
@ikalash I use a template that is here: https://github.com/SNLComputation/LCM/blob/master/.clang-format, which you can modify to suit the required coding style.

At least on Fedora, clang-format does not require the compiler front end, but it uses a lot of the compiler's infrastructure like LLVM and Clang libraries, so you might as well install the full compiler. It can be installed by dnf install

[2021-08-06 03:31] bartgol commented on #708
I think I found the culprit, but the fix seems a bit overly complicated, so I'm gonna ask @tjfulle for confirmation.

Tim, when we create a FE matrix using a FE graph that has already been "closed", the resulting FE matrix will still be in "assembly" mode, right? Is there a way to create an "assembled" matrix that is less cumbersome than the following?

[code]
Without lines A and B, the matrix app

[2021-08-06 03:35] bartgol commented on #708
Assuming my bug fix is indeed the culprit, I am wondering why are only certain tests failing. It's my understanding that most of the tpetra tests are still passing, right? How is that possible, given that we were clearly creating matrices with the wrong domain/range maps distribution?

[2021-08-08 23:46] ikalash commented on #708
Thanks for looking into this Luca!  I think the tests that are passing are actually either all Epetra or Serial Tpetra (I spot checked a few of the Tpetra tests that pass and they are on 1 proc: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlypassed&buildid=20571 ).  Lets wait what @tjfulle says regarding your question above.  What I've been scratching my head about is why this is only sh

[2021-08-09 13:56] tjfulle commented on #708
Sorry for the delay @bartgol - I was away all weekend with no internet service.

What was in your code before?  Did you have `beginFill` and/or `resumeFill`?

[2021-08-09 16:03] mperego commented on #708
@tjfulle I think the code before was like this
      auto fe_matrix = Teuchos::rcp (new Tpetra_FECrsMatrix(my_fe_graph));
      fe_matrix->setAllToScalar(zero);
      fe_matrix->endFill();

[2021-08-09 16:08] bartgol commented on #708
Yes, that's how the code was before the change I posted.

@ikalash It is indeed odd. All debug builds should run the teuchos exception tests, so they should all crap out.

[2021-08-09 16:13] mperego commented on #708
@ikalash do the other debug builds have Trilinos compiled in debug mode?

[2021-08-09 16:14] tjfulle commented on #708
@bartgol - does the assembly code work if if you do:

[code]

[2021-08-09 16:15] tjfulle commented on #708
I don't know that `begin/endAssembly` is needed in this case.  `begin/endModify` are needed because the matrix has the state flag set to `closed` on construction.

[2021-08-09 16:18] bartgol commented on #708
My bad. That's exactly what it was before the fix. I only added the begin/end assembly between the ctor and the call to beginModify.

[2021-08-09 16:28] bartgol commented on #708
I explicitly added some cout of the row map local sizes, and right after the ctor it showed local sizes corresponding to an owned+shared partition:

[code]
Output:
[code]
The mesh is a 1d mesh, with 100 elements (so 101 global nodes).

[2021-08-09 16:30] tjfulle commented on #708
Ahhhh, ok

[code]

instead of `begin/endModify` should give identical behavior as before.  The `beginAssembly` doesn't do anything but set the state flag to `assembly` mode which allows global operations (`sumIntoGlobalValues`, etc).  `endAssembly` closes the state flag and then does `endFill`.

[2021-08-09 16:39] bartgol commented on #708
Yes, I think that should work (I am testing now).

However, if I can give some feedback, I find the current behavior a bit confusing. In particular, if the input graph of the ctor is already assembled, I would expect the fe matrix to be in "owned" mode. In other words, I would expect that when the active matrix is the owned+shared, then the state is open (assembly mode), and viceversa. The fact th

[2021-08-09 18:41] ikalash commented on #708
Oh yes - the one on my workstation camobap has a debug Trilinos and Albany (+ FPE checking enabled).

[2021-08-09 19:04] bartgol commented on #708
And tests pass on your workstation? That's quite disturbing...

[2021-08-09 19:15] ikalash commented on #708
@bartgol : yes - this is the build I was referring to: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlypassed&buildid=20647 .  I don't get it either...

[2021-08-09 19:16] ikalash commented on #708
The CEE debug build is also clean: https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlypassed&buildid=20625

[2021-08-09 20:15] tjfulle commented on #708
@bartgol - I think I am understanding.

[code]

Does that describe what you are suggesting?  I can see the confusion probably came about from `FECrsMatrix` development being largely driven by ALEGRA - which doesn't create the matrix from a pre-populated graph.  That case was an afterthought.

Either way, one of the design decisions was to make entering the assembly and modify phases explicit.

[2021-08-09 20:43] bartgol commented on #708
@tjfulle Yes, that's roughly what I would expect. Actually, in the second case, I would even expect the fillState to be closed, so that one has to explicitly open it for modification. E.g., consider this

[code]
The second routine, is probably expecting the matrix always in the same state (open, modify or closed), regardless of where the matrix comes from (newly created or old recycled one). In my

[2021-08-09 20:50] bartgol commented on #708
@tjfulle Another point in favor of having A's state `closed` or `modify`, if the input graph is closed. Right now, I have to do:

[code]
which costs me a pointless global assembly. If instead A was created with the active matrix equal to the owned only (since that's the state of the input graph), I would be able to skip this pointless global communication...

If you want, we can move this discussi

[2021-08-09 23:58] #708 closed

[2021-08-12 02:22] ikalash commented on #712
Are there any updates on this?  Seems these performance tests are the only things failing now in Albany.

[2021-08-12 02:43] jewatkins commented on #712
I haven't had a chance to look at this but I'd be okay with changing the test vals

[2021-08-12 17:17] ikalash commented on #712
Ok thanks for the update @jewatkins .

[2021-08-16 15:20] jewatkins opened #731 "CALI test failing after #729"
See:
https://sems-cdash-son.sandia.gov/cdash/testDetails.php?test=1406432&build=20898
and
#729

It looks like it might have something to do with the default workset changes. I'll look into later today.

[2021-08-16 23:48] jewatkins commented on #731
I actually think this might get fixed with #725 so I'm going to wait on this.

[2021-08-17 16:17] ikalash opened #732 "Failing PyAlbany tests"
The following PyAlbany tests began failing yesterday:

[code]

https://sems-cdash-son.sandia.gov/cdash/viewTest.php?onlyfailed&buildid=21060

@kliegeois could you please have a look at this?