[2014-10-31 17:38] bkeepers opened #1 "Matlab and Objective-C"
Matlab and Objective-C are often misidentified due to their common use of the `.m` extension. This is a common issue so I'm creating a meta-issue that we can point all the reports to.

[2014-10-31 17:39] #1 closed, assigned to nobody

[2015-04-10 21:00] nschloe opened #2 "undefined references"
I'm trying to fix undefined references in Albany revealed by adding
[code]
In QCAD, I find that a `mathVector` is used all over the place, but nowhere defined. The code comments say the definition has moved to `QCAD_MathVector.hpp`, which doesn't exist.

[2015-04-10 21:09] ambrad commented on #2
Hi Nico,

I find the file here (not in the QCAD directory):
    Albany/src/evaluators/QCAD_MathVector.hpp

Feel free to email me individually with more questions.

Cheers,
Andrew

On Fri, Apr 10, 2015 at 3:00 PM, Nico Schlömer <notifications@github.com>
wrote:

[2015-04-10 21:14] nschloe commented on #2
@ambrad Thanks! I'll dig some further.

[2015-04-10 21:14] #2 closed

[2015-04-10 21:35] nschloe opened #3 "cyclic dependencies"
`albanyLib` uses symbols from `albanySTK` (e.g., `Albany::STKDiscretization::getOwnedDOF`) which in turn uses symbols from `albanyLib` (e.g., `createEpetraCommFromTeuchosComm`). There's probably more.
How to best get this straight?

[2015-04-10 21:38] ambrad commented on #3
Hi Nico,

That's a big can of worms. Albany has a lot of circular dependencies. We
put the lib listing on the link line three times (though two ought to do
it) to resolve these.

May I ask why you're looking into these issues?

Cheers,
Andrew

On Fri, Apr 10, 2015 at 3:35 PM, Nico Schlömer <notifications@github.com>
wrote:

[2015-04-11 19:45] nschloe commented on #3
@ambrad I submitted a PR for TriBits (https://github.com/TriBITSPub/TriBITS/pull/60) that changes Trilinos' exported CMake configuration files. To assert that the change doesn't break anything, @bartlettroscoe asked me to verify this against Albany builds. To make sure that all symbols are still defined, I enabled builds with `-Wl,--no-undefined` which brought this up.

[2015-04-11 19:56] ambrad commented on #3
Hi Nico,

Would it be enough to build with a basic but full configuration of Albany?
Something like this I think would be comprehensive:

cmake -DALBANY_TRILINOS_DIR:PATH=/path/to/trilinos/install
-DENABLE_LCM:BOOL=ON -DENABLE_HYDRIDE:BOOL=ON -DENABLE_FELIX:BOOL=ON
-DENABLE_AERAS:BOOL=ON -DENABLE_QCAD:BOOL=ON -DENABLE_MOR:BOOL=ON
-DENABLE_ATO:BOOL=ON -DENABLE_SEE:BOOL=ON -DENABLE_AMP:BOOL=ON ..

C

[2015-04-12 14:21] nschloe commented on #3
A standard build results in missing symbols from STK, for example, e.g.,
[code]
Indeed, `libalbanySTK` is underlinked since it requires symbols from Trilinos::STK, but doesn't link against them. To fix this, I had added `-Wl,--no-undefined` which then showed those other errors.

[2015-04-12 15:20] nschloe commented on #3
I managed to compile Albany now, but these dependency loops should still be fixed.

If `libAlbany` and `libAlbanySTK` mutually depend on each other such that you can't use one without the other, one may ask why they are separated into two different libraries in the first place. One relatively easy to implement fix for this is to just all all sources to `libAlbany`.

[2015-04-12 15:22] nschloe opened #4 "28 - MPNIQuad2D_Tpetra (Failed)"
After a clean Albany build, test 28 fails:
[code]
In more detail:
[code]

[2015-04-13 14:41] etphipp commented on #4
That exception means MueLu was not configured with any direct solver for Tpetra.  The fix is to enable Amesos2/KLU or Amesos2/Basker in your Trilinos configure.  The test xml file should also be updated to use Amesos2 instead of Amesos.

-Eric

From: Nico Schlömer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: gahansen/Albany <reply@reply.github.com<mailto:reply@reply.github

[2015-04-13 15:05] nschloe commented on #4
Shouldn't this be intercepted at configure time?

[2015-04-13 15:14] ambrad commented on #4
Yes, definitely. I need to rework some of the config stuff in Albany for
detecting MueLu, whether at least one of SuperLU, Basker, and KLU(2) are
enabled, and en/disabling some tests based on these findings. Some of this
is already done, but some of it is out of date. Sorry you got a ctest
failure from this.

On Mon, Apr 13, 2015 at 9:05 AM, Nico Schlömer <notifications@github.com>
wrote:

[2016-01-29 21:43] gahansen commented on #4
Hi Nico,

Doing a little cleanup here - is there anything outstanding with this issue or can I close it?

Glen

[2016-01-29 21:48] gahansen commented on #3
Hi Nico,

Is this a remaining issue, or can I close this one too?

Glen

[2016-01-29 21:53] bartlettroscoe commented on #3
Why does Albany ha e circular dependencies?

[2016-01-29 21:54] bartlettroscoe commented on #3
How do you do shared pin builds?

[2016-01-29 22:02] agsalin commented on #3
There was a point a few years ago where Glen discovered that dumping all Albany source into a single library caused an error that was fixed when braking it into multiple libraries. This occurred when he upgraded to a newer gcc (4.7 perhaps). We then broke albany into pieces based on directories (also projects), like libLCM and libQCAD, which led to circular dependencies. We fixed that by adding th

[2016-01-29 22:04] bartlettroscoe commented on #3
Why not just make Albany one big library since that is what it is anyway if you have circular dependencies?  Then you can use shared libs.

[2016-01-29 22:24] agsalin commented on #3
Albany works fine with shared builds, as far as I know. I think the opposite behaviors is true: that shared libs allow you to get away with circular dependencies without repeating them on the link line.

I'm not sure if we would have the same problem that Glen saw before, like there was a limit of how many *.o's could be linked in a single library and we were exceeding it.

Anyway, I'm curious if

[2016-01-29 22:24] gahansen commented on #3
I don't recall the version of gcc - back at about 4.7 several users encountered a linking error with debug builds. I don't recall if it was a file size issue or a number of symbols issue, but we resolved it at the time by breaking the single library into multiple. The original reason for doing this probably no longer valid, but I don't know if anyone has looked at it again since then.

[2016-01-30 03:41] bartlettroscoe commented on #3
Can't do circular shared libs

https://cmake.org/cmake/help/v3.3/command/target_link_libraries.html

[2016-01-30 11:43] nschloe commented on #4
Probably @ambrad can answer that.

[2016-01-30 19:34] ambrad commented on #4
It's fine to close. KLU2 is enabled by default now, so there should always be a direct solver available to MueLu.

[2016-01-30 19:34] #4 closed

[2016-02-02 16:53] bartlettroscoe commented on #3
Nico,

I don't think we need to force Albany to clean this up (it is not really any of our business).  We just need to add a configure-time option for the TriBITS/Trilinos build to disable `-Wl,--no-undefined` when Albany developers need to build/install Trilinos to use with Albany.  It is just that the default development build of Trilinos **will** have this turned on by default.

[2016-02-02 17:40] nschloe commented on #3
If https://github.com/trilinos/Trilinos/pull/2 gets in, yes.

The Albany build is separate from the Trilinos build, right? First you build Trilinos (with whatever compiler flags, `-Wl,--no-undefined` & friends), install it, then build Albany with whatever other flags. Right?

[2016-08-11 16:41] jtostie opened #6 "backlog software"
As a developer, I want to incorporate a system to track stories in a backlog

[2016-08-11 16:48] jgfouca commented on #6
SEMS team offers Jira.

[2016-08-11 16:51] agsalin commented on #6
waffle.io is an option

[2016-08-11 17:06] jtostie commented on #6
zube.io also might work and integrates pretty easily with GitHub Issues. Seems similar.

[2016-08-11 17:07] jtostie commented on #6
Jim, thanks for the info!

[2016-08-13 16:30] jtostie opened #7 "Removal of the FieldNameMap class"
The FieldNameMap class was added to support the use case where we have a model with multiple element blocks with differing integration rules. At the time, we could not register and output state variables with the same name in both blocks (a common use case), but with differing numbers of integration points.

As a developer, I want to scope out the removal and replacement of the FieldNameMap to red

[2016-08-13 16:46] jtostie opened #8 "Consolidation of output for code simplification and usability"
Currently in MechanicsProblem there are several methods to register and request output for fields and state variables. This is not optimal and causes confusion, and makes it nearly impossible to provide a standard interface.

As a developer, I want a class to manage output in order to simplify input syntax, provide more fine grained control of output frequency, and possibly add some in code post-p

[2016-08-13 17:03] bgranzow opened #9 "Internal Compiler Errors gcc 4.7.2"
Hello!

I am compiling Albany at this SHA: da7c212
using the gcc compiler: powerpc64-bgq-linux-g++ (BGQ-V1R2M4-160620) 4.7.2
on a BlueGene/Q system

When compiling, I receive the following three warnings :

(1) J2MiniSolver.hpp:85:8: warning: inline function ‘void LCM::J2MiniKernel<EvalT, Traits>::operator()(int, int) const [with EvalT = PHAL::AlbanyTraits::DistParamDeriv; Traits = PHAL::AlbanyTra

[2016-08-13 17:33] jtostie commented on #9
Hi Brian,

My initial reaction is that we should pursue option (2) above. The features in these models that are causing issues were added in our effort to move towards kokkos compatibility. It seems like we could create a flag based on known compiler versions.

I don't like the fact that you have to comment out code to get things to compile.

Any other thoughts @lxmota ?

[2016-08-14 01:17] lxmota commented on #9
Yes, I agree that the preferred option is (2).

[2016-08-15 21:19] jtostie commented on #9
Brian, as per our conversation today, go ahead and take a stab at providing an internal flag and appropriate code guards. Please let me know if you encounter any issues.

[2016-08-16 18:37] bgranzow commented on #9
Hi Jake.  This commit
https://github.com/bgranzow/Albany/commit/a852c9d3398de7cc6a10bf9006e60ef9601aa78c
on my fork of Albany seems to have resolved the issues for me, while not adversely affecting normal Albany builds.

Specifying -D DISABLE_LAMBDAS=ON in the Albany config script optionally disables the three models which were problematic with the gcc 4.7.2. compiler. The variable defaults to OFF

[2016-08-16 19:07] jtostie commented on #9
Hi Brian, looks good to me, and what you suggest sounds reasonable. When the upcoming kokkos related merges occur in the LCM source, we can test and hopefully close this issue.

[2016-08-17 17:15] jwfoulk opened #10 "Writing restart files and enabling output on the global iteration"
As both a user and developer, I would like to have the ability to write restart files and then output solver (and state information) on the iteration. This would be helpful to understand the source of numerical instabilities in the iterative process.

[2016-08-18 23:22] jtostie opened #11 "Scope out move to Tempus"
Tempus is a new time integration package in Trilinos.

[2016-08-18 23:28] jtostie opened #12 "Improving adaptive time stepping for mechanics problems"
Catching appropriate flags and passing them to NOX. Known issue with Schwarz right now, material model wants to cut the time step, but Schwarz is not honoring that. (NEED TO VERIFY)

Revisit algorithms employed for adaptive time stepping. May link with Tempus task.

[2016-08-18 23:32] jtostie opened #13 "Condensed representation for Dirichlet BCs"
We would like to be able to construct the linear system without having to insert values of 1.0 in the system associated with the essential BCs.

[2016-08-18 23:34] jtostie opened #14 "Element technology"
Higher order surface elements and different integration strategies (48 point) for the composite tet.

[2016-08-18 23:37] jtostie opened #15 "Improving the solvers in MiniSolver"
In general, improving default solver parameters.

[2016-08-18 23:38] jtostie opened #16 "Block preconditioners for multiphysics (Teko?)"
Specifically, for coupled problems with potentially disparate units, figure out how to scale appropriately.

[2016-08-18 23:41] jtostie opened #17 "Creation of example repository for larger illustrative problems"
Longer sets of tests allow more rigorous verification of physics.

[2016-08-18 23:50] jtostie opened #18 "Create a build system on the clusters"
Improve usability and the ability to collaborate. Automate the process on a select few clusters. Can be accomplished by adding testing to the clusters.

[2016-08-18 23:53] jtostie opened #19 "Move away from TEUCHOS_TEST_FOR_EXCEPTION towards assert"

[2016-08-18 23:59] jtostie opened #20 "Investigate what it would take to move away from the Epetra build in LCM"
Want to improve the development cycle.

[2016-08-19 00:04] jtostie opened #21 "Enable the use of YAML in Albany"
Dave and Coleman has done some work for the crystal plasticity model, Chris S. has also worked on YAML.

[2016-08-19 00:12] jtostie opened #22 "Investigate roadblocks to agile LCM development"
1. Proliferation of template parameters inhibits non experts from development
2. How to manage code complexity?

[2016-08-19 00:35] ibaned commented on #20
This is closely tied to trilinos/Trilinos#313

[2016-08-19 16:01] bartgol commented on #16
I was thinking about this for a coupled 2D-3D problem in FELIX. I have never used teko (should look into that), so my tentative solution would have been to build a block triangular preconditioner. I would have done that simply dropping the undesided entries from the jacobian, quering the problem for the block columns (equations) to keep for each equation. I was also thinking of pre-building the pr

[2016-08-19 16:11] bartgol opened #24 "Pack 'classic' PDE evaluators/problems in library separate from albanyLib"
I was thinking that if someone never uses classic PDE evaluators/problems (like Navier-Stokes, Helmholtz, CahnHill...), it would be neat to pack them in an optional sub-library, something like albanyPDE or albanyClassicPDE or whatever. They would be compiled only upon request from the configuration. I understand that these problems are used for testing, so perhaps this sub-library should be forced

[2016-08-19 16:25] ibaned commented on #9
@bgranzow says w.r.t. 3a53f55:

My guess is this has more to do with how `ParallelConstitutiveModel<...>::computeStateParallel(...)` is implemented, not really how it was instantiated.

[2016-08-19 16:54] ibaned commented on #9
@branzow here is another attempted fix for you to try: efa6968. Its in the `dont_capture_this` branch. Since the compiler bug has to do with a lambda capturing the `this` pointer, I tried to avoid doing that.

[2016-08-19 17:31] ikalash opened #25 "Get everything working in DynRankViewIntrepid2Refactor branch with all 3 KokkosNodes and push to master"

[2016-08-19 18:05] agsalin commented on #24
I think something like this is already done:
  -D ENABLE_DEMO_PDES:BOOL=OFF \

I did not provide a way to turn off Heat transfer problems/tests, since they are used to test basic functionality, like restart, where they are much easier to diagnose and debug.

We could revisit several choices/issues: location of these files and tests (can move into a Demo_PDE director like LCM and QCAD), make sure t

[2016-08-22 14:47] bartgol commented on #24
You are right. I got thrown of by PHAL_NSMaterialProperty that I saw getting compiled. Should that be moved in the PDE_SRC group? It appears to be used only inside NavierStokes... Not that one source makes a big difference, though.

[2016-08-22 14:49] bartgol commented on #24
You are right. I got thrown off by PHAL_NSMaterialProperty that I saw getting compiled. I guess that's because it's needed by LCM. Nevermind then. I'm going to close this one.

[2016-08-22 14:49] #24 closed

[2016-08-23 16:12] mjuha commented on #22
From my perspective, one of the problem is that the data encapsulation concept of C++ is not enforced. For new implementations we should use this concept. Also, we need to use more comments in the interfaces. Ideally I should not need to go to the source code to figure out what the function is doing.

[2016-08-23 19:03] bgranzow commented on #9
The 'dont_capture_this' branch compiles without any warnings, and is more correct than the workarounds I suggested. I'm marking this issue fixed, even though the changes need to be merged.

Thanks @ibaned!

[2016-08-23 19:03] #9 closed

[2016-08-24 16:28] jtostie commented on #10
The primary use case is supporting really large crystal plasticity simulations with many millions of DOFs. It seems like we should be able to dump the 'state' on demand and work on the infrastructure of initializing state.

[2016-08-24 16:34] jtostie commented on #12
Jay Foulk is volunteering to add a simple test that employs the crystal plasticity model and attempts to cut the time step in a Schwarz coupling analysis.

[2016-09-12 22:09] ibaned commented on #6
for what its worth, I've started using waffle.io to track my Albany work.

[2016-09-12 22:12] ibaned opened #26 "move PUMI init calls to Main_Solve"
right now the Discretization calls some PUMI functions that behave like `MPI_Init`; I should move those out to the main function instead. We may have multiple Discretizations at some point.

[2016-09-12 22:13] ibaned opened #27 "finish removing GOAL component"
CMake code and a subdirectory still remain from this now-obsolete component

[2016-09-12 22:16] ibaned opened #28 "document library generalization effort"
In multiple cases of special use of Albany, users have had to code alternatives to the Main_Solve+Application driver system. A wiki page will document our efforts to establish an organized way to compose different solver architectures from Albany components.

[2016-09-12 23:19] ibaned commented on #28
said wiki page is here:
https://github.com/gahansen/Albany/wiki/Albany-as-a-Library

[2016-09-12 23:19] #28 closed

[2016-09-13 16:26] #26 closed

[2016-09-13 16:32] #27 closed

[2016-09-15 22:35] ibaned opened #29 "properly handle meshes getting smaller"
This is actually a Trilinos issue as the relevant code is in Piro at this point, but its really only used by Albany. There are bits of code that assume adaptivity only makes the mesh bigger, and cause serious failures when the mesh gets smaller.

I'll try to code a patch while I still remember where that code is, this issue can track our progress.

@mjuha @bgranzow @gahansen

[2016-09-15 22:38] ibaned commented on #6
seems like Github themselves just released an alternative:

https://github.com/gahansen/Albany/projects/1

[2016-09-15 22:44] jtostie commented on #6
Thanks @ibaned.

I have looked at waffle.io and zube.io, which are nice. Since each of these works through the GitHub Issues, I don't think it will matter much. I will keep this open so that we can track experiences in this thread.

[2016-09-16 00:38] ibaned commented on #29
I just pushed trilinos/Trilinos@ff0a166, which may help with this situation.

@mjuha, could you try these changes when possible on your problematic case with error bound 0.1 ? unfortunately, because of some Intrepid2 changes, you must be careful to use Albany at version fe7f2ea if you are going to compile with the Trilinos develop branch. If the fix is not urgent, we could wait a few days for Tril

[2016-09-16 12:06] ibaned commented on #29
Well, although I think my changes were right, they seem to be insuffient.

@mjuha, could you follow these steps ?

1. confirm that with error bound 0.1 your mesh does get smaller
2. create a small serial test case that demonstrates the same issues
    (adaptation makes the mesh smaller, incorrect solution).
3. run that serial test case under Valgrind

[2016-09-16 16:21] mjuha commented on #29
@ibaned , I just check it and I know why your change, although correct, it is insufficient. There are two adaptation process that are performed during the simulation:
1) Adapt mesh and do not add new layer. In that case the mesh get smaller. (i.e, from 511,976 nodes to 443,079 nodes).
2) Adapt mesh and add layer. In this case the mesh get bigger. (i.e., from 443,079 nodes to 806,297 nodes)

[2016-09-16 16:24] ibaned commented on #29
Can you confirm whether you see the wrong solution in one or both of those cases ?

[2016-09-16 16:27] mjuha commented on #29
Dan, the wrong solution is happening only for the second case.

[2016-09-16 16:31] ibaned commented on #29
Okay, then we are following entirely the wrong trail; this has to do with the solution values in the new layer and not with the smaller-mesh logic. I'm going to close this issue because it deals with the mesh getting smaller, and we've done what we can in that direction for now.

[2016-09-16 16:31] #29 closed

[2016-12-16 17:49] bgranzow opened #30 "Avatar CDash dashboard scripts should be updated for MiniTensor"
The external Albany CDash dashboard:

http://my.cdash.org/index.php?project=Albany

should have its Trilinos configuration script updated
to build the new Trilinos package "MiniTensor". I
believe this is as simple as adding a line like

`-DTrilinos_ENABLE_MiniTensor:BOOL=ON \`

somewhere in the following:

https://github.com/gahansen/Albany/blob/master/doc/dashboards/avatar.scorec.rpi.edu/ctest_ni

[2016-12-17 19:10] bgranzow commented on #30
Looks like that change did the trick.
Thanks @gahansen!

[2016-12-17 19:10] #30 closed

[2017-01-21 00:49] lxmota commented on #11
@ikalash We are currently working on this. I'm reviving this so that we can track it.

[2017-01-21 00:53] lxmota commented on #18
@calleman21 extended the module files to work on the CEE environment. I'm also dragging @jwfoulk since he has a strong interest in making this work on the big clusters.

[2017-01-21 01:00] ikalash commented on #11
Thanks for reviving the issue, @lxmota!  To give everyone a status update, I have hooked up Albany to Tempus via the Piro::TempusSolver class, which I added to the Piro package of Trilinos.  There are several tests in Albany demonstrating syntax for how to call Tempus through Albany (one can see which ones by doing grep -r Tempus on the examples directory in Albany).  Note that Tempus does not yet

[2017-01-21 01:43] rjones-sandia commented on #18
Hi Alejandro
  Jeremy has some relevant experience too. We are running Albany/Lcm on skybridge and have interest in further automating the build.
Reese

Reese Jones
rjones@sandia.gov<mailto:rjones@sandia.gov> 925 294-4744
"There's almost nothing a little Python can't help" - anonymous.

On Jan 20, 2017, at 4:53 PM, Alejandro Mota <notifications@github.com<mailto:notifications@github.com>> wrote:

[2017-01-21 01:49] lxmota commented on #18
@rjones-sandia I'm glad to include Jeremy in the discussion. Does he have a GitHub account to that I can reference him in this thread?

[2017-01-23 18:32] lxmota commented on #18
Adding @j-templeton to the discussion.

[2017-01-24 15:31] bgranzow opened #31 ""Test Values" for regression results ignored?"
Using the Elasticity2DTriangles inputT.xml input file as an example:

https://github.com/gahansen/Albany/blob/master/examples/LCM/Elasticity2DTriangles/inputT.xml

It appears that the regression comparison for the "Solution Average" response function is not actually compared against when running the problem. i.e. I can change the Test Value on this line:

https://github.com/gahansen/Albany/blob/ma

[2017-01-24 19:57] ikalash opened #32 "Replacing Epetra dgdp in PHAL::Workset with Tpetra dgdpT throughout Albany"
I have been making an effort to remove Epetra member variables in PHAL::Workset, as a part of the conversion of ATO to Tpetra/Thyra.  This includes in particular responses and their derivatives (workset.g, workset.dgdp, and workset.overlapped_dgdp).  I was able to successfully remove the Epetra versions of g and overlapped_dgdp in PHAL::Workset and replace them with Tpetra analogs throughout Alban

[2017-01-24 20:00] ikalash opened #33 "Removing ALBANY_EPETRA_EXE ifdef around distributed response / parameters code"
If distributed responses / parameters are meant to work without Epetra in Albany, the ALBANY_EPETRA_EXE ifdef guards around the relevant functions should be removed.  I am concerned if this is not done, there may be issues for physics that are being ported to Tpetra and that utilize this capability (e.g., ATO).

[2017-01-24 21:02] mperego commented on #33
The ALBANY_EPETRA ifedefs guard are mainly used to guard Epetra code. If you see parts that are guarded but do not include Epetra code than they can probably be removed. I see this as part of the refactoring to Tpetra, not sure why you see this as a separate issue.

[2017-01-24 21:03] mperego commented on #32
I'll have a look at that.

[2017-01-24 22:00] ikalash commented on #33
This issue was motivated by some confusion on my part regarding the code regarding something specific with the distributed parameters code -- maybe you can explain this to me.  Are the specializations templated on PHAL::AlbanyTraits::DistParamDeriv, Traits meant to work when ALBANY_EPETRA_EXE is off?  If you look at the code, some of these specializations have ALBANY_EPETRA_EXE guards (the ones th

[2017-01-24 23:52] mperego commented on #33
I don't know. I guess we should try and see.

There might even be some code that is not used any longer, or maybe in the Tpetra version there is some missing logic so that not all the parts of the sensitivities are computed (but that should not be caused by ifdef guards). I guess it is probably better to first figure out what's wrong with the ATO tests and then we can try to clean the #ifdef guard

[2017-01-25 00:00] ikalash commented on #32
Thanks, Mauro!

[2017-01-25 00:02] ikalash commented on #33
I see.  This is along the lines of what I was conjecturing.  I'll keep this open for a bit until I understand better the behavior with ATO.  Then I agree this can be closed and moved to the infrastructure cleanup task/issue.

[2017-01-25 15:56] #33 closed

[2017-01-25 15:56] ikalash commented on #33
Closing this issue - it will be moved to general Albany infrastructure cleanup issue / task.

[2017-01-27 17:18] gahansen commented on #6
Jake, did you get a chance to look at the new Github approach that @ibaned mentioned in his Sep 15 comment? What would be your thoughts on the project diving in and trying that for a while to see how it works for us?

[2017-01-27 17:24] ibaned commented on #19
I'm actually surprised someone besides me prefers `assert()`. Its less work to type out and signals are somewhat easier to catch and trace than exceptions. However, it doesn't print information quite as flexibly. Any rationale I missed here ?

[2017-01-27 17:30] ibaned commented on #6
I've set up a few more projects in a way that will probably work well here:

https://github.com/gahansen/Albany/projects

I think what I'll do is close this issue in the near future, to be reopened if this initial approach runs into trouble.

[2017-01-27 17:33] jtostie commented on #6
@ibaned, I agree with this.

[2017-01-27 17:34] #6 closed

[2017-01-27 17:38] gahansen commented on #19
I also prefer assert(). We might consider replacing the TEUCHOS_TEST_FOR_EXCEPTION calls with a macro | function defined in a toplevel Albany include file that has the option of printing a more extensive message and then finally calls assert(). Does anyone see issues with moving toward assert() or have any counter-arguments?

[2017-01-27 17:48] jtostie commented on #19
If I recall correctly, @lxmota mentioned that the TEUCHOS macro is a nightmare in the context of debugging. Best to let him comment though. I have no issue moving towards assert.

[2017-01-27 18:23] ibaned opened #34 "silence addDependentField warnings"
newer GCC versions (6.2.0 for one) are warning about usage of a deprecated variant of addDependentField. Basically, it seems the right thing to do is to declare your dependent fields with `const` data types, so `const ScalarT` instead of just `ScalarT`. This is a big job to do throughout Albany, but fairly straightforward.

[2017-01-27 18:51] rppawlo commented on #34
@ibaned I'm surprised you are just seeing this now. That warning is not compiler dependent and has been in the code for some time. It is enabled by a trilinos configure time variable. If you want to turn those warnings off, use the flag:

-D Phalanx_SHOW_DEPRECATED_WARNINGS:BOOL=OFF

I would like to remove the deprecated code in the next major Trilinos release.

Below are instructions for fixing:

[2017-01-27 19:00] rppawlo commented on #19
There is one major difference between teuchos and assert. Teuchos will always be checked in all build types. You can't disable it. In release builds (that define NDEBUG), the code within the assert will never be executed. So when changing over code, make sure that the asserts aren't making calls to functions that must always be executed.

Also, you can easily debug the teuchos macro. There is a du

[2017-01-27 19:14] ibaned commented on #34
thanks @rppawlo ! I don't know how it didn't show up until now, but it seems we agree on the fix. Please give me a heads-up when you're going to commit the removal, likewise I'll let you know when Albany stops using the deprecated function.

[2017-01-27 19:32] ibaned commented on #19
I agree that NDEBUG should not make the assert calls disappear. I've got some experience writing custom asserts, so I put up a first draft as PR #35. That PR also switches a few calls from TEUCHOS...EXCEPTION to ALBANY_ASSERT, to get a sense of what it looks like. After we get input from people on the interface and if we think we should switch, I'll merge this in and start replacing calls at will.

[2017-01-27 19:49] rppawlo commented on #34
@ibaned It probably won't be for a while. As you mentioned - it is quite a lot of tedious work to fix everywhere. I'd like to shoot for the next major Trilinos release when we can break backwards compatibility. It's good to get everyone writing evaluators to use the new methods though :)

[2017-01-30 14:33] ibaned opened #36 "Move to an Organization"
At the Albany Users Meeting there was some discussion of moving this repository to a GitHub Organization. The major benefit would be the existence of teams and the related permissions hierarchy. Unfortunately the user @albany exists meaning we cannot create an Organization by that name. Other names considered:

 - AlbanySandia
 - AlbanyMultiphysics
 - trilinos

That last one is the idea of moving

[2017-01-30 18:15] ibaned opened #37 "Remove STK Adapt & Rebalance (percept)"
There is code in Albany to use STK Adapt and Rebalance, and it would simplify Albany if we removed it. If we instead choose to keep it, then we need to bring it up to date and start testing it because it likely does not work like it used to.

This issue is to gather opinions from Albany users, in particular if you object to its removal. Although we don't have a specific date, it is likely that wit

[2017-01-30 18:19] jtostie commented on #37
There is an option is the Discretization scope, "Use Serial Mesh", that allows us to do a decomposition at runtime. I believe it is a fairly useful feature. I'd vote to keep that, provided it is not an undue burden to support. I can't say much about the stk_adapt functionality.

[2017-01-30 18:27] ibaned commented on #37
Thanks for reminding me, I forgot to mention that the "Use Serial Mesh" feature is now supported directly by SEACAS Ioss, and so we should no longer need STK Rebalance in order to support that feature. We're definitely keeping that ability.

[2017-01-30 18:31] jtostie commented on #37
Nice. Then I have no objections.

[2017-01-30 19:07] ibaned opened #38 "Start using Formatting Tools"
I've created a Wiki page here:

https://github.com/gahansen/Albany/wiki/Formatting-Tools

Which describes `clang-format`, a tool to automatically format C++ files, and `xmllint`, a tool which automatically formats XML files.

Based on discussion in the weekly phone call, possible uses of these tools include:

 - Albany developers as a team agree on one or more `clang-format` styles that accurately

[2017-01-30 19:08] ibaned commented on #38
@agsalin @gahansen @ikalash

[2017-01-30 19:08] ibaned commented on #38
@bgranzow

[2017-01-30 19:25] ibaned opened #39 "Make the Repository Smaller"
There was discussion at this week's call to consider rewriting history and/or separating out the `examples/` directory. Here is some data to guide decisions:

[code]

What this means is that the entire history, under some degree of compression, is 850 MB, and the current version of `examples/` without compression is 827 MB. The entire `Albany/` directory is 1.7 GB, and subtracting out the `.git/`

[2017-01-30 19:34] ikalash commented on #12
I believe the issue of time-stepping schemes not passed to NOX for Schwarz problems has been resolved.  @djlittl and @jwfoulk , can you please confirm?  If confirmed, I say we close out this issue.

[2017-01-30 19:43] ikalash commented on #13
I believe @jfike did this for MOR a few weeks ago -- see commit b18b881cca750c2f237b46e1b0bb522d1054215f .  It may be useful to look at this for this task.

[2017-01-30 19:45] ikalash commented on #15
The incorporation of ROL into MiniSolver may have helped with this.  @lxmota , have you compared ROL vs. inherent MiniSolver solvers for unconstrained problems.

[2017-01-30 19:47] #25 closed

[2017-01-30 19:47] ikalash commented on #25
The DynRankViewIntrepid2Refactor branch has been pushed to master.

[2017-01-30 20:26] ikalash opened #40 "Code duplication in Albany_SolverFactory.cpp"
There is a lot of code duplication in Albany_SolverFactory.cpp, in particular having to do with creating a linearSolverBuilder for different physics that have their own model evaluators.  This should be cleaned up.

[2017-01-30 23:11] mperego commented on #32
Removed workset.dgdp and converted evaluateDistParamDeriv functions to Tpetra. See 424ec1d548b5435.

[2017-01-30 23:19] bartgol commented on #34
I also ran into this issue only recently. I fixed it by replacing all the calls to

addDependentField (field);

with

addDependenteField(field.fieldTag());

This compiles without warning, although it does not enforce const correctness.

This makes me wondering whether FieldTag makes sense. Perhaps it would be better to replace it directly with Tag<ScalarT>, which encodes also the underlying data t

[2017-01-30 23:23] ibaned commented on #34
const correctness is important. in the process of working on this issue, I found that the Albany Helmholtz Residual is modifying one of its dependent fields.

[2017-01-30 23:26] bartgol commented on #34
Oh, I agree. I did that just because I thought it was quicker with sed. But I am going to revert to const DataT instead.

Are you planning to put this fix in master soon? Is it going to be in a fix branch?

[2017-01-30 23:27] ibaned commented on #34
there is an `issue-34` branch right now that I'm working on.

[2017-01-30 23:31] bartgol commented on #36
I personally don't like the idea of using trilinos as organization, for the down sides you mentioned. I think a name of the form AlbanyXYZ is more appropriate. Perhaps AlbanyMultiphysics has the advantage of making immediately clear that Albany can handle multiphysics problems.

[2017-01-30 23:36] ibaned commented on #34
@rppawlo  is it possible to copy a `PHX::MDField<double>` temporarily into a `PHX::MDField<const double>` to do read-only operations on it ? I guess I'm not used to `MDField` semantics and treating them like `Kokkos::View` is not working out for me...

[2017-01-30 23:54] bartgol commented on #40
True. albanyApp is created different times in different createXYZ routines. One version of createAlbanyApp should be enough. The app can then be passed to other createXYZ methods. I think the creation of Application, Solver and Model should be kept separated for clarity.

The method 'createAndGetAlbanyApp' sounds to me as 'create the app, then return it', while it returns the solver.

I would favo

[2017-01-31 13:55] rppawlo commented on #34
@ibaned yes - you should be able assign a non-const field to a const scalar field. Internally all fields are stored non-const and at binding time, dependent fields are assigned to const scalar fields. There are some unit tests that exercise this:

https://github.com/trilinos/Trilinos/blob/b79a4af987f0ac3296dce0274246b7d23e65d649/packages/phalanx/test/Field/MDField_Compiletime.cpp#L345

MDFields do

[2017-01-31 13:59] rppawlo commented on #34
I also should mention - if you use the field instead of the field tag to register evaluated and dependent fields, then you no longer need to bind the memory to the field manually with setFieldData() during postRegistrationSetup. If you addDependentField/addEvaluatedField with the field tag, then you have to bind the memory manually as usual.

[2017-01-31 14:40] ibaned commented on #34
So for context, the reason I want to assign to `const` is there is a function that fills in data and then passes it to another function which itself is read-only. The original field (which is a runtime, not compile-time field I think) is created like this:

[code]

I tried the following:

[code]

Which gave me this error:

[code]

I've since then switched to doing this:

[code]

[2017-01-31 14:48] rppawlo commented on #34
That should work. I will add a ticket to trilinos, add appropriate testing and fix. Sorry you had to jump through that hoop.

[2017-01-31 14:55] ibaned opened #41 "Use of Intrepid(2) RealSpaceTools"
@jtostie, in commit 55f111b you left a comment

[code]

I was wondering what the reasoning behind this comment is.
The reason I'm bringing it up now is I'm having issues getting the (now Intrepid2) RealSpaceTools to work with `const ScalarT` arguments, and I'm wondering if instead of trying to fix them I should be replacing them with something else.

[2017-01-31 15:22] ibaned commented on #34
Now that I think about it, if this did work, then there would only need to be one `addDependentField` which accepts a const field and all of our non-const fields would implicitly get converted to const.

[2017-01-31 15:59] ikalash opened #42 "Get Albany to compile with -DENABLE_ENSEMBLE:BOOL=ON"
This has been broken for awhile.

[2017-01-31 16:07] ibaned commented on #42
@agsalin is this something we want to spend time on and preserve ? we may want to talk with @etphipp about the way to move forward on this (there was some discussion on our side about storing Ensemble types directly as the scalar type in Tpetra objects instead of converting to multiple Vectors etc).

[2017-01-31 17:30] jtostie commented on #41
In practice, the setting of the container sizes necessary to use the RST and FST is error prone, and honestly I was tired of trying to debug it. This is related to the way the workset size is computed and the impact it has on the container sizes. The alternative is to implement the same operations locally, often using MiniTensor objects, which is cleaner and more readable, and much less prone to m

[2017-01-31 17:47] mperego commented on #41
I'm probably biased, but I would think we could take more advantage of Intrepid2. There is a lot of work happening in Itrepid2 and downstream (e.g. Kokkos Kernels) and if we stick to Intrepid2 and properly use their functions we could take advantage of that, especially regarding portability.
Dan, if you want I can help you with the issue you are having right now.

[2017-01-31 17:52] mperego commented on #41
@ibaned Just saw your related issue in Trilinos.

[2017-01-31 17:52] ibaned commented on #41
@mperego could you please take a look at trilinos/Trilinos#1030 ? Thanks !

[2017-01-31 18:08] agsalin commented on #42
Yes, we need to continue our talk with Eric about a path forward. We need to balance our desire for more capabilities with the maintainability/extensibility of the code. I'm still not clear on how much work it will be to get the ensemble capability back through the data type, and whether that work is slated to happen under ATDM or if Albany would be the driver.

[2017-01-31 18:20] lxmota commented on #15
@ikalash @jtostie @jwfoulk @calleman21  I think that Jake is referring to the default values for solver parameters that currently exist in MiniSolver. For instance, the trust region solver has been barely exercised and we really have no idea whether the default parameters are good for our particular set of problems.

I have not done a one-to-one comparison between MiniSolver and ROL for the method

[2017-01-31 18:38] lxmota commented on #19
I also prefer assert for the many reasons already mentioned here. But I must say that one of the reasons that I like it is precisely because that macro does nothing if the NDEBUG symbol is defined. That is the standard behavior as defined here and many other places:

http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/assert.h.html

One big issue for me is that if I see standard constructs li

[2017-01-31 19:13] agsalin commented on #19
Alejandro makes a good point. It is nice to put asserts in freely to test code without concern for performance. On the other hand, it is nice that you can get a good error message when you misspell something in XML when running a performance build. That speaks having two different error checking approach, (1) the standard assert and (2) something that behaves like TEUCHOS_TEST_FOR_EXCEPT but perha

[2017-01-31 19:31] ibaned commented on #19
The other feature to keep in mind as @gahansen pointed out is the ability to print more information. I think we could do something like this:

[code]

And people choose one of these based on the specific situation.
I'll work on making those two macros do what we just discussed.

[2017-01-31 21:20] lxmota commented on #19
The two-macro solution looks good to me. I would like to request one thing: that both macros take exactly the same arguments, including an error message.

[2017-01-31 21:42] jfike commented on #42
I had started down the Tpetra path, which involves templating the workset and AlbanyTraits definitions.  I made some progress down this path, but have not found the time to finish it so far.

As far as the current issue with building with -D ENABLE_ENSEMBLE = ON, I started on an attempt to fix it a while ago, but have not had the time to resolve the issue yet.  Hopefully I can find the time to do

[2017-01-31 22:36] bartgol commented on #19
I also second the two macro solution. Perhaps we can make the ALBANY_ASSERT clearer by calling it ALBANY_DEBUG_ASSERT or something along that line.

If the length of the macro name is not a concern (after all TEUCHOS_TEST_FOR_EXCEPTION is not short either), we could consider adding _VERBOSE to the macro names in the extra msg case:

[code]
Or without the_DEBUG part.

[2017-01-31 23:00] lxmota commented on #19
One issue that I have with TEUCHOS_TEST_FOR_EXCEPTION is that its name is too long.

I propose that we use ALBANY_ASSERT instead of ALBANY_ALWAYS_ASSERT, and ALBANY_EXPECT for ALBANY_DEBUG_ASSERT. The first always fails if the provided boolean (and it would be great if this is enforced, no more checking for ints) value is false, while the second will only fail if NDEBUG is defined.

An optional er

[2017-01-31 23:46] ikalash opened #43 "Increase default workset size in Albany"
Currently, the default workset size in Albany is 50, which is quite small.  Is anyone opposed to increasing the default value?  This is of particular interest for a build with a CUDA KokkosNode - many of the tests time out when run on a GPU b/c the workset size is too small, meaning the GPU does not have enough work to do relative to copies that are done.

If people agree to increase the default w

[2017-01-31 23:51] ikalash opened #44 "Turn off Epetra tests in CUDA build"
Is anyone opposed to turning off Epetra tests in a CUDA build of Albany?  Are Epetra tests meant to execute correctly on GPUs, in particular when UVM is on?  I am wary of this usage and would be inclined to run only Tpetra tests in a CUDA build of Albany, unless I am missing something.

[2017-01-31 23:54] ikalash opened #45 "Create instructions for building / running Albany with CUDA KokkosNode on WiKi"
@jewatkins , can you please do this, e.g., for the Ride machine, for both the P100s and K80s?

[2017-02-01 00:20] mperego commented on #43
I agree on increasing the default workset size (this will help to mitigate the overhead of the Intrepid2 functions) .
However, I think it is best not to put workset size = -1 in all the tests (even for CUDA only builds) because then the case of multiple worksets per process is never tested.

[2017-02-01 00:29] ibaned commented on #43
I think its early to base the default specifically on the GPU use case. I suspect Albany usage of GPU memory is nowhere near optimal yet. A while back I raised the default from 50 to 1000 for the PUMI Discretization; I propose we do the same for STK and see how things go from there. I am certain there are test problems with >1000 elements, so multiple worksets would still get exercised.

[2017-02-01 00:36] ikalash commented on #43
I am fine with 1000.  @ibaned , can you please make this change if there are no objections?  I'll assign the issue to you.  It will be interesting to see how the CUDA test results change with this increase in workset size.

[2017-02-01 01:02] ibaned opened #46 "remove Hydride"
@gahansen more or less owns this code and we're fairly sure it no longer builds. Based on discussion this afternoon we will soon remove Hydride.

[2017-02-01 04:20] ibaned commented on #43
so my memory was off and PUMI was using ten thousand, but I changed it everywhere to one thousand. I'm closing this for now, lets reopen if it needs changing again or I broke something.

[2017-02-01 15:31] ikalash opened #47 "Failing FELIX tests due to change in default workset size"
The following FELIX tests failed in last night builds due to the change in default workset size:

 FO_GIS_GisUnstructured
FO_GIS_GisCoupledThickness
FO_GIS_GisManifold
 FO_GIS_GisRestartUnstructured
FO_GIS_GisAdjointSensitivity
FO_GIS_GisWedgeAdjointSensitivity
 FO_GIS_GisAdjointSensitivityBasalFriction
FO_GIS_GisAdjointSensitivityStiffeningBasalFriction
 FO_GIS_GisSensSMBwrtBeta
 FO_GIS_GisSensSM

[2017-02-01 15:56] mperego commented on #47
Fixed. ( af1cd136ff894beff0a91692f46703b75c0c44de).

[2017-02-01 15:56] #47 closed

[2017-02-01 15:59] ibaned commented on #41
The resolution of trilinos/Trilinos#1030 also resolves this issue in the near term.

[2017-02-01 15:59] #41 closed

[2017-02-01 16:01] ibaned commented on #36
Another choice I forgot to mention is "AlbanyCode", which has the benefit of being fewer characters (I'm pretty lazy when typing).

[2017-02-01 16:16] ibaned commented on #19
Thanks everyone for your input ! I was able to implement both systems proposed by @lxmota and @bartgol. So there are six new macros available in Albany_Utils.hpp including ALBANY_ASSERT and ALBANY_EXPECT whose message argument is optional.

https://github.com/gahansen/Albany/blob/master/src/Albany_Utils.hpp#L166

I think this should have all the features requested in this thread, so I'll go ahead

[2017-02-01 16:16] #19 closed

[2017-02-01 16:18] ikalash commented on #36
I personally like AlbanyCode; but the other AlbanyXYZ names are fine too.

[2017-02-01 16:19] ibaned commented on #20
the resolution of trilinos/Trilinos#1023 will allow Epetra-free Trilinos builds, which is a prerequisite for this.

[2017-02-01 16:55] agsalin commented on #43
Dan: I'm getting errors in my nightly build from this change. For Example:
  examples/FELIX/FO_GIS/input_fo_gis_unstruct.xml

Error has to do with type -- not clear why you chose to free it from an <int>.

[2017-02-01 16:59] mperego commented on #43
Hi Andy, that has been fixed (see #47).

[2017-02-01 16:59] #43 closed

[2017-02-01 17:11] ikalash opened #48 "Setting of Workset Size in input file for ATO::2Matl tests does not appear to be working"
A few of the ATO tests began to fail last night with the change in default workset size due to having been baselined against a gold file generated with workset size = 50 and tight exodiff tolerances.  I attempted to fix the tests by setting the workset size = 50 in the input file (adding the line <Parameter name="Workset Size" type="int" value="50"/> under "Discretization) but it does not appear t

[2017-02-01 17:22] ibaned commented on #48
I think you should consider it a separate bug that you get a different answer with a different workset size. Is there any known reason why workset size could affect results at all ? Anyway, I'll look at the input parameter issue.

[2017-02-01 17:28] ikalash commented on #48
I agree.  This is a question for @jrobbin, the author of ATO.  I'll take this up with him.  It looks to me like the solutions are slightly off in the 4th decimal point with the different workset size.  I don't know enough about the physics and gold file to say if this is significant and why this is workset dependent.  If you could look at the input issue for now, that would be great.  We want the

[2017-02-01 17:37] ikalash opened #49 "Why do some ATO tests pass only for certain Workset Sizes?"
@jrobbin : I noticed after Dan's change to the default workset size in Albany that a couple of ATO test solutions (2Matl and RegHeaviside_3D) are workset size dependent -- the solutions are a few decimal points off with a workset size != 50 (50 was the old default workset size), causing the tests to fail.  We should understand why this is happening to make sure there is no bug underlying these dif

[2017-02-01 17:39] ibaned opened #50 "Solutions sometimes depend on Workset Size"
@ikalash @mperego

Both commit 9116dba and issue #48 report solutions being affected by workset size. My main concern is that if they are affected by workset size, then there is likely an error being introduced all the time, so even the results in the current "gold" files may be wrong. This is a meta-issue to track progress in finding and fixing such errors. My guess is most of this comes from the

[2017-02-01 17:42] ibaned commented on #50
#49 is part of this

[2017-02-01 17:45] mperego commented on #50
I'm pretty confident that the issue in commit 9116dba is not related to #48 or #49. I think it has to do with an evaluator that is only used in the Enthalpy test, and that I will fix when I'll go back working on that capability. That's why I did not open an issue.

[2017-02-01 17:46] ibaned commented on #50
true, they are likely unrelated multiple bugs.

[2017-02-01 18:00] mperego commented on #50
Your guess on the issue being related to the "last" workset makes sense to me. I will check that. My first guess for the Enthalpy test, is that I'm doing a (tricky) integral along a vertical column, and that I might be wrongly assuming that all the cells in a column belong to the same workset, although that's not guaranteed and it depends anyway on the workset size. Anyway, I'm glad that the chang

[2017-02-01 18:29] ikalash opened #51 "Issue with ATO problems having distributed parameters / responses run with AlbanyT executable"
There seems to be one remaining issue in getting ATO ported to Tpetra/Thyra from Epetra/EpetraExt, which affects tests with distributed parameters/responses:

- Constraint_2D_adj
- Constraint_2D_fd
- DistParam_2D
- BodyForce_2D (with NLopt)
- CurrentOpt (with NLopt)
- ResidualStrain (with NLopt)
- VolumeObj_StiffnessCon (with NLopt)
- VolumeObj_StressCon (with NLopt)

When running these problems w

[2017-02-01 18:40] bartgol commented on #36
If you like brevity, AlbanyLib is even fewer characters then... And it it more common to have libraries called XYZLib than XYZCode...

[2017-02-01 18:44] ibaned commented on #36
I suppose that begs the question of whether Albany is more of a library than an application.

[2017-02-01 18:52] ibaned commented on #36
and in turn suggests AlbanyApp as an option, although that sounds like something for a mobile phone.

[2017-02-01 19:04] djlittl commented on #48
My experience is that different work set sizes can produce diffs that are roughly the same as the diffs you get from running on different numbers of processors.  I think the root cause is subtle changes in order of operations, etc.

________________________________
From: Dan Ibanez <notifications@github.com>
Sent: Wednesday, February 1, 2017 10:22:57 AM
To: gahansen/Albany
Cc: Subscribed
Subject:

[2017-02-01 20:35] ibaned commented on #48
Why are these tests only active if Albany is not in 64-bit mode ? This is the fifth time I've had to rebuild Albany trying to compile ATO...

[2017-02-01 20:43] ikalash commented on #48
@jrobbin is the author of ATO and the one who put in that logic so he can best answer this question.  My guess is the logic was put in as a precaution, since the original Epetra-only code was not meant to run for huge problem requiring 64-bit int GOs.  I will check if the examples can be activated in a 64-bit build, and turn them on there, if they work.  Sorry for the frustrations this is causing,

[2017-02-01 21:29] bartgol commented on #36
You're right, Albany is more of an application than a library.

As long as it's not iAlbany, an app-sounding name is not bad.

[2017-02-01 21:55] agsalin commented on #36
AlbanySandia is my top choice so far. I am under the impression that SCOREC teammates don't mind it being associated as a Sandia code, removing my main concern about this name in that it is not inclusive to all contributors. I like it because people will instantly know they found the right repo if they are searching for it.

[2017-02-01 21:57] ibaned commented on #36
I'm fine with that. I guess I'll try to start a vote using the thumbs-up reaction.

[2017-02-01 22:20] ibaned commented on #48
@ikalash it looks like the parameter was just in the wrong place in the input file. ATO is confusing because it has "Discretization" lists for all the subproblems, and then a separate one outside of "Problem". Commit 04592a5 should fix this.

[2017-02-01 22:20] #48 closed

[2017-02-01 23:52] lxmota commented on #38
For LCM we try to follow the Google C++ coding standards. For formatting, I use Eclipse with the BSD-Allman style of formatting. I'll check clang-format to see what id does.

[2017-02-01 23:58] lxmota opened #52 "LCM: Fix conflict between Schwarz and Dirichlet boundary conditions."
There is currently a conflict in the application of Dirichlet and Schwarz boundary conditions. If both are defined for a specific degree of freedom, both are applied to it. Thus the last specified BC prevails.

This needs to be changed so that if both Schwarz and Dirichlet BCs are applied to the same DOF, the Schwarz BC is ignored and the Dirichlet BC takes precedence.

[2017-02-02 00:03] lxmota opened #53 "LCM: Convergence of Schwarz coupling does not match independent implementation."
The Modified Schwarz implementation in Albany displays oscillatory and slow convergence compared to a Matlab implementation that shows monotonic and fast convergence. The root cause is not known.

[2017-02-02 00:24] ibaned commented on #38
Google is one of its styles, and is the one I base my format on. One thing that might be of use is to choose a representative C++ file and we can look at it under different settings.

[2017-02-02 01:13] ikalash commented on #48
I see -- I missed this detail.  Thanks for fixing it, @ibaned !

[2017-02-02 02:45] lxmota commented on #39
Some of the examples are too big, and some others have been abandoned and are stale (at least in the case of LCM). Some clean up is necessary. @jtostie and I did a little bit of that some time ago, but perhaps more if it is in order.

We might also consider splitting the source and examples, as they do for Sierra. I think it would be a good idea to have an examples repository where people can put

[2017-02-02 02:53] ibaned commented on #39
Agreed on your first two paragraphs. As for other repositories:

 - The Linux kernel has much stricter management that simply doesn't allow large files to get in. Since they are not a science app and testing is hard to automate for a kernel, they don't have the "input file" situation
 - Trilinos did go through a history rewrite in part to save space prior to their transition to GitHub. @bartlettro

[2017-02-02 02:58] lxmota commented on #22
Yes, this is a big one. At the recent Albany Users Meeting it was decided that @ibaned would take some of the work in maintaining Albany's infrastructure, which is a very important issue for LCM.

Besides that, there are other issues too, such as the steep learning curve, the horrifying XML of the input files and others.

In my experience, many times the two issues mentioned by @jtostie above aris

[2017-02-02 03:01] lxmota commented on #39
Ok, but does the Linux kernel have issues with their Git history?

I'll ask Ross what they did for Trilinos.

[2017-02-02 03:03] lxmota commented on #21
Yes, I should research this YAML issue. I'm told that you can enable a YAML parser for Teuchos.

[2017-02-02 03:05] lxmota commented on #17
This is directly related to #39

[2017-02-02 03:06] ibaned commented on #39
Here is an in-depth description of Linus Torvalds' policy, which an be summarized as:
 - keep your work private and clean up / rewrite your own history in private as needed
 - once it is public (on GitHub in our case) or involves other people's work, no more changing history

http://www.mail-archive.com/dri-devel@lists.sourceforge.net/msg39091.html

I myself could do better about this, and will tr

[2017-02-02 03:07] lxmota commented on #14
I had a conversation with John Emery. He has funds for this. @jwfoulk, @jtostie and I need to talk about this.

[2017-02-02 03:13] lxmota commented on #39
Would this be improved if people added this to their .gitconfig?

[branch]
   autosetuprebase = always

[branch "master"]
  rebase = true

Then we would not see the myriad of merge commits that we see now and the history would be more compact.

[2017-02-02 03:18] mperego commented on #39
I always rebase before pushing when I work in master. But I'm not sure I'd like an automatic rebase.

[2017-02-02 14:28] ibaned commented on #39
I actually don't like excessive rebasing, merge commits in the history are fine with me. One quick example: Trilinos does a fast-forward pull from develop to master. If they used merge commits, then we could tell exactly when develop was copied into master. Likewise, if a big change gets merged into Albany and it is very problematic, if it is a merge commit than the merge commit can be reverted by

[2017-02-02 14:45] ibaned commented on #21
If we find that YAML is a viable input option, one thing that will be especially useful will be an XML to YAML converter.

[2017-02-02 16:02] bgranzow commented on #21
The Teuchos YAML parser function defined [here](https://github.com/trilinos/Trilinos/blob/master/packages/teuchos/parameterlist/src/Teuchos_YamlParser_decl.hpp#L84) in Trilinos

Seems to mirror the function used [here](https://github.com/gahansen/Albany/blob/master/src/Albany_SolverFactory.cpp#L201) in Albany:

I've used the Teuchos YAML parser before and it is quite nice. Some things to consider:

[2017-02-02 19:56] mperego commented on #14
Is this something that will end up in Intrepid2?

[2017-02-02 20:35] lxmota commented on #14
Yes, this is something that would end up being implemented in Intrepid2. I still need to talk to John Emery to see if he is OK with having this in Albany.

[2017-02-02 22:12] bartlettroscoe commented on #39
The decision to rebase or merge is based on the chosen workflow.  The git workflow building blocks and when to use a rebase or a merge is described in detail at:

* https://docs.google.com/document/d/1uVQYI2cmNx09fDkHDA136yqDTqayhxqfvjFiuUue7wo

It should not be a haphazard decision that independent developers make on their own.

Generally, you want to rebase when your are doing the simple central

[2017-02-02 22:17] bartlettroscoe commented on #39
You will have to ask Brent P. and Jim W. what they actually did for Trilinos.  I pointed them to bfg:

* https://rtyley.github.io/bfg-repo-cleaner/

and I think they used it.  But you can use git filter-branch if it does not take too long and it is more flexible.

I recommend putting large files (for apps or testing) into separate git repos from the main source code.  Managing a moderate number of

[2017-02-02 22:29] ibaned commented on #39
I guess I'll revise my statement to saying I support the use of topic branches as described in that document. I also support the use of a develop branch, but that is a separate issue.

I think I may have confused @lxmota by not clearly communicating the data at the beginning. I called the `.git` directory the "history", but that also includes (compressed) copies of every file at every version, inc

[2017-02-02 22:42] bartgol commented on #39
What about adding a size limit for all tests input data? Something like a few MB. After all, the nightly builds only need to check integrity of the software.

If we want to keep the large examples, we could create a subrepo, that one can clone only if they want that extra stuff.

We could then clean all the git history and remove the large files history (effectively reducing the .git folder size)

[2017-02-02 22:51] lxmota commented on #39
@ibaned Thanks for the clarification. Yes, I agree that cleaning non-source files from .git would improve things.

@bartgol Creating a separate examples repository is exactly what I'm advocating for, as they do in Sierra. See above https://github.com/gahansen/Albany/issues/39#issuecomment-276852711

[2017-02-02 23:01] ibaned commented on #39
I also agree with the steps outlined by @bartgol .

I just ran the following in `examples/`:
[code]

It seems there are a handful of files above 10MB, and a couple dozen above 1MB (out of >3000 files total).
The most embarrasing thing is our biggest file is a 62MB movie in MP4 format, so there is an easy savings right there.

[2017-02-02 23:10] ikalash opened #54 "Teuchos::DanglingReferenceError for Schwarz tests in debug mode"
The following problem has been occurring for Schwarz tests in an all-debug build of Trilinos/Albany for at least 1 year, possibly from the beginning of when Schwarz was created. It may be related to Trilinos issue #184: https://github.com/trilinos/Trilinos/issues/184  .

The code in question is this function:

Teuchos::RCP<Thyra::VectorSpaceBase<ST> const> LCM::SchwarzMultiscale::get_g_space(int l

[2017-02-02 23:11] bartgol commented on #39
@ibaned And as you mentioned above, the big cost comes from the commits that modify those big files. If there are large files that have been modified in time, but whose history we are not interested in (meshes, input data, etc), we could erase them from the history and re-add them.

@lxmota Creating an example repo sounds good to me. But I would then create a test directory for the standard Albany

[2017-02-02 23:14] ikalash opened #55 "cudaFree(m) error for FELIX Epetra tests run on GPUs (CUDA KokkosNode)"
Some Albany FELIX Epetra tests with a CUDA KokkosNode (on GPUs) run to completion, then throw a cudaFree(m) error:

terminate called after throwing an instance of 'std::runtime_error'
  what():  cudaFree(m) error( cudaErrorCudartUnloading): driver shutting down /home/ikalash/nightlyCDash/build/TrilinosInstall/include/Sacado_DynamicArrayTraits.hpp:172
Traceback functionality not available

[ride11:

[2017-02-02 23:16] albany commented on #36
Where is Albany? Is it a place in america?

[2017-02-02 23:19] lxmota commented on #39
@bartgol Yup, that is what I'm advocating too, make the tests small.

[2017-02-02 23:21] etphipp commented on #55
Is there a static Fad object somewhere?  It appears to be trying to delete the derivative data after UVM has been shut down.

[2017-02-02 23:26] djlittl commented on #36
I believe It's a suburb of Troy, NY.

[2017-02-02 23:28] ikalash commented on #55
There very well could be somewhere, but @jewatkins and I had a hard time figuring out where -- we think it might be in Trilinos, not Albany (is that possible?).  I am actually visiting CSRI this week; if you are around tomorrow (and ride is back up), maybe we could look at it together?

[2017-02-02 23:28] ibaned commented on #36
[Albany, New York](https://en.wikipedia.org/wiki/Albany,_New_York) is a city in the United States. @agsalin named this scientific simulation code after that city. @djlittl made a joke, which I found pretty funny.

[2017-02-03 00:30] ikalash opened #56 "Implement Teko preconditioner for matrix-free GMRES + Schwarz"
This is needed to improve convergence for matrix-free GMRES + Schwarz (= monolithic Schwarz), and will require changes in Piro.  I will need some help from Trilinos experts, e.g., @rppawlo , on how to hook this up, as it is nontrivial.

[2017-02-03 00:32] ikalash opened #57 "Set up LCM CDash tests for procyon, proxima, antares and spica machines"
I will do this, once @lxmota has a chance to clean up the algol CDash tests I created to use the modules on the various LCM machines.

[2017-02-03 00:36] etphipp commented on #55
I'm not sure if I will be in tomorrow or not.  I will let you know if I am.

[2017-02-03 00:39] ikalash commented on #55
Sounds good.

[2017-02-03 18:03] djlittl commented on #39
I did something similar once when moving the Peridigm repo from a sandia machine to github.  I used the bfg tools, with Brent's help.  My notes on exactly what I did (command history) are below.  The result was the complete removal of a few large files, which significantly reduced the overall repo size.

Be warned, I believe the changes made by running these commands are permanent and not reversib

[2017-02-03 18:18] ibaned commented on #39
@djlittl thanks for the commands !
Its true that this can wipe out the local repository, but as long as you don't push its contained to the local machine. I may do a few practice runs of this and report the results.

[2017-02-03 20:39] lxmota commented on #54
I have tried changing the std::vector to Teuchos::Array, making the ThyraProductVectorSpace its own variable and other things. No matter what I try, I still get the same error.

@bartlettroscoe provided this document:

http://prod.sandia.gov/techlib/access-control.cgi/2010/102234.pdf

This is a reference for Teuchos memory management. I have read the relevant sections, but as stated above, the err

[2017-02-03 20:42] lxmota commented on #16
Before our LCM budget was reduced, we were thinking about doing some work along this lines this year. Now we will have to wait. There is significant interest in having this capability.

[2017-02-03 20:43] lxmota commented on #13
This may also be related to (#53). Still investigating.

[2017-02-03 23:28] bartlettroscoe commented on #54
@lxmota, what happens when you don't have debug mode turned on?  Does it segfault?  What does valgrind say in a non-debug build?  Does is complain at all?

I can't see the full context for this problem but I don't see how this would be related to  trilinos/Trilinos#184 (which is already fixed).

My guess is that what you are seeing is related to the fact that we have not universally implemented th

[2017-02-04 23:20] ikalash commented on #57
@lxmota , can you please modify your cronjob on algol to execute the CDash scripts I created there when you get the chance?  I noticed that that machine has not been pushing results to the CDash site, I think b/c the job was never turned on.  Thanks.

[2017-02-05 00:34] lxmota commented on #57
@ikalash Ys, I still have to do this. I want to make it so it works for Trilinos as well.

[2017-02-05 03:25] ikalash commented on #57
Ok.  The scripts I wrote currently will build both Trilinos and Albany, then run Albany scripts.  Your cronjob script should just have:

cd /home/lcm/LCM/nightlyCDash
bash nightly_cron_script_LCMrelease.sh

The scripts assume there is already a Trilinos and Albany checked out here: /home/lcm/LCM .  It's worth trying to clean up the scripts to load all the paths from your modules, rather than have

[2017-02-06 16:05] bartgol commented on #39
Well, if we agree that some files should be removed from the repo, then the fact that it's irreversible should not be a big concern. Besides, if we are talking about input meshes or data, then the history of the file is probably not much important. If we decide we should reinsert the file in the repo, we can do it, and we will still end up with a smaller repo (due to the erased history).

But yeah

[2017-02-06 16:31] bartgol commented on #13
Is this desire related to loss of symmetry in the matrix? Would it help to have a feature in Albany that maintains symmetry of the matrix (diagonalizing the columns of Dirichlet dofs as well)?

[2017-02-06 16:45] ibaned commented on #13
Although I'm not an expert on this, I think another concern may be matrix condition number. These 1.0 values may not be in the same order of magnitude as the other entries which are influenced by physical constants. It would be nice to remove this as a source of concerns when debugging convergence issues.

[2017-02-06 16:51] ikalash commented on #13
There are two issues for LCM:

1.) The 1s on the diagonal can ruin the condition number.  I did a study of this a few months ago and the condition number can be O(10^11) with the 1s on the diagonal and O(10) w/ the 1s removed (!!!!).
2.) The 1s on the diagonal are ruining convergence rates for one of the implementations of the Schwarz coupling in Albany, leading to slow, non-monotonic convergence

[2017-02-06 16:53] ibaned commented on #13
@ikalash just curious, how did you compute/estimate the condition number ? I'd really like to be able to do that in the future.

[2017-02-06 16:57] ikalash commented on #13
I dumped the Jacobians to matrix market file (there is an option you can add to your input file to do that) and computed it in MATLAB -- so not a very elegant approach.  It may be good to add the (optional) computation of condition number in the code as a debug option.  It should be easy to do if Tpetra/Epetra have a routine for the condition number.  I could add this option, if it is of interest.

[2017-02-06 17:01] maxrpi commented on #13
At RPI, we would find Albany having an option of reporting condition
numbers to be of enormous interest.

On 2/6/2017 11:57 AM, Irina K. Tezaur wrote:

[2017-02-06 17:45] lxmota commented on #13
This is of great interest to us for at least three reasons:
- Improve the condition number of the systems to solve.
- It appears that the way Dirichlet BCs are implemented now affects negatively the convergence of the Schwarz method.
- Application of Dirichlet BCs for explicit dynamics.

[2017-02-06 19:03] csiefer2 commented on #13
As a note, the condition number of the diagonally scaled matrix should be what actually matters w.r.t. solving, not the condition number of the matrix proper.

Also, AztecOO / Belos have condition number estimators built into variants of their CG routines that can be used.

________________________________
From: Alejandro Mota <notifications@github.com>
Sent: Monday, February 6, 2017 10:45 AM
To:

[2017-02-06 19:07] bartgol commented on #13
I may be over-optimistic, but I would argue that the condition number would not deteriorate if one also diagonalizes the column.

Also, a couple of remarks:

1) we can (easily?) add the possibility of choosing a different scaling coefficient, perhaps user defined. If not provided, we could use the average of the row elements instead of 1.0. That should keep the condition number close to the origin

[2017-02-06 21:04] lxmota commented on #54
@bartlettroscoe When debug mode is off, the code runs fine. There are no messages related to this. I have not run the code through valgrind in release mode. I'll have to check that.

I'll try to change the code as you suggest and report back on what I find. Thanks for the suggestions.

[2017-02-06 23:50] lxmota opened #58 "Remove stale branches and create develop branch"
There are stale branches that have not been touched in years. These should be deleted so they do not clutter the repository.

In addition, mirroring what is done for Trilinos, a develop branch should be created that eventually incorporates all new code.

The master branch should be more stable so that Albany users can pull from it and have more confidence that the code will compile and run.

[2017-02-07 00:51] ikalash commented on #58
I agree with this comment, however, I ask that the epetra branch of Albany be retained.  We still use this branch for some production FELIX runs, due to it being faster.

[2017-02-07 05:09] ikalash opened #59 "Add capability to compute condition number inside Albany as part of debug output"
This will facilitate looking at condition numbers with various scalings / different BC implementations.

[2017-02-07 15:37] gahansen commented on #58
I also agree that it would be nice to clean up all stale branches that we can.

I'd like to discuss the develop/master branch work flow more before settling on this. I worry that this will make repository access to new users significantly more difficult; this approach is a step up in complexity that will increase the entry barrier for some folks. Secondly, this adds significant complexity in every

[2017-02-07 15:57] ibaned commented on #58
Stale branches, absolutely.

I can understand the concerns about workflow complexity, we want to add nearly zero overhead compared to how people work now. In my experience with master/develop codes, the main overhead has only been switching to the develop branch, because Git by default checks out the master branch.

The way I employ a master branch is essentially just as an implementation of this

[2017-02-07 15:58] ibaned opened #60 "Remove stale branches"
breakaway from #58, so far `epetra` and `issue-34` are known to be branches we should keep.

[2017-02-07 16:00] ibaned commented on #58
I've separated this issue into two, #60 tracks what we all agreed on which is stale branch removal. Since discussion started here, I'd like this issue to focus on the idea of a two-branch workflow and what people want to do there. Hopefully this is okay with @lxmota.

[2017-02-07 16:03] rppawlo commented on #58
You can change the default branch on github, doesn't have to be "master".

https://help.github.com/articles/setting-the-default-branch/

[2017-02-07 16:07] ibaned opened #61 "Clean up dashboards"
We need to get our dashboards to the all-green point. The public dashboard is here:

http://my.cdash.org/index.php?project=Albany&date=

And today it looks quite green, but I think this is misleading (see #62).

[2017-02-07 16:10] ibaned opened #62 "Remove "-w" from Albany CFLAGS in dashboards"
Currently several dashboards configure Trilinos with the "-w" flag which silences all warnings, and Albany automatically uses the same CFLAGS as Trilinos. What I'd like is for compiler warnings in Albany to show up, because if they had then issue #34 would have been caught much earlier. That means either allowing warnings in both Trilinos and Albany or overriding the flags for Albany.

@gahansen t

[2017-02-07 16:42] ibaned commented on #60
Here are the branches I'm planning to remove and their current hashes, so they can be recovered in the near term if someone needs one of these:
[code]

[2017-02-07 16:46] ibaned commented on #60
Those branches are gone, so for now I think I can close this. The remaining branches are:
[code]
The first two are needed, the second two should be merged soon (@bartgol is that true for `sideset_equations_cleanup` ?) and `epetra` will be the subject of a later issue.

[2017-02-07 16:54] bartgol commented on #58
I agree with pretty much everything you guys said.

I have myself at least one stale branch on the repo, sideset_equations, which I'm cleaning up to prepare for a pull request, but I had to do some work with the merging, so I ended up creating a new branch (sideset_equations_cleanup).

As for the master+stable/develop dichotomy, I'm for master+develop. It appears to me to be a much more common nam

[2017-02-07 16:56] bartgol commented on #62
Agreed.

[2017-02-07 16:57] bartgol commented on #60
Thanks Dan!

boundary_mesh was mine and I forgot to delete it. sideset_equations was also mine, but only the _cleanup version is the one that matters now.

[2017-02-07 17:10] mperego commented on #60
Thanks Dan.

I was using preDynRankViewBranch for some large scale optimization runs as there are some fixes to be done in the case MeshScalarT is a Fad type. Anyway I'm almost done with those fixes in master so probably it is OK to have it removed from the repo. The other reason I was keeping it is to compare performances before and after the DynRankViewBranch refactoring. Anyway, I'll push the b

[2017-02-07 17:13] ibaned commented on #20
trilinos/Trilinos#1023 was accepted into their `develop` branch, so soon an Epetra-free build of Trilinos for Albany will be possible, which closes trilinos/Trilinos#313. I can help people with configurations to get this going. I'd say we go ahead and close this for now, but reopen if there is another obstacle to Epetra-free LCM development.

[2017-02-07 17:13] #20 closed

[2017-02-07 17:22] ibaned opened #63 "Track down Epetra/Tpetra performance differences"
In #58 @ikalash mentioned that the `epetra` branch is still used because it is faster. Is it possible to create a FELIX example problem with both Epetra and Tpetra configurations that clearly shows the performance difference so we can investigate ? With the momentum towards Tpetra, I think its really important that we put effort into Tpetra performance.

[2017-02-07 17:30] mperego commented on #63
I don't use anymore epetra branch because it does not contain several recent progresses.

My understanding is that the multigrid preconditioner we use for ice sheets large-scale simulations, would not work as well in Muelu because line solves (if I remember correctly) are slow compared to ML ones. This has nothing to do with Albany though.

[2017-02-07 17:42] ibaned commented on #63
Although it may not be Albany's fault, any serious performance degradations from Epetra to Tpetra are a risk to Albany's success and we should try our best to identify the root causes and work with Trilinos developers to fix them. Is it possible to set up an Albany example that demonstrates the time difference in line solves between ML and MueLu ?

[2017-02-07 17:46] ikalash commented on #61
@gahansen : Has the external (non-SRN) CDash site license expired?  I noticed some of my projects were not being pushed to this site, and when I log in, I get the following message.

The license for the project Albany has expired.Upgrade Now
* The project Albany has reached the maximum daily upload quota. You should upgrade to a premium account to avoid missing builds.Upgrade Now
* The project HOM

[2017-02-07 17:51] ikalash commented on #63
Here is an email from me to Irina Demeshko sent in July 2015 detailing the slow-downs that were observed:

************************************************

From: Tezaur, Irina
Sent: Thursday, July 16, 2015 10:12:05 PM
To: Demeshko, Irina Petrovna (-EXP)
Subject: Albany timings

Hi Irina,

Earlier this week, Ray Tuminaro was making some runs of some ice sheet problems using Albany on Hopper and no

[2017-02-07 17:57] mperego commented on #63
@Dan I guess so. At the moment I don't see this as a priority since MueLU guys are well aware of this issue and I don't have money/time to work on this. I think that finishing the conversion of Albany to Tpetra (in particular regarding sensitivities/optimization for distributed parameters) should have higher priority than this. Although for both of these issues, we can hardly use FELIX funds (and

[2017-02-07 18:04] mperego commented on #63
@ikalash I think that conversation is a bit obsolete now because a lot of things changed after the introduction of DynRankView and refactoring of Intrepid2. Not that performance issues are gone.. Actually I think we cannot hope to beat previous implementation on serial runs. Portability has a price. What we should keep monitored is whether the overhead introduced by the new changes is acceptable f

[2017-02-07 18:04] ibaned commented on #63
Okay, well if this is seen as an expensive task that there isn't much funding for right now, we can put it on hold. However, as long as people are thinking of keeping Epetra in any form, either as a branch or as a compile option, for performance reasons then this issue is important and should remain open.

[2017-02-07 18:18] ikalash commented on #63
@mperego , I agree 100%.  What I was getting at is the epetra branch may help identify things that are slower in the current code; but a lot has changed since the epetra branch was last working in Albany as well as Trilinos so an apples-to-apples comparison may not be possible regardless.  I'm OK removing the epetra branch if people think this is the best path.  I just wanted to document the obser

[2017-02-07 18:26] ibaned commented on #63
I would say the ML versus MueLu difference with the latest Albany version counts as part of this issue. Its fine if you don't have time/funding, but is it possible to create an example that compares the ML and MueLu preconditioners for one of these runs ?

[2017-02-07 19:05] lxmota commented on #62
Agreed 10X.

[2017-02-07 20:20] ikalash commented on #59
I have added this capability to Albany.  It has some caveats -- see checkin messages in the relevant commits: https://github.com/gahansen/Albany/commit/9b2a4b8ce3a05672efb156bd74be437b4ad409e5 and https://github.com/gahansen/Albany/commit/97670e6bda9d86aafdaf6092692a797e56f7ff5d .  Issue can be closed.

[2017-02-07 20:20] #59 closed

[2017-02-07 21:51] aprokop commented on #63
If I recall correctly, the slowdown was due to the slowness of Ifpack2 for line smoothing. I think this was also shown in some MHD problems. Brian Kelley has done a lot of work last year to refactor and speed things up, so it may be a good idea to rerun the experiments comparing line smoothing in MueLu vs ML.

[2017-02-07 21:55] ibaned commented on #63
Thanks @aprokop, this is exactly why I want a comparison case, because work is being done to address these things and we need something to monitor the status and either declare success or identify the current bottleneck.

[2017-02-07 22:28] ikalash commented on #63
@ibaned : Yes, I can create an example that compares ML and MueLu on a FELIX problem.  I will create a separate issue for this.

[2017-02-07 23:09] ikalash opened #64 "Create example comparing ML vs. MueLu performance for FELIX problem"
This is an action item stemming from issue #63 .

[2017-02-07 23:20] ikalash opened #65 "Create Jenkins tests on ride for Albany + CUDA KokkosNode"
We need to use Jenkins on ride b/c cronjobs are no longer allowed there.

[2017-02-07 23:21] ikalash opened #66 "Create Albany CDash tests for Bowman (Intel Xeon Phi)"
Waiting for @jewatkins to scope things out on this platform first.

[2017-02-08 02:45] jewatkins commented on #45
Done. Building instructions can be found [here](https://github.com/gahansen/Albany/wiki/Building-Albany-on-Ride-or-White). Executing instructions can be found [here](https://github.com/gahansen/Albany/wiki/Executing-Albany-on-Ride-or-White). I have yet to add example scripts for MPI+OpenMP. I'll save that for later. I'll close this issue for now but feel free to open it again if there's any proble

[2017-02-08 02:45] #45 closed

[2017-02-08 18:52] ikalash opened #67 "Study convergence of modified Schwarz + various Jacobian/Residual scalings on LCM test with no symmetry BC"
@lxmota , @jwfoulk , @calleman21 : I was wondering if one of you could please check in a test case for Schwarz coupling with no symmetry BC in which the overlap / resolution is such that non-monotonic convergence of modified Schwarz is observed.  I would like to try some of the suggestions in response to issue #13 regarding Jacobian/Residual scaling on this problem to see if it improves convergenc

[2017-02-08 19:25] ikalash commented on #13
In response to @bartgol and @csiefer2 's comments: I just checked in some input files that demonstrate how to specify different scalings in Albany.  I put in the option to do various scalings to try to improve Jacobian condition numbers and hence performance into Albany some months ago.   I think this feature is largely unknown outside the LCM group, so I wanted to bring it to people's attention.

[2017-02-08 20:57] djlittl commented on #13
Thanks for this, Irina.

Does the scaling affect the value of the residual?  I am wondering if scaling effectively tightens the convergence tolerance in cases when a relative tolerance is used.  This could perhaps explain the increase in the number of Newton iterations you're seeing with diagonal scaling.

[2017-02-08 21:02] lxmota commented on #53
@ikalash @jwfoulk @calleman21

I see that every time that NOX updates the solution, it calls for a residual evaluation. Then inside SchwarzMultiscale::evalModelImpl we force the writing of the solution to the STK mesh database. The Schwarz BC then has access to the latest solution and it should all be good.

But what happens is that when I compare the residuals produced by YuckySchwarz and Albany,

[2017-02-08 21:25] lxmota opened #68 "Introduce Jacobian scaling in Albany"
Follow up issue on Jacobian scaling.

[2017-02-08 21:26] lxmota commented on #13
Created new issue (#68) to focus the discussion here about Dirichlet boundary conditions.

[2017-02-08 21:27] ikalash commented on #68
I already introduced diagonal scaling in Albany, in addition to constant and abs row sum scaling (see my reply to #13).  Or do you mean something else, @lxmota ?

[2017-02-08 21:29] lxmota commented on #68
No, that exactly it. I just created this new issue because #13 is Condensed representation for Dirichlet BCs.

[2017-02-08 21:31] ikalash commented on #68
@lxmota , got it, good idea to make this a separate issue.

@djlittl , replying to your comment on #13 here, which was: "Does the scaling affect the value of the residual? I am wondering if scaling effectively tightens the convergence tolerance in cases when a relative tolerance is used. This could perhaps explain the increase in the number of Newton iterations you're seeing with diagonal scaling.

[2017-02-08 22:57] ikalash commented on #64
I am continuing the discussion in Issue #63 that is specific to FELIX here.

Attached is a report written to Tobias Wiesner (MueLu developer) documenting ML vs. MueLu performance for FELIX problems back in August 2015.  [report.pdf](https://github.com/gahansen/Albany/files/762172/report.pdf)  The main performance issue was the Block Relaxation in the LineSmoothing in Ifpack/Ifpack2. According to T

[2017-02-08 23:55] csiefer2 commented on #64
Discussed this with @tawiesn .  He said he'd contact @brian-kelley about getting an up-to-date performance report on the Ifpack2 BlockRelaxation (changes were checked in around December).

[2017-02-09 00:34] lxmota commented on #58
The reason I propose a two-branch workflow is that we have LCM users (by that I mean users that run the code and do not do any development) that periodically check out the code to run simulations. In the past these users have been burned by checking out from the master branch and finding out that it does not compile.

That was the reason I created this wiki page:

https://github.com/gahansen/Alban

[2017-02-09 01:08] mperego commented on #64
@ikalash Are you planning to do a one-time comparison, or to come up with an example to put in Albany examples? If the latter, then Antarctica problem size might be to big. Do we need to go to large scale to properly compare ML and MueLu?

[2017-02-09 01:14] calleman21 commented on #53
I have one data point that might be relevant: when I change
<Parameter name="Forcing Term Method" type="string" value="Constant"/>
to
<Parameter name="Forcing Term Method" type="string" value="Type 2"/>
in the NOX->Direction->Newton sublist, the oscillatory behavior is changed, with less oscillations after the first couple of iterations. Also, the residual norm seems to eventually reduce to the li

[2017-02-09 01:24] ikalash commented on #64
@mperego .  I was debating b/w these 2 options too.  I was thinking to first try a coarse resolution Antarctica and just document the result right now (again, it will be nowhere as detailed as @tawiesn's report).  The Antarctica problems are way too big to check in, so I was not going to check it in - just put it on software maybe (unless we create another repo for larger problems).  Then I was go

[2017-02-09 01:26] lxmota commented on #53
I just tried
<Parameter name="Forcing Term Method" type="string" value="Type 2"/>
on the test problem that I'm using for debugging this.

While previously I had monotonic (although slow) convergence, now the residual oscillates. It also increased the number of iterations significantly.

[2017-02-09 02:28] lxmota commented on #53
From the NOX_Description.H:

    the tolerance for the linear solver. Defaults to ""
    (nothing). Choices are "Type 1" and "Type 2".

  - "Forcing Term Minimum Tolerance" - Minimum acceptable linear
    solver tolerance. Defaults to 1.0e-6.

  - "Forcing Term Maximum Tolerance" = Maximum acceptable linear
    solver tolerance. Default to 0.01.

  - "Forcing Term Alpha" - Used for the "Type 2" fo

[2017-02-09 05:36] jwfoulk commented on #18
Although I do think that while modules are probably the way to go, I would also like to have a build moving forward that enables progress in the near term. A set of configuration files (Albany, Trillions) and instructions are found in Albany/doc/skybridge-chama, but I don't seem to have any luck running larger jobs (64 processors) without throwing exceptions (as of late). In addition, the tests (f

[2017-02-09 15:50] gahansen commented on #36
There may be some issues with using "AlbanySandia." Our second choice appears to be "AlbanyMultiphysics" from the list above. Thoughts on "AlbanyMultiphysics?" Does anyone see any concerns or issues?

[2017-02-09 16:06] mperego commented on #36
I like AlbanyMultiphysics. Should we make clear in the name that it is mainly a finite element code?

[2017-02-09 16:25] bartgol commented on #36
I think the name becomes less clearer with FE in it.

[2017-02-09 19:17] ibaned commented on #36
AlbanyMultiphysics is long to type out, but I could live with it. I agree with @bartgol to avoid acronyms/abbreviations. What about AlbanyCode as @ikalash posted ?

[2017-02-09 19:49] mperego commented on #36
I don't have a strong opinion on this, but I prefer AlbanyMultiphysics, if we do not want to use acronyms.

[2017-02-09 20:13] ibaned commented on #36
Okay, AlbanyMultiphysics has support from multiple people, so unless someone objects soon lets go ahead and accept that as our new choice. @gahansen, please let us know if/when we have a green light on AlbanyMultiphysics.

[2017-02-09 23:22] lxmota commented on #18
I guess then that the first order of business here is for me to create a Trilinos build on the clusters that is available to everyone.

That way those who only need a Trilinos build can use it directly, while those that need to customize their builds can use the configuration as a template, as suggested by @jtostie .

[2017-02-10 02:00] ikalash commented on #18
I suggest we create a CDash build on the clusters (starting with Skybridge) that people could point to if they wanted a fresh, working Trilinos.  The CDash would also identify if/when the environment changes and our cmake scripts for Trilinos/Albany do not work anymore.  I could set this up, if it is of interest.

[2017-02-10 05:51] ikalash commented on #68
I have added 3 kinds of scalings in Albany: constant, diagonal and abs row sum.  Please see checkin https://github.com/gahansen/Albany/commit/94a19ecdc97dcd6f1d944d63c7d54033297e7b40 .

[2017-02-10 05:51] #68 closed

[2017-02-10 05:53] ikalash commented on #11
Today, I learned that Tempus has been granted copyright assertion.  It will be moving to Trilinos on 2/14/17.

[2017-02-10 17:39] jtostie commented on #18
This makes sense to me as we would get feedback when the build fails.

[2017-02-11 15:24] ibaned commented on #39
we may also want to consider a setup like the one proposed in trilinos/Trilinos#1026

[2017-02-12 17:14] bartgol commented on #39
We could create a branch where we test the approach proposed in that trilinos PR. Then we evaluate 1) how much the repo shrinks, 2) how easy it is to run the "extended" testsuite.

[2017-02-12 20:22] ibaned commented on #39
Okay, I've done two things.

First, I created [this repository](https://github.com/ibaned/Albany-cleanup) to show that the [BFG repo cleaner](https://rtyley.github.io/bfg-repo-cleaner/) can be effectively used to erase the history of the `examples/` directory, that the resulting repository is 30MB in size, which is a 20X reduction from the previous 860MB, and that if we push the rewritten history

[2017-02-13 15:16] bartgol commented on #39
Great work Dan!

I was also thinking about the maintainability of having two different services (github and sourceforge). I don't think it's a huge cost, but as you said, we may explore the idea of having example as a separate git repo to keep everything in the same place. If we do that, we could think about doing it with EXTERNAL_PROJECT_ADD, so that the dowload and build (which would not require

[2017-02-13 15:23] ibaned commented on #39
Well, I'd like to have an easy-to-use option where the tests/examples are *not* downloaded, for the use case of people just trying to compile Albany on a cluster to run their big case; they don't intend to run the CTest suite in that workflow.

[2017-02-13 15:40] bartgol commented on #39
Uhm, but how do you suggest avoiding the download step? It appears to me that, if you remove them from the git repo, an automatic nightly build would have to fetch them somehow. We could add an optional CMake variable, which specifies an existing "installation" of the examples folder, which then albany would use as "source" to configure the example directory in the build directory. This way one on

[2017-02-13 15:40] ibaned opened #69 "remove ALBANY_MASTER_BRANCH indicator"
my understanding is this is left over from Tpetra conversion.

[2017-02-13 15:44] ibaned commented on #39
an automatic nightly build does need the examples, but not all of our users are automatic nightly builds. if we assume that everyone always needs examples, then there is no point in removing them and the repo will always be huge. there needs to be a build configuration that doesn't need or download examples, where you get the Albany application but no tests.

[2017-02-13 16:02] ibaned opened #70 "SCOREC ParameterList segfault with Clang"
reminding myself to debug this:

http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=2654908&build=48530

[2017-02-13 16:47] bartlettroscoe commented on #39
Personally, I think it is a bad idea to mix version control and/or network communication inside of the configure and/or build process (which is what ExernalData is doing).  It is much better to do all version control and data fetching up front, and then do your configures and builds 100% locally.

Instead, the way CASL (and other projects) handle this type of large files is to put them into separa

[2017-02-13 16:51] ibaned commented on #39
Yea, I think a separate Git repo is the way we're leaning. I'm not sure if we'll use LFS, it depends how annoying it is for people to install LFS on the relevant machines.

[2017-02-13 17:00] bartlettroscoe commented on #39
Git LFS is pretty easy to install.   I prototyped this for Drekar. See:

* https://github.com/TriBITSPub/TriBITS/issues/139#issuecomment-237207744

But Git-LFS has some disadvantages you need to be aware of:

* https://github.com/TriBITSPub/TriBITS/issues/139#issuecomment-240473908

But if your data is not huge and is not changing often, I would not bother with git-lfs.  I would just use a regular

[2017-02-13 17:57] bartgol commented on #39
Uh, sorry for the confusion. I wasn't planning on having the examples downloaded for everyone, of course. The example external repo would trigger only if ALBANY_ENABLE_EXAMPLES is ON.

On one hand I agree that an automatic network connection and download in the config/build process is sub-optimal. On the other hand, it has the advantage that the user does not need to know that he/she has to downlo

[2017-02-14 01:24] ikalash commented on #68
I checked with @jwfoulk and a consequence of using a scaling is that the reaction forces for LCM problems get scaled prior to being output to the output exodus file.  This is another argument against turning the scaling on by default.

[2017-02-14 01:26] ibaned commented on #39
I did a few more tests with BFG, and it looks like removing files by size and extension is actually not helping so much. If I just remove from the history all files >200KB (any lower and I would remove `Albany_Application.cpp`), the repo only goes down to 400MB, about half the size. As for extensions, it seems a lot of our space is used on files besides exodus. There are ".sms", ".smb", ".out", ".

[2017-02-14 13:57] ibaned commented on #62
I think this is done now, at least for the public dashboard.

[2017-02-14 13:57] #62 closed

[2017-02-14 21:23] ibaned commented on #11
It looks like Tempus just landed in the Trilinos `develop` branch:

https://github.com/trilinos/Trilinos/tree/develop/packages/tempus

[2017-02-15 14:30] ibaned opened #71 "some CDash builds can't find Piro"
The `IKTAlbany32BitNoEpetra` and `IKTAlbanyFunctorOpenMP` builds both report that Piro could not be found. @ikalash can you look into this ? Otherwise I could do it but I'd need access to the machine.

[2017-02-15 15:45] ikalash commented on #71
I always fix my nightlies if they fail.  When it says "Piro not found", it means Trilinos was not done building at the time my scripts tried to build Albany.  For some reason, it took forever to check out Trilinos last night, so it was not fully built when some of my Albany builds started.  I just tried it now and it checked out fast, as usual.  I am guessing there may have been a network issue at

[2017-02-15 15:45] #71 closed

[2017-02-15 15:52] ibaned commented on #71
oh okay... I didn't know they were separate cron jobs...

[2017-02-15 22:45] bgranzow opened #72 "Scaling with adaptivity"
I believe it is desirable to utilize the newly implemented scaling routines with adaptive simulations.

Adding the ParameterList:

[code]

to the adaptive example located here:

https://github.com/gahansen/Albany/blob/master/examples/LCM/SCOREC/ElastAdapt/inputSprT.xml

results in the error:

[code]

which results in the stack trace

[code]

which corresponds to this line in the Albany Application

[2017-02-15 23:05] ibaned commented on #72
Oh, so this wasn't actually related to using direct solvers (that was the first time we saw it).

Seems like a reasonable solution to me, and sounds like a one-liner. I'd say go ahead and open a PR or even push your change, see if it fixes it.

[2017-02-16 00:02] ikalash commented on #72
Agreed.  I do not build with SCOREC and don't run with adaptivity, so I did not encounter this case when testing the scalings.  If your proposed with fixes the issue, @bgranzow, please go ahead and push it.

[2017-02-16 00:49] bgranzow commented on #72
This commit resolved the issue for me. ae17ed7

I'd like to wait for tomorrow's public CDash results before closing this to see if I broke something in an unexpected way.

[2017-02-16 01:19] ibaned commented on #72
This isn't a criticism of your commit, but it just occurred to me that checking solution vector length equality doesn't guarantee there haven't been changes. There could be load balancing or adaptation that happens to give the same number of nodes. Still, this is the check we use everywhere so this commit is no worse than what is in NOX/Piro etc....

[2017-02-16 01:28] bgranzow commented on #72
The issue only arises when the residual vector's length is different than the scaling vector's length. If adaptation occurs and yields a mesh with the same number of DOFs, then nothing needs to change.

I suppose adaptation + load balancing might give the same number of global DOFs, but change the number of local DOFs. I find this scenario pretty unlikely, but using some additional logic with `Tpe

[2017-02-16 01:49] bgranzow commented on #72
I guess there is the case where the `getLocalLength()` and `getGlobalLength()` is the same for the two vectors, but because connectivity changed, the underlying TpetraMap for the vectors differs.  I agree it would be cool if there was some access to 'hey did I just adapt?'.

[2017-02-17 01:12] bgranzow commented on #72
I think this is resolved, with the caveat that it would be good to think about a better way to determine whether or not adaptation has occurred.

[2017-02-21 04:02] lxmota commented on #53
@ikalash @calleman21 @jtostie @jwfoulk

I have determined the reason why the Albany and Matlab implementations behave differently.

In essence, it is as the difference between the Gauss-Seidel and Jacobi methods for linear systems.

In Albany, the block system is formed and only then an increment for the displacement is calculated. The residuals contain the interpolated displacements between subdo

[2017-02-21 04:56] jwfoulk commented on #53
Hi Alejandro - sorry to keep asking this question - please remind me of the matrix-free structure such that it avoids the lag in the interpolated displacements. Thanks again.

[2017-02-21 05:22] lxmota commented on #53
@jwfoulk Sorry Jay, I'm uncertain about your question. Could you elaborate?

[2017-02-21 18:57] jwfoulk commented on #53
Sorry about my brevity. First and foremost - great news in terms of understanding the issue. My questions just stems from the fact that the matrix-free methods do not seem to lag and consequently are probably using the current iteration. I'm just wondering if this indeed true and might this provide some path forward for the "modified" block system given that the matrix-free methods solve a block s

[2017-02-21 23:27] ikalash commented on #64
@ibaned , I was wondering if you could remind me what we decided could be the maximum size of a file checked in to the Albany examples repo?  I have a coarse Antarctica problem towards this issue that I am thinking to check into the repo, but I would like to make sure that the size is OK.

[2017-02-21 23:46] ibaned commented on #64
We aren't going to impose strict limits until after the cleanup, but for now I would say maybe 10MB is the reasonable limit on new additions. After the cleanup, there will probably be a separate repo for "big" files, and performance tests like this one may get moved to the second repo.

[2017-02-22 01:59] ikalash commented on #64
I see.   My files should be OK to check in then.  They are <=2.7MB in size.  Thanks, @ibaned .

[2017-02-22 06:39] lxmota commented on #53
@jwfoulk I see. I guess then that the question is whether the matrix-free (or monolithic Schwarz in our parlance) would converge faster sequentially. I would need to implement that in Matlab to answer that question.

[2017-02-22 15:55] ikalash commented on #53
Sorry for the delay in my response.  @lxmota : so, am I understanding correctly that for modified Schwarz, we cannot form/solve a block diagonal system as we are doing now; we'd need to solve the system on omega1 using a regular (non-block) linear solver, then solve the system on omega2 (using the solution from omega1) after the system on omega1 is solved using a regular (non-block) linear solver,

[2017-02-22 21:57] lxmota commented on #53
@ikalash I guess you can form the block system for Modified Schwarz, but the price you pay is slower convergence, as we see now in the Albany implementation.

Yes, I have been thinking about whether it is possible to have a sequential version of the monolithic Schwarz. Not sure it is possible. But as you say, at the moment it is not as critical.

[2017-02-23 04:22] ikalash commented on #72
Further testing by @bgranzow revealed that there are still issues with scaling, but they show up when using the "Single Step" solver in NOX (for linear problems), regardless of adaptivity.

To support this, @bgranzow took this example that does not use adaptivity:
https://github.com/gahansen/Albany/blob/master/examples/LCM/SCOREC/ScaleAdapt/inputScaleNoAdapt.xml

and modified the input to run with

[2017-02-23 14:16] ibaned opened #73 "Precedence of Dirichlet BCs ?"
@lxmota asks:

I think its pretty important that we have rules for this kind of thing.

[2017-02-23 14:17] ibaned commented on #73
@agsalin @gahansen @mperego @ikalash

[2017-02-23 15:21] bartgol commented on #73
Would it be reasonable to pull 'artificial' boundary conditions (such as Schwarz BC) out from the PHAL BC factory and have their own little class creating them, and stuffing them inside the volume field manager? We could require that the Schwarz DBC evaluators have the scattered residual as a requirement, so that we are sure DBC happens after everything else.

This would mean that such BC would be

[2017-02-23 16:03] bartgol commented on #73
Another thing we could do is refactor how DBCs (and maybe NBCs) are written in the xml file. Instead of one parameter entry per BC, we could have one sublist per BC. It would be definitely cleaner and it leaves some room for adding features, such as the ordering. For instance a list could look like the following
[code]
The 'Order' (or whatever name, 'Priority', 'Precendece',...) parameter could be

[2017-02-23 16:36] ikalash commented on #73
As a workaround, would it be possible to construct the nodesets in the input mesh such that nodes on the border of 2 nodesets are assigned to one of them, so there are no nodes with multiple BC specifications?

[2017-02-23 17:19] agsalin commented on #73
@lxmota
The last Dirichlet in the input file takes precedence. Dirichlet conditions are applied in the order they are listed in the input file, and they Overwrite anything previous.

[2017-02-23 17:24] ibaned commented on #73
Since the original question was only inquiring about how things work now, I think we can more or less close this, although there are good suggestions in the comments here for how things could work differently. If @lxmota or someone else has a use case for which the current system isn't enough, we can open a new issue on how to resolve that use case and reference this one.

[2017-02-23 17:24] #73 closed

[2017-02-24 01:01] mperego commented on #50
Fixed bug in Enthalpy test 20c896
Now test result is independent of workset size. As I expected the bug was  very specific of an evaluator exclusively used by the Enthalpy solver.

I'm closing this issue an refer to #49 for the ATO part.

[2017-02-24 01:01] #50 closed

[2017-02-24 21:28] ibaned commented on #39
So, I've created a directory called `large-tests/`, and have moved a lot of files in there that used to be in `examples/`. All those are files that were never used by CTest in any configuration, and if I made a mistake I'll move one back. The `examples/` directory is now down to 456MB, but I'd certainly like to keep reducing its size. Here are the subdirectories bigger than 1MB, sorted by size (un

[2017-02-24 22:01] bartgol commented on #39
How about making large-tests a subdirectory of examples? Perhaps have two subdirectories of examples, like examples/small-tests and examples/large-tests (or some other name), which makes clear that they are all tests, separated by size/execution-time. This would keep the top-level directory slightly cleaner

[2017-02-24 22:15] #69 closed

[2017-02-24 22:18] ibaned commented on #39
I didn't know that was a concern, but sure I've done that and a few other things. Now there are just four directories in the root.

[2017-02-24 22:20] bartgol commented on #39
Well, that's just the way I like code trees, slim and organized, easy to read for new users. But it's just MY view. ;-)

[2017-02-25 04:29] lxmota opened #74 "Enable Yaml input"
Enabling Yaml input in Albany will significantly improve the readability of input files.

All input in Albany is done through Teuchos ParameterLists, which already support Yaml parsing provided that Trilinos is compiled with TeuchosCore_ENABLE_yaml-cpp:BOOL=ON.

[2017-02-25 04:44] lxmota commented on #74
Added support for Yaml input for LCM. Other applications can easily use this. See commit message above. Leaving issue open for the time being just in case.

[2017-02-25 15:49] ibaned commented on #74
@lxmota thank you for doing this !
It did cause a few compile issues though, mostly because Teuchos did things in a non-standard way:

http://my.cdash.org/index.php?project=Albany&date=2017-02-25

I think I have fixed this in 5be9b58.

[2017-02-26 02:00] lxmota commented on #74
Thanks for fixing the YAML detection code.

[2017-02-26 03:18] lxmota opened #75 "Remove extraneous TpetraBuild global bool variable"
This global variable pollutes all executables even when they have nothing to do with Tpetra/Epetra.

At least I'll try to get rid of it from LCM executables.

[2017-02-26 21:11] ibaned commented on #34
Well, after much hard work I think I've fixed this issue in the subset of Albany which I enabled, namely ATO, LCM, FELIX, QUAD, and of course PHAL. Those changes have been merged, and if the subsequent dashboard testing looks good, this issue can be closed.

[2017-02-28 16:25] ibaned commented on #34
The dashboard and I have finally reached a truce. I'm closing this until it pops up again.

[2017-02-28 16:28] ibaned commented on #17
As part of #39, the `tests/large/` directory looks like it will be fulfilling this requirement. As we resolve #36 we will move that directory to its own repository.

[2017-03-05 22:36] ibaned opened #76 "Scaling with Single Step"
moving this from #72, which was a separate issue.
@ikalash and @bgranzow wrote:

[2017-03-05 22:37] ibaned commented on #72
moving this new thing to its own issue, #76. This particular issue has been fixed by @bgranzow

[2017-03-05 22:37] #72 closed

[2017-03-05 22:49] ibaned commented on #76
So... I think this may have been an artifact of the linear solver tolerance settings being different between the two nonlinear solver types. The Single Step input files were not getting the same (very tight) linear solver tolerance. Once I set the tolerance properly on Single Step, then its output was also identical with/without scaling. I then loosened the linear solver tolerance on all four comb

[2017-03-05 22:49] #76 closed

[2017-03-05 23:05] ibaned opened #77 "Scaling may not reach Residual in time"
In reasoning about #76, @bgranzow and I are concerned that if the Residual is requested before the Jacobian, it will not receive the same scaling as the Jacobian. This issue tracks my progress investigating that. If it is true, it would give incorrect results with Scaling on.
@ikalash

[2017-03-06 00:06] ibaned commented on #77
Some initial debugging suggests that our concern is valid:
[code]
Here, "step" is a monotonic numbering of all nonlinear solver steps in the simulation. Step -2 represents the identity scaling vector that is used if the Jacobian has not yet been computed. The problem is very simple: the residual is requested before the Jacobian, but the Jacobian is needed to compute the scaling for the Residual. T

[2017-03-06 14:31] rppawlo commented on #77
We are very careful about this in the nox solvers and make sure to recalculate norms (instead of reusing across Newton iterations) since weights can change even between Newton steps. Are you using the nox PrePostOperator to update the weights? See, for example, the file:

Trilinos/packages/nox/src-thyra/NOX_PrePostOperator_RowSumScaling.H

This object allows you to specify when to update the scali

[2017-03-06 14:51] ibaned commented on #77
@rppawlo Right now all the scaling logic is hardcoded deep in Albany, and the scaling happens before we return the Residual and Jacobian from our Thyra ModelEvaluator. The scaling factors are computed when the Jacobian is computed, at every Newton step. I'd certainly like to use an existing Trilinos system, because Scaling should really not be the concern of the physics application. PrePostOperato

[2017-03-08 01:46] lxmota commented on #52
Closing this as there are no reports of problems with it.

[2017-03-08 01:46] #52 closed

[2017-03-08 19:07] lxmota commented on #74
I'm closing this one as duplicate of #21. The discussion should continue there.

[2017-03-08 19:07] #74 closed

[2017-03-08 19:15] lxmota commented on #21
@ibaned regarding https://github.com/gahansen/Albany/issues/21#issuecomment-276976463, I have investigated this issue. I tried to create a converter. The Teuchos ParameterList class has readers for both XML and YAML. There is a writer for XML but not for YAML (I was fooled by seeing that there is a declaration for the YAML writer but there is no implementation!).

Not sure at this point what is th

[2017-03-08 19:17] lxmota commented on #21
@bgranzow regarding  https://github.com/gahansen/Albany/issues/21#issuecomment-276998780, @ibaned seems to have fixed this. See #74.

[2017-03-08 19:22] ibaned commented on #21
@lxmota  @bgranzow  I've recently done a lot of work to make YAML support complete enough for Albany's use cases. The result is pull request trilinos/Trilinos#1112. This adds support for TwoDArray input and output, and improve the API so that it can operate on any C++ stream. There was a YAML writer, I just made it more general and added TwoDArray support. There is also a function `convertXmlToYam

[2017-03-08 19:27] lxmota commented on #21
@ibaned @bgranzow https://github.com/gahansen/Albany/issues/21#issuecomment-285140886
This is great! I can hardly wait to convert files. I'll take a look at that `convertXmlToYaml` function and see if there is the corresponding `convertYamlToXml ` for folks that don't want to depend on `yaml-cpp`. Although we can all agree to depend on it. I vote yes.

[2017-03-08 19:29] ibaned commented on #21
The reverse conversion should be trivial to implement, both formats have read and write implemented.

[2017-03-08 19:29] bgranzow commented on #21
@lxmota  @ibaned I'm on board with making yaml-cpp a required dependency (or at least required for many tests). yaml-cpp seems to be a popular, pretty well-developed small package that's been easy to install on all systems I've worked on. Thanks for the extensions @ibaned!

[2017-03-09 18:07] lxmota commented on #21
@ibaned @bgranzow Let us then rise the issue of making yaml-cpp a dependency at the next Albany teleconference.

[2017-03-09 19:06] rppawlo opened #78 "Transition to Intrepid2 refactor code"
Is Albany completely switched over to the intrepid2 refactor branch? We see a ton of warnings on cuda builds of phalanx and to fix these I need to get rid of the KOKKOS_FORCEINLINE_FUNCTION macros on the MDField ctors. We needed these for the original Intrepid2 design where temporary MDFields were constructed on device. But the refactor branch uses the DynRankView directly so we should be able to

[2017-03-09 19:28] ibaned commented on #78
I think the answer is yes (I always build it with the refactored Intrepid2), but the probably @mperego is the best person to answer definitively.

[2017-03-09 19:31] mperego commented on #78
I agree. I think it is safe enough for you to push the change.

[2017-03-09 19:35] rppawlo commented on #78
great! Thanks!

[2017-03-09 19:35] #78 closed

[2017-03-10 21:43] ibaned commented on #31
Well, it turns out this was serious issue, and it is now fixed. Commit b3f6770 caused the `AlbanyT` executable to stop doing Response Tests for regression, if the input contained physical parameters and the sensitivities of responses with respect to those parameters was not computed. The main fix for this which I just pushed is 1a15fe1. Furthermore, in f659097, I added tests with CMake's `WILL_FAI

[2017-03-10 21:43] #31 closed

[2017-03-12 20:20] lxmota commented on #21
@ibaned Ha! I just logged in to give it a try to write the converters and I see this commit!

Thanks!

[2017-03-13 17:04] calleman21 opened #79 "Introduce capability to pass (error) message through MiniSolver"
I would like to have the ability to pass an (error) message out of MiniSolver up from a function being called therein. This will support information gathering about failures in LCM constitutive models.

[2017-03-13 17:07] calleman21 opened #80 "Introduce logic to interface Albany to ROL through MiniSolver for constrained optimization"
I would like to be able to run constrained optimization using ROL through MiniSolver in Albany. An example (test) of this capability in the repository would be great, too.

[2017-03-13 19:16] ikalash opened #81 "ATO tests failing on Irina's machines"
On 3/14, it looks like all the ATO tests began to fail.  The output can be found here:

http://cdash.sandia.gov/CDash-2-3-0/viewTest.php?onlyfailed&buildid=49805

It does not look like the issue has to do with comparisons having not been checked before.  It would be helpful if someone else could verify that they are having this issue too.  I don't think anyone other than me is running ATO tests.

[2017-03-13 19:18] ikalash opened #82 "FELIX failing comparisons"
Beginning 3/14/17, FELIX tests in Irina's nightly builds began failing due to failed comparisons:

http://cdash.sandia.gov/CDash-2-3-0/viewTest.php?onlyfailed&buildid=49805

I believe this has to do with Dan's push to Albany to correct the problem that regression comparisons were not being made.

[2017-03-14 19:58] jwfoulk opened #83 "Output variables are declared and stored on every element block"
It seems that all output variables are stored on every element block. This is handled through an element block truth table in Exodus. This is not required and can lead to significantly larger output files if particular models (read crystal plasticity) have an order of magnitude more element variables than other models (read J2). I don't know how to fix it. I just stumbled onto this problem while d

[2017-03-15 14:29] bartgol commented on #83
That's a significant concern also regarding the side-set equations framework (which, to be honest, are still under development and not fully supported). For instance, it would be nice to store unknowns defined on a 2D side-domain just on that mesh, rather than storing them everywhere.

I believe the issue is how the discretizaton class builds the DOF's numberation from the mesh entities. As of now

[2017-03-16 21:58] lxmota commented on #83
@jwfoulk @bartgol I agree that this is a significant problem, specially in the case that @jwfoulk describes.

I will raise this issue at the next Albany teleconference. Thanks for pointing it out.

[2017-03-16 22:02] jtostie opened #85 "Crystal Plasticity model to output the correctly named plastic velocity gradient"
This will help a machine learning project. @calleman21

[2017-03-17 07:50] mperego commented on #82
These failings are unrelated with Dan's commit, and they appeared as a consequence of Trilinos commit 83cc5d0.
Albany commit 7211eae4e should fix the issue.

[2017-03-17 07:50] #82 closed

[2017-03-17 13:19] ibaned commented on #82
@mperego Thanks for figuring this out !
I just updated your comment so it will link to the Trilinos commit.

[2017-03-17 13:42] mperego commented on #82
Thanks!

[2017-03-17 22:11] lxmota opened #86 "Explore enabling full support for PUMI on LCM to work around STK"
For many years STK has caused a lot of pain and grief for Albany development and LCM in particular. See a small example here pointed out by @jtostie :
https://github.com/trilinos/Trilinos/pull/451

Explore the possibility to enable full support for PUMI in LCM so that it can be used as an alternative to STK as a mesh database.

Besides the huge amount of work that this would involve, it is also ne

[2017-03-17 22:34] ibaned commented on #86
Much of this is already in place. LCM can be run with PUMI instead of STK, as demonstrated in the `tests/small/LCM/SCOREC` directory. As for Exodus, I have an Exodus reader in Omega_h that would be a decent starting point.

[2017-03-20 16:35] ibaned opened #87 "Stop using globs in CMakeLists"
see the [NOTE](https://cmake.org/cmake/help/v3.3/command/file.html?highlight=glob) in the CMake documentation, replicated here:

[code]

This recently affected Trilinos when a new header file was added. As a best practice, we should replace any use of globs in Albany with explicit lists of files.

[2017-03-21 14:34] ikalash commented on #81
It looks like this was resolved yesterday by @mperego .  Thanks, Mauro!  I will close the issue.

[2017-03-21 14:34] #81 closed

[2017-03-21 14:35] ikalash commented on #65
Jenkins job has been created and is running successfully.  Output is written to the /home/projects/albany directory, which is readable/writeable/executable by all members of the wg-albany group.

[2017-03-21 14:35] #65 closed

[2017-03-22 14:14] ibaned opened #88 "don't add_test() if SEACAS_EXODIFF required but not found"
This is personal preference, but I prefer the test not be listed instead of showing up as "Failed" which is really "Not Run". This issue is just here to record that I'm working on this.

[2017-03-22 14:16] ibaned commented on #39
the `tests/` directory is pretty much organized. waiting on #36.

[2017-03-22 14:17] ibaned commented on #17
I'm done with the initial version of `tests/large/`. Waiting on #36.

[2017-03-22 14:20] ibaned opened #89 "Don't create broken symlinks in the build directory"
Certain test `CMakeLists.txt` files are creating symlinks to programs that don't exist. This was getting in the way of some tools I tried to develop, which try to traverse the build tree (and failed to follow the broken symlinks). I'll try to change things so that symlinks are only created if the programs they point to exist.

[2017-03-22 14:21] ibaned commented on #21
Everything else is in place, waiting on Trilinos develop->master.

[2017-03-22 15:50] lxmota commented on #21
@ibaned Thanks for your hard work on this. This is a big usability improvement.

Who would be in charge of merging Trilinos develop to master? Maybe we can give them a nudge.

[2017-03-22 15:57] ibaned commented on #21
I believe the current lag may be due to the Trilinos framework team working on trilinos/Trilinos#1154, which I think is great because once the system is automated we should see much more frequent merges from develop to master, and less frequent merges that break master. I would contact the people mentioned in that issue for updates.

[2017-03-22 18:08] rimoli opened #90 "Fracture in parallel"
It would be great to have adaptive insertion of cohesive elements for fracture in parallel. More than an issue this is a feature request. I could transfer all my research activities to LCM if this feature was available.

[2017-03-22 20:01] lxmota commented on #90
@rimoli @jtostie @jwfoulk Yes, this is a long-standing issue that is in my personal wall of shame. I will find some time to check the status of the implementation and report back. Thanks for opening this issue.

[2017-03-22 22:22] rimoli commented on #90
@lxmota @jtostie @jwfoulk I am open to help, at least if you guys want to brainstorm solutions.

[2017-03-22 22:39] lxmota commented on #90
@rimoli @jtostie @jwfoulk My recollection is that there was a conflict between STK and the way the worksets were managed when making topology changes to the mesh. It has been so long that I'm sure things have changed. Let me make an assessment of the status of the implementation to determine what path to follow.

[2017-03-23 15:04] ibaned commented on #88
I think I've fixed these.

[2017-03-23 15:04] #88 closed

[2017-03-23 15:04] ibaned commented on #89
They should be all gone now

[2017-03-23 15:04] #89 closed

[2017-03-23 15:08] ibaned commented on #21
The Trilinos merge has happened ! I've enabled the YAML converters, we are free to move forward here. I recommend we close this issue as it represents putting in place the machinery necessary to use YAML. We can create other issues to track progress in converting test problems over to YAML, or for accepting YAML as a required dependency.

[2017-03-23 15:08] #21 closed

[2017-03-23 15:13] ibaned opened #91 "Add YAML TPL to all dashboards"
Now that #21 is complete, the next step in moving towards the sustained use of YAML is to ensure the dashboard builds support it. I've assigned the people who I know administer at least one dashboard build.

Maybe I should put up Wiki instructions for building yaml-cpp and enabling it in Trilinos. I'll do that and link to it in this issue when its done.

@lxmota

[2017-03-23 15:39] ibaned commented on #91
Here are some instructions for installing the `yaml-cpp` TPL:

https://github.com/gahansen/Albany/wiki/Building-Trilinos-with-YAML

[2017-03-23 17:36] lxmota commented on #79
@calleman21 In Trilinos master and Albany now. I'll close this. If there are any problems, let's reopen.

[2017-03-23 17:36] #79 closed

[2017-03-23 21:15] lxmota opened #92 "Create lean and simplified LCM main."
Create an LCM main that has no Epetra or other application code to make it as simple and lean as possible. The complexity of the main files interferes with agile development, as was pointed out to me in a recent meeting with potential LCM developers. It's imperative that we remove this barriers for wider LCM adoption. Related to https://github.com/gahansen/Albany/issues/22, but deserves its own is

[2017-03-23 23:57] jtostie opened #93 "CEE LAN build fails because it can't find YAML"
Using the LCM environment tools I do the following:

% source Albany/doc/LCM/build/modules-sems.sh
% module load serial-gcc-release
% ./clean-config-build.sh trilinos 20

I get the following:

(...configuration stuff...)
Processing enabled TPL: yaml-cpp (enabled explicitly, disable with -DTPL_ENABLE_yaml-cpp=OFF)
-- Searching for libs in yaml-cpp_LIBRARY_DIRS=''
-- Searching for a lib in the set "

[2017-03-24 00:05] jtostie commented on #93
Note: I get the same thing if I do the following

% module load cee_serial-gcc-release

[2017-03-24 07:13] lxmota opened #94 "DTK tools tests and a Schwarz test failing after conversion from XML to YAML"
@ikalash Please help me fix the DTK tools tests and the single Schwarz test that are failing after the conversion from XML to YAML. The failing tests are:
	  1 - Error (Failed)
	  2 - InterpVolToNs (Failed)
	 36 - Schwarz_NotchedCylinder_hex-tet-small_DTK_4proc (Failed)

[2017-03-24 07:20] lxmota opened #95 "Some crystal plasticity tests failing after conversion from XML to YAML"
@calleman21 @jwfoulk @jtostie

Please help me fix the CP failing tests after the conversion from XML to YAML. Some of them appear to fail because of differences in the exodus files. It appears that the XML to YAML conversion introduced some slight variations in the solutions due to changes in the floating point representation of some parameters, but I'm not completely sure.

The failing tests are:

[2017-03-24 07:31] lxmota opened #96 "HMC test does not run after conversion from XML to YAML"
@jrobbin Please help me fix the HMC test that refuses to run after converting all LCM inputs from XML to YAML to improve usability. I had to temporarily deactivate the tests because it appears to be caught in some sort of infinite loop. See the discussion about the conversion from XML to YAML here:
https://github.com/gahansen/Albany/issues/21

[2017-03-24 16:22] jtostie commented on #95
In order to help I need resolution to #93.

[2017-03-24 16:25] jtostie commented on #95
Also, philosophically, I think it's bad practice to push a change that breaks tests.

[2017-03-24 16:38] calleman21 commented on #95
I have verified that at least one test fails due to changes in floating point representation. @lxmota can the conversion process be done so that the precision is maintained? Also, the xml comments seem to have been deleted in the conversion process. Does the converter have the capability to convert these to yaml comments? Otherwise, the conversion undoes a significant amount of work that went into

[2017-03-24 17:04] lxmota commented on #96
I'll revert the conversion as it has many failing tests.

[2017-03-24 17:04] lxmota commented on #95
I'll revert the conversion as it has many failing tests.

[2017-03-24 17:04] lxmota commented on #94
I'll revert the conversion as it has many failing tests.

[2017-03-24 17:20] ibaned commented on #93
@jtostie  I'm closing in on the source of this... could you send a bit more info ? These would be great:
1. the full configure output
2. the contents of the `clean-config-build.sh` script
3. where the `serial-gcc-release` module comes from

[2017-03-24 17:23] lxmota commented on #95
OK, @calleman21 asked not to revert the conversion for crystal plasticity. Unfortunately, that means that the conversion will stand, because it would extremely difficult to disentangle it from the rest.

[2017-03-24 17:29] jtostie commented on #93
Hi @ibaned,

Going backwards, `serial-gcc-release` comes from `Albany/doc/LCM/modulefiles`
Also, 1. and 2. can be found in the attached.
[ccb.txt](https://github.com/gahansen/Albany/files/868698/ccb.txt)

[2017-03-24 17:39] lxmota commented on #96
@jrobbin Now I'm asked to keep and not revert the conversion, so the issue stands.

[2017-03-24 17:40] lxmota commented on #94
@ikalash  Now I'm asked to keep and not revert the conversion, so the issue stands.

[2017-03-24 17:43] ibaned commented on #93
Thanks !
I found the module, but `ccb.txt` seems truncated. It only has 26 lines.

[2017-03-24 17:45] lxmota commented on #95
@jtostie Guilty as charged. I agree that it's bad practice. Unfortunately I didn't see any other way to move things forward quickly. Of course, I could be very wrong about that.

@calleman21 I'm not sure that the floating point precision or the comments can be preserved. Maybe @ibaned can comment about this?

[2017-03-24 17:51] ibaned commented on #95
I did worry about the floating-point precision when I saw the original code. I think we may be able to do  something about that. I have no idea for comments; the trouble is that these converters are based on the intermediate representation of a `Teuchos::ParameterList`, so anything that doesn't get stored in that object is forgotten.

@calleman21 can you point to one representative example of befo

[2017-03-24 17:53] ibaned commented on #95
@calleman21 nevermind about the example, I'll just look over your commit 5e8ded1

[2017-03-24 17:57] jtostie commented on #93
Sorry about that (typo in my redirect). Try this one.
[ccb.txt](https://github.com/gahansen/Albany/files/868765/ccb.txt)

[2017-03-24 18:00] calleman21 commented on #95
@ibaned To help speed up your search, tests/large/LCM/CrystalPlasticity/DislocationDensityHardening/ is such a test.

[2017-03-24 18:02] ibaned commented on #93
Okay, I see the configure output, which is good.
I'm surprised that it says:
[code]
instead of
[code]
as it does when I use the `checkin-test-sems.sh` script from Trilinos.
I probably still need your `clean-config-build.sh` script though to know how your setup is supposed to work.

[2017-03-24 18:06] ibaned commented on #95
@calleman21  I see several values that lose a lot of precision. I think I can raise the floating-point precision in the YAML writer, that code change for that should be easy. I'll try to do it soon and mention my status in this thread.
Comments, however, will likely require a lot more work. I'll look through what is supported by the various pieces of code to see if there is a way forward.

[2017-03-24 19:04] jtostie commented on #93
Well, I just tried to add
`-- Trilinos_USE_BUILD_ENV='SEMS'`
to the config script, but that didn't solve the issue.

`clean-config-build.sh` are all defined in
`Albany/doc/LCM/build/build.sh`

@lxmota is probably the right point of contact.

[2017-03-24 19:15] lxmota commented on #93
Yes, the LCM build script is in

`Albany/doc/LCM/build/build.sh`

that script reads the Trilinos configuration from

`Albany/doc/LCM/build/trilinos-config.sh`

and the Albany configuration from

`Albany/doc/LCM/build/albany-config.sh`

perhaps introducing `Trilinos_USE_BUILD_ENV='SEMS'` into `trilinos-config.sh` will help.

Let me know how I can help with this.

[2017-03-24 20:08] lxmota commented on #95
I would recommend that when writing floating point values in ASCII form to use 16 digits of precision. That would always cover the double precision case which seems to be the format of choice for the foreseeable future.

https://en.wikipedia.org/wiki/IEEE_floating_point#Basic_and_interchange_formats

[2017-03-24 20:27] ibaned commented on #95
Yep, thats what I did. The basic change was easy, and has been submitted as trilinos/Trilinos#1181. The good news is that we should not have to wait for the full merge into master, because the converters are not part of the testing process. If you want to repair your YAML files, please checkout the branch referenced in trilinos/Trilinos#1181 and use that to compile Albany and the converters, then

[2017-03-25 03:29] lxmota commented on #94
Commits https://github.com/gahansen/Albany/commit/6797b733769e469a9e5552b74c745a0ec9348d34 and https://github.com/gahansen/Albany/commit/6b6f4d182114e359c28f4f6bdbd39121108365be fix this.

[2017-03-25 03:29] #94 closed

[2017-03-25 04:25] lxmota commented on #95
The commit https://github.com/gahansen/Albany/commit/c3fa89d61b3bc9d219a8fcec0fedf9bb27940dba fixes this. All CP tests pass now. Thanks @calleman21 for helping with this!

[2017-03-25 04:25] #95 closed

[2017-03-27 14:18] ikalash opened #97 "Failing tests in nightly CDash"
Most of the tests in my Albany nightly CDash failed yesterday, it looks like due to failed comparisons:

http://cdash.sandia.gov/CDash-2-3-0/viewTest.php?onlyfailed&buildid=50475

It seems some of the transient problems are blowing up.

[2017-03-27 14:23] ibaned commented on #97
Not just transient: you know something is wrong when SteadyHeat1D fails:

http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=2727709&build=50475

The non-linear solver is diverging...

[2017-03-27 14:27] ibaned commented on #95
I think having high-precision XML->YAML conversion is still important.
I've revised trilinos/Trilinos#1181 with feedback from the Teuchos team and it should be close to acceptance. As before, if you build Trilinos with the changes from the Pull Request and then build the Albany `xml2yaml` program, it should output YAML values with 17 digits of precision.

[2017-03-27 17:25] ibaned commented on #93
Just as a note to myself, I suspect there is something missing in this file:
cmake/std/sems/SEMSDevEnv.cmake
That is just speculation right now, I haven't gotten back to this yet.

[2017-03-27 17:47] ibaned commented on #97
I confirm that trilinos/Trilinos@736f3cf and Albany at d730ced don't have these symptoms, so something in Trilinos broke this. Will look for what it is...

[2017-03-27 17:49] ibaned commented on #97
I guess I should also mention I confirm the failures with trilinos/Trilinos@a06d907

[2017-03-27 17:51] jtostie commented on #93
@lxmota, note that I already tried to include the `Trilinos_USE_BUILD_ENV='SEMS'` without success.

[2017-03-27 17:57] etphipp commented on #97
It might be this for Tpetra-based tests:

https://github.com/trilinos/Trilinos/issues/1187

There was a serious (but simple) bug introduced in Tpetra CrsMatrix import/export.

[2017-03-27 17:57] lxmota opened #98 "Continuous integrations tests vs nightly tests"
@ibaned
Discussing with @calleman21 and @jwfoulk we think it would be useful to have two categories of tests:

- Continuous integration: tests that run for less than 5 seconds that will be run before any check ins. These tests would be part of the main repo (sort of like small tests now).
- Nightly tests: longer than 5-second runs that test more thoroughly other features. No need to run these befo

[2017-03-27 17:59] ibaned commented on #97
@etphipp has a fix been pushed to Trilinos develop ?

[2017-03-27 18:07] etphipp commented on #97
Not yet.  I believe Mark is trying to add a test to reproduce the error I was seeing in Stokhos.  Here is a patch if you want to see if it fixes the Albany tests:

diff --git a/packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp b/packages/tpetra
index 30eba0f..7e8d4b7 100644
--- a/packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
+++ b/packages/tpetra/core/src/Tpetra_CrsMatrix_def.hpp
@@ -5924,8 +5

[2017-03-27 18:07] ibaned commented on #98
So, the fundamental difference is disk space versus runtime. The current small/large distinction is there to minimize the disk space consumed by the small test files. This is not inherently correlated to the runtime of the tests, although in practice the two are usually somewhat connected. I am fine with having both restrictions on the "small" category, but I don't think we can lift the disk space

[2017-03-27 18:08] etphipp commented on #97
Githup messed that all up.  The patched is attached
[here](https://github.com/gahansen/Albany/files/873357/tpetra_patch.txt)

[2017-03-27 18:12] ibaned commented on #97
@etphipp Thanks, I'll give it a shot (just from what I know about row maps, it seems like its definitely needed).

PS - in the future, just put triple backticks before and after anything you want kept verbatim.

[2017-03-27 18:12] lxmota commented on #98
Yes, we were just discussing that. One idea would be to leave the small/large division as is as part of the nightly test and select from those which tests would be part of the continuous integration.

[2017-03-27 18:16] ibaned commented on #98
I think the fast/slow distinction can be made at the CMake level instead of the filesystem level. You can probably introduce some kind of `ENABLE_SLOW_TESTS` and start putting `if(ENABLE_SLOW_TESTS)` around certain tests which you think are take too long. I think we should be more careful with backwards compatibility this time, and make `ENABLE_SLOW_TESTS` default to `ON` until we can get all the

[2017-03-27 18:53] ibaned commented on #97
@etphipp Confirmed your patch fixes the fundamental tests ! Lets pursue this in trilinos/Trilinos#1187

[2017-03-27 19:05] etphipp commented on #97
I believe Mark just pushed this change.

[2017-03-27 19:07] ibaned commented on #97
Yep, building and testing with Trilinos develop now

[2017-03-27 19:48] ibaned commented on #97
Confirmed this is fixed in Trilinos develop. I'm going to close this issue on that assumption, please reopen if tomorrow's CDash shows differently.

[2017-03-27 19:48] #97 closed

[2017-03-27 20:34] calleman21 commented on #98
@ibaned First, I want to say thanks for the work you did to separate the tests. I think that this is an important effort, so thank you for taking the initial steps. I do think that we need to continue the discussion about how this is done based on our experiences developing subsequent to this significant change.

I agree that the issues of disk space and runtime are not one-to-one, but I am arguin

[2017-03-27 21:00] ibaned commented on #98
So, there is a lot of confusion generated about why I want to separate things by disk space. If it were up to me, Albany would be two separate repositories: one only source code and the second only input files, including any and all tests. The reason for this is that *not all use cases require the test files*. We often want to simply check out the code on some new machine like a supercomputer, com

[2017-03-27 22:16] bartgol commented on #98
I think we need both filters, space and time. The two are however orthogonal: filtering the tests by input files size is useful to segregate large files in a different git repo, and keep the main albany repo small; on the other hand, filtering the tests by run time is important for those developers that produce several commits per week, to allow them to easily and quickly test/push the new modific

[2017-03-28 18:50] ikalash commented on #11
To give an update towards this issue: I have added the Newmark Beta scheme (and more general HHT Alpha scheme) to Tempus and verified its convergence and properties.  Attached are some results.  These were generated outside of Albany and are running as Tempus tests.  I am currently working on integrating the new scheme into Albany.
[tempus_newmark_beta_results.pdf](https://github.com/gahansen/Alba

[2017-03-29 18:41] ibaned commented on #93
There are a lot of confusing things about these scripts.
It looks like you're supposed to have an `$LCM_DIR` like this:
`$LCM_DIR/Albany`
`$LCM_DIR/Albany.wiki`
`$LCM_DIR/Trilinos`
I set that up with git clone. so far so good.
I then do the following setup from inside `$LCM_DIR`:
[code]
I tried several ways of constructing `clean-config-build.sh`, for sake of discussion lets say I did this:
[code]

[2017-03-29 19:17] calleman21 commented on #93
@lxmota can give you more details, but if you run Albany/doc/LCM/install/albany-lcm-symlinks.sh in $LCM_DIR, that should get you set up properly. There are some instructions in Albany/doc/LCM/install/INSTALL.pdf

[2017-03-29 19:18] ibaned commented on #93
Thanks @calleman21 !

[2017-03-29 19:25] ibaned commented on #93
With those helpful pointers I finally replicated @jtostie 's error.

[2017-03-29 19:55] lxmota commented on #93
@ibaned Sorry I forgot to give more specific instructions and for the confusion that this caused. @calleman21 thanks for the help.

The definitive source documenting the usage of those scripts, as @calleman21, pointed out is:

`https://github.com/gahansen/Albany/blob/master/doc/LCM/install/INSTALL.pdf`

[2017-03-29 20:18] ibaned commented on #93
I believe I've made some progress and Trilinos is now compiling for me. One thing I noticed is that these scripts really didn't used the loaded SEMS modules at all, i.e. things like Boost and Netcdf were still being found in places like `/usr/lib64`. I've made some local changes to the scripts so that everything is based off the SEMS environment. If that sounds like something acceptable to existin

[2017-03-29 20:43] lxmota commented on #93
@ibaned By all means feel free to make changes to the scripts. I would just request that the modifications are such that they can still be used on our Fedora environment. You should still have an account on our Algol machine to test this. The idea is that we use the scripts on both our Fedora environment and SEMS. Hopefully this won't be too difficult, but let me know if you need help.

To be able

[2017-03-29 21:01] ibaned commented on #93
I'll make the assumption that CEE machines always use SEMS and see if I can make my changes portable.

[2017-03-29 21:03] lxmota commented on #93
I think that is a reasonable assumption for this.

[2017-03-29 21:26] ibaned commented on #93
By the way, where would I find `yaml-cpp` on a Fedora system ?

[2017-03-29 21:58] lxmota commented on #93
`/usr/include/yaml-cpp` for headers
`/usr/lib64` for libraries on a 64-bit system

[2017-03-30 01:49] ikalash opened #99 "undefined references when building Albany without Rythmos"
I recently switched my nightly tests to build shared libraries; prior to this, I was always building static.  It appears there is an undefined reference error when building a no-Epetra Albany with shared libs; please see http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=50619 .  It seems to be looking for classes that are Epetra-only, e.g., Albany::RythmosObserver.  My guess is no one

[2017-03-30 02:55] ibaned commented on #99
Interesting... @bgranzow recently reported undefined reference errors, but only when building statically. I used to maintain an Epetra-free build, until I had to bring in Epetra for ATO and Aeras :)

@bgranzow could you post the errors you had if they're handy somewhere ? I'd like to see if they're connected.

[2017-03-30 13:43] bgranzow commented on #99
@ibaned, I didn't save the errors. I'll rebuild Trilinos with static libs and see if I can reproduce the error.

[2017-03-30 14:48] ikalash opened #100 "Albany compilation error: stk::CommAll not found"
It looks like something changed in the STK Trilinos package yesterday (3/29), causing a compilation error.  Here is the error:

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=50632

It happened on my Linux workstation, camobap, as well as ride:

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=50621

I have verified that the problem does not show up when pulling Trili

[2017-03-30 16:51] lxmota commented on #100
Welcome to my world, where STK is the source of a lot of broken builds.

I noticed this last night, and I thought it would be fixed eventually.

[2017-03-30 17:21] ikalash commented on #100
Yes...  this is one of the issues I asked you about on the phone when I called, but at that point I hadn't realized it was a bug in STK, I thought it was an issue with my configure scripts.

[2017-03-30 17:22] ibaned commented on #93
Okay, I'm done with a big refactor of these scripts (mainly the modules). Please see #101 and comment what you think. This should resolve YAML issues on both platforms.

[2017-03-30 17:24] ibaned commented on #91
According to the three assignees, this should be complete. Reopen if you notice something failing due to lack of YAML.

[2017-03-30 17:24] #91 closed

[2017-03-30 18:42] #100 closed

[2017-03-30 20:02] ibaned commented on #93
#101 has been merged. I think I closed this too quickly.

@jtostie please try with the new modules. The workflow is now:
[code]

[2017-03-30 20:39] lxmota commented on #93
It works for me on the CEE LAN. I just did:

[code]

And currently the Albany tests are running.

[2017-03-31 00:40] jtostie commented on #93
This works for me as well. The Albany tests are running.

[2017-03-31 00:41] ibaned commented on #93
Excellent ! I'll close this again. Please open a separate issue if something goes wrong with the new scripts.

[2017-03-31 00:41] #93 closed

[2017-03-31 16:25] ibaned commented on #99
Updating the link because the one already posted actually is about #100:

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=50674

The errors are basically about RhythmosObserver:

`../libalbanyLib.so: undefined reference to `Albany_RythmosObserver::Albany_RythmosObserver(Teuchos::RCP const&)`

[2017-03-31 16:30] ibaned commented on #99
I think this issue is actually about not having Rythmos, which according to the Trilinos CMake files does *not* require Epetra necessarily. I was able to build Trilinos with Rythmos and without Epetra.

[2017-03-31 16:46] jtostie commented on #87
I am responsible for some of this in LCM (maybe that's the only place it happens, I don't know). I get the point that the CMake documentation is making. For historical context, my motivation was usability and efficiency, as the Albany configuration step was easier and cheaper than having to touch the CMake files.

I wold not be opposed if someone removed the GLOBs.

[2017-03-31 17:25] ibaned commented on #99
Hmm maybe not quite... Albany fails to find header files when Rythmos is gone, at least I just fixed that.

[2017-03-31 17:36] ikalash commented on #99
Thanks for looking at this, Dan.  I have Rythmos on in my Trilinos build, actually.  It is needed for Aeras, so I still build with it.

[2017-03-31 17:48] ibaned commented on #99
Yep, retrying with Rythmos on.

[2017-03-31 17:48] ikalash opened #102 "failing "Use Serial Mesh" tests in nightly test harness"
This is a machine-specific issue, not a bug, but I am having a hard time figuring it out, so I am posting an issue in an attempt to get some help.

I recently upgraded the OS on my testing workstation camobap from Fedora 21 to Fedora 25.  With the upgrade, it seems all the tests that have "Use Serial Mesh = true" fail, with an error like this: http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?te

[2017-03-31 18:24] ibaned commented on #99
Okay, I think I've pushed a fix for this. I'll close it for now, we can reopen if we see the same failure again.

[2017-03-31 19:25] bartgol commented on #102
@ikalash I don't have access to that link, so I am not sure if it's the same problem I have (had). When trying to load a serial mesh and partition it on the fly, I sometimes got an error form stk saying that the database mesh.exo could  not be read. Is this what you are experiencing?

I tried to look into that but could not fix it. Eventually I ended up decomposing the mesh by hand before each exe

[2017-03-31 19:30] ibaned commented on #102
@bartgol that is indeed the issue in the link. I was convinced that `TPL_Netcdf_PARALLEL` was the key to resolving that, but I guess not.

[2017-03-31 19:53] ibaned commented on #102
@ikalash can you share the output of this ?
[code]

[2017-03-31 20:07] ikalash commented on #99
Thanks for working on this Dan!  I just tried a clean build, and it looks like there are still problems having to do with Albany::RythmosObserver though, but different than before.  Please see http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=50729 .

[2017-03-31 20:11] ikalash commented on #102
@ibaned .  Sure, here it is: http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=2736310&build=50703 .  That test runs fine.  @mperego and I encountered this issue on Hopper awhile ago and were never able to resolve it; so we just did @bartgol 's fix.  But that does not work if the issue shows up on a machine where testing is done -- all the tests that use the "Use Serial Mesh" option will fa

[2017-03-31 20:14] ibaned commented on #99
yep, looks like I missed one. hopefully commit 38d3336 clears this up...

[2017-03-31 20:14] ikalash commented on #102
@ibaned , I can give you an account on my machine, if you'd like, so you can try to reproduce the error there; I will not have access to the machine 4/3-4/11, as I will be out of the country.

[2017-03-31 20:15] ibaned commented on #102
Thanks, I think thats a good idea.

[2017-03-31 20:23] ikalash commented on #102
@ibaned , will do.  I'll follow up offline.

[2017-03-31 20:38] ikalash opened #103 "Slow KokkosNode = OpenMP tests"
Another issue, stemming form my OS upgrade: KokkosNode = OpenMP tests are now incredibly slow, b/c of the following oversubscription of CPU cores:

Kokkos::OpenMP::initialize WARNING: You are likely oversubscribing your CPU cores.
Detected: 40 cores per node.
Detected: 4 MPI_ranks per node.
Requested: 20 threads per process.

I think there must be some configuration or runtime option to fix this.

[2017-03-31 20:44] ibaned commented on #103
@ikalash I updated your comment from `not incredibly slow` to `now incredibly slow`, which I think is what you mean. I also recommend setting
[code]
somewhere in your test scripts for starters. That is assuming no other part of the test system is setting thread counts.

[2017-03-31 22:28] ikalash commented on #103
Oh, yes, that was an unfortunate typo - it should be "now".  Unfortunately, setting export OMP_NUM_THREADS=1 does not fix the issue.

[2017-03-31 23:22] ikalash commented on #99
Thanks, Dan.  There was another issue preventing the shared libs no-Epetra build having to do with the NOX::Observer, which I just pushed a fix to (afd9f6a24d6331d7095584c157e7e3bd541d3422) .  With your fixes and that one, my no-Epetra tests seem to be back up.

[2017-03-31 23:22] #99 closed

[2017-04-03 12:21] ibaned opened #104 "OpenMPI library link with LCM scripts on CEE"
as reported by @jwfoulk

One of the tests fails on the CEE Lan - SurfaceElementLocking - because algebra cannot be executed. The reason is that the system libraries come before the libraries used to compile trilinos. I think the Fedora build relies on this but this will lead to issues on the CEE lan and building for the clusters. For example, I get the following error after loading sems and serial

[2017-04-03 12:24] ibaned commented on #104
Yea, the issue seems to be these entries:
[code]
They should not have appeared in a SEMS setup.
I'll look into this.

[2017-04-03 14:11] bartgol commented on #103
@ikalash I opened an issue https://github.com/kokkos/kokkos/issues/630 a while ago on Kokkos, cause I was experiencing the same thing. In my case the problem was that I installed kokkos with hwloc support, which basically makes kokkos ignore the OMP_NUM_THREADS env variable, and makes kokkos use hwloc to determine the number of threads, which hwloc puts equal to the number of PUs. The only way to

[2017-04-03 18:11] ikalash commented on #103
@bartgol .  I did have hwloc, and you are right - turning it off fixes the issue.  I actually remembered having observed this earlier with @jewatkins after seeing your message.

Regarding passing  --kokkos-threads=N to the code: I think this is actually possible to do in ctest.  We do something similar for the CUDA runs - see the following code in Albany/CMakeLists.txt:

 SET(KOKKOS_NDEVICES "--ko

[2017-04-03 18:11] #103 closed

[2017-04-03 20:07] bartgol commented on #103
Yeah, having a cmake config variable for the number of threads is useful. We could add one such option without default (so that kokkos does its magic under the hood if one does not want to bother setting it), then add it to all the variables that define executables,. e.g., turning

`  set(Albany.exe ${MPIEX} ${MPIPRE} ${MPINPF} ${MPIMNP} ${MPIPOST} ${AlbanyPath})
`
into

`  set(Albany.exe ${MPIEX}

[2017-04-03 20:16] ibaned commented on #103
Maybe create a new `AlbanyKokkos.exe` which is the only one that gets a thread count bigger than one, and the other exes get set to 1 thread ? Depends on if we want to test everything with threads on regardless of how well it uses Kokkos, versus only using threads for the few tests we are focused on.

[2017-04-03 20:34] bartgol commented on #103
Uhm, I would prefer to not create AlbanyKokkos, since we then have to create it for all the executables (for coherence). Albany already has quite a few executables, and multiplying everything by 2 may make things less clear and/or easy to maintain.

I think setting the number of threads equal to 1 by default may end up not checking that everything is thread safe. On the other hand, Albany rarely (

[2017-04-03 23:11] ibaned commented on #104
Yep, there were unwanted paths in the `lcm/finalize` module. Commit ee9ee2a should fix this.

[2017-04-03 23:11] #104 closed

[2017-04-04 15:05] jwfoulk commented on #104
Hi Dan - thanks again. Two more tests now pass and the serial-gcc-debug seems to now be rolling. Before the change, the configuration of debug was broken. I'll keep trying to get the tests clean on CEE. Cheers. -Jay

[2017-04-06 20:42] ibaned opened #105 "Implement Linear Algebra Modifiers"
This issue actually encompasses many other things including #68, #77, and #13. It is a breakaway from trilinos/Trilinos#1204. We'd like to have the option to make several different kinds of modifications to the linear algebra structures:

1. For each Dirichlet row, zero out all but the diagonal, set the RHS entry to the diagonal entry times the DBC value. This is different from what we do now, whi

[2017-04-06 21:48] ibaned commented on #105
@bgranzow suggested some notation to help prevent confusion when dealing with the different linear algebra objects. The linear system will be denoted:
[code]
Where `r` is the linear residual, `A` is the linear jacobian, `x` is the linear solution vector, `b` is the linear force vector which I call the RHS above.
The nonlinear system for the Newton method is:
[code]
Where `R` is the "nonlinear resi

[2017-04-07 00:57] lxmota opened #106 "Restore rigid rotation test precision to 16 digits"
From @jwfoulk:

Alejandro – when you pushed everything to YAML there were precision issues, yes? Could you revisit RigidRotation.yaml in tests/small/LCM/RigidBody to increase the precision. We need 16 digits. The boundary conditions are not sufficient to yield zero stress.

[2017-04-07 00:58] #106 closed

[2017-04-07 14:22] bartgol commented on #105
@ibaned I'm not sure what you mean by "nonlinear system" and "nonlinear residual". Isn't the A in the second equation the Jacobian?

[2017-04-07 14:29] ibaned commented on #105
Correct, when executing Newton's method that "nonlinear system" is really the only linear system that is solved. Its just useful to establish how it is different from the classic `A*x=b` that is presented in finite element discussions for linear physics problems. I'll edit my comment to make the names better.

[2017-04-10 17:57] lxmota commented on #105
I would like to get from NOX the solution vector at the beginning of the solution procedure (`x_init`) and at the end once it converges to the solution (`x_final`). Is that possible through the PrePostOperator?

For the Schwarz alternating method, the convergence criterion is the following:

`\sum_{i=1}^{N}{(x_final^i-x_init^i)^2/(x_final^i)^2}`

for N subdomains. This all happens in a Schwarz loo

[2017-04-10 18:05] ibaned commented on #105
This is the type of thing we should be able to do inside Albany once we have this context information. When the PrePostOperator informs us that the non-linear solve has started, save the solution vectors (which we can start tracking more carefully, from calls to the ModelEvaluator). Then when the PrePostOperator tells us the solve is done, compare the current solution to the saved one. I know this

[2017-04-11 21:15] lxmota commented on #105
Sounds good. I'll give it a try.

[2017-04-11 21:24] lxmota opened #107 "Matrix-free Schwarz tests fail in the absence of DTK"
The matrix-free Schwarz test that uses this file:

`tests/large/LCM/Schwarz/Cubes/cubes_matrix-free.yaml`

fails with a segmentation fault here:

`src/LCM/evaluators/bc/SchwarzBC_Def.hpp#L254`

in the absence of DTK.

I'm not sure if matrix-free Schwarz is supposed to work without DTK, so until there is confirmation one way or another, I'm opening this issue.

Also, this other test fails in the sa

[2017-04-12 21:58] ibaned commented on #87
done with this for now.

[2017-04-12 21:58] #87 closed

[2017-04-12 23:52] ikalash commented on #107
I have begun to look into this issue.  It seems the reason this issue shows up w/o DTK is that when DTK is off, coupled_solution is obtained from the application via the getX() routine, whereas w/ DTK it is obtained from the STK discretization.  Here is a backtrace of the error:

#1  0x00007fffd40326b9 in Tpetra::MultiVector<double, int, int, Kokkos::Compat::KokkosDeviceWrapperNode<Kokkos::Serial,

[2017-04-13 00:16] lxmota commented on #107
This may be related to that other issue that I could not make DTK work with the TPetra vector that the getX() function returns. This is because the solution vector from STK and the one from getX(), although both TPetra vectors, have different template parameters.

The getX() function is trivial. It just returns a pointer:

`https://github.com/gahansen/Albany/blob/master/src/Albany_Application.hpp#

[2017-04-13 16:54] ikalash commented on #107
Fixed this; see commit ee0dd118af5c1675b341f8207e1cfee255538e09 .

[2017-04-13 16:54] #107 closed

[2017-04-13 20:23] liz13 opened #108 "[[noreturn]] not supported by gcc 4.7.2"
Hello,
I am trying to compile Albany on RPI Blue Gene/Q machine. The newest compiler supported on this machine is gcc 4.7.2, it appears that the keyword [[noreturn]] is not supported by this compiler, below is the error message I receive.

[code]

[2017-04-13 21:04] ibaned commented on #108
let me know if commit fe109c4 fixes this for you

[2017-04-13 21:50] ikalash opened #109 "minitensor related compilation error"
Is anyone else getting the following minitensor-related compilation error in Albany?

/home/ikalash/Albany/src/LCM/evaluators/BifurcationCheck_Def.hpp: In member function ‘minitensor::Vector<typename Sacado::mpl::apply<Sacado::Fad::DFad<double>, typename Sacado::mpl::apply<Sacado::Fad::DFad<double>, typename EvalT::ScalarT>::type>::type, 3u> LCM::BifurcationCheck<EvalT, Traits>::tangent_get_normal

[2017-04-14 00:05] lxmota commented on #109
Sorry about this. There have been some significant changes to MiniTensor and the corresponding Albany code because of requests from the production code.

The problem is that our users use the Trilinos master branch, and so I haven't pushed the corresponding Albany changes.

Not sure what we can do to prevent this situation from happening in the future, where different users use the Trilinos master

[2017-04-14 00:08] ikalash commented on #109
No problem.  My workaround was to switch to master for now, which should be OK for the time being.  I'll switch my nightlies to master too so that they do not famil.

[2017-04-14 15:29] ibaned opened #110 "MiniTensor_Solvers.h not found by Albany64BitClang"
Referring to this dashboard failure:

http://cdash.sandia.gov/CDash-2-3-0/viewBuildError.php?buildid=51340

I'm pretty sure this is different from #109, and is likely some issue in the CDash setup.
Likely myself or @gahansen will have to look at this.

[2017-04-14 21:28] liz13 commented on #108
Thanks Dan,

this commit works.

Thanks,
Zhen

On 2017-04-13 17:04, Dan Ibanez wrote:

[2017-04-14 21:32] #108 closed

[2017-04-14 21:38] liz13 commented on #108
Hello,
I am trying to run a solderball simulation using creep model with Albany on RPI Blue Gene/Q machine. The latest version of Albany couldn't not work with the restart files generated from the previous run due to the following notification.
[code]

[2017-04-14 21:40] ibaned commented on #108
Please open a separate issue for this.

[2017-04-15 00:57] liz13 opened #111 "Albany couldn't not work with the restart files generated from the previous run"
Hello,
I am trying to run a solderball simulation using creep model with Albany on RPI Blue Gene/Q machine. The latest version of Albany couldn't not work with the restart files generated from the previous run due to the following notification.

[code]

[2017-04-16 15:53] ibaned opened #112 "consolidate QCAD and LCM MaterialDatabase objects"
There is something called a `QCAD::MaterialDatabase`, but it is part of the core of Albany and compiles with the demo problems. There is also `LCM::MaterialDatabase`, which supports YAML unlike the QCAD one, but only builds with LCM. Lets see if we can just have one Albany::MaterialDatabase that everyone uses.

[2017-04-16 18:40] ibaned opened #113 "consistent file extensions"
Right now Albany uses a combination of `.h`, `.hpp`, `.cc`, and `.cpp` files. This makes writings scripts and doing general development more difficult. We should have all files be either `.hpp` or `.cpp`.

[2017-04-17 12:26] ibaned commented on #112
This is done, though its in a branch with lots of other changes. Hopefully the merge will happen soon.

[2017-04-17 13:58] ibaned commented on #34
looks like Hydride might still need this. Who uses Hydride ?

[2017-04-17 15:35] bartgol commented on #112
Agreed.

In addition to this, personally, I don't like to see anything other than Albany_XYZ or PHAL_XYZ in the albany folders. If something is general enough to be in the main albany folders (src, src/disc, src/evaluators,src/responses, src/problems, src/utility) and always be compiled (and not package dependent), then it should be named with a generic prefix. If something is package dependent, t

[2017-04-17 15:38] ibaned commented on #112
I did change the prefix and the namespace to Albany, this bugs me too.

[2017-04-17 17:10] liz13 commented on #111
Hello,

The error has been fixed by modifying the input as the following, it looks like the temperature field should not be in the 'response function' setting.

[code]

[2017-04-17 18:28] #111 closed

[2017-04-18 01:01] lxmota commented on #113
I'm the culprit behind the use of .h and .cc, which to my knowledge were the most pervasive extensions in the UNIX world when C++ started to become popular.

That said, I like the NOX convention of using .H and .C, so I vote for .H for headers and .C for source files.

Many, many years ago I wrote programs for MS Windows (ick!) where the extensions .hpp and .cpp were _de rigueur_. I was traumatize

[2017-04-18 01:22] ibaned commented on #113
My issue with `.h` is its indistinguishable from pure C header files, in fact the `vim` editor will highlight it only as C code. That is fine for headers that can be used from C (just config macros), but for C++ a different extension is needed.

I've used `.hpp` and `.cpp` in personal projects, so I have them associated with decent code as opposed to MS Windows code. They also seem to be far and a

[2017-04-18 01:48] lxmota commented on #113
For LCM we decided that we would follow the Google Style Guide:

https://google.github.io/styleguide/cppguide.html

That calls for using .h for headers and .cc for sources. I agree that .h is confusing for C/C++, so that's why I was suggesting to use .H and .C like NOX.

We can change all extensions to be .hpp and .cpp if that makes things easier. But just because something is used in Trilinos doe

[2017-04-18 02:06] ikalash opened #114 "add ctest option to run small and large tests with a single command"
Per the discussion at this morning's concall, I think a useful usability feature to add to Albany would be to make it possible to run both the small and large tests for a certain physics with a single command, "ctest physics_name", e.g., "ctest LCM" or "ctest FELIX".

[2017-04-18 02:28] ibaned commented on #113
The Google Style Guide is a great contribution to C++, and I definitely follow most of what is in there. I still can't escape the syntax highlighting issue for `.h`, though.

I agree with using our judgement over copying Trilinos, for example I've been happy moving from `TEUCHOS_TEST_FOR_EXCEPTION` to `ALBANY_ASSERT`.

This seems to be a mostly subjective choice, so I think we'll end up voting amo

[2017-04-18 14:25] bartgol commented on #113
I agree that the topic is mainly subjective. But since we're talking, I'll share my opinion together with my reasoning behind my personal tastes.

For headers, I agree with Dan on the fact that `.h` should be used only for pure C headers, or at least C-compatible headers (such as config files). A different extension is helpful to distinguish C++ code, both in terms of recognizing what language a f

[2017-04-18 17:00] ikalash opened #115 "Issues stemming from "Time" evaluator for LCM problems affecting dynamic runs with Tempus (and adaptation)"
I resolved this issue, but I am submitting it for documentation.

When trying a dynamic Mechanics problem using the newly added Newmark Beta scheme in Tempus, I encountered an Exodus outputting issue stemming from the "Time" evaluator that exists for LCM problems.  Although continuation is not used in my run (it is truly dynamic, not quasi-static), the Time parameter exists, so paramLib->isParamet

[2017-04-18 17:01] ikalash commented on #115
I remedied this problem by not registering "Time" as an evaluator in the case Tempus is used as a time-integration scheme; see commit 34510d531080bfe8999a9f4f6ef0e5891fb4fed8 .

[2017-04-18 17:01] #115 closed

[2017-04-18 17:02] lxmota commented on #113
@bartgol Fair enough. Your argument that .C and .H require pressing shift is convincing to me. :)
@ibaned I'm happy with going ahead and making .hpp and .cpp the "official" extension for Albany.

Now I'm spamming @agsalin @gahansen @ikalash @mperego @jtostie @djlittl @jwfoulk @calleman21 @bgranzow to see if they care one way or another and move forward with this.

[2017-04-18 17:14] jtostie commented on #113
I don't care about the convention as long as we are consistent everywhere.

[2017-04-18 17:19] bgranzow commented on #113
I'll throw a vote in for `.hpp` and `.cpp`. I _think_ most of the files in Albany already have those extensions, so switching all files to those extensions should have the smallest delta in the history (if that even matters).

[2017-04-18 18:50] mperego commented on #113
I'm also for .hpp .cpp. Thanks.

[2017-04-18 21:42] lxmota commented on #109
Fixed by https://github.com/gahansen/Albany/commit/e6f5c3ee4294ebbeee7d5c7cd2c4907bb6791130 and https://github.com/gahansen/Albany/commit/a6c2d31a7ebb965873cd7f26b8d78cd77b4c73c3.

[2017-04-18 21:42] #109 closed

[2017-04-19 02:17] ikalash opened #116 "solution_dot not written to Exodus output file for transient problems"
@lxmota and I discovered today while debugging the Tempus time-integrator in Albany that it appears the values of solution_dot (and solution_dotdot, when applicable) does not seem to be written to the Exodus output file for transient problems, even though this field exists in the input file.  Has anyone noticed this as well?  The field should be populated in the Exodus file as it can be useful for

[2017-04-19 15:27] djlittl commented on #113
No strong feelings from me on this.  I'll go with the flow.

[2017-04-21 16:12] gahansen commented on #61
I have done some recent work to clean up the Intel test scripts on CEE - 3 or 4 recent commits were directed at this. @mperego  and @bartgol  took a look at failing FELIX Intel tests. @mperego found a fairly serious bug as a result, which was fixed in commit:

60ebdefac7cc06d472fd6445699f5ad80e60c7b2

I wanted to highlight this success as an example of the possibility that failing tests might be p

[2017-04-21 16:15] gahansen commented on #61
@ikalash - are you still seeing external CDash issues? Kitware upgraded our project so these issues should be fixed at this point.

[2017-04-21 16:24] gahansen opened #117 "Demo contact in Albany"
Demonstrate a very basic contact capability in Albany

[2017-04-21 16:31] gahansen commented on #117
I was thinking about resurrecting a basic contact implementation, based on Moertel, that picks up on https://github.com/gahansen/Albany/blob/master/src/LCM/evaluators/contact/MortarContactConstraints.hpp

Would probably demo this on a thermomechanics problem, maybe something like

http://dx.doi.org/10.1016/j.jcp.2011.04.038

Any thoughts or comments?

[2017-04-21 17:38] ibaned commented on #57
I'm trying to write CMake versions of the LCM build scripts in this branch:
https://github.com/gahansen/Albany/tree/lcm-cdash
its taking some time though.

[2017-04-25 11:26] bgranzow opened #118 "Document open-source mesh generation workflows"
The open source work-flow
[code]
is possible and has been utilized with success. It would be useful to create a wiki page fully detailing this work flow for the sake of potential users and for the circulation of information.

[2017-04-25 18:14] ikalash commented on #11
The new Newmark Beta scheme in Tempus has been hooked up to Albany and appears to be behaving as expected on a simple problem involving the rotation of a cube.  Please see commits c151484dc43293db788c5fd4557d7db35087b43a, af056a5c6a4b0f2dfb655de08716f9cfa4bf51c1, 42f94c809482b4076ffe5860eb6d37a19f121c08 and  db462ad98bf7d1418be36366025fcda2c420ddbc.  An important detail to get the correct behavior

[2017-04-26 01:07] #80 closed

[2017-04-27 18:28] ibaned commented on #110
pretty @gahansen resolved this.

[2017-04-27 18:28] #110 closed

[2017-04-27 18:30] ibaned opened #119 "Add CDash capability to LCM scripts"
For some reason there was not already an issue tracking this...
I'm trying to do this by rewriting the `build.sh` script in CMake.

[2017-04-27 18:57] mperego opened #120 "MiniTensor as optional dependency"
Would it be hard to have minitensor as an optional dependency for Albany? So that, e.g., we do not have to install it when we build Albany/FELIX? This is nor urgent nor essential but it would be a nice feature to have.

[2017-04-27 19:09] bartgol commented on #120
That would be fine if MiniTensor was used only in optional packages. I see it in ATO and LCM, but I also see it used in adapt, which makes it hard to make it optional...

[2017-04-27 19:34] mperego commented on #120
Yeah, that's the issue. Does MiniTensor  need to be in adapt? Can that part of the code in Albany adapt be moved in another class, or #ifdef guarded? (Adapt is probably the part of Albany core that I understand the least so I'm hesitant to find these answers myself :-) )

[2017-04-27 23:16] ibaned commented on #18
Priority list discussed at LCM meeting today:

 - [ ] `skybridge`
 - [ ] `chama`

[2017-04-28 00:03] lxmota commented on #120
@mperego LCM cannot be compiled without MiniTensor. As for Adapt, I took a quick look and it seems that the code that uses MiniTensor there is very old. I'm not even sure that it is used anywhere. As for ATO, my recollection is that it also requires MiniTensor.

So it seems that provided that we can move the code in Adapt or remove it altogether, you could avoid having a dependency on MiniTensor f

[2017-04-28 03:23] ikalash opened #121 "Negative Time Monitor times reported for long-time Tempus Newmark-Beta scheme called from Albany"
This is related to issue #11.  Testing of Tempus Newmark-Beta scheme shows for long-time runs, some of the time-monitor times reported are negative, more so for explicit than implicit.  Solution displacements appear correct.  This issue may be due to the linear solve, from inspecting the specific timing numbers, but needs to be tracked down.

[2017-04-28 04:28] ikalash opened #122 "Linear solve slower for Tempus (with Tpetra/Thyra) than Piro (with Epetra) Newmark scheme"
This issue is related to issue #11.  It seems that the Tempus Newmark Beta scheme run with the Tpetra/Thyra software stack is slower than the Piro Newmark Beta scheme with the Epetra software stack, due to the linear solve.  Here are sample times for the larger-cubes test case.

Tempus + AlbanyT: NOX Total Linear Solve                                                           3.419 (400)
Piro + Al

[2017-04-28 15:56] knkarls opened #123 "Add contact to LCM"
I need to run simulations with contact for my research.

[2017-04-28 17:32] ikalash opened #124 "Create response for calculating stable time step (based on Courant condition) for explicit dynamics"
This is related to issue #11.  Once we have explicit BCs in Albany, it will be worthwhile to add a response that will enable the user to estimate the stable time step based on a Courant condition.

[2017-04-28 20:57] mperego commented on #120
Thanks @lxmota.  If you think that the code in Albany adapt that uses MiniTensor might be obsolete then it probably makes sense anyway to have a look at it and clean it up. As I said it is not urgent.

[2017-04-28 21:22] bgranzow commented on #120
I'm pretty sure the adapt code only uses MiniTensor for reference configuration updates (RCU). It looks like there is at least one [test](http://my.cdash.org/testSummary.php?project=688&name=SCOREC_RCU_SquareStabilized_Tpetra_SERIAL&date=2017-04-28) that still runs with RCU enabled.

It was my understanding that the RCU code was intended to be a prototype for further research codes with adaptivity

[2017-04-28 21:25] ibaned commented on #120
Thanks @bgranzow . Finally I understand whats going on here.

I think the parts of RCU that use MiniTensor are likely quite specific to LCM anyways (they're managing dispacements and deformation gradients), so its not like they're used even in adaptive FELIX runs. Maybe we'll just `#ifdef` that code out and throw an error message if its called without MiniTensor enabled.

[2017-05-01 22:56] lxmota commented on #123
@gahansen has added some capability for this, but I believe it's still in development.

Another possibility is to use the machinery we developed for Schwarz to keep track of contact surfaces. I mentioned this to @jtostie, @jwfoulk and @calleman21 some weeks ago.

We had some resources in the LCM project to do some work on contact, but regrettably we don't have them any more.

Still, the contact pr

[2017-05-02 01:28] #53 closed

[2017-05-02 01:33] lxmota commented on #12
Yes, this has been fixed and is frequently used for crystal plasticity.

[2017-05-02 01:33] #12 closed

[2017-05-02 01:36] lxmota commented on #15
There are separate issues for tracking progress and features in MiniSolver, for example #79 and #80. So I'm closing this now and if other specific issues arise, create separate instances.

[2017-05-02 01:36] #15 closed

[2017-05-02 01:43] lxmota opened #125 "Fix exodus output for Schwarz alternating method."
Find a way to avoid exodus output at every Schwarz iteration.
This requires taking control of the output away from the nonlinear
solver and give it to the Schwarz method.

[2017-05-02 01:44] lxmota opened #126 "Continuation for the Schwarz alternating method."
It appears that doing this through LOCA would be
too difficult. A suggested way to do this is through Anderson
acceleration, a variant of fixed point methods. But now that Tempus
is enabled, perhaps it would be easier to do continuation through
dynamics. Then quasi-static problems would be run as truly
quasi-static: very slow dynamic problems.

[2017-05-02 01:59] ikalash commented on #126
I am in favor of this approach.

[2017-05-02 23:17] #125 closed

[2017-05-04 17:46] gahansen commented on #123
@knkaris and @lxmota - There is another issue related to contact in Albany/LCM (issue #117) . Please take a look and let me know what you think. If you support continuing along those lines, I'd suggest that we close this issue and continue comments on issue #117. Commit 731d917b7ddc0becd5ace39d0223ce4abbb70a5a is the first one targeting #117

[2017-05-04 17:47] gahansen commented on #117
Started some infrastructure work to support this idea in commit 731d917b7ddc0becd5ace39d0223ce4abbb70a5a

[2017-05-04 17:56] gahansen opened #127 "Create Albany nightly test using GCC 7.1"
Will post to http://my.cdash.org/index.php?project=Albany dashboard replacing tests "Albany32Bit" and "Albany64Bit"

[2017-05-04 17:58] lxmota commented on #123
@knkarls @gahansen I agree that we should merge the issues. We had discussions about this long ago, so I would need to recall what mortar contact does. Perhaps it would be worthwhile to have an offline discussion or address this at the Albany teleconference.

[2017-05-04 20:41] ikalash commented on #116
I have added the capability to write solution_dot to Exodus file for LCM problems running with the AlbanyT executable.  Spot-checking several tests suggests this is working correctly.  If issues are encountered with the new capability, I am happy to fix them.

I will create a separate issue for writing solution_dotdot (also needed for LCM), as this will require changes on the Trilinos side.

[2017-05-04 20:41] #116 closed

[2017-05-04 20:42] ikalash commented on #116
Just to document things: for Aeras, solution_dot does not get written to the Exodus file when running Rythmos + explicit, due to how things operate with the Rythmos observers.

[2017-05-04 20:46] ikalash opened #128 "Populate solution_dotdot with computed values in Exodus output file for transient LCM problems"
This is a follow up issue to #116.  Solution_dotdot needs to be populated in the output Exodus file for transient LCM problems.  It appears the necessary plumbing required for this is missing from the Piro::ObserverBase class: there is no observeSolution method that takes in xdotdot (https://trilinos.org/docs/dev/packages/piro/doc/html/classPiro_1_1ObserverBase.html), presumably b/c xdotdot did no

[2017-05-04 21:06] gahansen commented on #127
Commit d6e8f8a8225d8990fbc4d02f0fa22970f54c386e addresses most of the changes needed to compile / test Albany with GCC 7.1 . A Trilinos mod to master (issue #1286, https://github.com/trilinos/Trilinos/issues/1286) is needed before this issue is closed.

[2017-05-04 21:18] gahansen commented on #117
@machriston might also be interested in Moertel

[2017-05-05 01:29] ikalash opened #129 "solution_dot field created in Exodus output file for non-transient problems"
While working on issue #116, i discovered that the solution_dot field is create in the Exodus output file (and populated with all 0s) for problems that are not transient.  This is a bug for 2 reasons:

1.) It has the potential for causing confusion: users see this field in the Exodus output file and think it means something, when it does not.
2.) it makes the Exodus output files larger than they n

[2017-05-08 17:37] ikalash commented on #129
It turns out this was only an issue for Schwarz problems.  When running a steady problem, one should set "Number Of Time Derivatives" = 0 in the input file to avoid creating a solution_dot field in the input file.  The Schwarz code was written such that this was not possible.  I have fixed it so that it is, and modified all relevant input files to set "Number of Time Derivatives" to 0, when applic

[2017-05-08 17:37] #129 closed

[2017-05-08 17:50] ikalash commented on #102
Your recent commit seems to have fixed the problem, @ibaned - thanks!  A follow up question that has come up before at the Albany meetings is whether logic should be added to detect if the user has the right version of netcdf (one that is parallel) and to only run the "Use Serial Mesh" tests if a parallel netcdf exists.  What do people think about this?

[2017-05-08 17:51] ibaned commented on #102
I forgot this was already a GitHub issue, here is the solution from an email I sent earlier:
Here are the details on the Serial Mesh issue, which I just got fixed right before the call:

The mpiexec in question is this one:

[code]

If you run that command, it will put `/usr/lib64/openmpi/lib` in LD_LIBRARY_PATH right before running the program, and the problem is that

[code]

Is a non-parallel v

[2017-05-08 17:52] ibaned commented on #102
As for detection, I'll have to look into it to see if there is a way we can detect this support in NetCDF at compile or configure time.

[2017-05-08 17:54] ikalash commented on #102
Thanks, @ibaned.  I guess I can close this issue and we can open a new one having to do with the detection.  Let me know if you disagree.

[2017-05-08 17:54] ibaned commented on #102
works for me.

[2017-05-08 17:55] #102 closed

[2017-05-08 17:57] ikalash opened #130 "Investigate automatic detection of existence of parallel NetCDF in Albany build, and activation of "Use Serial Mesh" tests only if parallel NetCDF is found."
This is a follow up to issue #102.

[2017-05-09 22:23] ikalash opened #131 "Albany does not compile when KOKKOS_UNDER_DEVELOPMENT is OFF and FELIX is ON"
I discovered today that it does not seem possible to compile the code when KOKKOS_UNDER_DEVELOPMENT is OFF and FELIX is ON.  For certain physics, to do debugging and performance comparisons, it would be worthwhile to be able to compile with KOKKOS_UNDER_DEVELOPMENT set to OFF, so this compilation error should be fixed.  If FELIX is meant to use only KOKKOS_UNDER_DEVELOPMENT=ON code, I suggest the

[2017-05-09 22:40] ikalash opened #132 "Failing StaticElasticity1D_Analysis test"
@etphipp , @agsalin : for awhile, the StaticElasticity1D_Analysis test in Albany has been failing with a cryptic MPI error: http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=2735938&build=52386 .  I am working on removing obsolete tests from Albany that are not supported, towards having a clean dashboard.  Is this test meant to work still, or can it be removed?

[2017-05-10 04:29] mperego commented on #131
This should be fixed by commit afc9cdc873f810da23.

[2017-05-10 04:29] #131 closed

[2017-05-11 01:39] lxmota opened #133 "Trigger step reduction as soon as any numerical failure is detected in CP."
It appears that the current manipulation of the NOX status flag does not trigger a load step reduction when any kind of numerical failure is detected in the crystal plasticity model.

Rework the code so that it does this not only for CP but any other constitutive model derived from parallel constitutive models.

[2017-05-11 01:42] lxmota opened #134 "Use vector of NOX PrePostOperators instead of single class."
My ignorance of NOX made me combine the functionality of two very different NOX PrePost operators into a single class, which would eventually lead to problems.

Separate the functionality of the single class into two and introduce the vector of operators for a much better design.

[2017-05-11 03:39] ikalash opened #135 "Attain clean dashboard for Albany"
This issue was brought up at the Albany meeting in January.  Certain tests have been failing for awhile consistently.  These tests should either be fixed or removed, if they are no longer applicable.  This will make code easier to maintain / develop.

[2017-05-11 04:01] ikalash commented on #135
One of the failing tests for a few weeks now has been Aeras_HydrostaticPureAdvection_1_noHV.  This fails with a Serial KokkosNode, and not an OpenMP or CUDA KokkosNode, interestingly enough.  The code computed nans with the Serial KokkosNode:

http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=2822337&build=52501

I have tracked this down to the following commit 0a95851b5362c9ec4c3731284af2a

[2017-05-11 18:46] ikalash commented on #132
@lxmota , @ibaned : I have tracked down the cause of this failing test, and it looks like it is due to the conversion from xml to yaml for LCM problems.  The last commit where this test ran correctly was this one: 76b7a9a3c29e60124dae897cf7a747005528e7bd (right before the change to yaml).  I think that the code in Albany_Dakota.cpp needs to be modified to work correctly with yaml.  Since you guys

[2017-05-12 00:00] lxmota commented on #133
The commits above fix this.

[2017-05-12 00:00] #133 closed

[2017-05-12 15:21] ikalash opened #136 "Invalid parameter list issue in ATO Mitchell_3D test"
It looks like there is a parameter list issue in the ATO Mitchell_3D test:

http://cdash.sandia.gov/CDash-2-3-0/testDetails.php?test=2824659&build=52558

It looks like the same parameter list syntax appears in the following input files, so it should be changed/fixed there as well.

[code]

[2017-05-12 16:07] #132 closed

[2017-05-15 18:53] ikalash commented on #128
Just did a push to Trilinos to enable solution_dotdot output for 2nd order schemes in Piro run with the AlbanyT executable.  solution_dotdot writing capability could be extended to Piro::RythmosSolver but there is no point since Rythmos is on its way out and does not have 2nd order schemes.

[2017-05-15 18:53] #128 closed

[2017-05-15 20:56] gahansen commented on #127
The Trilinos develop branch was pushed to master - http://my.cdash.org/index.php?project=Albany reflects the build status of the software stack as of this morning 05/15/2017. The Albany32Bit project has two failing tests and 359 passing; the Albany64Bit project has two failures and 213 passing, and AlbanyFUnctorDev has 5 failures with 355 passing.

[2017-05-15 20:56] #127 closed

[2017-05-15 21:26] gahansen commented on #123
Duplicates issue #117.

[2017-05-15 21:26] #123 closed

[2017-05-15 21:27] gahansen commented on #117
Merged issue #123 into this one.

[2017-05-17 13:58] ibaned commented on #70
This doesn't seem to happen anymore. Closing as magically fixed...

[2017-05-17 13:58] #70 closed

[2017-05-17 17:16] ikalash commented on #135
@calleman21 : it looks like one of the CrystalPlasticity tests that was passing on my machine is now failing http://cdash.sandia.gov/CDash-2-3-0/viewTest.php?onlyfailed&buildid=52878 .

[2017-05-17 17:17] ikalash opened #137 "Have tests send output to screen to be sent to CDash"
Some of the Albany tests (mostly LCM) write the output to a log file rather than to the screen.  It would be nice to have it be printed to the screen as well, so that one can see the output on the CDash site.

[2017-05-17 17:28] gahansen commented on #137
Could we add an optional argument to the python tests scripts that is specified in the nightly tests that would "cat" the log files right after they are written? An idea along these lines might serve to post the output to CDash for just the dashboard runs without changing the behavior of tests in the interactive LCM workflow.

I'll mention @ibaned and @lxmota on this comment for their thoughts.

[2017-05-17 17:38] ibaned commented on #137
Yes, someones gotta do this. I was just browsing the dashboard's new failing tests, and got zero useful information due to the python scripts.

[2017-05-17 18:02] lxmota commented on #137
Let me take a look at this for LCM. If all that is required is that the output log goes to screen, Glen's suggestion might be the easiest to implement.

[2017-05-17 20:34] calleman21 commented on #137
Adding a print statement to the python script that runs the tests seems to work, and it only affects the ctest output with the -V flag, or (hopefully) on CDash. Thanks to @ikalash for helping me figure that out. I did this for the CrystalPlasticity tests, to start. I want to see how that works on the nightly tests before changing the default behavior for the rest.

[2017-05-17 22:28] #134 closed

[2017-05-18 21:54] ikalash commented on #137
I believe I have fixed this for all the Albany basic tests (not including Peridigm, which I do not build / run), so I am going to close this issue.  I'm happy to propagate this fix to any tests I may have missed.

[2017-05-18 21:54] #137 closed

[2017-05-19 00:31] ikalash opened #138 "Output to Exodus at final time step is wrong for Tempus problems for certain time steps and exit"
Solution at the last output step "jumps" for certain time steps and "Exodus Write Intervals" when running with Tempus (might also happen with other discretization methods).  It happens for the example specified by the attached input file.

[2017-05-21 18:12] bgranzow commented on #13
I wrote a short set of [notes](https://scorec.rpi.edu/~granzb/notes/dbcs/dbcs.pdf) related to this issue that may be of some use.

[2017-05-22 18:17] ibaned opened #140 "Disable "Serial Mesh" tests when TPL_Netcdf_PARALLEL=OFF"
In Albany, check this Trilinos option (if possible?) and disable all tests that rely on parallel NetCDF. Maybe we'll need a change to Trilinos to make that option available to downstream users.

This is @lxmota 's preferred solution for the problem that Fedora's installed NetCDF is not parallel.

[2017-05-23 00:09] ikalash commented on #138
After looking into this, the issue does not have to do with the output to Exodus at all; rather it is related to issue #13 .  Due to the way essential BCs are implemented in Albany, the Jacobians in these runs when a small dt is used have < full rank for some iterations, leading the code to compute an erroneous solution yet thinking that it converged.  More evidence that we need to address issue #

[2017-05-23 00:09] #138 closed

[2017-05-24 13:26] ibaned opened #141 "basic tests failing due to PUMI PCU"
http://my.cdash.org/testDetails.php?test=31846558&build=1211992

I certainly haven't touched any PUMI-related stuff recently. @bgranzow  any ideas ?

[2017-05-24 13:35] bgranzow commented on #141
I don't think any PUMI-related changes have happened in Albany recently, and it looks like the commit history for SCOREC/core is pretty sparse. Does this function still get called ?

https://github.com/gahansen/Albany/blob/master/src/disc/pumi/Albany_APFMeshStruct.hpp#L156

[2017-05-24 15:26] ibaned commented on #141
Looks like @lxmota made a small mistake in changing all `#ifdef` to `#if defined` in 9a1f9b5. I just pushed a fix in 7290ea8. That should re-enable the call to `initialize_libraries` and fix these failing tests.

[2017-05-24 15:26] #141 closed

[2017-05-24 15:27] ibaned commented on #112
I just pushed this change.

[2017-05-24 15:27] #112 closed

[2017-05-24 15:56] lxmota commented on #141
Sorry about this.

[2017-05-24 16:09] ibaned commented on #140
See trilinos/Trilinos#1359 for an approach.

[2017-05-24 18:23] lxmota commented on #13
@bgranzow Your notes are clear and excellent. This is exactly what we want to do.

I agree that zeroing out the row and column of the Jacobian, keeping the diagonal entry intact, and using a zero residual entry for that row would achieve the imposition of the Dirichlet BC. All this without introducing the horrible scaling problems that are hampering our progress in so many fronts, despite endless

[2017-05-24 21:59] jtostie commented on #13
I agree that Brian's notes are good, and a reasonable path forward. It seems like we should be able to write a Dirichlet BC that modifies the residual and solution vector accordingly. Can we do that @lxmota?

I still strongly prefer creating an alternate map that only considers the active DOFs and only assembling the system of active DOFs.

[2017-05-24 22:10] lxmota commented on #13
@jtostie Yes, my strong preference would be to assemble the reduced system from the start.

But apparently this would require too much infrastructure change.

@bgranzow's proposed method can be implemented in two parts: A new set of DBCs that would set their corresponding residual entries to zero, and their Jacobian to zero out their rows and columns, except for the diagonal entries.

The other pa

[2017-05-25 14:32] ikalash opened #142 "Extend Piro mass lumping to work with Tempus second order schemes and hook up to Albany"

[2017-05-25 16:07] bgranzow commented on #13
I'd like to make a few notes:
* I proposed the approach in my notes solely because it seemed like an easy first step.
* The approach in my notes is essentially the same thing that is done in this deal ii [step](https://www.dealii.org/8.4.1/doxygen/deal.II/step_15.html#Summaryofthealgorithmandtestcase), so someone has used it successfully.
* I've attempted to implement the approach in my notes in a

[2017-05-25 16:57] lxmota commented on #13
@bgranzow Wrt to your 3rd bullet, that applying DBCs as initial guess may not be good. This is not unique to what you are proposing. If the DBCs impose large deformations wrt to the reference configuration, then yes, Newton's method will not converge.

That is way it is important to apply them gradually, specially in inelasticity.

Even in simulations where one expects abrupt initial displacements

[2017-05-25 20:49] lxmota commented on #13
@bgranzow It works! I just implemented what you wrote in your notes in our Matlab code, and it works even for Schwarz coupling!

Of course, since you form the whole system, it is slower than the implementation that uses the reduced system. That is why in the end we would like to have an implementation that uses the reduced system. There are many problems of interest that have many DOFs constrained

[2017-05-26 20:49] ibaned commented on #18
All right, pull request #143 introduces a new LCM module:
[code]

I've just built Trilinos and Albany, and tested Albany, using that module.
A few things to be aware of:
1. Only the `intel` compiler module is supported, because that is all I see in Sierra's modules
2. The system uses TPL installs in my home directory. I think the permissions are set properly, but someone else should try it to conf

[2017-05-26 20:51] ibaned commented on #18
This was tested on `skybridge`, I suspect it also works on `chama` but not sure.

[2017-05-26 22:22] jwfoulk commented on #18
I will give that a whirl today/tonight. Thank you!

[2017-05-28 18:46] jwfoulk commented on #18
Hi Dan - have you checked in lcm/cluster?  I don't see it in the repository. Thanks again.

[2017-05-28 22:38] ibaned commented on #18
@jwfoulk its in a branch. I suppose its harmless enough, I'll merge it into master.

[2017-05-28 22:40] ibaned commented on #18
Okay, should be in master now. Sorry for the confusion.

[2017-05-29 17:11] jwfoulk commented on #18
Hi Dan - built just fine on chama. Thank you. I will try to run some big jobs later today and keep you in the loop. Thanks again.

[2017-05-31 16:23] ikalash commented on #142
I am planning to put in a couple cleanups / exception checks into Piro and Tempus, but this is effectively done.  Please see Albany/tests/large/LCM/Schwarz/Dynamic/Cubes/*expl.yaml for an example of the syntax.  The "Stepper Type" to specify is "Newmark Beta Explicit".  It is extremely important to have the following two lines in the input file under Tempus:

Invert Mass Matrix: true
Lump Mass Mat

[2017-05-31 16:23] #142 closed

[2017-06-05 20:55] rppawlo opened #144 "Remove Phalanx.hpp use from Albany"
I'd like to remove the file "Phalanx.hpp" from the phalanx library in Trilinos. It is a header glob file that probably pulls in unneeded files. It looks like Albany is using this in quite a few places. Could someone remove the use of this from Albany?

[code]

[2017-06-05 21:10] ibaned commented on #144
This is probably something I can spend time on.

[2017-06-05 21:18] rppawlo commented on #144
Thanks @ibaned !

[2017-06-06 21:06] lxmota commented on #13
I'm working on the implementation outlined above.

Since this is not strictly a condensed representation, I will open a new issue to track it.

This issue remains open until we implement the true condensed representation. Hopefully sooner rather than later. Maybe at the same time we remove the ModelEvaluator.

[2017-06-06 21:14] lxmota opened #145 "Strong enforcement of Dirichlet/essential boundary conditions."
In lieu of the more desirable condensed representation requested by @jtostie in #13, for the time being we will implement the equivalent formulation proposed by @bgranzow outlined also in #13.

The implementation is outlined here: https://scorec.rpi.edu/~granzb/notes/dbcs/dbcs.pdf.
I have confirmed that it works, even with Schwarz coupling, in a separate Matlab implementation that we use for verif

[2017-06-07 15:28] ibaned commented on #144
@rppawlo I think this is done now. The vast majority of them weren't needed, so I think this will do us good in terms of compile time. Copy-pasting files is a bad habit...

Please reopen if I missed one

[2017-06-07 15:28] #144 closed

[2017-06-07 15:56] rppawlo commented on #144
Thanks @ibaned ! I will push the phalanx changes later today after some cuda testing...

[2017-06-07 18:15] jtostie opened #146 "Periodic boundary conditions"
There is a need to model periodic microstructures in determining appropriate RVE sizes and effects. It would be useful to current projects for Albany/LCM to have this capability.

[2017-06-13 17:59] lxmota commented on #145
Now, this is more like it! Symmetric structure of the stiffness with the new Dirichlet BC for a simple cube problem:
![symm](https://user-images.githubusercontent.com/7120001/27096729-e17c0740-5026-11e7-8853-45e555c739fc.png)

and the condition number (no preconditioning or scaling): 20.9

[2017-06-14 13:48] ibaned commented on #130
trilinos/Trilinos#1359 indicates a way forward, I'll try to implement that.

[2017-06-14 13:49] ibaned commented on #130
looks like I made a duplicate #140. lets focus on that one.

[2017-06-14 13:49] #130 closed

[2017-06-14 13:49] ibaned commented on #119
This seems to be working now.

[2017-06-14 13:49] #119 closed

[2017-06-20 02:22] lxmota opened #147 "Add body forces for LCM"
There is already some infrastructure in place for the corresponding computation of the residual contribution of body forces, but strangely enough, there is no LCM evaluator for body force.

Add this for general usage. My main motivation for this right now is debugging and verifying dynamics.

[2017-06-20 16:58] djlittl opened #148 "Neumann BC fail in presence of multiple element types"
For reasons unknown to me, Albany currently supports only a single Neumann field manager (see the function deref_nfm in Albany_Application.cpp).  Because Neumann field managers are created for a specific element topology, it is not currently possible to run a simulation that includes Neumann BC and multiple element types.  A failure occurs because the evaluators in the Neumann field manager assume

[2017-06-20 19:13] bartgol commented on #148
I agree, DBC do not need topology info, just node ids. NBC is a different story, since topology is needed for quadrature.

However, it appears to me that the Neumann class handles each side separately, meaning resizing/updating the quadrature (sorry, I dislike the word cubature) stuff on every side. That's where the Kokkos::DynRankView comes handy, I think (although I dislike also the concept of d